[2022-05-30 11:49] akshatnema commented on #478
@derberg I right now, switched to Windows to install the website repo in the system. But I'm getting the following error logs on doing `npm i` https://www.writeurl.com/text/yi9dwl2ktt8ldds4rk1t/n5k4l9mrtvzrvifis1rw. Can anyone help me with this?

[2022-05-30 12:26] akshatnema commented on #478
![image](https://user-images.githubusercontent.com/76521428/170991006-3ca1df9f-69bb-4d1f-bdda-72db2d8055a6.png)

![image](https://user-images.githubusercontent.com/76521428/170991025-d0a0e81d-dc55-4a49-b90d-8b265ea26f4a.png)

@derberg @magicmatatjahu @Samridhi-98 @sambhavsaxena
For me, in Windows, MDX content is getting rendered but not in the correct way. And I agree that for once, the blogs and

[2022-05-30 12:56] Harish-b-03 commented on #195
Hello Everyone 😀. Heyyy @mcturco , @derberg and @magicmatatjahu .😄. Finally, I have complete the footer layout.

![image](https://user-images.githubusercontent.com/69810789/170988520-12d81638-0d74-455d-8614-50f984c1c770.png)

I have created [PR](https://github.com/asyncapi/website/pull/808). Please have a look at it.
Eagerly waiting for your suggestions😀.

Thank you😄

[2022-05-30 14:55] akshatnema commented on #478
Moving on to my new discoveries in the world of Windows 😆, I finally found where is the error, but right now it is corrected manually and can't be pushed to the repo as they are foolish changes in the files. I finally got these outputs on my screen.

![image](https://user-images.githubusercontent.com/76521428/171016502-e2765ae5-56b4-426a-ada8-564a98052317.png)
![image](https://user-images.githubus

[2022-05-30 15:01] derberg opened #809 "Add to TSC page link to YT video that explains how to join TSC"
#### Reason/Context
- We have https://www.asyncapi.com/community/tsc
- https://github.com/asyncapi/community/blob/master/CHARTER.md
- https://www.youtube.com/watch?v=uG_aLF9Z1F0

but we do not have yet above converted into a clear document guide or FAQ that would explain how to become TSC member. Before we find someone who can convert YouTube presentation into a document, we should at least make Y

[2022-05-30 15:02] derberg commented on #809
/gfi js

[2022-05-30 15:07] derberg commented on #809
even though it is just about adding a link, it is in the end modification to a react component that is written in TS 🤷🏼 and this is why I do not label it as `docs`

[2022-05-30 17:38] akshatnema commented on #809
Ohh😮!! We have a process to join the TSC committee as well. I come to know now regarding this.
___

Well, I will recommend writing a whole document (either in `md` or in `jsx`) from the Youtube video presentation. For me, the audio of the Youtube video seems to be very low there. I had to work harder to hear your explanation clearly. Thus, I came to the conclusion that we should have a document re

[2022-05-31 08:15] derberg commented on #809
as indicated ☝🏼 converting video to docs is the ultimate goal, we just need a volunteer that has time to do it. MD file should go to `community` repo.

yes, I totally agree, I'm super disappointed with the quality too 😞

---

this is a simple good first issue, just to add link reference. Not embedding, especially because of the quality :(
I agree though that this issue can address both: link to vi

[2022-05-31 08:19] derberg commented on #478
maybe the fix should be as dummy as a modification of the script that creates `posts.json` and discover the operating system. So in case of windows, just build different `slug` 🤷🏼

in the end `posts.json` is not committed into the repo, is freshly build on CI, so can be different on local for windows users.

sometimes simple and straight solutions are the best 🤷🏼

[2022-05-31 08:56] sambhavsaxena commented on #478
Most suitable solution yet✨️

[2022-05-31 13:40] akshatnema commented on #478
Can't we change something in the `build-post-list.js` to solve the problem in Windows?. Script is building perfect `posts.json` in ubuntu but not in Windows or should we write these steps in the README for the Windows user?

[2022-06-01 13:53] derberg commented on #125
@TomasEkeli I opened a PR that fixes is temporarily https://github.com/asyncapi/website/pull/812

[2022-06-02 06:49] imabp commented on #602
@Souvikns we can continue on the CLI command reference using the tool mentioned in [asyncapi/cli#123](https://github.com/asyncapi/cli/issues/123)

And I will be writing the getting started document

[2022-06-02 17:34] Nelson-Chinedu commented on #809
Hi @derberg is this issue still open, would love to jump on it.

[2022-06-04 12:25] sambhavsaxena commented on #478
@akshatnema
Consider visiting this link:
https://docs.microsoft.com/en-us/windows/wsl/install-manual#step-4---download-the-linux-kernel-update-package

[2022-06-06 13:09] derberg commented on #383
@akshatnema this idea was selected for AsyncAPI Mentorship 2022 -> https://github.com/asyncapi/community/discussions/376#discussioncomment-2890658

I love how much you are engaged with the work on AsyncAPI website and how active you are, especially in this issue. Would you like to be an official AsyncAPI-sponsored mentee for this issue?

[2022-06-06 13:11] akshatnema commented on #383
Thanks @derberg for selecting me. I will love to work under your mentorship and look forward to the mentees' onboarding. And yes, I will like to become an official AsyncAPI-sponsored mentee for this issue.

[2022-06-06 13:26] derberg commented on #383
@akshatnema added you to the list 🥳

[2022-06-07 10:48] derberg commented on #478
@akshatnema well this is what I wrote 😄

[2022-06-07 11:39] derberg commented on #88
it is done, now with killercoda, we just need to figure how to make it better, there is separate issue for it

[2022-06-07 11:39] #88 closed, assigned to derberg

[2022-06-07 11:48] derberg commented on #809
@Nelson-Chinedu yes, sorry for keeping you waiting

[2022-06-08 14:59] derberg commented on #588
closing, issue solved

[2022-06-08 14:59] #588 closed, assigned to nobody

[2022-06-08 15:02] derberg commented on #307
- no response from @Relequestual
- JSON Schema already has a blog based on this one

closing as stale bot made a point
people can still add comments, and can comment to reopen or create new issue

[2022-06-08 15:02] #307 closed, assigned to nobody

[2022-06-09 18:51] quetzalliwrites commented on #735
You're spot on, @pratik2315! This is not a **docs** bug, this is an **accessibility** issue.

Folks (@nibble0101 @starlightknown @pratik2315 ), please note that the labels for **accessibility** issues are `a11y` and `area/a11y`.

<img width="300" alt="Screen Shot 2022-06-09 at 11 50 47 AM" src="https://user-images.githubusercontent.com/19964402/172922361-1d0ac5bf-40fb-4173-a91d-ccb59723423c.png">

[2022-06-09 22:16] Olaleye-Blessing opened #815 "Page jumps to the top when filter is cleared."
#### Describe the bug
There is a sudden jump to the top of the page when user clicks `clear filters`.

#### How to Reproduce
- go to [blog page](https://www.asyncapi.com/blog)
- click on `clear filters`
- notice the sudden jump

- Screenshots
- [File](https://github.com/asyncapi/website/blob/2e7554ed31888a91360ec6d860d15e7256108a4a/pages/blog/index.js#L94) that is causing the issue

#### Expected

[2022-06-09 23:22] Olaleye-Blessing opened #816 "Clear filter button shows always"
#### Reason/Context
Go to the [blog page](https://www.asyncapi.com/blog?). You'll notice that `clear filters button` always shows even though you're not filtering the blogs. I feel like it should only show when at least you filter by `type`, `author`, or `tags`.

#### Description
- Will this be a breaking change? **No**

I will surely love to work on it if considered.

[2022-06-10 09:07] magicmatatjahu commented on #816
@Olaleye-Blessing Hello! Thanks for the issue! If you want, you can create PR for it, go ahead! :)

[2022-06-10 13:23] #816 closed, assigned to nobody

[2022-06-10 13:57] magicmatatjahu commented on #815
@Olaleye-Blessing Hi! Of course you could work on it! Thanks!

[2022-06-11 00:18] #418 closed, assigned to nobody

[2022-06-13 09:12] smoya commented on #425
This didn't have enough traction. Not sure if its still relevant.

[2022-06-13 14:59] derberg opened #820 "Update https://www.asyncapi.com/about with latest info"
Current About page https://www.asyncapi.com/about is outdated:
- it doesn't explain what AsyncAPI Initiative is
- nothing about handling spec and tools
- mention only 2 folks that maintain it, but it is not true anymore, we have lots of regular contributors, and TSC that manages the initiative under Charter agreed with Linux Foundation

So yeah, it needs some update, and first suggestion what shou

[2022-06-15 08:10] #350 closed, assigned to quetzalliwrites

[2022-06-15 08:10] #503 closed, assigned to quetzalliwrites, mcturco

[2022-06-19 05:18] Harish-b-03 commented on #195
Heyy Everyone😀. Heyy @derberg @Barbanio @magicmatatjahu @mcturco 😁.
Just to track the progress, I am linking the two PRs and the pending works to be done

- [Footer PR](https://github.com/asyncapi/website/pull/808):

- [x] Footer
Completed (waiting for the completion of Press Page)

- [Press Page PR](https://github.com/asyncapi/website/pull/828):

- [x] Add main contents of Press Kit
- [x] ~~Add i

[2022-06-21 08:02] smoya commented on #780
JSON Schemas are now being served successfully under asyncapi.com/definitions and asyncapi.com/schema-store. A New Relic dashboard has been also created (can't be public unfortunately):

<img width="1790" alt="2022-06-21 at 08 04 17@2x" src="https://user-images.githubusercontent.com/1083296/174748585-d7b247d0-f3be-4f17-80ec-14a99af240f7.png">

PR to Schema-Store is waiting for review: https://gith

[2022-06-21 11:00] #815 closed, assigned to nobody

[2022-06-21 16:09] Olaleye-Blessing opened #832 "Some links are hidden on mobile navbar"
#### Describe the bug
The last link on the navbar isn't visible on the mobile view.

#### How to Reproduce
- open the navbar
- Try to scroll down
- Notice the bug??

- Screenshots
![DAA8FB67-DB8B-48F7-BCF4-5C44B31401B3](https://user-images.githubusercontent.com/70102539/174846837-c018d9e1-4783-4715-9f73-605f6c410cb3.png)

#### Expected behavior
The last link should be visible.

[2022-06-22 07:23] magicmatatjahu commented on #405
@derberg @alequetzalli Is it still needed as we have `CONTRIBUTING.md` file? https://github.com/asyncapi/website/blob/master/CONTRIBUTING.md

[2022-06-22 08:47] smoya commented on #780
[JSON Schema Store PR](https://github.com/SchemaStore/schemastore/pull/2310) has been merged now, meaning all JSON Schema files fetched from it are now being downloaded from asyncapi.com/schema-store and metrics show that users are already fetching them:

![Metrics showing downloads count of AsyncAPI JSON Schema files](https://user-images.githubusercontent.com/1083296/174985882-a2967eae-658d-43b1-

[2022-06-22 09:01] derberg commented on #405
imho we can close it, any additional dev details are in readme

[2022-06-22 12:36] derberg commented on #604
@jimaek any updates from your side?

[2022-06-22 12:38] jimaek commented on #604
Thanks for the reminder, he is the review as promised https://www.jsdelivr.com/blog/how-the-german-courts-ruling-on-google-fonts-affects-jsdelivr-and-why-it-is-safe-to-use/

[2022-06-22 12:45] derberg commented on #604
@jimaek thanks for prompt response ♥️
@smoya I guess we can close this one

[2022-06-22 12:53] #604 closed, assigned to nobody

[2022-06-22 13:01] derberg commented on #780
Omg this is so exciting 😍

[2022-06-25 12:10] Harish-b-03 commented on #89
Heyy @derberg , Hope you are doing well!.

As discussed on Slack, I would like to work on this issue.
As you suggested, I used lighthouse to generate report for both mobile and desktop view.

Here are the reports I got.
For Home page:
[Lighthouse-Report-Mobile-Expanded.pdf](https://github.com/asyncapi/website/files/8984600/Lighthouse-Report-Mobile-Expanded.pdf)
[Lighthouse-Report-Desktop-Expanded.

[2022-06-27 14:14] derberg commented on #383
you will be able to determine it on the client side, I mean determine if it is tool from AsyncAPI org or not

---

@akshatnema can you share an updated `.asyncapi-tool`  structure basing on the feedback you received?

I also suggest we should have a prop like `fileVersion` where we can specify what version of the `.asyncapi-tool` schema is followed, so it is much easier to handle it on our side in

[2022-06-27 19:16] akshatnema commented on #383
I think we should also discuss on the extra markdown file we will have to add extra tools? Regarding the structure of the table and how we will convert that data to JSON.
___
This is the updated `.asyncapi-tool` structure I made till now, based on your reviews. Anything more you want to add?

[code]

[2022-06-27 20:28] mcturco commented on #383
Hi! @akshatnema reached out to me to give my guidance on implementing a UI design for this new page. I would say that before we can start designing anything, we should have a breakdown of all the content/elements that we want to have on this page so we know what kinds of UI elements we will need. This breakdown can just be a list in a comment on this issue.

Do you want to tackle that first, @aksh

[2022-06-28 03:46] #800 closed, assigned to quetzalliwrites, starlightknown

[2022-06-28 05:03] starlightknown commented on #820
for the contributors, how about we folks who are visible on readme along with TSC? can we use something which pulls contributors from the readme and adds to the website? (idk if it's technically possible, just an idea. I'll search about it) we don't have to update website everytime a new contributor gets added to the readme that way

[2022-06-28 05:06] starlightknown commented on #809
I can help in making the video into a document @derberg

[2022-06-28 05:14] derberg commented on #809
@starlightknown OMG, you will be my hero 🙏

[2022-06-28 05:27] starlightknown opened #840 "[📑 Docs]: using mermaid to create diagrams"
### What Dev Docs changes are you proposing?

We can consider using the mermaid js library to create diagrams in the future and add to tutorials as a part of GSoD
- ease of use
- all diagrams will follow same theme and shapes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-28 08:06] derberg commented on #89
what do you mean by that? is it because of size? or some issues with `.webp` in general?

For that, Sharp is recommended (by lighthouse) to resize the images

what is your plan, when would the optimization be triggered?
maybe there is some Netlify solution that we could use 🤔

[2022-06-28 13:57] derberg commented on #820
I don't think we need all of these people listed, TSC/Maintainers/Contributors in `About` page. This list would be super long 😄 . I think it is just better to explain just what these terms mean, and just link to proper resources if available. You might want to join this PR -> https://github.com/asyncapi/website/pull/828

[2022-06-28 15:00] derberg commented on #383
no need to keep it in markdown, just need to grab the current markdown, and manually transform it into JSON, and then on CI level, merge "manual" JSON with the generated one (excluding duplicates)

@magicmatatjahu what is your view on `fileVersion`?

- we need to determine what props are required and what not
- maybe we should do YAML?
- I suggest `area` to be `category` and we should say what lis

[2022-06-28 16:46] smoya opened #842 "Investigate how to test Netlify Edge Functions"
#### Reason/Context
We do have a Netlify Edge Function already in https://github.com/asyncapi/website/tree/master/netlify/edge-functions.
But there are no tests yet. We need to investigate how we can test that, since the runtime is Deno and there are some additions Netlify does on their runtime.

[2022-06-28 16:53] smoya opened #843 "Consider enabling Next.js caching for Netlify builds"
#### Reason/Context
Netlify builds show the following warning:

[code]

It seems we can install a Netlify plugin so we can set a cache folder. See https://github.com/netlify/netlify-plugin-nextjs

cc @fmvilas @derberg @magicmatatjahu

[2022-06-28 17:59] akshatnema commented on #383
This looks like the toughest job in this idea :sweat_smile:  because we need to first grab the correct part of markdown to convert into JSON, and then make a type of comparison algorithm/code to exclude the duplicates and append the extra tools in JSON as well. Thanks for reminding me, I must keep this in my account (my Notion) to not forget about it.

@mcturco Yeah, I will soon drop here the majo

[2022-06-28 18:11] quetzalliwrites commented on #459
Done via #601 🎉🎉🎉🎉🎉🎉🎉

[2022-06-28 18:11] #459 closed, assigned to quetzalliwrites

[2022-06-28 18:15] quetzalliwrites commented on #690
This has been fixed and live for a while now:
https://www.asyncapi.com/docs/tutorials/getting-started/event-driven-architectures

[2022-06-28 18:15] #690 closed, assigned to nobody

[2022-06-29 07:05] derberg commented on #583
solved with  https://github.com/asyncapi/website/pull/611

[2022-06-29 07:05] #583 closed, assigned to HarshCasper

[2022-06-29 08:25] magicmatatjahu commented on #843
@smoya Do you wanna handle it and test it?

[2022-06-29 08:36] magicmatatjahu commented on #383
@derberg @akshatnema

As I understand, `fileVersion` is something like `asyncapi` field in spec to determine which version of `.asyncapi-tool` we are using? If yes, I like it. When we will change the structure of given file, then we will know which version we handle.

[2022-06-29 17:30] Harish-b-03 commented on #89
Heyyy @derberg ,

I don't know the exact reason for this and have to look for some sources or the exact reason for this being as an issue

Sorry, I did not give a proper detailed explanation for this.

So the recommendation was to just serve the image of required size. As we are just using, most of the images, for blog cover image and profile picture, we can just scale or resize the images to the

[2022-06-30 02:15] quetzalliwrites opened #848 "[📑 Docs]: NEW streetlights tutorial diagram"
### What Dev Docs changes are you proposing?

Our [Streetlights tutorial](https://www.asyncapi.com/docs/tutorials/streetlights) would benefit from having a diagram to illustrate what we're building.

This issue can be completed AFTER the community has voted and agreed on technology to use for our diagrams via https://github.com/asyncapi/website/issues/849.

### Code of Conduct

- [X] I agree to fo

[2022-06-30 02:36] quetzalliwrites opened #849 "[📑 Docs]: vote on diagram technology to use in doc pages"
### What Dev Docs changes are you proposing?

## Change proposed
As part of GSoD 2022 and our IA Docs project, we are incorporating engineering diagrams in NEW `Concept` pages and `Tutorials`.

To accomplish this, we must:
1. work with design core contributor @mcturco to define/determine the color scheme chosen in UML shapes; the colors selected for the UML diagrams must not only be selected based

[2022-06-30 02:38] quetzalliwrites commented on #848
@starlightknown go ahead and add your diagram to this ticket and keep an eye on when you can update the tutorial with it.

Besides creating a PR to get a technical review on your diagram, we need to wait and confirm via https://github.com/asyncapi/website/issues/849 what tool we're using for diagrams.

[2022-06-30 03:01] quetzalliwrites opened #850 "[📑 Docs]: NEW tutorial, "How to create documentation with AsyncAPI""
### What Dev Docs changes are you proposing?

Write NEW `tutorial`: **"How to create documentation with AsyncAPI."**

---
# NEW agnostic tutorials outline template

## Introduction
In this _AsyncAPI_ tutorial, we're going to learn how to create documentation with AsyncAPI.

## Background context
(add info on technologies used and why it matters)

## Installation guide
Before you proceed to the nex

[2022-06-30 03:06] quetzalliwrites commented on #850
All right, @starlightknown! It's time for a new challenge... writing a new tutorial from scratch! ✨✨✨

I would research and ask questions first with Lukasz, but you can also leave a question in our slack `#2_general` channel to get advice from more people in the community. Let us know how we can help you!

[2022-06-30 04:15] #779 closed, assigned to nobody

[2022-06-30 05:41] #840 closed, assigned to nobody

[2022-06-30 05:42] starlightknown commented on #848
Yep, thank you!

[2022-06-30 08:37] derberg opened #851 "Extend CLI landing page with more installation instructions"
#### Reason/Context

We need to update https://www.asyncapi.com/tools/cli as CLI no longer has to be installed like `npm install -g @asyncapi/cli`. MacOS users do not need to install Nodejs/NPM, they can use brew or custom generated `pkg`

So they can do:
[code]

or

[code]

#### Description

Now website says just 👇🏼
![Screenshot 2022-06-30 at 10 35 45](https://user-images.githubusercontent.com/69

[2022-06-30 08:37] derberg commented on #851
/gfi ts

[2022-06-30 13:29] derberg commented on #383
@magicmatatjahu exactly, and I had no better name to propose, I just new `version` would be confusing as people would think it is a tool related version

[2022-06-30 18:59] akshatnema commented on #383
Hey @mcturco, I have made a rough sketch of the Tools dashboard. I think it will be good to you to make a Figma design according to it. Please don't consider it as a strict outline to follow it. You can surely add your creative and new components there to implement it in a better way. Do tell me if you want to add something more to it. Here's the link: https://miro.com/app/board/uXjVOpY2xGc=/?shar

[2022-06-30 20:34] mcturco commented on #383
Hey @akshatnema!

Thank you so much for providing this wireframe sketch, I can definitely see your vision: no fancy UI needed/necessary and that will always be one of the last steps in the process anyways 😄

My thoughts: I love the cards to represent each tool and I think having them in a 2-col layout would look nice and be easy to digest. However, I am questioning if we really need all of those c

[2022-06-30 20:37] mcturco commented on #849
Hey! Let me know what shapes for these diagrams are required from a technical standpoint, and I can start helping with the visual design to make it all nice and pretty ✨

[2022-07-01 01:53] Harish-b-03 commented on #761
Heyy @nelsonmic 😀. I hope you are doing great.
I would like to work on this issue, are you still working on this?. I will be happy to work with you 😀.
Thank you 😁

[2022-07-01 02:40] starlightknown commented on #848
![mermaid-diagram-20220621114613](https://user-images.githubusercontent.com/74637789/176812835-1734e677-80a3-4229-9641-d884cef3b855.png)

[2022-07-01 03:15] starlightknown commented on #850
https://www.asyncapi.com/docs/tools#code-first-tools would that be a tutorial using any one of these tools? or it's this https://www.asyncapi.com/tools/generator and generate docs using generator tool @alequetzalli

[2022-07-01 08:13] dattavelivela commented on #849
Hello, Can anyone provide a brief description or any link to understand the above issue as I'm a new user?

[2022-07-01 08:14] dattavelivela commented on #849
@mcturco Can I contribute towards visual design under your guidance?

[2022-07-01 09:23] akshatnema commented on #383
@mcturco See at the end, we do need all the categories to be used as filters. So, I will need 5 filters at the top and a clear filter button (that I forgot to make in my sketch :sweat_smile:). And if you are planning to not show all categories, a user may get confused after selecting a particular category. But yeah, if we only 2 categories, the tool card will be in rectangular shape and will be mo

[2022-07-01 13:59] mcturco commented on #383
I don't even think that 5 different filters are necessary at this point. We could start with the 2 categories and a filter for each of those IMO. If you give the user too many options, they might get overwhelmed and quit the experience. I don't think we have that many official AsyncAPI tools right now for 5 filters to be useful tbh.

[2022-07-01 14:01] mcturco commented on #849
Hi @dattavelivela 👋

Absolutely! Why don't you take on this issue and I will definitely be here to provide guidance 😄

Thank you, and welcome to our community!

[2022-07-01 15:50] lakshz commented on #851
@derberg Can I work on this?

[2022-07-01 16:32] dattavelivela commented on #849
Thank you, How can I connect with you and have a talk regarding the issue?

[2022-07-02 16:40] akshatnema commented on #383
But there is also the point that I need to make those filters at some time in future. If you see the `.asyncapi-tool` schema, we have added those fields there to categorize/filter the tools according to them. If we are not adding the filters according to them, there's no point to add such fields and get the data of tools related to them. What's the key of the project is to make the tools easily ca

[2022-07-04 12:00] #832 closed, assigned to nobody

[2022-07-04 14:04] derberg commented on #851
@LakshyaSatpal definitely, no need to ask

[2022-07-04 14:53] derberg commented on #849
@mcturco @dattavelivela hey, wait 😄 afaik this issue is here to first agree on what way we want to take in the website. We need to make sure contributors and maintainers are fine.

I'm an advocate for Mermaid.js as then contributors just need to make sure to provide diagram using mermaid markup, and design would be applied automatically on a resulting SVG.

@dattavelivela @mcturco you can have a l

[2022-07-04 15:05] derberg commented on #383
@akshatnema maybe it will help if you provide @mcturco with real data? I mean, take existing markdown with list of tools and transform it into a JSON file that we will build based on input from users or `.asyncapi-tool`. This way we have really data that will help @mcturco understand our needs + we validate what categories we really want to have there, and which make sense. Win win 🤷🏼

[2022-07-04 16:18] derberg commented on #89
So the recommendation was to just serve the image of required size. As we are just using, most of the images, for blog cover image and profile picture, we can just scale or resize the images to the absolute required size.
Thus, cutting out the extra unnecessary payload, as of now we are using a full image which is being transferred to users' devices and then resized to the required size. which is

[2022-07-04 16:22] lorenzsimon opened #864 "[📑 Docs]: Add a new project to the community tools list"
Hey AsyncAPI community 👋

I would like to share a AsyncAPI tool I have been working on for some time:
[Kotlin AsyncAPI](https://github.com/OpenFolder/kotlin-asyncapi) is a Kotlin builder DSL with some extending modules that makes using AsyncAPI as easy as possible. The Kotlin DSL and Spring Boot Web integration is already implemented and released 🎉

Next I am going to add support for the Kotlin sc

[2022-07-04 16:26] jemacineiras opened #861 "[📑 Docs]: Add new tools into tools list"
### What Dev Docs changes are you proposing?

I would like to contribute to AsyncApi docs! by adding a 2 new tools to the tools list.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-07-04 17:25] akshatnema commented on #383
@derberg @mcturco  Here is my sample JSON data that will be used to render information related to tool and filter it out according to the `category`. @derberg Will you please check if the details of the tool are perfect?

[code]

[2022-07-04 19:46] fmvilas commented on #849
Yeah, agree on using Mermaid.js. It makes it easier to collaborate on the diagrams without having to use any design tool and export an image.

[2022-07-05 05:44] fmvilas commented on #843
@smoya I think we had it and got removed but I don't recall the reasons.

[2022-07-05 06:56] fmvilas commented on #780
❤️ Indeed! @smoya start thinking how do we send custom metrics from tooling 😝

[2022-07-05 08:04] magicmatatjahu commented on #864
@lorenzsimon Hi! Awesome project! Do you wanna add that tool to our list? https://github.com/asyncapi/website/blob/master/pages/docs/tools/index.md

However I think that we should transfer that issue to the `community` repo or to the `website`.

cc @derberg @fmvilas

[2022-07-05 08:06] fmvilas commented on #864
Just transferred the issue to the `website` repo. @lorenzsimon, as @magicmatatjahu pointed out, you can add the tool yourself in the Markdown file mentioned above. Once you do that, it will be automatically published to the website.

[2022-07-05 08:13] derberg commented on #843
actually I thought we have it as sometimes build failed and I run `clear cache and build` and then it works 😆

[2022-07-05 08:16] #851 closed, assigned to nobody

[2022-07-05 08:23] magicmatatjahu commented on #383
Small correction `isAsyncAPIowner` -> `isAsyncAPIOwner` :)

[2022-07-05 11:16] derberg commented on #383
- `isAsyncAPIOwner` should be at the root
- `fileVersion` can be `1.0.0`
- `url` ?
- also regarding the whole `category` object I asked few questions about it in the past 👇🏼

Can you also show how would it look like in `.asyncapi-tool`? I guess in case of maintainers list we just ask for github handle, right?

[2022-07-05 14:47] akshatnema commented on #383
I think it's under development phase right now, not in a stable release yet :laughing:

I changed it to `image_url` because we don't need here there GitHub handle. This is because we are already taking the email IDs which will allow them to directly contact the maintainers of the tool via mail. Since Github doesn't allow us to communicate with the users in personal chats, I think it's better to us

[2022-07-05 17:11] mcturco commented on #383
I guess my concern is just that the 5 filters seem excessive, where I feel that a user can easily find what they are looking for in just 2 filters. To me, the `area` filter doesn't really give that much explanation of what the tool is, and `type` seems like it could be something similar to that?

It could just be that I don't have enough background knowledge to understand what is useful and what i

[2022-07-05 18:17] akshatnema commented on #383
@mcturco ok, you can take on with the 2 filters right now, since we are right now discussing with categories only. At last, if we add more categories to tool, then will update it accordingly in the UI, but we can still start the implementation on UI with consideration of 2 filters right now.

[2022-07-06 02:42] quetzalliwrites commented on #848
Hey @starlightknown do you happen to have a MermaidJS LIVE editor link to the markdown diagram you created for this one?

We want to actually have the markdown for this vs only the imported png file because if we go the MermaidJS route, we want this ticket to include all markdown to recreate it 😄

[2022-07-06 02:44] quetzalliwrites commented on #849
Yes, exactly @mcturco and @dattavelivela... like Lukasz mentions above, this issue is for **voting on tool** to use for creating diagrams. We need to make that vote round **first** and then once the tool/technology for diagrams is selected, we are closer to having to make decisions that affect branding. (i.e. colors used in the uml diagrams) 😀

[2022-07-06 03:08] Harish-b-03 commented on #761
Heyy @derberg @magicmatatjahu @mcturco @alequetzalli , Can I take this issue and work on this?.. I would be really happy to work on this.

And I know this is already assigned.. but there was no progress for long time and even there was no response from @nelsonmic ,  if that's not a problem, I am ready to do this.

Thank you very much😁

[2022-07-06 03:18] Harish-b-03 commented on #89
Heyy @derberg ,

Ok. I will do some research and try to find some way to automate it.

Yeah ok then.. I will do that and get back to you

I need some time for this because one [issue](https://github.com/asyncapi/website/issues/761) got my attention. So now, I would like to work parallelly on the `press`, performance issue and this [issue](https://github.com/asyncapi/website/issues/761).

Thank you

[2022-07-06 03:19] starlightknown commented on #848
yes [here](https://mermaid.live/edit#pako:eNq1ksFKxDAQhl9lmJNiqWx7CyIs6NGD7B5zSZuxHUzSkkwOsvTdLe1WcGFBROcU_nwfPwNzwnawhApbZ1J6YtNF43WAeV5ej0d4KEs4SCQSx10vO1Aw5sZx6mEJ7j2ZlCPZ6071C6f-iVOWj7AfR8etER6CgpSb1EZu6MKBXVEVtQ6ru2z6banT-gFwx0HAZU8hKai_0pnl0AHbm9vLLFGQvWz5dKWh-veG-q8bNmgdLNBT9IbtfCpLlUbpyZNGNT-tie8adZhmLo_WCD1bliGiejMuUYEmy3D4CC0qiZk26HxuZ2r6BGLdzOM)

----------------------------------------

[2022-07-06 07:43] derberg commented on #89
@Harish-b-03 no worries, take your time 👍🏼

[2022-07-06 10:57] smoya commented on #780
We would need to expose a service that acts as a metrics ingest forwarding them to NR so we don't expose the NR API key on tooling but just send metrics to our service.

I would think about it eventually!

[2022-07-06 15:32] mcturco commented on #849
Sounds good @alequetzalli! Looks like we can change the theming of mermaid.js diagrams --> https://mermaid-js.github.io/mermaid/#/./theming

So I think this solution will work well for us! I think it is better to use a tool that is JavaScript-based, so long as everyone is comfortable with that.

[2022-07-06 15:34] mcturco commented on #761
Hi @Harish-b-03, I would say go for it! This issue has been sitting here for a while. But I would reference the conversation we had above when you are making your contribution. Let me know if you need any visual design guidance! 😄

[2022-07-07 13:50] magicmatatjahu commented on #849
I'm also in favour of Mermaid.js 🚀

[2022-07-07 15:07] akshatnema commented on #383
## Summary of the meeting held on 7 July 2022

Participants: @akshatnema @magicmatatjahu @derberg

### Agenda
- [x] Discuss the GitHub profile, URL and maintainer’s profile photo
- [x] Discuss categories and their reason in the `.asyncapi-tool` file.
- [x] Discuss the Filters section in UI with @mcturco

### Meeting Notes

- We have changed the `language` data type from array of strings to a strin

[2022-07-08 18:41] akshatnema commented on #383
## Summary of the meeting held on 8 July 2022

Participants: @akshatnema @mcturco

### Agenda

- [x] Discuss the Filters UI
- [x] Discuss the Tools Card UI
- [x] Discuss the Dynamic addition of the color of the new tag
- [x] The Tool has non-availability of filters like `language` and `technologies`.

### Notes

- I and @mcturco discussed that the implementation of Filters UI will be much better i

[2022-07-08 18:51] mcturco commented on #383
![IMG_0028](https://user-images.githubusercontent.com/60163079/178052936-dd281111-f30c-459b-8d5e-9de86b312df1.jpeg)

Just attaching the sketch idea that I came up with during our meeting for the tool card. If we like this layout, we can start crafting a higher fidelity version of this.

[2022-07-09 11:17] Harish-b-03 commented on #761
Heyy @mcturco @derberg @alequetzalli @magicmatatjahu  :grin:,

So I was just trying out with this breadcrumbs, this is how it came:

![image](https://user-images.githubusercontent.com/69810789/178103043-2f791a94-4226-4f8e-a868-51e4852feeae.png)

But if the text is long, then there is some kinda change (just want to know, is this okay or should we have make some changes) please look at this:

![ima

[2022-07-09 15:25] akshatnema commented on #383
@magicmatatjahu @derberg Do look into the present schemas and JSON object made.
## `.asyncapi-tool` file schema:
<details>
<summary> Click to expand </summary>

[code]
</details>

## `.asyncapi-tool` file for the AsyncAPI Generator:
<details>
<summary> Click to expand </summary>

[code]
</details>

## The resultant JSON object after the extraction of data from Github API:
<details>
<summary> Click

[2022-07-11 13:27] smoya opened #870 "[3.0.0] Serve bindings JSON Schema files via https://asyncapi.com/bindings"
_Originally posted by @smoya in https://github.com/asyncapi/spec-json-schemas/issues/225#issuecomment-1178673069_

Serve schemas for bindings via https://asyncapi.com/bindings .
Those will be located in https://github.com/asyncapi/spec-json-schemas/tree/next-major-spec/bindings

Serving JSON Schema files through asyncapi.com is done thanks to the following Netlify Edge Function: https://github.com

[2022-07-11 14:13] mcturco commented on #761
@Harish-b-03 I see 👀  Maybe we can remove the + icon that is on the left, we might not need it? Maybe instead we have the black dropdown arrow positioned on the right of the breadcrumbs box so it looks like a dropdown.

Something like this:

![Screen Shot 2022-07-11 at 10 12 59 AM](https://user-images.githubusercontent.com/60163079/178284612-bcec4ae4-b4e4-453d-9692-7168d5bb2549.png)

[2022-07-12 14:04] Harish-b-03 opened #871 "[📑 Docs]: ShareMenu getting stacked over the footer"
Hello Everyone. Heyy @derberg @magicmatatjahu :grinning:

I was working for the `press` and `docs layout` issues, and found some glitch, where the social media list dropmenu in DocsLayout is getting stacked over the footer.

![image](https://user-images.githubusercontent.com/69810789/178508381-b2fb3879-f87a-4732-b93e-ca89b5f55fb9.png)

I think, if you show me where this component is being rendered

[2022-07-12 22:27] quetzalliwrites commented on #850
(we agreed that we'd wait for an article from Lukasz on this topic to go live before Karuna write this tutorial 😀 )

[2022-07-12 22:56] quetzalliwrites commented on #849
@mcturco I hadn't really looked at the theming capabilities yet, but I agree that looks useful! I have a feeling we'll go the mermaidJS route based on the voting so far, so it's great to hear that this tool's docs make sense to you for the design part. 😀

[2022-07-12 23:08] quetzalliwrites commented on #849
🗳🗳🗳  **VOTE in community discussion on diagram technology to use in AsyncAPI Docs**

Current votes from the community are in favor of **MermaidJS**. Don't forget to vote before we close the discussion this week so that docs/design contributors can align and move forward.

- :jigsaw:  FigJam
- :mermaid: MermaidJS

[2022-07-12 23:14] quetzalliwrites opened #872 "[📑 Docs]: NEW tutorial, "How to validate AsyncAPI documents""
### What Dev Docs changes are you proposing?
Write NEW `tutorial`, **"How to validate AsyncAPI documents"**, using the below outline template.

---
# NEW agnostic tutorials outline template

## Introduction
In this _AsyncAPI_ tutorial, we're going to learn about...

## Background context
(add info on technologies used, why it matters, etc.)

## Installation guide
Before you proceed to the next sta

[2022-07-12 23:16] quetzalliwrites commented on #872
Here's the new docs issue for your other tutorial, @starlightknown. 😄✌🏽

Let me know what you need to keep going! 🎉🎉🎉

[2022-07-12 23:25] #864 closed, assigned to lorenzsimon

[2022-07-13 10:08] thulieblack commented on #849
I'm in favor of using mermaid.js 🧜‍♀️

[2022-07-13 12:20] derberg commented on #432
it is already in place for some elements from landing page, if anyone wants to have access just drop me a message? or if you want to track other things

[2022-07-13 12:20] #432 closed, assigned to nobody

[2022-07-13 15:44] lornajane commented on #849
:mermaid: mermaid.js please! I love it because it's easy to see changes with source control, and as a person with accessibility needs, I can use existing tools to produce the text that drives it.

[2022-07-13 17:19] akshatnema commented on #383
Hey @derberg @magicmatatjahu, I have made a design (or outlook) of the Tools Dashboard in Figma. Do share your feedback and suggestions on how we should improve it. Also, I have shared the `.asyncapi-tool` schema, along with an example of Generator and corresponding JSON data rendered from Github API. Have a look at it and inform me if something wrong has been implemented.

Figma File - https://ww

[2022-07-13 17:50] smoya commented on #780
After fixing https://github.com/asyncapi/spec-json-schemas/issues/236, JSON Schemas for different AsyncAPI versions are being downloaded from JSON Schema Store:

![](https://user-images.githubusercontent.com/1083296/178773512-f6928889-d226-48c4-a0e6-0261097925bc.png)

![](https://user-images.githubusercontent.com/1083296/178773844-29cb8954-6dea-4d37-aff3-1e57d9dded21.png)

I see there are download

[2022-07-14 08:53] derberg commented on #780
I think we entered the world where we have to decide if we want to do things in our JSON Schema the way spec and spec maintainers recommend, or just adjust schema to work with tooling provided by the community 🤷🏼

yeah, the numbers for `2.0.0-rc1` and `2.0.0-rc2` are suspiciously high and the same 😄
I think you are completely right about the reason, that it is due to refs parsing. Can we measure t

[2022-07-14 09:45] derberg commented on #872
@starlightknown maybe you could update this issue with the notes that I shared during our validation-related meeting. Where I described different topics related to "validation". This issue is for `AsyncAPI file validation` so I guess we need to create separate one for `Message validation using AsyncAPI file`

[2022-07-14 11:29] deepaknverma commented on #849
+1 for mermaidJS. easy to use and fully integrated in development env.

[2022-07-14 14:18] smoya commented on #780
But if we do that, we will be invalidating all the counts for legitimate downloads. Correct me if I'm wrong, but:

Considering that 1 fetch of `all.schema-store.json` end ups doing 10 fetches (one for each schema per AsyncAPI version), let's say we start from scratch and we just do one fetch:

| Downloads | File                  |
|-----------|-----------------------|
| 1         | all.schema-stor

[2022-07-18 13:45] quetzalliwrites commented on #849
We have more than enough votes to confirm that MermaidJS has been selected by the community.

Closing this issue as it has been completed and resolved.

[2022-07-18 13:46] #849 closed, assigned to quetzalliwrites

[2022-07-18 16:15] derberg commented on #849
@alequetzalli will you open a follow-up issue related to implementation and styling? technically some work has to be done, and I also saw some volunteers here to work on it

[2022-07-18 18:08] quetzalliwrites commented on #849
Patience @derberg, I am already doing that. ;)

First, they needed technical guidance on how UML diagrams work and I have been working with everyone to get them up to speed. They can't contribute until they understand UML diagrams.

[2022-07-19 04:49] quetzalliwrites opened #880 "Add mermaidJS dependency to AsyncAPI website"
#### Add mermaidJS library as new dependency to AsyncAPI website
Now that the [community has voted on which diagram tool to use](https://github.com/asyncapi/website/issues/849), it is time for us to start the technical implementation of adding the mermaidJS library to the AsyncAPI website.

**MermaidJS installation docs:**
- https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted
- https://merm

[2022-07-19 04:50] quetzalliwrites commented on #880
Hi @magicmatatjahu! I added you to this issue because you're our core website maintainer, and I figured you'd either want to do it yourself or share guidance on how to complete it. 😀✌🏽

[2022-07-19 08:33] magicmatatjahu commented on #880
Here is a tutorial about using `mdx` in nextjs apps https://nextjs.org/docs/advanced-features/using-mdx We need to update component which renders the code from markdown code and adjust it to render also mermaid diagrams like here https://github.com/vercel/next.js/discussions/12837#discussioncomment-147025

Here is a code for our mdx provider - https://github.com/asyncapi/website/blob/master/pages/

[2022-07-19 08:47] derberg commented on #631
@peter-rr can you confirm if this is still an issue? when I check in Brave browser all works as expected

[2022-07-19 09:03] derberg commented on #780
@smoya yeah, you are right 🤦🏼 it sucks

[2022-07-19 10:10] derberg commented on #383
@akshatnema well done mate 👏🏼

looking good, might be we need to generate a json schema for `.asyncapi-tool`. Use tool like https://jsonformatter.org/ to kick start with schema. It is needed so comment like `// Website url of the tool. Ex: http://asyncapi/tools/cli` ends up as a `description` for a field in the schema. We need to maintain it in case someone wants to validate their files against it

[2022-07-19 15:09] quetzalliwrites commented on #880
Cool @magicmatatjahu, I'm opening a PR today for doing this and I will add you to review it 🤙🏽

[2022-07-20 06:08] starlightknown opened #881 "[📑 Docs]: NEW tutorial, "How to validate code messages/events with AsyncAPI""
### What Dev Docs changes are you proposing?

Write NEW tutorial:  "How to validate code messages/events with AsyncAPI"

NEW agnostic tutorials outline template
Introduction
In this AsyncAPI tutorial, we're going to learn  how to validate code messages/events with AsyncAPI.

Background context
(add info on technologies used and why it matters)

Installation guide
Before you proceed to the next sta

[2022-07-20 06:10] starlightknown commented on #872
## Notes
- validation against the specification
     - using AsyncAPI tools
         - core -> AsyncAPI Parser JS
                2 step validation:
                   - validation against AsyncAPI JSON Schema document
                   - custom validation
          - AsyncAPI Parser by default supports AsyncAPI Schema / JSON Schema -> format for messages
                - custom schema formats h

[2022-07-20 06:10] starlightknown commented on #872
https://github.com/asyncapi/website/issues/881 I created it

[2022-07-20 12:26] akshatnema commented on #383
Fine, we will have a sample JSON schema so that everyone can validate the JSON object made for each tool. I'll soon give an update about the JSON.

I'm not sure how the checkboxes will look and be placed in the design according to the theme. It's better that @mcturco have some idea on how to place these checkboxes aside from the present filters in design.

I think you missed the summary of the mee

[2022-07-20 13:32] derberg commented on #383
you are completely right, sorry....tbh I missed entire summary, including the fact that you had a meeting 🤦🏼

website URL not always equals docs URL. In majority of cases, `docsUrl` might not be used, but we need it. Example: AsyncAPI Generator (in the future once we have documentation refactored and published in the website):
- `websiteUrl` -> `https://www.asyncapi.com/tools/generator`
- `docsUrl

[2022-07-20 16:07] akshatnema commented on #383
Yeah I got it. We will have all four URLs, `docsUrl`, `websiteUrl`, `repoUrl` and `iconUrl`.

Ohh, now I got it. I will surely ask @mcturco for more opinions on design perspective according to it.

[2022-07-20 21:03] mcturco commented on #383
Hey guys! Okay just started making some UI edits to the Tool Cards.

Here is what I have so far:
https://www.figma.com/file/vPO7Go2C0v609Xw2L8eWS8/Website?node-id=775%3A2045

Tomorrow I will spend some time on the filters and see what we can do there, but yes I think it should be a checkbox/switch type of filter for isCommercial and isAsyncAPI as I think that makes the most sense. Do we want to ha

[2022-07-21 11:55] peter-rr commented on #631
@derberg Not an issue anymore! Now it's working as expected 🚀

[2022-07-21 12:50] derberg commented on #631
@peter-rr thanks for the confirmation 🙏🏼

[2022-07-21 12:50] #631 closed, assigned to nobody

[2022-07-21 13:29] akshatnema commented on #383
As far as I remember, I discussed this with @derberg and @magicmatatjahu, and we got to the point that we already have many filters at the top. I'm not sure how can we add it if we plan to have a search bar on Dashboard. It is already crowded at this moment in Figma. What's your view on it? @derberg

[figma.com/file/vPO7Go2C0v609Xw2L8eWS8/Website?node-id=775%3A2045](https://www.figma.com/file/vPO7

[2022-07-21 14:52] derberg commented on #383
search would be nifty, that real-time narrows down the results. I'm not worried much about "crowded" filter if @mcturco is on it, cause I'm sure Missy will find a way 😄

`find the way` ......ah, watching Mandalorian now and have `this is the way` in my head all the time 😄

[2022-07-21 23:02] mcturco commented on #383
@akshatnema Ah yes, thank you for that reminder!

I love the Mandalorian reference ❤️ Don't worry, I have some ideas to keep the filters section from getting too crowded!

[2022-07-25 12:57] AceTheCreator opened #887 "Can't overwrite existing style in component class-name using the className props"
## Problem
the class-name below exists in a component(Heading component)
 ` classNames = font-heading text-2xl font-bold tracking-heading md:text-6xl leading-snug ${className}`

Now, when I'm using the heading component in my page, and I pass the className props as seen below
`<Heading level="h1" typeStyle="heading-xl" className="md:text-5xl"> </Heading>`

I try passing a new font-size through the

[2022-07-25 18:12] mcturco commented on #887
Hmmm I am curious about the use case for wanting to use `md:text-5xl` instead of the pre-set `md:text-6xl`? The reason why the styles were baked into these components is so that there will be no inconsistencies with typography.

But yeah I think showing an example of the issue in action would provide some better context as to how we might need to re-structure the components

[2022-07-26 11:25] #562 closed, assigned to nobody

[2022-07-26 16:50] akshatnema commented on #887
Hey @AceTheCreator, we are already going to include `tailwind-merge` to resolve overlapping class conflicts in tailwind in PR #804. Do have a look into the PR and give your reviews.

[2022-07-26 18:26] akshatnema commented on #383
@derberg Here's the JSON schema I made for `.asyncapi-tool` file:

<details>
<summary> Click to expand </summary>

[code]

</details>

Is it fine?

[2022-07-26 20:10] AceTheCreator commented on #887
I understand the point you're making @mcturco. But in my case, I'm working on the community section prototype and I'm trying to use some of the existing components. So since I wanna use the heading component and the heading-xl font-size is too big and the heading-lg is too small, then something has to be done since I can't assign a custom font-size to the heading component

[2022-07-27 05:39] nawed2611 commented on #753
Hey, Can I work on this issue?

[2022-07-27 10:45] magicmatatjahu commented on #753
@nawed2611 Sure :)

[2022-07-27 16:01] Leamsi9 commented on #204
May I suggest an iterative process, given it's been a while since this got going and I suspect the lack of motion is to do with what's required vs what's available human resource wise?

My suggestion is we have two separate section:
`Who Uses AsyncApi` which could go in the community section and is a simple list of every company we know uses AsyncApi; and a `Case Studies` section, where we dive in

[2022-07-27 21:34] mcturco commented on #383
Hi! Here I have presented my idea/prototype for how we could handle the filters:

## Video Presentation/Walkthrough
https://www.loom.com/share/b82ae6c628644ca38de8698cb07ec439

## Images
![Screen Shot 2022-07-27 at 5 32 15 PM](https://user-images.githubusercontent.com/60163079/181376283-d578a488-a21d-4a31-bc9a-2166de5dd0df.png)

![Screen Shot 2022-07-27 at 5 32 34 PM](https://user-images.githubuse

[2022-07-28 02:33] AceTheCreator commented on #204
@Leamsi9 going into a database is not an option in my opinion, but we should definitely decide between JSON/Markdown 😀

[2022-07-28 13:25] akshatnema commented on #383
@derberg @magicmatatjahu can you look into the Figma design and JSON schema and give your reviews so that we can have your opinion before your vacation starts?

[2022-07-28 14:16] magicmatatjahu commented on #383
@akshatnema

Is it a JSON Schema or mock for JSON Schema? 😅

I truly don't remember that discussion but does `isAsyncAPIOwner` field is needed? We can check if given tool is official supported by checking organization in github. cc @derberg

About mocks: as always I love it! @mcturco You did great job! One thing. As we will have `language`, `technology` and `categories` filters should we have ever

[2022-07-28 14:25] derberg commented on #383
@akshatnema

this is not a json schema that you have there. You have a sample json with additional `$schema` property.

I quickly generated draft 7 JSON schema (we should use this one) basing on your example. It is missing descriptions, examples, all is set as required etc. but is a good start:

[code]

you can check above schema against any data here https://www.jsonschemavalidator.net/

the prob

[2022-07-28 14:28] derberg commented on #383
@mcturco omg omg omg this is beautiful ❤️ I'm only missing info about category, so when I go to the page, without filters, I do not have cards grouped by categories in figma design. Rest is super nice

[2022-07-28 14:57] derberg commented on #872
fyi, this PR https://github.com/asyncapi/spec-json-schemas/pull/243 is almost merged. I gives you more details on AsyncAPI JSON Schema

[2022-07-28 15:09] mcturco commented on #383
@magicmatatjahu Thanks for the feedback! Good point. I guess I was just assuming that showing the main tooling categories as a "primary" filter would be fine and then more advanced filters would show up in that window, but now that I am thinking about it, I hate that idea 😆  I can definitely move the categories to the bottom of the filters window.

Thanks @derberg ❤️  Not sure if I fully understan

[2022-07-28 15:15] magicmatatjahu commented on #383
@akshatnema We should remove `isAsyncAPIOwner` field due to fact that we can extract that info on fetching process based on user/organization name - in this case it will be `asyncapi` org in github.

EDIT: I understand, it will be final json, sorry for comments!

[2022-07-28 15:15] derberg commented on #383
@mcturco so example categories are: `Code-first`, `Documentation`, `Code Generation`, `Framework`

when I go here https://www.asyncapi.com/docs/tools, I see bunch of tools, grouped by category, using headings. I miss this in the design. That I go to the list of tools with new design, I will see a lot of tools, but I will be available to identify category only if I select the filter

[2022-07-28 15:28] mcturco commented on #383
Gotcha, thanks for the clarification. I think we could still do that, maybe we just make groups of cards for each heading? Then we can just remove it from the filters altogether. What do you think?

EDIT: AND! We could make anchor links to navigate to each category group, sort of like how you would with a markdown file

[2022-07-28 18:21] nawed2611 commented on #753
I'll work on this now!

[2022-07-29 07:00] #139 closed, assigned to nobody

[2022-07-29 07:49] akshatnema commented on #383
Ok so you need to make a schema which can validate `.asyncapi-tool` file. Sorry, I misunderstood that you want the final JSON after running the script. Ok, I will update the schema accordingly and will give you the correct one soon.

[2022-07-29 10:29] akshatnema commented on #383
@derberg @magicmatatjahu I corrected the schema for `.asyncapi-tool` file and validated it against a `.asyncapi-tool` file. It's absolutely following it. Do make a review on it and inform me if any changes is needed.

<details>
<summary>JSON Schema</summary>

[code]
</details>

[2022-07-29 13:45] mcturco commented on #887
@AceTheCreator Gotcha, that makes sense. Either way, I believe the intention of the Typography components was to make sure that new classes could override the base classes if they were applied into the `className` prop, so maybe we just have to adjust the components so that this is what happens. I would tag Maciej to have a look, but he is about to go on a 3 week vacation 😄

[2022-07-29 14:13] starlightknown commented on #872
https://youtu.be/7RQT6EEXzBw recording about validation

[2022-07-29 14:14] quetzalliwrites commented on #872
Hey @Annysah, like we spoke offline in Slack with Karuna, let's go ahead and give this tutorial to you. 😄✌🏽

She has added context and a YouTube recording from her talk w/ Lukasz about this topic to help get you started. Please let me know what else you may need to get started and how I can best support you! ❤️✨✨

[2022-08-01 05:24] Annysah commented on #872
Thanks @alequetzalli. I will get to work!

[2022-08-02 08:48] akshatnema commented on #383
@mcturco are you done with the Figma design or you will add some more elements to the Figma design as suggested by @derberg?

[2022-08-02 18:16] mcturco commented on #383
Hey @akshatnema, I am working on implementing @derberg's suggestions. Will share in a bit!

[2022-08-02 19:04] mcturco commented on #383
Okay here's what I think we can do if we want to keep the ability to scroll through tools based on category. In the dropdown at the top next to the filters called `Jump to Category` this would be a dropdown with all the categories that would all be anchor links to navigate to the section.

**Prototype**
https://www.figma.com/proto/vPO7Go2C0v609Xw2L8eWS8/Website?page-id=775%3A1763&node-id=874%3A214

[2022-08-03 05:55] akshatnema commented on #383
Thanks @mcturco for the design. It's looking awesome. But I think the present sub-heading implementation is not possible. According to the project idea, when a new tool is added using discovery, how to recognise in which sub-heading it is need to be placed. The present schema of the `.asyncapi-tool` file doesn't consist of any field that specifies this category.
So, let's make this sub-heading des

[2022-08-03 13:18] mcturco commented on #383
Sounds good @akshatnema, yes I believe you can start building out the smaller components. Let me know if you need feedback on spacing, typography, etc

[2022-08-06 04:40] nawed2611 commented on #753
Hey, can I know how much a user must be scrolled when they click on `Skip to Main Content` button

[2022-08-08 20:13] mcturco commented on #753
Hey @nawed2611, I think the Skip to Main Content button is meant for accessibility reasons so that when users who are tabbing through the website content don't have to tab through all the navigation links in the header to get to the next action item on the page.

So it should function like:
- User presses `TAB` key --> `Skip to main content` button shows
- The user can then press `ENTER` on their

[2022-08-10 12:20] AceTheCreator opened #903 "Epic roadmap to the new AsyncAPI community section"
After a long discussion with @derberg, we've decided to have a community section located on the Asyncapi website at the following path /community.

This new addition to the community website is going to hold everything related to the community from the Ambassador program to the community docs and every other area community/contributor related.

This overarching goal here is that we want users to h

[2022-08-13 16:37] akshatnema commented on #383
Hey @mcturco, I started making the UI for the Tools Dashboard and I made some of the components according to Figma. I'm getting stuck while creating components because we strictly need Tailwind version v3 to implement the cards as it. We already have some external colors and properties available in tailwind new version but not in version v1 (implemented in our website). So, I think we need to wait

[2022-08-14 11:19] Dule-martins commented on #903
@AceTheCreator Hope this is not a dumb question but I want to document the "Configuring release pipeline for NodeJS
 Configuring release pipeline for non NodeJS" but confuse on how to start.

 If I'm correct the docs will be residing in the asyncapi/community path?
 It is also expected I create a folder name it docs and in  that holds all the files you listed?

Some clarity and guide will help, th

[2022-08-15 12:11] AceTheCreator commented on #903
@Dule-mart yeah, you're right. But, I'll suggest you work from my own forked repo and fork the community branch.

[2022-08-15 14:24] mcturco commented on #383
@akshatnema what is it that you are missing from tailwind that is blocking you from continuing? I believe in the design I used the same tailwind styles as what is on the website right now

[2022-08-16 08:21] derberg commented on #903
@Dule-mart @AceTheCreator I recommend not depending on each other too much. So write the docs, even if new community section is not there yet. Just work on the doc in `community` repo, maybe introduce docs folder. Then, once all is ready, we can integrate easily. Always work with as small PRs as possible, and not depend on each other. This is especially critical in the open source world, where thi

[2022-08-16 10:22] akshatnema commented on #383
@mcturco The background and the border color we will use for each tag, is I think not according to the tailwind theme, and also, I don't consider that we should define each color to specific tag, according to tailwind color themes. Instead we should use Hex colors to specify the backgrounds and borders in them. Take a look on this feature by Tailwind v3 https://tailwindcss.com/docs/text-color#arbi

[2022-08-16 13:06] quetzalliwrites commented on #903
Let me know if you need my help in the docs, I'm happy to help out!

This sounds like a really great new project ✨✨✨

[2022-08-16 13:57] Amishakumari544 commented on #903
Hey @AceTheCreator , Awesome Stuffs are mentioned here I am also ready to contribute in the docs section .😀

[2022-08-16 13:58] Dule-martins commented on #903
Hey 👋 @alequetzalli

It would be nice to work alongside you in achieving this, I have created a folder named docs, and created a file to document the “configuring release pipeline for Nodejs” but it is empty for a start.

[2022-08-16 14:24] akshatnema commented on #903
Hey @derberg, why not we temporarily make a community branch on website repo and merge the present changes of @AceTheCreator. So that whosoever wants to work on the issue, can fork this repo only and merge the changes on community branch instead of forking the forked @AceTheCreator  website repo?

After all the issues gets resolved, we will then merge community with master.

[2022-08-16 14:55] mcturco commented on #383
@akshatnema gotcha, we can wait for that PR to be resolved first 😄

[2022-08-16 15:03] derberg commented on #383
I think this new design look good and we can do the sub categories too.

Users will provide one of categories that we "support" on our side (all others will go into uncategorized container) and in the Website repo we will just have a map, and `code-first` will for example map to `Code-first` (as human-readable category name) and `Blabla sub heading` (as nice explanation subheading).

Thoughts?

[2022-08-16 15:22] derberg commented on #903
@akshatnema I do not see any technical problem/difference between branching form a branch in upstream, or forking a fork and contributing to it.

In case of this project, I strongly discourage you from doing any of it 😄

Long living branches = merge conflict death 😄 and a lot of waiting/blocking of each other.

So I recommend you to work asynchronously 😄

---

@Dule-mart there is a lot of input fo

[2022-08-16 15:26] Dule-martins commented on #903
Thanks for the share @derberg

[2022-08-16 17:58] akshatnema commented on #903
I think you didn't get it. I want to say why to create forks of a forked branch. @AceTheCreator branch is already having a PR and if someone wants to contribute to it, have to fork Ace repository, not this one. In this case, we will encounter lots of problems:

- #### CODEOWNERS have to review the PRs on Ace's repository
  Since they are working on the PR made by Ace, the updates or PRs made by ot

[2022-08-16 18:29] AceTheCreator commented on #903
@derberg I actually think the @akshatnema approach will save a lot of headaches 😊

@akshatnema it's best I update the current PR and get it to merge with the new community branch in this repo. Then we all can work from the community branch from the main repo.

@derberg what do you think?

[2022-08-16 18:48] akshatnema commented on #903
@derberg @AceTheCreator Adding to my above point, the community section is a completely new implementation and creation of new pages which I don't think will conflict with existing page changes. So, if we even merge the `community` branch with `master` manually and weekly, I don't think we will encounter major conflicts inside the `community` branch when we will go for the final merging.

[2022-08-16 19:44] Dule-martins commented on #903
@akshatnema does this mean I don't have to fork the asyncapi/community repo?
What will happen if the community repo is forked and PRs are made into that repo?

[2022-08-17 07:52] derberg commented on #903
Can you folks clarify, maybe provide examples of PRs that someone would open against @AceTheCreator fork and his `community` branch. Why would anyone like to do it and what would it be, except for community-related documentation

[2022-08-17 08:27] akshatnema commented on #903
@derberg Look at the screenshots and links provided below.

PR link - https://github.com/AceTheCreator/website-1/pull/1
The repo which is forked from @AceTheCreator repo - https://github.com/The-Code-Of-Duty/website

See this image, any contributor has to do the contributions to community section in this way by creating PRs on Ace's repo, not in AsyncAPI. So, this will make confusion on where to m

[2022-08-17 08:36] derberg commented on #903
@akshatnema I understand technically that people would have to open a PR against the fork, this is clear 😉

I just do not understand why anyone would have to do it. Why would you consider opening a PR to his fork, except for the docs that we clarified can be done separately?

[2022-08-17 09:36] derberg commented on #903
to not run this discussion for too long,

there are 2 top items for the new community section:
- UI
- Docs

UI is also divided into additional 2 items:
- minimal UI (with some stuff that might be hidden as not completed or left out but inactive with proper tool tip info like `tbd`)
- additional features -> like `implementation of the events&meetups page`

---

For `Docs` I'm firmly opinionated tha

[2022-08-17 17:19] akshatnema commented on #383
So, we will have to add an extra field in the schema to get this heading for the Tool. What can we name it? :thinking:. Something like 'topic' or 'class'?

Also, @mcturco, can you provide the mobile view of the page? Because I can't able to imagine how to manage the filters in mobile view. It should be in single line or how to distribute it over the screen?

[2022-08-17 20:22] mcturco commented on #383
@akshatnema Yes, I will work on the mobile design and share it here when I can!

[2022-08-18 07:20] derberg commented on #383
@akshatnema it is there in schema already, called `category`. We might need to introduce fixed `enum` (basing on current list of categories from the tools list) there, and then in the code you will need a map that will map the value from enum, with human-readable name and description

[2022-08-18 10:24] derberg opened #907 "Limit number of tweets in the list in the newsroom"
#### Reason/Context

In the new `Newsroom` section, among other items, we also display a list of tweets: https://www.asyncapi.com/community/newsroom

We do not have any limit there, so the list is getting long. You need to scroll a lot to get to the bottom.

#### Description

Set some limits on the number of tweets. I think 2 is the max, as, in the end, it is just about highlighting the latest and

[2022-08-18 10:28] derberg commented on #907
/gfi ts

[2022-08-18 14:15] mcturco commented on #383
Here's what I am thinking we could do as far as a mobile design:

<img width="390" alt="13 Pro - 1" src="https://user-images.githubusercontent.com/60163079/185417197-cb62ab76-9d2c-4ad8-83f3-88132265c741.png">

Figma link
https://www.figma.com/file/vPO7Go2C0v609Xw2L8eWS8/Website?node-id=917%3A3282

[2022-08-18 14:17] mcturco commented on #383
Here's what the filters look like open:

<img width="390" alt="Filters Open" src="https://user-images.githubusercontent.com/60163079/185417597-faed84ce-68d5-4e27-9af7-5d01fec814e5.png">

[2022-08-18 14:41] mcturco commented on #907
Agreed! I say we should make this change. Thanks for raising this, @derberg 🎉

[2022-08-18 14:45] Jitulteron7 commented on #907
Hi @derberg  I am new to open source I wanted to work on this issue just cloned the project. Is there is any specific thing that I need to keep in mind before contributing

[2022-08-18 14:49] derberg commented on #907
@Jitulteron7 welcome 👋🏼 happy your first contribution will be to AsyncAPI 🍺

Things to remember:
- do not clone this repo directly but fork it, and then follow -> https://github.com/asyncapi/community/blob/master/git-workflow.md to configure it properly on your local machine
- then remember that the PR title should follow specify prefix -> https://github.com/asyncapi/.github/blob/master/CONTRIBUTI

[2022-08-18 14:51] Jitulteron7 commented on #907
thanks @derberg for the quick relpy

[2022-08-18 15:34] mauroBosetti opened #908 "Documenting SQS event-driven APIs with AsyncAPI"
## Post title

Documenting SQS event-driven APIs with AsyncAPI

## Post description

A brief introduction to AsyncAPI using SQS as an example. The post was written after we identified the need to document our asyncchronous API in our team, so it's a real world example. Crossposting from the company website: https://blog.10pines.com/2022/08/17/documenting-event-driven-apis-with-asyncapi/

## Guide

[2022-08-18 15:43] Jitulteron7 commented on #907
hi @derberg  I am getting this error when i run npm run dev

[code]

[2022-08-18 15:49] derberg commented on #907
@Jitulteron7 you are probably using Windows. Sorry, I keep forgetting that we have issues on Windows :(

you will have to work in virtual environment -> https://github.com/asyncapi/website#spin-up-gitpod-codespace

just go to -> http://gitpod.io/#https://github.com/Jitulteron7/website and work on the project from there. It is like local but in the cloud 😄

[2022-08-18 17:16] karancoder commented on #907
Hey @derberg , I was working on solution for this one, but the version current being using website is 3.0.3, while latest version for react-twitter-embed is 4.0.4 (https://www.npmjs.com/package/react-twitter-embed)

Solution for 3.0.3:
[code]
Solution for 4.0.4:
[code]

As you can notice, diff is only where we put tweetLimit. Which way should I proceed?
3.0.3:
<img width="1792" alt="Screenshot 202

[2022-08-18 17:53] karancoder commented on #907
Also, I did some experimentations, and found 2 tweetLimit with ``` overflow-y-auto max-h-120 ``` styling to match the NewsRoomArticle Components styling to be visually appealing. Here is screenshot for the same:

<img width="1789" alt="Screenshot 2022-08-18 at 11 22 13 PM" src="https://user-images.githubusercontent.com/16652376/185461848-323d2c19-40a6-4e8c-b729-078ce8ea9533.png">

[2022-08-18 19:19] derberg commented on #907
I say let's stay with 3.0.3 if we do not need to bump version to have tweet limit option

and yeah, from your showcase looks like we need to limit to 1 and not 2, right?

[2022-08-19 03:33] karancoder commented on #907
2 tweetLimit with overflow-y-auto max-h-120 would also work, if we want to have a fix height (same height as that of NewsroomArticle Component) of TweetTimelineEmbed Component, with minor to no scrolling. Else 1 would be good.

[2022-08-19 04:05] karancoder commented on #907
Kindly Review the PR: https://github.com/asyncapi/website/pull/910 Thank you!

[2022-08-19 08:06] Dindihub commented on #809
@starlightknown need any help with this issue? Where did you reach?

[2022-08-19 08:26] derberg commented on #908
Great topic, great input, please feel free to open up a PR 🙏🏼

[2022-08-19 10:29] m1ner79 opened #911 "Event driven API documentation made simple (Client-Side Rendering)."
## Event driven API documentation made simple (Client-Side Rendering).

## Instructions on how to generate documentation using their AsyncAPI files. Many people use AsyncAPI now, and it is time to provide the community with a guide that shows what options the community has to render documentation on the client-side.

## Guide
Here are a few steps you can follow to write an AsyncAPI blog post:

1.

[2022-08-19 10:45] m1ner79 commented on #911
Sorry my bad. Forgot the link to the article. Here it the link to the [article](https://michals-corner.vercel.app/blog/event-driven-documentation)

[2022-08-19 15:10] Jitulteron7 commented on #907
hello @derberg I have made the changes as per the requirement. It is looking something like this
![WhatsApp Image 2022-08-19 at 8 35 51 PM](https://user-images.githubusercontent.com/58761652/185649847-c8cde58d-e087-4feb-90b3-df3abaf3a282.jpeg)
Thanks for this amazing advice on cloud vscode it is really cool.
should I PR this change.

[2022-08-19 17:06] derberg commented on #911
go ahead mate and open a PR.

folks from community, I helped Michał in this blog with my SME knowledge so I know it is a good article that we are missing.

@m1ner79 open a PR and let's see in review if others can help make article even better 💪

[2022-08-19 19:56] Jitulteron7 commented on #907
hey @derberg  plz check my PR fix:Tweetui #914
results:
![WhatsApp Image 2022-08-20 at 1 26 58 AM](https://user-images.githubusercontent.com/58761652/185697717-7401bbc9-098e-4a72-8525-0ec4dfede514.jpeg)
![WhatsApp Image 2022-08-20 at 1 27 11 AM](https://user-images.githubusercontent.com/58761652/185697727-d28e4fc9-237d-4559-9cb0-492f598f468d.jpeg)

[2022-08-20 10:29] akshatnema commented on #383
## Summary of Meeting held on 19 August 2022

**Participants** - @akshatnema @derberg

### Agenda:

- [x]  Problems with `levenshtein-edit-distance` library
![Screenshot from 2022-08-17 23-23-07](https://user-images.githubusercontent.com/76521428/185740909-1742d341-7e6c-4dc7-a8fc-0fe470adc91e.png)
Library shows that Typescript and Javascript distance score to be 4 whereas NodeJS and node.js score

[2022-08-23 15:45] derberg commented on #780
@smoya so looks like we can only measure adoption of the spec in general, not its specific versions?

[2022-08-23 16:42] smoya commented on #780
Yes, as the IDE plugins are downloading just one schema (containing all of the versions), we can't know which one they are using.
As the Schema Store matching is based on file patterns and not with content from the file, there is no way we could send data in the request made to our servers (For example, a header including the version).

So unfortunately, I'm running out of ideas here. I could open

[2022-08-24 08:16] derberg commented on #780
It is not that bad. For me, most important is to measure how many users we have. So adoption of the spec in general, and not each version. I'm personally skeptical of such measurements, as then people complain that new versions are not adopted forgetting that they also do not use new versions if they do not need them (anyway, not topic for this issue).

If you can open a discussion with Schema Sto

[2022-08-24 11:19] Harish-b-03 commented on #903
Heyy @AceTheCreator @derberg 😃, I would like to contribute in this, specially **Design** and **Engineering** categories.

@AceTheCreator is there any urgent need for some task?, so that I can start with that task and continue with other things. So can you suggest me the first task I should start with?

Thank you 😁

[2022-08-24 11:54] starlightknown commented on #809
sorry kind of lost this one. I made a google doc for this listing all the steps to become a TSC. I wasn't sure where should I add the md file of it

[2022-08-24 12:43] AceTheCreator commented on #903
@Harish-b-03 thanks for your interest, I don't know what your design skills are like, can you help do some designs for this section "Designs/art direction for pages like [ambassador program, event&meetups, community members]"?

I'd be glad to working with you on this :) What do you think?

[2022-08-24 13:12] Dindihub commented on #809
That's okay. I am working on a new one. Thanks.

[2022-08-24 17:12] #782 closed, assigned to nobody

[2022-08-24 18:17] akshatnema commented on #903
Hey @AceTheCreator, I'm back!!. So I see that Lukasz merged your PR in another branch `community` in the repo, but I think we are still missing a PR that should be initialized from the `community` branch to `master`  branch to track the changes. Should I do that for you?
___

Edit: Also, there will be certain merge conflicts right now because we merged the PR #804 which comes up with a lot of chan

[2022-08-25 08:44] fmvilas commented on #780
I will definitely be interested to know if people are really adopting version 3.0 once it's out. Would be cool to get some insights. Maybe it's time to measure it on our tools.

[2022-08-25 09:58] smoya commented on #780
I think it is a crucial metric, even though not the only method to collect data from. I would love to have a metric where, after a release, we could see how downloads for older versions go down in favor of the new one.

Done. No hope at all anyway. https://github.com/SchemaStore/schemastore/issues/2440

Do you mean removing the versions stuff from it?

Do we really need that? With New Relic, we ha

[2022-08-25 13:23] AceTheCreator commented on #903
@akshatnema that will be really helpful. Thanks man

[2022-08-25 15:20] #735 closed, assigned to starlightknown

[2022-08-26 17:30] akshatnema commented on #383
So as discussed in the previous meeting, we are going to change the structure of the final JSON a little bit, to get the category of the tool and hence, in which sub-heading it is to be placed. In case, if a tool has 2 category to define it, we will place the tool in both the category. Here is a example of final JSON.

<details>
<summary>Final JSON Object</summary>

[code]
</details>

Any changes

[2022-08-26 18:14] akshatnema commented on #383
Also, as mentioned above, we are switching to `Fuse.js` to compare the strings in tags, I experimented with it in a sample project and I get better results in it. The only problem exists now that:

If we configure our tag name as `Nodejs` and someone writes it with `.` dot symbol, like `node.js`, this may create problems for us. Else, we are good to go with `Fuse.js` to implement it in comparing t

[2022-08-26 18:32] devarsh10 commented on #383
Is the new page for tools is created or not?
If not, I want to add the new page.
Regards.

[2022-08-26 18:39] akshatnema commented on #383
If not, I want to add a new page.

Hey @devarsh10, this project idea is part of my AsyncAPI Mentorship program. So, I've been assigned to make the `/tools/` page.  It will be better if you look at other issues to contribute to the repository. Thanks!

[2022-08-29 08:15] magicmatatjahu commented on #907
Resolved by https://github.com/asyncapi/website/pull/804

[2022-08-29 08:15] #907 closed, assigned to nobody

[2022-08-29 09:57] Harish-b-03 commented on #903
@AceTheCreator I am not that much good at design, that too from the scratch🥲.

Can you please suggest me some tasks in the `Engineering`? I think I can work on that and parallely try to design.

Heyy @mcturco😁, hope you are doing great!. Can you please help me in this? We got to design some pages or layouts (even I don't have any idea about this, I hope @AceTheCreator can help us 😃)

Thank you

[2022-08-29 10:21] AceTheCreator commented on #903
@Harish-b-03 I would really love to hop on a call with you so that we can brainstorm together and come up with something.

@mcturco has a lot on her plate atm. Lets put something together, then she can help us review it :)

What do you think @Harish-b-03?

[2022-08-29 10:36] Harish-b-03 commented on #903
Ofcourse, I will catch you on slack😉

Ohh ok fine👍🏻😁

[2022-08-29 13:10] derberg commented on #383
only tiny stuff that categories names should be plural, so `generators`. Other than that, all good 👍🏼

@devarsh10 as @akshatnema mentioned, he works on this one. Creating new `tools` view is actually easiest, just have a look at the conversation around other related areas 😄

I suggest you join @AceTheCreator in https://github.com/asyncapi/website/issues/903 where he will need lots of help

great!

[2022-08-29 15:58] mcturco commented on #903
Yeah as @AceTheCreator mentioned, I have some other tasks that I am focused on at the moment, but I will be available for feedback. I just posted the issue in the design channel on slack, so hopefully someone is interested in helping with design guidance!

[2022-08-29 16:16] derberg commented on #780
yeah, until we get it solved, this metric is not helpful, we just need total number

yes we need lifetime data to see over years how numbers change. But I do not mean we need that support on New Relic. Automated script, maybe running on GitHub Actions on a schedule is also fine 👍🏼

yeah, not much help, other than knowing you can clear the cache on demand. Source code indicates it is based on `etag

[2022-08-30 13:12] akshatnema commented on #383
@derberg Do you want to say that `category` field should be renamed as `categories` or we should always write the value inside field in plural form (as `generators`)?

[2022-08-30 13:22] derberg commented on #383
@akshatnema no opinion, but maybe `categories` is better

[2022-08-31 20:00] mcturco commented on #532
I believe this issue is resolved as per #808 😄

[2022-08-31 20:00] #532 closed, assigned to nobody

[2022-09-01 05:12] #724 closed, assigned to nobody

[2022-09-01 05:20] akshatnema commented on #383
## Summary of Meeting held on 31st August 2022

Participants - @akshatnema @derberg @magicmatatjahu

### Agenda

- [x] Having proper GET request in Github
- [X] the difference in the format of the `.asyncapi-tool` file.

### Meeting Notes

- We came up with previous GET request only, on the improvement we will filter the results based on their `name` field which should be `.asyncapi-tool`  only.
-

[2022-09-02 04:52] Jitulteron7 commented on #403
@derberg  Hi sorry I was inactive for some days because of a hackathon I was unable to continue.
Is this issue still active ?

[2022-09-02 04:56] Jitulteron7 commented on #809
hi can I work on this issue ?

[2022-09-05 10:27] derberg commented on #403
@Jitulteron7 no worries mate. I don't think anyone is working on this one

[2022-09-05 10:29] derberg commented on #809
@Jitulteron7 it is already handled by @Dindihub in this PR first -> https://github.com/asyncapi/community/pull/449/files

[2022-09-05 13:09] derberg opened #927 "Article on how are we using Digital Ocean at AsyncAPI"
## Post title

Hosting community services on Kubernetes with Digital Ocean

## Post description

This article needs 2 sections:
- clearly appreciate the support given to us by Digital Ocean. We recently received additional funding valued `$1200` that will secure our deployments for a few months. So support of DO continues since it started last year.
- describe how are we using DO. Point out our K8

[2022-09-06 14:03] derberg commented on #204
@Leamsi9 @AceTheCreator in regards to use cases and case studies, this should be interesting for you:
- https://github.com/orgs/asyncapi/discussions/187
- https://github.com/asyncapi/website/pull/921

[2022-09-06 19:23] mcturco commented on #403
Adding design labels here as I think it could be useful to have a designer in this issue to help with the visual design of the diagram

[2022-09-07 11:25] Mayaleeeee opened #930 "Community cards implementation."
I'm interested in contributing to the community cards implementation. More of this can be found #903

1. I feel that in order to make the cards more accessible and easier for users to understand what each card means without looking at the names, we should incorporate an illustration or picture that describes the cards.
2. For the community cards, what does it entail?? How does it work?

@AceTheCre

[2022-09-07 14:38] derberg commented on #403
@Florence-Njeri since you are working on more complex diagram for generator documentation, you think you are able to provide a much smaller, condensed, easier version of it, with mermaid, as input

[2022-09-07 16:29] mcturco commented on #383
I personally don't feel like its super necessary to add the maintainer info at the card level unless we had links to contact them, at which point I think it is excessive. I think that people can get all of that information from github once they click through.

---

Other than that, I did just remember that I forgot to add the indicator to show whether the tool is free or paid, and I added an Expan

[2022-09-07 17:17] akshatnema commented on #383
You added an `Expand` option in the description. But if a user clicks on that option, will the Tool card height will increase according to the description? If this is also, the cards aligned with that card will also get elongated due to the flex property in them. So, should we add a option of `Expand` in the description?

[2022-09-07 17:21] mcturco commented on #383
Crap. I just realized that too the second I posted this hahaha. Maybe we could instead make it an absolute-positioned popover and the action text where it says "Expand" currently can switch to "Show more" or something. Not sure if you can picture that

[2022-09-07 17:27] mcturco commented on #930
Great idea, @Mayaleeeee! Go go go 🚀

@AceTheCreator You may want to give some direction on the intent of these cards from a UX standpoint. Why did we add them? What purpose are they serving? How will they help visitors get more information about the community?

[2022-09-07 17:27] akshatnema commented on #383
So, do you want to picturise the Tool card as, if `Show more` is being clicked, we will have a popup window in absolute, with a backdrop background? This popup window will show more details regarding the tool, right?

[2022-09-07 18:07] Florence-Njeri commented on #403
Hey @derberg, yes sure

[2022-09-07 18:36] mcturco commented on #383
This is what I am thinking:

https://www.loom.com/share/540c244820034fbcbaf4d33516c6b18b

[2022-09-08 08:40] akshatnema commented on #383
Fine :+1: , I got what you want to say.

___
@derberg As we can see in the design, we are no more concerned with the maintainers' list of the tools repo, should we remove it from the structure of the `.asyncapi-tool` file and final JSON of the tools list?

[2022-09-08 08:54] Mayaleeeee commented on #930
Thanks @mcturco

[2022-09-08 09:23] AceTheCreator commented on #930
Thanks, @mcturco
@Mayaleeeee  I'm really glad you're interested in implementing this.

Firstly, If I get you correctly @Mayaleeeee the first bullet point you indicated is about enhancing the existing cards we have on the community landing page that links to other pages.

Secondly, the goal of the community card is to make all contributors visible. A case study is this...
We are going to have a pag

[2022-09-08 18:41] Mayaleeeee commented on #930
That's nice.
Thanks @AceTheCreator

[2022-09-09 08:37] akshatnema opened #937 "Lazy Loading should be applied on Blog page"
### Reason/Context

- Why we need this improvement?
  Presently, the `/blog` page loads all the blog posts and images at a single time, which makes the page quite big and unresponsive for few seconds while scrolling down.

- How will this change help?
  This will improve the performance and the loading time of the page in a huge aspect.

### Description

- What changes have to be introduced?
  We

[2022-09-09 13:42] mcturco commented on #937
Agreed! I think a `Load more` button centered at the bottom will be the best solution. Auto lazy loading always makes me annoyed if I want to scroll below the blog posts, for ex: to get to the footer

[2022-09-09 20:35] akshatnema commented on #383
@derberg @magicmatatjahu I'm not sure if you have read my previous comment https://github.com/asyncapi/website/issues/383#issuecomment-1240410345 or not. Do check that out also and give your opinion. Also, I have some queries:

- We decided that we will have final JSON file created by backend and it's format will be on the basis of the categories. In this case, we have to specify what will be cate

[2022-09-10 16:02] akshatnema commented on #383
@mcturco as I can see in the design, you have shown the `Free` or `Paid` tag on a tool by making a tag-type component placed over the icon. But if a case arrives that there is no tool icon, what should be the card design then?

[2022-09-11 18:25] akshatnema commented on #383
@derberg @magicmatatjahu I have a suggestion in my mind right now. We discussed that we will have specified background color and border color for each tag we will be using in dashboard. So, initially, we came up with the idea during the meeting that we create the final JSON in the backend side and then do the assigning of tags with colors in the Frontend side using Fuse and the defined color-schem

[2022-09-12 11:22] thulieblack opened #941 "[📑 Docs]: new message concept doc"
### What Dev Docs changes are you proposing?

# NEW /message concept doc

Create a new message concept doc, as part of the GSoD.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-12 15:07] mcturco commented on #383
Good point @akshatnema!

What if we do something like this:

<img width="946" alt="Screen Shot 2022-09-12 at 11 06 25 AM" src="https://user-images.githubusercontent.com/60163079/189689483-6a471146-eedf-4e1b-843f-ea33963c9cb8.png">

I am also thinking that it might be better just to leave the avatar out altogether. What do we think about that?

[2022-09-12 17:32] akshatnema commented on #383
Ahh, this can be a good way but I can't decide of my own :sweat_smile:. At the initial, I also didn't came up with the inclusion of tools icon but @derberg suggested me in the meeting to include it. I still ask, whether we should have it? Also, I like the simplified design of right side, and the `FREE` tag is also properly placed according to me.

[2022-09-12 23:18] mcturco commented on #383
Yeah I am just wondering how many will actually have an avatar, and even then it might look a little cluttered. I would say if we don't need them then we should remove it and go with new card (on the right in the screenshot above)

[2022-09-14 15:42] vinodpahuja opened #946 "[📑 Docs]: Add new tool : Validator | AsyncAPI Parser Java"
### What Dev Docs changes are you proposing?

I would like to add new validator tool AsyncAPI Parser Java.
https://github.com/AsyncAPITools/parser-java-wrapper

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-15 10:52] jonaslagoni opened #949 "Update Modelina dependency to use `next`"
#### Reason/Context
Currently, Modelina is not compatible with website environments, however, the `next` version is. Therefore to fix this issue we need to upgrade the version from `"@asyncapi/modelina": "^0.49.0",` to `"@asyncapi/modelina": "^1.0.0-next.33",`.

I don't think we have to make any other adjustments to the code for it to work, but I might be mistaken! If I am mistaken then feel free

[2022-09-15 10:52] jonaslagoni commented on #949
Can someone label this as a good first issue? 🙂

[2022-09-15 11:23] magicmatatjahu commented on #937
Because of the way website rendering works nowadays, I don't think it can be easily done with a simple button. Even if we add the button, it seems to me that NextJS will still render all the HTML on the server side (in stage of static site generation) - that is, even though the user will not see all the blog posts, NextJS will still render them, but it will "hide" them, so the network tab will loo

[2022-09-15 12:59] magicmatatjahu commented on #383
@akshatnema Yeah, you should compute colors in the backend.

About categories and workflows, please wait for @derberg answer.

[2022-09-15 15:13] derberg commented on #383
what categories and workflows? 😄

@mcturco yeah, every dev has avatar, but I do agree, getting these in the UI will be hard, especially if there are many maintainers. The only solution is to have `maintainers` icon and on click getting a modal with all details. But IMHO this can be done as a followup from initial implementation

[2022-09-15 15:14] mcturco commented on #383
@derberg Agreed!

[2022-09-15 19:56] derberg commented on #949
@jonaslagoni fixes here are still not enough. Cause if you just switch here to `next` releases, then still modelina will push main releases whenever they show up.

in modelina in `next` branch you have bump workflow that reacts on master only -> https://github.com/asyncapi/modelina/blob/next/.github/workflows/bump.yml which is fine, if you do not want RC releases bumped anywhere automatically. It

[2022-09-15 21:15] jonaslagoni commented on #949
Riiight makes sense 👍

So this is still relevant as I see it cause we need to update it. Once the pre-release is out we can switch over no problem, and we don't necessarily have to bump it, so no need to change the workflow.

Regarding the bump workflow, if the website uses the pre-release build the bump workflow should not bump the website when new changes on the master branch come out, but it do

[2022-09-16 13:01] akshatnema commented on #937
Yeah Server side rendering can be an issue, but not sure about it. We can handle the Nextjs lazy loading images using:
- https://dev.to/dephraiim/lazy-loading-images-in-nextjs-3am8
- https://betterprogramming.pub/lazy-loading-in-next-js-simplified-435681afb18a

I'm not sure about how to use nextjs dynamic import for our blog posts but if someone knows how to implement, then go with it - https://be

[2022-09-16 13:10] akshatnema commented on #383
I'm talking about the `categories` field in the `.asyncapi-tool` file, which is inside the `filters` and secondly, I was talking about the github action we will use to update the `tools.json` file via the functionality added inside the `scripts` folder.

[2022-09-16 13:20] vinodpahuja opened #954 "[📑 Docs]: Tutorials | Getting Started | Coming from OpenAPI | Interactive Comparison"
### What Dev Docs changes are you proposing?

I came from OpenAPI looking for a similar thing to document my JMS/AMQP bases applications.
I found this comparison quite useful. Also I was curious to know how it would be like if we apply some interaction to it.
Meaning, what if we can change
this https://asyncapitools.github.io/OA2AA/OA2AA.html
to something like
this https://asyncapitools.github.io/

[2022-09-16 19:09] aschrijver opened #955 "[Docs Bug 🐞 report]: Right-panel ToC identation / selection issues"
### Describe the bug you found in AsyncAPI Docs.

In Firefox latest the ToC indenting of the specs isn't right. Top-level sections are indented and when selecting "Specification" instead the previous heading "Bindings" is highlighted.

### Attach any resources that can help us understand the issue.

Screenshot from Firefox 104.0.1 on Ubuntu 14.04:

![asyncapi-toc-indenting-issue](https://user-imag

[2022-09-19 06:17] aeworxet commented on #937
To achieve only lazy loading of images, native browser functionality can be used.

MDN documentation reads:
*The `loading` attribute on an `<img>` element ... can be used to instruct the browser to defer loading of images/iframes that are off-screen until the user scrolls near them.*
[code]
https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading#images_and_iframes
(reference to HTML

[2022-09-19 17:23] quetzalliwrites commented on #955
@magicmatatjahu @derberg do you folks think is this a dev/code bug? Unsure how to tackle this one 😅

[2022-09-19 17:47] quetzalliwrites commented on #880
closing cause https://github.com/asyncapi/website/pull/882/ was already merged by @magicmatatjahu

[2022-09-19 17:47] #880 closed, assigned to quetzalliwrites, magicmatatjahu

[2022-09-19 17:57] #797 closed, assigned to quetzalliwrites, thulieblack

[2022-09-20 06:07] vinodpahuja commented on #946
Done
https://github.com/asyncapi/website/pull/956

[2022-09-20 06:07] #946 closed, assigned to nobody

[2022-09-20 17:09] mcturco opened #960 "Typography styles inconsistencies on Roadmap page"
#### Describe the bug
On /roadmap there are 2 different styles for the subheading in blue as shown in the screenshot below:

![Screen Shot 2022-09-20 at 12 49 46 PM](https://user-images.githubusercontent.com/60163079/191317922-99bb12c1-a979-4d0e-91ee-e170e7a7b5e8.png)

#### Fix
- Need to ensure that typography components are being used here, as well as checking to see if the new tailwind version P

[2022-09-20 17:11] fmvilas commented on #960
That was quick! ⚡

[2022-09-20 17:13] mcturco commented on #960
@fmvilas haha i started reporting the issue while we were in the community meeting so that I wouldn't forget about it!

[2022-09-20 20:15] mcturco commented on #960
So I was going to start doing this one, but my access token is not working right to get the roadmap built properly. Perhaps someone can help look into this?

Here is the command line errors:

![Screen Shot 2022-09-20 at 4 13 35 PM](https://user-images.githubusercontent.com/60163079/191355815-a09c7ea9-7308-43bd-a79c-addefa8bb7c3.png)

[2022-09-21 07:41] derberg opened #962 "[📑 Docs]: Improve server concept"
### What Dev Docs changes are you proposing?

I suggest that in https://www.asyncapi.com/docs/concepts/server

the part where we have bullet points like `Clients and Server` and `Broker Centric`, we actually turn them into sections

so

[code]

I think that with current layout of the page, these bullets do not fit, and are not so visible. Advantage of using heading is that they will also end up in

[2022-09-21 08:00] thulieblack commented on #962
Actually this makes sense

[2022-09-21 14:17] derberg commented on #955
@alequetzalli it is definitely a code bug, something ain't right with scroll spy

[2022-09-21 14:24] derberg commented on #955
it is not on firefox only, but chrome and brave too
just when you click on `Specification` a tiny part of the `Bindings` section is still in focus, like one millimeter, and thus `Binding` is interpreted as first visible section

I'm not 100% sure fix should go around scroll spy, or maybe rather we should just increase margin between sections 🤔

[2022-09-21 16:11] derberg commented on #383
can be done as you do it now, separate workflow, just make sure there is a 10-30min difference between the new workflow schedule and tools, as both end up with PR, so yeah, we just need to make sure they are not created at the same time, as they can create timeouts

just the ones that are in current list on website:
- code first
- code generators
- converters
- validators
- directories
- documenta

[2022-09-21 16:23] akshatnema commented on #383
The workflow has been designed in the PR. You can review it.

[2022-09-21 16:30] derberg commented on #383
@akshatnema looks perfect

[2022-09-22 06:50] #908 closed, assigned to nobody

[2022-09-22 10:41] fmvilas commented on #960
Yeah, you need a token with more privileges I guess. In any case, you don't need it to fix this error. Simply head over https://github.com/asyncapi/website/blob/master/package.json#L6 and replace it with `"dev": "next -p 3000",`. That should give you a development environment enough to check for this page style.

If it still fails, **aside from the above**, also create a `roadmap.json` file on roo

[2022-09-22 11:06] Jitulteron7 commented on #949
hi @jonaslagoni can I work on this issue

[2022-09-22 11:11] jonaslagoni commented on #949
Of course, no need to ask for permission 👍

[2022-09-22 15:34] derberg commented on #937
I think the best is to expose `posts.json` or its variation (simplified, with blogs only, and paging by default) in `public` folder.

And build `/blog` view on the client side by fetching all needed data from `.json` from asyncapi.com/resources/blog`. Load first 20 and on scroll another 20, etc.

Filter would also need another smaller `.json` version with data needed for filter only.

[2022-09-22 15:35] mcturco opened #970 "[📑 Docs]: UX feedback for improving mobile experience"
### What Dev Docs changes are you proposing?

@skatikia on the Postman product design team reached out to me after going through the docs on mobile and pointed out some areas that we can potentially improve the mobile experience.

Here are the points he mentioned:
- Can we move the `Found an error?` message to the bottom of the page instead of keeping it below the main header? Feels odd as I haven

[2022-09-22 18:35] mcturco commented on #960
Thank you! It worked with the `roadmap.json` file that was empty before I pasted the content you shared. Works now!

[2022-09-23 01:33] Mayaleeeee commented on #930
Here is an update on the contributions' page I'm working on, folks. Please let me know your thoughts.
@mcturco @derberg @AceTheCreator

![Card 1](https://user-images.githubusercontent.com/105395613/191877426-ecc98f90-d3d7-42f0-8af7-cca6c434ab28.jpg)

![Card 2](https://user-images.githubusercontent.com/105395613/191877444-fe53b475-21b1-4db6-9f7b-0d6bed1f344e.jpg)

[2022-09-23 09:43] #960 closed, assigned to nobody

[2022-09-23 15:15] mcturco commented on #930
@Mayaleeeee This is looking great so far! I think the second option works better, but I am wondering if we really need the colored dots and if we can take down the intensity of the drop shadows. We should also add a light grey border and rounded corners to match other UI elements on the website.

I would also use the `secondary/500` as an accent color, as this is what I have been doing on the rest

[2022-09-23 18:37] quetzalliwrites opened #975 "[📑 Docs]: new consumer concept doc"
### What Dev Docs changes are you proposing?

# NEW `/consumer` concept doc
As part of gsod, we need to build out the new **Concepts** section in our docs.

<img width="300" alt="Screen Shot 2022-05-25 at 6 56 55 PM" src="https://user-images.githubusercontent.com/19964402/170399696-91ce63d6-ffc2-4f1a-b6a7-e59525c33d27.png">

## Each concept page should be planned w/ an agnostic outline
- Consumer

[2022-09-23 18:38] quetzalliwrites commented on #975
@Annysah here you go!

[2022-09-23 18:44] Annysah commented on #975
Thanks! @alequetzalli

[2022-09-23 19:21] Mayaleeeee commented on #930
Alrighty @mcturco , thanks for the feedbacks.

I'll will definitely work on it and get back soon🥰🥰.

[2022-09-23 19:29] #962 closed, assigned to nobody

[2022-09-23 19:48] #861 closed, assigned to jemacineiras

[2022-09-23 19:48] quetzalliwrites commented on #793
as a community, we ended up deciding against making this change... closing 😄✌🏽

[2022-09-23 19:48] #793 closed, assigned to quetzalliwrites, Annysah

[2022-09-23 19:53] quetzalliwrites opened #976 "[📑 Docs]: new application concept doc"
### What Dev Docs changes are you proposing?

# NEW `/application` concept doc
As part of gsod, we need to build out the new **Concepts** section in our docs.

<img width="300" alt="Screen Shot 2022-05-25 at 6 56 55 PM" src="https://user-images.githubusercontent.com/19964402/170399696-91ce63d6-ffc2-4f1a-b6a7-e59525c33d27.png">

## Each concept page should be planned w/ an agnostic outline
- applic

[2022-09-24 10:10] akshatnema commented on #529
@mcturco do we still need to implement this on the website?

[2022-09-24 18:24] akshatnema commented on #383
Hey @mcturco, can you please update the tool card in the figma according to the right side card in image https://github.com/asyncapi/website/issues/383#issuecomment-1243881982. After having a discussion with @derberg and @magicmatatjahu https://github.com/asyncapi/website/pull/939#discussion_r971890333, we decided to exclude the field of `iconUrl` from the schema and hence, we will not be extracti

[2022-09-26 07:20] derberg commented on #529
I don't think we have anyone in the community that can drive this forward atm, so I suggest we close it for now and reopen whenever it is needed

[2022-09-26 07:27] Mayaleeeee commented on #529
I'd love to work on this though @derberg , that's if it's still open.

[2022-09-26 07:39] derberg commented on #529
@Mayaleeeee but you mean on design or something else? The problem here is not getting new sub page created, but actually coordinating user testing and everything around it.

There is a new bigger topic that needs fresh design - case studies, and not only -> https://github.com/asyncapi/website/pull/921. So if you are looking for a design topic, that has no concept now and no owner, this is the righ

[2022-09-26 08:11] Mayaleeeee commented on #529
Ohh... Okay, that's fine.
I'll check it out.

[2022-09-26 08:15] derberg commented on #930
I ❤️  desing

I'm more concerned how we can make it work from data point of view. It will be super difficult to classify contributors by "Developers", "Designers", "Technical Writers" other than manual 🤔

Other data, like contributions, issues, forks -> is possible, as this data is easy to access from API and archives.

Regarding social media -> GitHub do not enable users to specify their LinkedIn

[2022-09-26 08:16] derberg commented on #529
@Mayaleeeee lemme know if you need more details.

[2022-09-26 12:51] derberg commented on #954
@vinodpahuja that looks pretty nifty. You mean you would like to plug it into asyncapi docs?

I always dreamed to have something like http://openapi-map.apihandyman.io/ for AsyncAPI. We even had some interest but no further implementation -> https://github.com/asyncapi/community/discussions/55. Generating it from JSON Schema should not be that hard, more complicated would be design itself I think,

[2022-09-26 16:46] Mayaleeeee commented on #930
Okay @derberg
Are you suggesting that we do away with the categories and simply put all images of each contributor?

And regarding the social media, we just need to delete the linkedln icon right?

[2022-09-26 16:48] nelsonmic opened #980 "[📑 Docs]: new protocol concept doc"
### What Dev Docs changes are you proposing?

# NEW /protocol concept doc
Create a new protocol concept doc, as part of the GSoD.

## Each concept page should be planned w/ an agnostic outline
Protocol definition
Why do we need protocol?

## Each concept page should include at least 1 engineering diagram that helps users visualize each spec term

### Code of Conduct

- [X] I agree to follow this p

[2022-09-26 17:12] derberg commented on #930
yes, at least for the first iteration. It is because I personally do not see how technically we could get these categories working. I mean where would we take it from 🤔

I know that we have PR titles with `docs:` for example, but it doesn't mean contributor is a tech writer.

Although I love the idea of highlighting to the community that contributors are not only developers, but just do not see ho

[2022-09-28 07:01] akshatnema commented on #383
@mcturco since we have so many filters in a single dropdown, should we have a `Apply` button at the bottom to apply the filters when the user is final about the filters he wants to make? Presently, according to UI, if a user selects a filter, the cards will be sorted automatically on each selection.

![Screenshot from 2022-09-26 23-04-47](https://user-images.githubusercontent.com/76521428/19270887

[2022-09-30 08:07] asos-andrewpotts opened #993 "[📑 Docs]: add new tutorial Hello World for producer application"
### What Dev Docs changes are you proposing?

Regarding the [Hello World example](https://www.asyncapi.com/docs/tutorials/getting-started/hello-world):

The description around this example confused me a little bit.
Why is this example written in the eyes of the subscriber? It starts with _"Let's define an application that's capable of **receiving**"_.

Then the Async API document uses the word "pu

[2022-09-30 08:16] asos-andrewpotts commented on #993
On reading the document again, I suppose I'm coming from a pub/sub perspective where the publisher documents the events that it publishes on topics and then one or more subscribers subscribe to them. In the pub/sub scenario subscribers don't specify the events they expect to receive as they have no choice over the matter; they are subscribing to another system's events.

The Hello World example is

[2022-09-30 18:11] quetzalliwrites opened #994 "[📑 Docs]: add 5th content bucket to docs for guides"
### What Dev Docs changes are you proposing?

Guides are more conceptual, discussing how stuff works from a high-level perspective. (This is differs from tutorials, which
 are meant to take a user from **Point A --> Point B.**

Part of the Docs roadmap includes adding a [5th content bucket for `Guides`](https://diataxis.fr/how-to-guides/)guides, per the Diátaxis framework we're currently using. No

[2022-09-30 20:38] quetzalliwrites commented on #994
OSS icons we can pick from:
- https://remixicon.com/
- https://iconoir.com/
- https://thenounproject.com/browse/icons/term/open-source/?iconspage=1

I think the color and icon can be up to you, @magicmatatjahu? 🤔  Since this is for `guides`, maybe an icon that looks like an open book 📖   or map 🗺 ?

[2022-10-03 07:42] vinodpahuja commented on #954
@derberg good to know the effort in this direction.
yes, I would love to see in live in docs.
and yes, it would be great to generate it dynamically from json schema.
For me ( being a java developer), I have just tried to add little spice to plain markup taken from [coming-from-openapi](https://www.asyncapi.com/docs/tutorials/getting-started/coming-from-openapi).
Looking at [source](https://github.

[2022-10-03 10:24] derberg opened #998 "[📑 Docs]: Make sure `asyncapi: 2.5.0` is mentioned in all docs"
### What Dev Docs changes are you proposing?

All docs from https://www.asyncapi.com/docs/

- text
- code snippets with example yaml files

Should mention 2.5 and not other, older versions of the spec

So documents like https://www.asyncapi.com/docs/tutorials/getting-started/hello-world and others
- should have `asyncapi: 2.5.0` instead of `asyncapi: 2.2.0`
- should write `and the version (2.5.0)`

[2022-10-03 10:24] derberg commented on #998
/gfi docs

[2022-10-03 10:27] toukirkhan commented on #998
!assign me

[2022-10-03 10:42] kirtanchandak commented on #998
Can I work on this issue ?

[2022-10-03 10:50] derberg commented on #998
Hi folks, we do not assign issues here. It is enough to write a comment.

@toukirkhan you were first, feel free to pick it up.

tip: [contributor guide for hacktoberfest participants](https://github.com/orgs/asyncapi/discussions/483)

[2022-10-03 15:28] toukirkhan commented on #998
The docs where nothing is mentioned about the version I don't have to change it right?

[2022-10-03 15:58] toukirkhan commented on #998
Do I need to change the version mentioned in the demo animation in landing page @derberg ?

[2022-10-03 16:58] derberg commented on #998
@toukirkhan I forgot about it, thanks for changing the animation too 🙇🏼

[2022-10-03 17:08] akshatnema commented on #383
## Summary of Meeting held on 3rd October 2022

Participants: @akshatnema @Mayaleeeee

### Agenda
- [x] Discuss the project and it’s goal
- [x] Discuss the addition of Apply Filters button
- [x] Discuss on adding all Languages and Technologies tags in Figma
- [x] Any suggestions regarding UI in Figma

### Meeting Notes

- Explained most of the parts of the project to @Mayaleeeee. Hope she has unde

[2022-10-04 16:40] akshatnema opened #1000 "[Docs Bug 🐞 report]: Automate the Prev and UpNext buttons for Docs"
### Describe the bug you found in AsyncAPI Docs.

Every time we update the docs or add a new doc inside documentation, we have to add `Up Next` and `Back` buttons for each page or update them to the latest. Make the buttons in such a way that it automates itself to point to next and back pages sequentially according to the Doc tree.

Remove the `DocsButton` component from each Doc page and add the

[2022-10-04 16:46] toukirkhan commented on #1000
So the upnext in https://www.asyncapi.com/docs/tutorials/streetlights-interactive should be linked to https://www.asyncapi.com/docs/tutorials/streetlights ?

[2022-10-04 16:48] manavdesai27 commented on #1000
Hey can I contribute to this issue? @akshatnema

[2022-10-04 16:54] akshatnema commented on #1000
There are many changes related to this and also regarding the overview pages for each subtopic. All of them will be covered in this issue.

Surely @manavdesai27, you can contribute to the issue. Let us first have approval from @derberg and @alequetzalli.

[2022-10-04 16:55] toukirkhan commented on #1000
basically what I can observe over here is that we need to provide buttons in the overview section and correctly the buttons in every page. Right?

[2022-10-04 16:58] quetzalliwrites commented on #1000
Hey @akshatnema this is actually 3 different bugs listed under one issue... [**Can you at least create 3 tasks in this same issue**](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists) to help make it more digestible? 😜🙌🏽 I also recommend thinking of a new title that better encapsulates the 3 items you discuss. 👍🏽👍🏽

As for adding Prev/Next buttons on each content bu

[2022-10-04 17:05] akshatnema commented on #1000
Yes, exactly, but we have to make sure that whether it is needed on the `Overview` page or if we should have another way of cards/buttons to link all pages under it.

Hmm, if I look into the issue, I don't think it can be converted into the more digestible issues, because with each page, there is only 1 line page and making a different issue for each line page, I won't prefer that. Rest I will lik

[2022-10-04 18:52] toukirkhan commented on #1000
@manavdesai27 working on this one?

[2022-10-04 19:03] manavdesai27 commented on #1000
Yes, I'm working on this issue.

[2022-10-04 19:06] toukirkhan commented on #1000
@manavdesai27 okay you take this one.

[2022-10-05 05:07] manavdesai27 commented on #1000
Where should I point the `UP Next` button of `Reference Overview` to, or should I even keep an Up Next button for Reference? Currently I am pointing it to `Specification v2.5.0 `as Specification page has a url for the same. @akshatnema

I am attaching the screenshot below for your reference:

![Screenshot from 2022-10-05 10-36-35](https://user-images.githubusercontent.com/74018438/193985514-dfe392

[2022-10-05 15:00] #798 closed, assigned to quetzalliwrites, nelsonmic

[2022-10-05 15:07] #998 closed, assigned to nobody

[2022-10-05 18:27] magicmatatjahu commented on #1000
Take into account that bugs will sooner or later appear again, because the more docs will arrive, so I would advise to go in the direction of automatically checking the prev/next pages and generate prev/next button based on that. I don't remember exactly if we already have the necessary metadata during rendering, but we can always generate it at generation step from docs mdx to JSONs.

[2022-10-06 05:16] akshatnema commented on #478
Removing stale tag from this, since I may work on this in the future. I have some solutions regarding this.

[2022-10-06 05:39] akshatnema commented on #1000
@magicmatatjahu We don't have any predefined sequence or tree specified in the codebase. So, how can we automate the prev and next buttons according to the docs tree specified right now?

[2022-10-06 07:17] #994 closed, assigned to quetzalliwrites, magicmatatjahu

[2022-10-06 09:19] thulieblack opened #1006 "[📑 Docs]: New channel concept doc"
### What Dev Docs changes are you proposing?

# NEW /message concept doc

1. Create a new channel spec term concept doc, as part of the GSoD.

2. Include an engineering diagram that explains the spec term

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-06 11:08] derberg opened #1008 "Provide design and implement first simple case study UI"
#### Reason/Context

We started collecting data -> https://github.com/asyncapi/website/pull/921/files
Now we just need to display it in the UI too.

#### Description

##### Top nav

Case studies it not `docs` only related and not `community` only related. Case studies are something in between, but kinda separate 😄

In other words, IMHO, we need new item in the top navigation, between `Docs` and `C

[2022-10-07 05:47] Mayaleeeee commented on #1008
I would love to work on the UI part for the case study@derberg

[2022-10-07 06:25] akshatnema commented on #1008
@derberg I always wonder why you consider the website repository built in Typescript, although we have 98.5% of code written in Javascript :laughing:.

I just want to inform you that we already have a big nav with various options and menus specified in it, which makes the mobile navbar extremely long and scrollable. Do you have any other alternative? From my perspective, you can add an option of `

[2022-10-07 10:15] AceTheCreator commented on #1008
@Mayaleeeee @derberg I'd recommend you take a look at Hasura's case studies UI for inspiration https://hasura.io/case-studies/.

Kindly share your thoughts :)

[2022-10-07 10:26] Mayaleeeee commented on #1008
This as really nice @AceTheCreator. Thank you🥰

However, I would love to have more examples for inspiration.

And here are the ones I have seen so far

[https://knative.dev/docs/about/case-studies/puppet/]()

[https://www.hashicorp.com/resources/making-movie-magic-with-hashicorp-nomad]()

[2022-10-07 11:51] AceTheCreator commented on #1008
Let me know if any help is needed :)

[2022-10-08 00:51] quetzalliwrites opened #1010 "[📑 Docs]: new tutorial: "how to generate code with asyncapi""
### What Dev Docs changes are you proposing?

We're going to update the Streetlights tutorial by converting it into 4 separate NEW tutorials:
- create AsyncAPI document
- validate AsyncAPI document
-  **generate code**
- validate code messages/events

This issue is to take care of the "how to generate code with asyncapi" tutorial.

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-10-08 00:52] quetzalliwrites commented on #1010
Here we goooo @Annysah, this one's for you! :D

You may remember this change is because of what we're talking about in Slack:

From the above list, I am going to assign you @Annysah the following tutorials instead:
- create AsyncAPI document
- generate code

We already have the content for those two mini tutorials from our current Streetlights tutorial so it should be easy for your to flesh out th

[2022-10-08 01:01] quetzalliwrites commented on #872
Heyooo @Annysah, we're actually going to give this **tutorial** to @starlightknown because she will turn it into a **Studio** tutorial. 😄

You may remember this change is because of what we're talking about in Slack:

From the above list, I am going to assign you @Annysah the following tutorials instead:
- create AsyncAPI document
- generate code

We already have the content for those two mini tut

[2022-10-08 01:09] quetzalliwrites commented on #850
Heyooo @Annysah, we're actually going change the direction of this **tutorial** and assign this one to you; you may remember this change is because of what we're talking about in Slack:

From the above list, I am going to assign you @Annysah the following tutorials instead:
- create AsyncAPI document
- generate code

We already have the content for those two mini tutorials from our current Streetl

[2022-10-08 01:16] quetzalliwrites commented on #881
heyooo @starlightknown, we're going to update the Streetlights tutorial by converting it into 4 separate NEW tutorials:
- create AsyncAPI document
- validate AsyncAPI document
- generate code
- validate code messages/events

From the above list, I am going to assign you @starlightknown the following tutorials:
- validate AsyncAPI document
- validate code messages/events

😄✌🏽

[2022-10-08 23:24] Annysah commented on #850
Thanks @alequetzalli!

to be double sure, the scenario in this case will be the "Streetlights" right?

[2022-10-08 23:28] Annysah commented on #1010
Noted @alequetzalli

[2022-10-10 07:44] derberg commented on #1008
@akshatnema ah, they're pushing this crap (TS) all over the place now, and it just got into my brain too deep 😆

We can always get rid of `Jobs` as nobody is really using it 😄

@Mayaleeeee go ahead ❤️ just remember to have it aligned with rest of the website, and the brand

[2022-10-11 08:28] devarsh10 commented on #383
Okay.
Thanks for replying.

On Sat, 27 Aug 2022, 12:09 am Akshat Nema, ***@***.***> wrote:

[2022-10-11 08:43] derberg commented on #125
this is still valid.

for the context, we moved from Katacoda to Killercoda in the meantime -> https://github.com/derberg/asyncapi-killercoda-interactive-tutorials

[2022-10-11 08:52] derberg commented on #993
it all depends on what is your use case for AsyncAPI. Is it only docs from consumer's point of view. Or maybe you are interested in code generation. Or maybe you have a WebSocket API where you send and receive messages. There is also a request/reply pattern in pub/sub, where you want to know what message you can sent to a services, and where you should specify where the reply should be sent. So ye

[2022-10-11 08:56] derberg commented on #602
still valid

[2022-10-11 09:02] imabp commented on #602
@derberg i wish, if we could assign priorities here...This is of lower priority, as more features are being developed in CLI.

[2022-10-11 09:49] AceTheCreator commented on #954
@vinodpahuja I'd love to collaborate and help you with this. What do you think?

[2022-10-11 10:51] derberg commented on #382
@AceTheCreator I think you are handling it now in your new community view, right?

[2022-10-11 10:53] AceTheCreator commented on #382
Yes!

[2022-10-11 16:31] derberg commented on #1000
@akshatnema during the restructuring of docs @alequetzalli also handled netlify redirects configuration for old paths, to make sure they still work. This is why it works even if path is wrong 😄

we have `weight` metadata, so next after the document with `weight: 40` should be the document with `weight > 40`, and in case there is no such, take the first document with the smallest weight from next f

[2022-10-11 17:26] akshatnema commented on #1000
But tbh, it's not a good way right now. Because if you try to access the page in development mode, it broke down giving a 404 page as redirection is not set there.

Ok, let's make this issue specific to `automation` where we will try to make these buttons understand the Up Next and Previous links for a specific page. I create another issue for these small changes and give it a `hacktoberfest` tag.

[2022-10-11 17:39] akshatnema opened #1014 "[Docs Bug 🐞 report]: Correct the links of navigation buttons in Docs"
### Describe the bug you found in AsyncAPI Docs.

Recently, I noticed that there are certain pages in the documentation which are connected wrongly with the adjacent/next pages in the UpNext and Previous buttons.

For ex: https://www.asyncapi.com/docs/tutorials/streetlights-interactive links the pages in a very different order as per the recent change and alignment of pages in docs. I would sugges

[2022-10-11 17:56] manavdesai27 commented on #1014
Could I work on this issue, I had already started working on issue #1000 . Work has already been done, it just needs approval, as I had already discussed it there, and started working accordingly. @akshatnema @derberg

[2022-10-12 09:28] smoya commented on #425
I still think this can be useful but to be honest, after a year, not sure if this is gonna happen.

Do you still consider it something we wanna do?
cc @Mayaleeeee @derberg @alequetzalli @fmvilas

[2022-10-12 10:58] derberg commented on #425
I also think it is useful, not only a poster, kind of infographic too. We just need someone talented who could design it. And all of us can help defining what content should go there

[2022-10-12 11:03] derberg commented on #1014
@manavdesai27 definitely makes sense you continue with this one too as it is #1000 related.
I recommend you first start by researching what docs pages are missing Next/Prev buttons, and where they should point to when you add them. Show it here in a comment in a table, so we can easily verify and then you can open a PR.

Makes sense?

[2022-10-12 11:06] derberg commented on #1000
well, I didn't say it must stay like this 😄 redirects were done for people linking to AsyncAPI website from outside. I just explained why it works 😄 this link should definitely be fixed in the markdown file.

@manavdesai27 is super motivated to do both issue, so let us leave `hacktoberfest` tag. There are still 2 weeks to go.

[2022-10-12 11:25] manavdesai27 commented on #1014
Yeah sure, I will make a table and get it approved, and then will create a PR. @derberg

[2022-10-12 11:26] manavdesai27 commented on #1000
Yeah sure, I will first work on issue #1014 . And then come back to this. That issue won't take much time to fix. @derberg

[2022-10-12 12:48] manavdesai27 commented on #1014
I have currently created the buttons and linked them in this manner, I wasn't sure where to link the `Reference Overview` page and thus have linked it to `Specification v2.5.0`. The current commits are according to the table, and once you approve it, I would create a PR. @derberg @akshatnema

| Go Back | Current Page | Up Next |
| ---------- | ---------- | --------- |
| N/A | Welcome | Concepts-Ov

[2022-10-12 12:52] derberg commented on #1014
I think it looks good, @alequetzalli can you confirm please?

[2022-10-12 12:55] manavdesai27 commented on #1014
I see that `/docs/reference/specification/latest` redirects to the latest specification version page, and thus I think Reference-Overview's `Up Next` button should point to it. @derberg

[2022-10-12 13:13] #478 closed, assigned to nobody

[2022-10-12 13:53] akshatnema commented on #1014
@manavdesai27 I checked the table on which you listed the sequence and it looks good to me. But yess, it now depends on @alequetzalli as well 😅. Regarding the `Specification v2.5.0` page, it's better to link it via `/docs/reference/specification/latest` so as to get the latest specification on next page.

[2022-10-12 16:09] Mayaleeeee commented on #425
I really like the idea and would have wanted to take it on, but I'm concentrating on a mentorship program this month, so I won't have time to work on it at the moment @smoya. If it's still open by next month, though, I'll fo for it 🥰🥰😌.

[2022-10-12 20:11] toukirkhan commented on #809
@derberg why this is one is not closed?

[2022-10-13 07:38] derberg commented on #809
@toukirkhan it is because it is still in progress. The PR with instruction in community repo is not yet merged

[2022-10-13 07:43] toukirkhan commented on #809
@derberg okay!!

[2022-10-13 08:56] jemacineiras opened #1018 "[📑 Docs]: "Tools: the AsyncAPI tools ecosystem" is broken"
### What Dev Docs changes are you proposing?

The section "Tools: the AsyncAPI tools ecosystem" is broken and don't show correctly. Looks like a markdown problem.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-13 09:33] derberg commented on #1018
@jemacineiras thanks, actually all docs are broken. Thanks so much for letting us know

[2022-10-13 10:44] #1018 closed, assigned to nobody

[2022-10-14 11:15] akshatnema commented on #383
@derberg As we can see that the functionality to extract the information of tools via GitHub has been added, can we now start to make it public to Tool Owners to make `.asyncapi-tool` file in their repositories? And also, we do need official documentation on how the contributors will make the file in their repositories and the key terms for fields. Should we start working on that also?

[2022-10-14 19:34] activus-d opened #1024 "[Docs Bug 🐞 report]: Documentation on Broker Centric Needs to be Enhanced for Clarity"
## Issue Summary
I believe the paragraph explaining the [Broker centric](https://github.com/asyncapi/website/blob/master/pages/docs/concepts/server.md#broker-centric) illustration should be enhanced to aid clarity especially to new users of AsyncAPI. The Illustration clearly shows three levels that seems to be interconnected in an hierarchical order (or that data flows from top to bottom): The `pr

[2022-10-18 00:24] quetzalliwrites opened #1027 "'cutting off' styling issue with our MermaidJS diagrams in LR view"
#### Describe the bug
In some instances on the `/website`, words inside elements in **MermaidJS diagrams** get cut off in **LR view**.

#### How to Reproduce
You could reproduce this issue is both **blog posts** or **docs** content.

One example of this can be seen in PR https://github.com/asyncapi/website/pull/992.

<img width="702" alt="Screen Shot 2022-09-29 at 1 48 00 PM" src="https://user-ima

[2022-10-18 07:34] smoya opened #1030 ""On this page" right nav bar is wrongly indented"
#### Describe the bug
The "ON THIS PAGE" right navigation bar in the spec documentation shows a wrong indentation. See the following screenshot, where schemas and bindings sections are wrongly indented.

![](https://user-images.githubusercontent.com/1083296/196231175-96cf431f-b815-4641-879e-0428d8b848d3.png)

**Not sure if this is also affecting other pages than spec docs.**

#### How to Reproduce

[2022-10-18 13:00] derberg commented on #383
@akshatnema I think we first need:
1. UI ready
2. Get current list of tools on the new Tools UI
3. Get stuff documented, yup

then we can do some promotion on different channels

[2022-10-19 13:44] vinodpahuja commented on #954
Sure @AceTheCreator , Please try ro merge the above [js](https://asyncapitools.github.io/OA2AA/iOA2AA.html) into react [component](https://github.com/asyncapi/website/blob/master/components/OpenAPIComparison.js) and share the output
Thanks

[2022-10-19 23:47] Dule-martins commented on #903
Hello @AceTheCreator I will like to create this "add contributor guide"
Any guide on what to do

@derberg

[2022-10-20 15:08] derberg commented on #903
@Dule-martins this one is hard one for me as I have no idea where to start. Many folks point to https://docs.djangoproject.com/en/dev/internals/contributing/ as good example. And I'm thinking if we should write our own or actually research few, link in one document and just mention some asyncapi-specific things that others do not write about.

I think best is if you start with creating an issue in

[2022-10-21 01:16] #1014 closed, assigned to nobody

[2022-10-22 04:42] Dule-martins commented on #903
Is it ok to name the issue `contributors guide`?

[2022-10-22 15:02] akshatnema commented on #1000
@manavdesai27 @alequetzalli I have updated the issue description according to the need. Kindly look into it.

[2022-10-24 13:44] magicmatatjahu commented on #937
We can even use https://nextjs.org/docs/basic-features/data-fetching/get-static-props for it, but due to fact how our website is implemented - using `layouts` pattern - is not easy, however I would not be a fan of splitting `posts.json` to several one files.

@aeworxet Sorry for such a delay. I think that solution with `loading="lazy"` is the best for our case. Let's browser to load images in prop

[2022-10-25 00:16] #975 closed, assigned to Annysah

[2022-10-25 11:04] derberg commented on #903
I guess so, in the end it will be like current https://github.com/asyncapi/.github/blob/master/CONTRIBUTING.md but on steroids 😏

[2022-10-25 11:32] derberg commented on #937
@magicmatatjahu

why?
first of all, I'm not talking about splitting.
And anyway we already do generate other files, basically what I describe above but just RSS feed 🤷🏼

[2022-10-25 12:25] magicmatatjahu commented on #937
@derberg I understood you want to split the blog posts into several files to implement lazy loading and NextJS has a better option for that, but our website is not adapted for that, so... sorry for misunderstanding 😅

[2022-10-25 13:13] derberg commented on #195
closing as completed

[2022-10-25 13:13] #195 closed, assigned to nobody

[2022-10-25 19:51] Annysah opened #1045 "[📑 Docs]: remove the Streetlights tutorial"
### What Dev Docs changes are you proposing?

We would like to remove the current Streelights tutorial and have it in four sections as part of the efforts to improve the AsyncAPI documentation.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-26 13:25] #1006 closed, assigned to nobody

[2022-10-26 14:11] aeworxet commented on #937
Loading improvement for mobile users is obvious.

![image](https://user-images.githubusercontent.com/16149591/198048531-c91c57a7-ff25-4866-a58e-90ef8c7f346c.png)

![image](https://user-images.githubusercontent.com/16149591/198048617-7e008b36-fc5c-4514-9a89-abbd918813fe.png)

[2022-10-27 08:34] magicmatatjahu commented on #937
@aeworxet I love it ❤️

[2022-10-27 11:28] smoya commented on #842
Still relevant

[2022-10-27 22:34] nawed2611 commented on #1024
Can I work on this issue?

[2022-10-27 22:40] nawed2611 commented on #954
Can I work on this issue?

[2022-10-28 07:01] vinodpahuja commented on #954
Sure @nawed2611

[2022-10-28 08:32] #385 closed, assigned to KhudaDad414, mcturco

[2022-10-28 10:17] magicmatatjahu commented on #937
Resolved by https://github.com/asyncapi/website/pull/1047 We are using native browser functionality for it, however if someone will have a problem with lazy loading using native behaviour we can always switch to some React library to handle that. I'm closing this one :)

[2022-10-28 10:17] #937 closed, assigned to nobody

[2022-10-29 16:02] jonaslagoni opened #1057 "Version 2.5 is no longer available and version 3 is shown as 2.5"
#### Describe the bug

It's no longer possible to access https://www.asyncapi.com/docs/reference/specification/v2.5.0 and `v3.0.0-next-major-spec.4` is shown as 2.5.0.

<img width="185" alt="image" src="https://user-images.githubusercontent.com/13396189/198841369-5b1678b6-2020-4d61-b4b9-8478b6abc115.png">

[2022-10-30 01:18] avles opened #1059 "Documentation Link on the Specification Section on the home page is broken"
#### Describe the bug

"Documentation" link under Specification section is broken.   It is currently pointing to https://www.github.com/asyncapi/website

#### How to Reproduce
- Go to the home page, https://www.asyncapi.com/
- Scroll down to the "Why Async APIs" section.
- Click the Documentation under Specification
- Results in 404 page

#### Expected behavior

User should be redirected to the la

[2022-10-30 02:28] vasucp1207 opened #1060 "[Docs Bug 🐞 report]: Producer page wrong link."
### Describe the bug you found in AsyncAPI Docs.

- In the docs, the [Producer](https://www.asyncapi.com/docs/concepts/producer) page redirects the users to the [Tutorials](https://www.asyncapi.com/docs/tutorials) page, not the [Consumer](https://www.asyncapi.com/docs/concepts/consumer) page.
- Also, there is no link between the [Consumer](https://www.asyncapi.com/docs/concepts/consumer) and [Chan

[2022-10-30 17:13] nelsonmic opened #1063 "[📑 Docs]: new bindings concept doc"
### What Dev Docs changes are you proposing?

# NEW /protocol concept doc
Create a new bindings concept doc, as part of the GSoD.
## Each concept page should be planned w/ an agnostic outline
Bindings definition
Why do we need Bindings?
## Each concept page should include at least 1 engineering diagram that helps users visualize each spec term

### Code of Conduct

- [X] I agree to follow this pro

[2022-10-31 16:07] smoya commented on #1057
This is the commit that broke it https://github.com/asyncapi/website/commit/f2bf2fc6c68dc6fb0469948fa450dd53160f117c

I don't get how this is breaking it but it is. I checked every commit until getting a local version without the issue; this is the first version that breaks.

Any idea? cc @derberg @fmvilas @magicmatatjahu

[2022-10-31 16:32] smoya commented on #1057
I noticed the `posts.json` file generated contains incoherent things like:

<img width="1121" src="https://user-images.githubusercontent.com/1083296/199059928-634524f8-8de0-42b1-ae68-696fca811bd1.png">

`"title": "2.5.0"` but `"slug": "/docs/reference/specification/v3.0.0-next-major-spec.4",`

[2022-10-31 17:00] smoya commented on #1057
I confirm the bug is gone whenever the file `v3.0.0-next-major-spec.4` is not present (and is not generated). Seems like a bug that was already present in `build-post-list.js` but for some reason only fails now?

[2022-10-31 17:05] smoya commented on #1057
This bug is fixed with https://github.com/asyncapi/spec/pull/864

[2022-10-31 17:08] smoya commented on #1057
All the "bug" comes from https://github.com/asyncapi/website/blob/master/scripts/build-post-list.js#L64.

Will try to give more detail in a next comment.

[2022-11-01 00:30] #1024 closed, assigned to nobody

[2022-11-01 10:21] smoya commented on #1057
Since both `v2.5.0.md` and `v3.0.0-next-major-spec.4 ` are identical in terms of content, https://github.com/asyncapi/website/blob/master/scripts/build-post-list.js#L64 is returning the same exact file when processing the second, meaning it returns the same object as for `v2.5.0.md`. See cache logic in https://github.com/jonschlinkert/gray-matter/blob/8a22958e0afd4b2e09c705becec1c35e76c4f0ee/index

[2022-11-01 19:14] #1057 closed, assigned to nobody

[2022-11-05 00:09] quetzalliwrites opened #1078 "[📑 Docs]: add CLI docs to tools content bucket"
### What Dev Docs changes are you proposing?

It's time to move our [CLI readME docs](https://github.com/asyncapi/cli/) to the website Docs, under the [**Tools** content bucket](https://www.asyncapi.com/docs/tools): `asyncapi.com/docs/tools`.

## CLI Docs Outline
Let's create the Docs with the following outline:

[code]

## Re-purpose content from CLI readME docs
Moving over the CLI docs to the we

[2022-11-07 13:42] derberg commented on #809
Whoever wants to pick this up. The PR can be opened as the document where link should point is there already -> https://github.com/asyncapi/community/blob/master/TSC_MEMBERSHIP.md

[2022-11-07 13:43] derberg commented on #820
This was was already implemented https://www.asyncapi.com/about

[2022-11-07 13:43] #820 closed, assigned to nobody

[2022-11-07 21:12] #1060 closed, assigned to nobody

[2022-11-08 08:45] lakshz commented on #1059
hey, is this issue open?

[2022-11-08 09:44] smoya commented on #843
still relevant

[2022-11-08 11:17] derberg commented on #843
but do we really need it? Nobody ever complained about the speed of the build

[2022-11-08 15:19] derberg opened #1088 "Lines highlighting in docs is broken"
Have a look at https://github.com/asyncapi/website/blob/master/pages/docs/tutorials/getting-started/hello-world.md

You will see `CodeBlock` being used there. Sometimes there is a props passed called `highlightedLines`.

It should work this way that when you go to https://www.asyncapi.com/docs/tutorials/getting-started/hello-world in some code snippets only selected lines should be highlighted for

[2022-11-09 10:13] derberg opened #1089 "proposal to make Alejandra codeowner for docs related UI code"
To improve automation and review process imho we should make @alequetzalli  a codeowner for code rated to `docs` view
- so Alejandra is added by default as reviewer for related PRs
- so Alejandra has a chance to react to DevEx changes in docs that were not consulted from the "user perspective"
- so Alejandra see if we remove something that we should not 😄

@fmvilas @mcturco @akshatnema @magicmatat

[2022-11-09 10:16] magicmatatjahu commented on #1089
Well it could be a problem to indicate which files, because besides the code for docs pages we should also add to other parts like roadmap and tsc page if we wanted to change the page descriptions. It would be better to add to the whole code.

[2022-11-09 10:22] derberg opened #1090 "Time to introduce first UI tests"
context: https://github.com/asyncapi/website/pull/1087

We need automation to run on PR level some automated UI tests.

The first test would be simple: evaluating if the certain list of `id` is present in HTML after rendering on a client-side.

More complicated it to setup infra for test:
- should we use [Puppeteer](https://github.com/puppeteer/puppeteer) or [Playwritgh](https://github.com/microso

[2022-11-09 10:44] magicmatatjahu commented on #1089
I don't know if you remember Łukasz but in a previous project we use (in project website) the json for describing texts and then this json was used during rendering - there was one json with all the texts on the website and then the parts of this json e.g. `landingPage.testimonials.header` were rendered on the browser side - TWs were assigned to this file and when someone added something new/chang

[2022-11-09 11:08] akshatnema commented on #1089
@derberg Yeah, we can make @alequetzalli codeowner for the docs-related UI code, but the problem arises, are we gonna categorise codeowners related to each file or category of files/folders? And there is also the case, where I get the problem that on updating/adding new components in the docs (especially in MD files), we have to take necessary review from the @alequetzalli, which doesn't mainly co

[2022-11-09 11:22] derberg opened #1091 "use netlify functions for email subscriptions instead of zapier"
## Current state

Atm, when you go to one of those and provide email:
- https://www.asyncapi.com/newsletter
- https://www.asyncapi.com/community/tsc
- https://www.asyncapi.com/community/meetings

This info goes to Zapier, and then through some "magic" there done by @fmvilas subscriptions are created in MailChimp

## Proposal

Subscription in MailChimp should be done through Netlify Functions. We a

[2022-11-09 11:31] derberg commented on #1089
Just to clarify. It is not much related to "text" on the website.

It is more related to changes that affect the "docs" UI:
- changing search
- modifying the way text is rendered
- changes in navigation

Also, it is not about "blocking" the merge because Alejandra will have to approve. We still have branch protection that requires only 1 approval. It is about using GitHub automation, that will add

[2022-11-09 18:41] quetzalliwrites opened #1094 "[📑 Docs]: new tutorial 'validate AsyncAPI document with CLI'"
### What Dev Docs changes are you proposing?

2022 GSoD project scope included creating a [NEW tutorial for "validating AsyncAPI documents with Studio." ](https://github.com/asyncapi/website/pull/1022) However, because there is more than 1 method for validating AsyncAPI documents, we also need to document how to validate AsyncAPI documents with CLI commands.

## Instructions for contributing techn

[2022-11-09 18:52] quetzalliwrites commented on #1089
haha yeah, I am excited to follow this convo and see what rules can be set in place to ideally add me to Docs issues for UX/DevEx/markdown/etc changes.  Maybe doing it per folder? Like in the website repo we know it would be the `docs` folder, and then we could do that for repoes with docs?

yeah, I can also use a /dnm label for certain scenarios if that's what ya'll think should also be done 👌

[2022-11-09 22:03] #941 closed, assigned to thulieblack

[2022-11-10 17:20] thulieblack opened #1099 "[📑 Docs]: Update the channel and Tutorials- Overview doc page buttons"
### What Dev Docs changes are you proposing?

This issue addresses the misalignment of buttons under the channel doc and tutorial- overview page doc!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-12 01:45] #1099 closed, assigned to nobody

[2022-11-13 10:30] Jagrutiti commented on #1094
Hey,

Though I do not understand the issue completely. It is clear from the description that I have to write about validating AsyncAPI with CLI commands.

Though I am a beginner in technical writing. The issue sounds interesting.

I would like to take this up and give it a try.

[2022-11-13 13:25] Annysah opened #1105 "[Docs Bug 🐞 report]: Fix the button display section in the Consumer concept page"
### Describe the bug you found in AsyncAPI Docs.

Currently at the top of button section in the Consumer concept page, there is a "---" which is meant to be an horizontal line separating the buttons from the rest of the page content.

### Attach any resources that can help us understand the issue.

<img width="932" alt="err" src="https://user-images.githubusercontent.com/52763841/201523992-d8c6ff5

[2022-11-15 18:38] quetzalliwrites commented on #1094
Hey @Jagrutiti, to pick this up I need to first onboard you as a new OSS Docs contributor to help you be ready to take this on. 😄✌🏽

Send me a [Slack DM](https://www.asyncapi.com/slack-invite) with a link to this issue (AsyncAPI community's primary communication method is Slack ✌🏽). Then I will onboard you offline to get you ready.

[2022-11-15 18:51] #1105 closed, assigned to Annysah

[2022-11-16 16:23] #1030 closed, assigned to nobody

[2022-11-18 01:42] Mayaleeeee commented on #930
Hey Folks

I'll be updating this file very soon. @mcturco @derberg @AceTheCreator

[2022-11-21 09:26] derberg commented on #93
basic work started https://github.com/asyncapi/website/pull/921

[2022-11-21 14:42] AceTheCreator commented on #930
@Mayaleeeee I noticed I missed this Issue...

I started working on the contributor's page with no idea you have an implementation for a community card in progress. What's the status of your progress?

You can also check out the PR for the contributor's page here #1122

[2022-11-22 21:34] Mayaleeeee commented on #930
Hey @AceTheCreator, I'm so sorry for the late response.

It's OK, I was supposed to update the file this week and make corrections based on what @derberg and @mcturco suggested, but I can't find the Figma file on my board.

[2022-11-25 00:47] AceTheCreator commented on #930
So sorry to hear that Maya... I hope you resolve it

[2022-11-25 00:51] Mayaleeeee commented on #930
Yeah yeah @AceTheCreator
I'm working on a new one atm

[2022-11-25 18:27] RodrasF commented on #1088
Hi, i would like to contribute to solve this issue.
From what i have seen so far this issue was caused by a new version of the react-syntax-highlighter that removed the 2 of props responsible for setting the each line tailwind classes. This props were replaced by 2 new properties that receive a CSSProperties object instead of the class name.
I found this [PR](https://github.com/react-syntax-highli

[2022-11-27 04:25] Mayaleeeee commented on #930
Hey @derberg @AceTheCreator @mcturco
I've updated the community members' page, but I could not find an appropriate icon to replace LinkedIn @derberg. I'm open to suggestions, though.

Please check I out.

![Community_member_page](https://user-images.githubusercontent.com/105395613/204118982-8e090a97-c3da-4d27-9e09-fa4bb75e437e.png)

<img width="1440" alt="Community_member_page (1)" src="https://us

[2022-11-29 09:32] derberg commented on #930
LGTM

I'm only missing:
- under main header with page name, we should have a note that the list is sorted alphabetically, like in https://www.asyncapi.com/community/tsc
- next to github and twitter icons we should have kinda `globe` (I think it is standard) that will represent link to user website

other than that, it is perfect.

[2022-11-29 09:35] derberg commented on #1088
@RodrasF how about using just older `react-syntax-highlighter` version?

@fmvilas do you plan to continue with your PR? https://github.com/react-syntax-highlighter/react-syntax-highlighter/pull/320/files 😆

[2022-11-29 09:42] Mayaleeeee commented on #930
Thanks @derberg
I'll work on it tonight and update it here.

[2022-11-30 06:23] fmvilas commented on #1088
LOL, I completely forgot about this PR 😅 I probably won't have the bandwidth to continue it. @RodrasF maybe you want to take it? :)