[2022-01-11 10:14] smoya commented on #506
Let's say I'm a developer of a project that uses AsyncAPI `2.1.0`. If I need to check the documentation, I want to quickly get the one for `2.1.0`. I will type into google `AsyncAPI spec 2.1.0 documentation` and I expect a result to drive me to it, not to another version.

[2022-01-11 11:24] akshatnema commented on #536
@fmvilas Should I add `rel="noopener noreferrer"` to the anchor tags containing `target="_blank"`? .As it shows an error while not using `rel` operator with `target`.  Using `rel` attribute improves some of the security issues of the site opened using `target="_blank"`. I would recommend you to see [this article](https://stackoverflow.com/questions/50709625/link-with-target-blank-and-rel-noopener-

[2022-01-11 12:04] magicmatatjahu commented on #536
@akshatnema Hi! Yes, please go ahead, but I'm wondering if we should leave that one attribute (I don't remember which one is responsible for SEO) for referencing to out organization in the Github 🤔

[2022-01-11 12:42] magicmatatjahu commented on #536
@akshatnema Ok I checked my knowledge 😆  and we should go with `noopener noreferrer` and of course we should also consider using `nofollow`.

[2022-01-11 12:43] akshatnema commented on #536
Thanks @magicmatatjahu. Will sure look on this.

[2022-01-11 12:54] magicmatatjahu commented on #532
Of course this is topic handled by @mcturco but we should consider where we should put new page in the navigation. It should't be `/docs` because even it is a guide, it's not a docs for spec. `/community` in my opinion isn't relevant, because brand is related to identity of project, not to community itself, so maybe new category under `/resources`? We should also add there list of articles written

[2022-01-11 13:17] fmvilas commented on #532
I'd put it on the footer, that's where you usually find these things. Ah, and would rename the page to `brand` so the URL is asyncapi.com/brand.

[2022-01-11 13:33] Barbanio commented on #532
@magicmatatjahu I think it's a very good idea. And I agree with @fmvilas that maybe the best place to put it is on the footer.

[2022-01-11 15:24] derberg commented on #90
@BOLT04 what about part `npm write:blog` and `npm run dev`. Then long term we could have `npm write:docs` that would also ease automation for writing documentation, thus make contributions easier

[2022-01-11 15:30] derberg commented on #529
I think it would be nice if such document would be part of other documents that should belong under dedicated community subpage, where we talk about how to contribute, and user testing would simply be one of many ways people can contribute

[2022-01-11 15:37] derberg commented on #453
should **Option 1** work as ` fade in on the sidebar` or maybe ` fade in on the "footer"` so when you scroll, you see it at the bottom of the page, like fading in.

**Option 2** seems to be better 😄 less magic happening on the screen. And about your concerns about spec and it's length. It is to complex to actually expect someone provides a good actionable feedback through `feedback` feature. Contr

[2022-01-11 19:52] BOLT04 commented on #90
@derberg yup I was working on the script as well 👍, I didn't mention it cause I was still testing the link you gave and had a few problems 😅.
But I'll make a working version and then send a PR for this repo too 👍

[2022-01-11 19:57] BOLT04 commented on #90
btw, regarding metadata for authors does the `website` repo have something like that? If not, should we do something similar to the `tailwind-nextjs-starter-blog` repo, what do you think?

[2022-01-12 10:05] akshatnema commented on #410
@alequetzalli Is this issue still open and will you please describe the issue more like, where are the headers need to be improved?

[2022-01-12 11:04] akshatnema commented on #541
@fmvilas @magicmatatjahu Can you please review this issue? Is this required or not?
If yes, I can suely resolve this and will come up with mockups of changes in the PR.

[2022-01-12 11:40] magicmatatjahu commented on #541
Whoever you want, go ahead and create a PR :)

[2022-01-12 13:08] derberg opened #545 "Add Gold sponsors to website, we finally have one 🚀"
We just need another section, below current Platinum sponsors, that is called `Gold` and there is `RedHat` logo

Somehow related https://github.com/asyncapi/website/issues/528

@fmvilas I'm not sure if we need to do something about the logos size, if this section should be kinda smaller or is it ok if it is just below platinum and marked as gold.

[2022-01-12 14:12] derberg commented on #311
@akshatnema might be, check [these instructions](https://github.com/asyncapi/website#build) to build production version and examine the `posts.json`, maybe error is really there

[2022-01-12 14:26] akshatnema commented on #545
@derberg I will love to work on this issue. Kindly assign it to me (if required).
Also, Do provide me with the logo you want to show on the website if you have a particular one.

[2022-01-12 14:32] derberg commented on #545
go ahead, and pick one that works best with current design -> https://www.redhat.com/en/about/brand/standards/logo

[2022-01-12 15:18] derberg commented on #506
the thing is that content is almost the same, so when you google `AsyncAPI spec 2.1.0` you get `2.0.0`. If you mark 2.2 as canonical, then when you google `AsyncAPI spec 2.1.0` you will get `2.2.0`.

maybe we should experiment with meta tags?

for sure improve `description` so it is unique per version
[code]

and then also add `keywords`?

[2022-01-12 15:49] derberg commented on #90
do you mean 👇🏼 ?

[code]

[2022-01-12 18:34] BOLT04 commented on #90
yes that 🙂, on the `tailwind-nextjs-starter-blog` they have a folder with the information of the authors that the script uses to allow the user to choose one of them. Should we do the same since at least one author is required?

[2022-01-12 18:42] mcturco commented on #518
Copying this from slack so it can stay in our discussion :)

from: @boyney123
This is quite interesting (thanks @Fran Méndez sharing)
This diagram is quite interesting (although quite technical), but it actually helps me understand messages, channels, routing, and endpoints....
Wonder if this kind of diagram (simplified ofc) could help people understand AsyncAPI spec (our channels, messages etc et

[2022-01-12 21:50] smoya commented on #506
This is exactly the concern I mentioned few comments above: https://github.com/asyncapi/website/issues/506#issuecomment-999494551

I think we could try it, but I would say in combination of what @mcturco suggested.

You mean on the title? Around the copy? Not sure about the usage of keywords nowadays TBH.

[2022-01-12 22:56] fmvilas commented on #545
Sounds good to me. Regarding size of the logo, I'd say it's a common approach to make them smaller but don't have an opinion. Maybe @mcturco has a better perspective regarding design. What's clear to me is that it should be somehow easy to identify that Platinum are "more prominent" as they're paying more.

[2022-01-12 22:59] fmvilas commented on #311
It looks to me that a CSS class is being removed by PostCSS: https://github.com/asyncapi/website/blob/master/postcss.config.js. That's most probably the issue.

[2022-01-13 07:53] derberg commented on #90
That would be nifty! but do you want to take it up? you are already helping a lot, don't wanna put to much on your shoulders 😟

[2022-01-13 08:05] derberg commented on #506
oh, sorry, now I got it

yeah, just add version number to keyword, that is it, we have no keywords now, so 🤷🏼

@smoya @mcturco
ok, folks, we had a neat discussion here, thanks!
let's just try different solutions one by one and monitor with the next reports of Search Console, and let's see 👀

- I suggest we first try with metadata as we anyway need to fix `description` as they are not cool cross sp

[2022-01-13 09:57] magicmatatjahu commented on #311
@fmvilas If I build site by `npm run build` and then run that production ready version by `npm run start` everything is ok:

![image](https://user-images.githubusercontent.com/20404945/149307833-6deac58c-cbfb-43b0-a846-a453ebda93c5.png)

Maybe there is a some problem on the Netlify side 🤷🏼

[2022-01-13 10:00] derberg commented on #311
yeah, I actually checked Netlify yesterday and there was still `hugo` command to build the website....so maybe 😄

[2022-01-13 13:27] akshatnema commented on #311
I tried to deploy my forked repository on Netlify, using the `netlify.toml` command instructions, but to my surprise, it caught many errors on the production folder. I tried to check the `.next` folder to inspect the code but nothing got there. 😕

[2022-01-13 14:29] fmvilas commented on #311
@magicmatatjahu @akshatnema try with `NODE_ENV=production npm run build` and `NODE_ENV=production npm run export`.

@derberg it doesn't matter what it says on Netlify because it's overridden with the netlify.toml file.

[2022-01-13 14:42] mcturco commented on #506
@derberg sounds good to me!

[2022-01-13 20:28] BOLT04 commented on #90
ahh don't worry, I love to contribute 😄. Currently, I can't do it but in a few days I can 👍.
But the authors and the layout used could be considered improvements and added later. New issues with separated concerns that different people in the community can contribute 🙂.

Like how `tailwind-nextjs-starter-blog` has `PostLayout` and `PostSimple` and we have `BlogLayout.js` and `GenericPostLayout.js`

[2022-01-13 22:08] derberg commented on #90
Sounds good. Leaving the decision up to you. Whatever you choose will make me happy ☺️

[2022-01-14 15:52] #541 closed, assigned to nobody

[2022-01-15 02:25] quetzalliwrites commented on #532
@magicmatatjahu @mcturco yeah, I agree w/ Fran's idea. I think we should have a hyperlink in the footer for *Brand* or *Brand Guidelines* and then the URL to be `/brand`. 😀👍🏽👍🏽

[2022-01-15 02:58] quetzalliwrites commented on #410
Hello @akshatnema! Thank you for your interest in contributing to the Docs 📄 🥳! Yes, it is still open and I guess the reason it is still in "backlog" is that I was trying to first finish #350. As you can see, #350 is pretty involved. 😅 😮‍💨

Anyways, to answer your last question, I am trying to identify how to improve the written content in the current docs. I think that some pages have spare heade

[2022-01-15 03:16] quetzalliwrites commented on #90
¡Hola @BOLT04! 🥳 Thank you for wanting to contribute 🙏🏽

To answer your question, I agree w/ @derberg that this does not go in the Docs. To dive a little deeper, I wanted to explain that the `AsyncAPI Docs` are only for documenting how this API spec works. In other words, the Docs are for documenting the technology, and as such, they have nothing to do with how the `Blog` is managed. 😄🙊❤️

[2022-01-16 05:02] akshatnema commented on #410
@alequetzalli I tried to figure out the spare headers in docs, but couldn't able to find them. Will you please send a ss and explain me in which way you want to make them look more good?

[2022-01-17 14:51] #545 closed, assigned to nobody

[2022-01-17 15:20] mcturco commented on #545
@fmvilas oops! Sorry just now seeing your comment here. I think that what we have just merged works for now to have it up on the website ASAP, but yes I was thinking that we could redesign that section to make the Platinum sponsors stand out more than the Gold sponsors.

[2022-01-17 15:22] fmvilas commented on #545
Yeah, no worries. I was aware of the other PR. Looks enough for me tbh 👍

[2022-01-18 20:05] BOLT04 commented on #90
@derberg Currently, I'm quite busy 😞 so I think the best is to create new issues with those improvements and do them separately.
I'll consider the comments on the PR and fix any issues there are and missing things 🙂

[2022-01-19 08:01] derberg opened #557 "Add on landing page info about companies that support us with their products"
#### Reason/Context

There are many companies that sponsor our work not with direct donation but with giving their products for free.
We should give them a shout out!

#### Description
- new section on landing page, maybe called `Supported by`? with some text like `These companies support us by letting us use their products for free`
- there should be:
    - logos of companies
    - click on logo

[2022-01-19 08:32] Barbanio commented on #557
I think it is a good proposal. It is fair to recognize these support.

I believe this would be great for transparency.

[2022-01-19 09:35] Samridhi-98 commented on #557
@derberg  I would like to work on this issue, kindly provide me info for the tooltip of what they are offering.

[2022-01-19 10:21] derberg commented on #557
Cool! @Samridhi-98

- Restream.io gave us for free a Professional Plan subscription
- Slack gave us for free Standard Subscription
- DigitalOcean gave us $500 on their cloud services
- Netlify (forgot about them) we deploy all websites using their open source plan
- sonarcloud.io (you have to google icon) we use their free tier for automated project scanning
- and totally forgo on amazing Toast (h

[2022-01-19 12:45] ritik307 commented on #383
@iamVP7 can you provide the mockup for the page. I would love to work on this

[2022-01-19 13:49] iamVP7 commented on #383
Raised this feature request during code refactor (#378 )

I feel @derberg  will be good person to share the thoughts on designing new page.

[2022-01-20 01:23] quetzalliwrites commented on #410
Hey @akshatnema, apologies! I think I used an English word wrong and made it more confusing. 😄  I didn't mean to write "spare headers," I was trying to say that we don't have many headers. That is to say, we could benefit from adding more headers to doc pages that have no headers or not enough. So this is not about coding or design, this is only from a writing perspective. Think about each page an

[2022-01-20 02:58] quetzalliwrites commented on #383
I would ask our design contributor extraordinaire, @mcturco for design contributions. 😀👍🏽

Lukasz is awesome, but not in design 😄🙊

[2022-01-20 03:37] quetzalliwrites commented on #518
I love this!

[2022-01-20 03:39] quetzalliwrites commented on #503
@mcturco @derberg

Yes, this is only for design so don't take any of the outline elements as part of the TW work set in stone. This is just better than using `lorem ipsum`.

[2022-01-20 03:58] quetzalliwrites commented on #503
Yes, I will contribute the technical copy needed for the Doc's HomePage. I actually plan to do that after the design of the page layout and diagrams are determined/finalized by you, because I need to know what we're going with before I can really pick that up. 🙂

So I will be making this change in the SAME Pull Request as the one for covering issue #350. I will only use 1 PR because our Docs is cu

[2022-01-20 04:11] quetzalliwrites commented on #453
I'm about to give a very @boyney123 answer here.. haha 😂 I actually really liked *Option 1* AND *Options 2*, but for different reasons.

That said, I guess *Option 2* where the Feedback Card is at the bottom of the Doc's page might work better because I believe that's what more users are accustomed to.

Btw, this is all so cool! 😎

@mcturco

[2022-01-20 09:29] akshatnema commented on #529
@mcturco, Have you created any design in Figma related to this page? If not, no worries, I will love to work on Figma as well to design this page. And I am willing to work on the codebase to make this page on the website.

[2022-01-20 09:38] akshatnema commented on #411
@derberg @alequetzalli Is the previous and next buttons on docs still needed? Can I work on this issue?

[2022-01-20 14:35] derberg commented on #383
I could not agree more 🤣

---

I'm not sure we are at the stage where we can start working on it. @alequetzalli isn't it somehow connected also with new docs page? I mean there will be docs restructuring, and we also want to incorporate docs from tools, and we also want to clean up that some tools are in one location and some are now described in the documentation. A lot of factors that can influe

[2022-01-20 16:24] mcturco commented on #383
@derberg I was about to say the same thing. Before we can start developing a new page we definitely should discuss what the purpose is if different from the tooling docs and what content we would need to present. Once we have a clear direction and content written, we can begin designing a layout for this (again, if it will be different than the docs)

[2022-01-20 18:18] jonaslagoni commented on #196
I simply don't have the bandwidth to do this at the moment... Gotta close it down 🙁

[2022-01-20 18:18] #196 closed, assigned to nobody

[2022-01-20 18:26] derberg commented on #397
it requires review of how certain clicks are performed in Google Analytics and then we can go forward really, a summary report would be needed here. I can give you access to our Google Analytics if you want.

[2022-01-20 21:37] quetzalliwrites commented on #411
Hey @akshatnema! Thank you for expressing interest in contributing to this issue! 🙃

Unless @marioyeahs confirms he still wants to work on this one, you can feel free to pick it up!

If you open a PR, besides tagging me and Lukasz, I think you would also want to tag @mcturco for Design review/feedback.

[2022-01-20 21:59] quetzalliwrites commented on #383
I don't think so? I think I see the Docs as a different item than what I understood @iamVP7 was asking to do in this issue. I understand this issue to mean he wanted to know if we could add a page to our website to mention Tools. I guess I thought he opened this issue to ask if we could consolidate all our diverse tool landing pages into a single one. We currently have several individual pages or

[2022-01-21 08:07] iamVP7 commented on #383
As per @derberg  [comment](https://github.com/asyncapi/website/pull/378#issuecomment-926491409),   we were in need of landing page for tools.

Even I felt, it might be helpful to have landing page (say something like feature page for random project), as it can help with SEO.

[2022-01-21 11:01] ritik307 opened #562 "Add twitter section on the Async API website"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  To let our users check our latest releases and updates directly from the website
- How will this change help?
 Provide better user experience
- What is the motivation?

#### Description
Please try answering a few of those questions
- What changes have to be introduced?
  A new section on the Async API

[2022-01-21 11:03] ritik307 commented on #562
@derberg What are your views on this? Should I implement this?

[2022-01-21 11:26] magicmatatjahu commented on #562
I love that idea! :) We can further expand this task (in one PR, or by followups) by adding a so-called "newsroom" section, which would consist of the latest blog posts (currently implemented), articles in another pages (cc @Barbanio), the latest tweets and the latest recordings on YT. What do you think about it?

[2022-01-21 11:38] Barbanio commented on #562
I really like the idea, and I love @magicmatatjahu's suggestion. I think that way all the information about it would be organized and localized.

[2022-01-21 12:42] derberg commented on #562
I like the concept of `newsroom` a lot! like a 3 column view from blog/twitter/youtube

cc @mcturco @fmvilas

[2022-01-21 14:21] mcturco commented on #562
I agree and think that transforming the blog section to a newsroom section would be a good move! However, I am worried that if we do this it will seem quite bulky at the end of the homepage. Perhaps we can show most recent news in this section and then create a new `Newsroom` page where people can search through the archives of releases, live streams, etc. We can then add a call to action in other

[2022-01-21 14:27] ritik307 commented on #562
@mcturco  @derberg @magicmatatjahu @Barbanio @fmvilas Glad you guys like the idea 😁. If possible can you guys provide mockups so I can start working on it?

[2022-01-21 14:33] derberg commented on #562
new newsroom view, with short preview on landing page sounds good to me, we will be able to place there much more things, even "current" livestreams.

[2022-01-21 18:45] quetzalliwrites commented on #383
Got it, he may have forgotten that is what you were referring to! Thank you for clarifying @iamVP7.

So if you're proposing a landing page, which is not related to Docs, then I will let @derberg and @mcturco take over this with you. You'll prob work with them to propose your solution to the community and see what the community thinks this page would need. 😀👍🏽

[2022-01-23 07:32] akshatnema opened #566 "Navbar needs to be fixed"
#### Reason/Context

- Why we need this improvement?
   For pages that are longer in size (like blogs, docs), in mobile view, the user has to scroll back to top to get navigation from one page to
   another.
- How will this change help?
  By fixing the navbar on the website, it gets easy for users to navigate between the pages on the website.

#### Description
Please try answering few of those que

[2022-01-23 07:33] akshatnema commented on #566
@mcturco Will you please give your review regarding this, as it is related to the design of the navbar.

[2022-01-24 09:48] derberg commented on #566
you mean the top nav is not "sticky", right? that would be useful IMHO, but best to have @mcturco opinion too

[2022-01-24 15:32] mcturco commented on #566
@akshatnema Hi! 👋

So yes, this is a great idea and I definitely think we should implement this. I prefer as well that if we are going to make the header sticky that it has a solid 1px bottom border with `border-gray-200` so that when the header sticks to the top the user can differentiate the header from the rest of the website content visually.

See the below screenshot for reference:

![Home_He

[2022-01-24 15:59] mcturco commented on #411
@akshatnema 👋

I love this idea and think it would be a great addition to the docs. My only fret is that because the docs are not so complex that these previous and next buttons might be redundant in addition to the `Select your next chapter` buttons. Therefor, I have put together a quick mock up of how I think we might be able to present this:

Click here for the figma prototype --> https://www.f

[2022-01-24 16:07] mcturco commented on #529
Hi @akshatnema
I have not yet created a design for this page yet, but if you would like to help that would be great! I think the elements that we would need on this page would be as follows:

- Page title: User Research (or something similar)
- Slug: `/user-research`
- Intro paragraph: I can come up with the copy for this, but thinking of having something short that explains that we are looking fo

[2022-01-24 16:08] akshatnema commented on #411
@mcturco Regarding stacking of `Go back` and `Up next` buttons in mobile view, we can make their sizes in `vh` in order to make it responsive there as well.

I liked the Figma prototype presented by you. It is worth working on this.

[2022-01-24 16:11] mcturco commented on #411
@akshatnema great! Use this link to show the design specs: https://www.figma.com/file/vPO7Go2C0v609Xw2L8eWS8/Website?node-id=135%3A570

You will have to login with a figma account to view it, but its free to view :) Let me know if you have any trouble

[2022-01-24 16:15] akshatnema commented on #411
@mcturco Yepp, I got access of viewing this Figma design. Fine, I will make the PR for this as soon as possible. Will discuss more with you on Slack, if needed.

[2022-01-24 18:11] akshatnema commented on #411
Hey @fmvilas @derberg, need a view regarding this issue. We have `Select your next chapter` on the introductions page, but while adding new `Go Back` and `Up Next` Buttons on this page, it looks like we are adding the same components twice. From my perspective, we can have this same `Select your next chapter` on the Introductions page only, and for the rest, we will have `Next Steps` containing `G

[2022-01-24 18:20] akshatnema commented on #529
@mcturco Yepp, this looks exactly what I thought of this page. I will look for some designs ( or make it one such myself :smile: ) in Figma first and will show you soon.

[2022-01-25 10:57] derberg commented on #411
@akshatnema I would prefer @mcturco and @alequetzalli to have a look and provide recommendations.

[2022-01-25 13:54] #557 closed, assigned to nobody

[2022-01-25 14:21] mcturco commented on #411
@derberg forgot to mention that @akshatnema and I came up with the above solution offline, so I agree with this proposal 😄  Those next chapter buttons only appear as different end points other than previous and next article only on the introduction pages. On all other pages, those buttons appear for the previous and next articles, but they aren't visually communicating that they are the previous a

[2022-01-26 04:40] quetzalliwrites commented on #566
Hey there @mcturco and @akshatnema! ✨✨ Ah, I see what you mean. Currently, the `/Docs` don't have a sticky header functionality like Missy pointed out earlier here, and so the question is whether we should introduce this behavior to the Docs section too.

IMO, it would be fine and non-disruptive to the flow to add that functionality to the `/Docs` too. Honestly, in my experience, most modern updat

[2022-01-26 04:58] quetzalliwrites commented on #411
Hey @mcturco and @akshatnema! 😄 I agree that these components are duplicate and my perspective is that we only need one. Because the intro page is completely changing and will *not* have those buttons, I think it makes sense to only have these new `Go Back` and `Up Next` buttons.

[2022-01-26 09:54] magicmatatjahu opened #570 "Missed footer in pages where we are using "docs" layout"
#### Describe the bug

As in title. All pages which has "docs" layout (navigation on the left with centered content with TOC on the right like) like https://www.asyncapi.com/docs/tutorials has missed footer on the page's bottom.

#### How to Reproduce

Go to e.g. https://www.asyncapi.com/docs/tutorials, scroll to the bottom and you won't see footer.

#### Expected behavior

Footer should be visibl

[2022-01-26 11:54] Samridhi-98 commented on #570
@magicmatatjahu  While trying to reproduce the bug locally, I am unable to do so please help me out so that I can look into it and fix it.

![image](https://user-images.githubusercontent.com/54466041/151158639-a4bededa-5e9a-4a7b-9dff-c4906c275a1f.png)

[2022-01-26 12:07] magicmatatjahu commented on #570
@Samridhi-98 Hi! Probably this is bug on the development env side, we should investigate that, but please open that link

[code]

In my machine it works :)

[2022-01-26 12:14] Samridhi-98 commented on #570
The above-mentioned link is also not working is there any alternative way to reproduce it?

![image](https://user-images.githubusercontent.com/54466041/151161194-92a03686-661d-4759-9e6b-536415bdea71.png)

[2022-01-26 12:21] magicmatatjahu commented on #570
@Samridhi-98 😅  tbh if I run `npm install` and then `npm run dev` everything works in my machine. I use `8.1.2` npm and `v16.13.2` node.

[2022-01-26 16:57] Samridhi-98 commented on #570
Gotcha, it's nextjs setup issue in Windows.

[2022-01-26 17:00] magicmatatjahu commented on #570
@Samridhi-98 As I see we have reported it https://github.com/asyncapi/website/issues/478 So if you handled that problem could you provide feedback in mentioned issue? :)

[2022-01-26 17:33] Samridhi-98 commented on #570
Sure :)

[2022-01-26 17:40] Samridhi-98 commented on #478
@derberg @sambhavsaxena  As far as I think the problem is not having `WSL set up` in `windows` for using`Nextjs`.
Refer [this](https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nextjs-on-wsl) for more info.

I am also working on this issue, will get back to you once I have the complete solution.

[2022-01-27 11:57] akshatnema commented on #570
Hey @magicmatatjahu , I can resolve this, as I'm already working on `docs` right now. Based on my PR #568 , you can see that I am making that Navbar be extensively outside the `Container` and have made major changes on that sticky Sidebar as well. Will you prefer to make the footer inside `Container` in `DocsLayout` or just want to make it wide as Navbar?

[2022-01-27 11:59] magicmatatjahu commented on #570
I think that @Samridhi-98 wanna handle that :)

[2022-01-27 12:05] akshatnema commented on #570
No Problem. @Samridhi-98, If you can able to reproduce the error on Windows ( as I tried this project on Windows and it hadn't worked there), you can sure shot go with this. But, it will be better if you run this repo on Ubuntu (or any other Linux OS).

[2022-01-27 12:12] akshatnema commented on #478
@Samridhi-98, I tried a lot in Windows regarding running this repository well and retrieving data. What I got from it is that, (for example) `posts.filter(post,post.slug==='\\blog\\')`, this code in Windows doesn't able to catch the blogs from `posts.json` file. I made some changes in it like replacing `\\` with `//` and it worked in some cases. I would recommend if you see this problem, starting

[2022-01-27 13:24] sambhavsaxena commented on #478
@akshatnema As already stated, it's happening due to some differences in the directory naming conventions (and yes they include backslashes in the path), when we compare windows and linux devices. The solution well, is if we somehow change the directory concatenation for node installation, something that @Samridhi-98 referred to above, by setting up `a windows subsystem for linux`, haven't tried i

[2022-01-27 17:16] ritik307 commented on #570
Sorry, @Samridhi-98  I didn't read the comments carefully that you are handling the issue. If you are still working on it I will close my PR.

[2022-01-27 18:09] Samridhi-98 commented on #570
@ritik307  It's alright don't close it, you can work on it further no worries :)

@akshatnema  To work on nextjs project in windows we need to set up WSL first as mentioned in the official documentation of nextjs I guess that's the issue here, I am figuring it out :)

[2022-01-27 19:19] UtkarshA135 commented on #371
@magicmatatjahu is this issue still open ?  I'll like to work on this!

[2022-01-27 19:57] derberg commented on #478
I feel sorry but I can't really help you here, no access to windows, no way to troubleshoot

anyone tried https://github.com/vercel/next.js/issues/10061#issuecomment-935311698 ?

[2022-01-27 20:00] derberg commented on #371
@UtkarshA135 just keep in mind it will be challenging if you use windows. I think this is why others did not manage to complete this task that seems to be trivial -> https://github.com/asyncapi/website/issues/478

Keep in mind that we have recently configured Gitpod for this repo (check readme), so you could basically work on it by forking and opening it in Gitpod

[2022-01-28 15:17] sambhavsaxena commented on #570
@Samridhi-98 you're encountering the same issue as mentioned [here](https://github.com/asyncapi/website/issues/478) i suppose?

[2022-01-28 15:20] Samridhi-98 commented on #570
Yeah.

[2022-01-28 15:39] sambhavsaxena commented on #570
Have you found a solution to it yet?

[2022-01-28 15:48] Samridhi-98 commented on #570
I got one solution that is set up WSL in windows to run nextjs as mentioned in official documentation of nextjs but haven't tried it yet.

[2022-01-31 19:29] mcturco commented on #383
Great thank you both for the clarification @alequetzalli @iamVP7 I am understanding the idea now 😄

I think this is a great idea! It definitely will help to have that main `/tools` slug not reach a 404 😅  good catch! We will first have to start thinking about what kind of content we would need to include on this new page. Are there any other sites that we can use for inspiration? I think generally

[2022-02-01 18:55] mcturco commented on #453
@alequetzalli Sorry these responses got lost in my notifications!!

Looks like Option 2 is what we are going with! I think fading it in once the user reaches the bottom is a great idea. I have updated the prototype with states for active text in the text box as well as what shows after someone submits their response: [Click here to view the prototype](https://www.figma.com/proto/vPO7Go2C0v609Xw2L8

[2022-02-02 01:56] quetzalliwrites commented on #453
Hey @mcturco neat!! No worries, I assumed you were full of notifications like I am too 😄 ...

I think this is all we need for **design** and I guess now I need to try and find a **development**  contributor. **cough cough** @magicmatatjahu or @boyney123 by any chance?! **stares without blinking**

🤣

[2022-02-02 02:12] quetzalliwrites commented on #383
<img width="500
" alt="Screen Shot 2022-02-01 at 6 10 34 PM" src="https://user-images.githubusercontent.com/19964402/152082554-e4da9ddb-cd8c-4e54-984e-0474dd14a1fd.png">

@mcturco What if it had cards in a grid, and each card represented a tool?

[2022-02-02 09:02] #411 closed, assigned to nobody

[2022-02-02 09:27] #570 closed, assigned to nobody

[2022-02-02 17:03] jonaslagoni opened #583 "Announcing 3.0 work has started"
## Post description
During [the 3.0 meeting](https://github.com/asyncapi/community/issues/250), @derberg suggested that we should do some kind of announcement publically, that work on 3.0 has started. To welcome enable contributions and to make some noise.

It should be a short blog post highlighting the process, where to find information, and how to participate.

[2022-02-02 17:24] HarshCasper commented on #583
Hi @jonaslagoni 👋

I would like to contribute to this!

[2022-02-02 18:06] magicmatatjahu commented on #583
@HarshCasper Yeah, sure, but please write about your approach (that same as you wrote in Slack) :)

[2022-02-03 07:29] derberg commented on #453
@alequetzalli we have a large number of folks in Slack that seek for tasks to contribute, and this one is a super cool task. A person can learn a lot here, we, of course, provide full support in the review and as a result contribution is very meaningful and visible to others.

I suggest you provide a final update, in description maybe or as an additional comment, like what needs to be done, how we

[2022-02-03 07:50] derberg commented on #403
I think diagrams and interactiveness are always good to explain things and make it nicer to digest knowledge. I can help to review the diagram, but for sure won't be able to create it in such professional way 😄 we need help

[2022-02-03 09:08] boyney123 commented on #453
@mcturco maybe this has been discussed (can't find it), but where would the links go to?

![image](https://user-images.githubusercontent.com/3268013/152312329-ce5843a4-a7ed-485b-98ae-b0dfcc0bb747.png)

### Submit Feedback

`Submit Feedback` how do we all see that working? Will that go to a form or something somewhere? Or anything anyone has in mind?

---

### Create Issue On Github

`Create Issue

[2022-02-03 10:50] magicmatatjahu commented on #453
I agree with Łukasz that people from community should handle that because it's perfect issue to learn things, without needs AsyncAPI knownledge :) As I see we only need the consensus about final design and people can start to contribute.

[2022-02-03 14:36] mcturco commented on #453
Hi @boyney123 👋

If you scroll waaayy up to the beginning of the conversation in this issue you will see that the plan for the submit feedback button is to send the information to a Google spreadsheet via a netlify function. That is the extent of my knowledge on that subject though 😆

Yes, I believe that was the plan, but I will let @alequetzalli confirm that! 😄

Also - just wanted to mention that

[2022-02-03 19:34] mcturco commented on #383
@alequetzalli yeah I think that's a great idea! Let's do it!

[2022-02-04 06:23] akshatnema commented on #382
Hey @iamVP7, this idea sounds interesting to me. Even, I am also in the thought of making the events and their motives publicly available on the website, not only restricting it to Slack. I am interested in working on this idea.

I will like to hear this from @magicmatatjahu and @derberg, regarding your thoughts on having this page on the website and details of the events organized by AsyncAPI, if

[2022-02-04 14:37] osigida opened #587 "[📑 Docs]: ADD 'server' definition to specification docs"
### What Dev Docs changes are you proposing?

The [term server is referenced several times in our Spec under the **Definitions** section](https://www.asyncapi.com/docs/specifications/v2.3.0#definitions), but it is not yet defined in our Spec.

<img width="400" alt="Screen Shot 2022-04-07 at 4 23 18 PM" src="https://user-images.githubusercontent.com/19964402/162335166-30a0244c-f66c-40e8-ba23-3330ea

[2022-02-04 15:21] jonaslagoni commented on #449
I guess we can close this 🙂

[2022-02-04 20:29] ghulamyazdani opened #588 "[UI] : Socialshare buttons overlapping with footer while scrolling to the bottom of blog page"
#### Describe the bug
On the blogs page, the socials bar is sticky and because of it while scrolling to the footer section it's overlapping on the footer section, and that is looking really weird. This must be fixed
![image](https://user-images.githubusercontent.com/55938346/152597393-5f90636a-c73e-4e10-8909-f92aa0ca8529.png)

#### How to Reproduce
Head to https://www.asyncapi.com/blog and click o

[2022-02-04 22:23] #449 closed, assigned to nobody

[2022-02-05 07:53] Samridhi-98 commented on #588
@ghulamyazdani  I am unable to reproduce it as it's working fine in my system.
Kindly, specify the blog to which you are referring.

[2022-02-05 08:04] ghulamyazdani commented on #588
Hey @Samridhi-98, You can reproduce the issue by clicking any blogpost in blogs section, Web Browser I am using - Chrome
 A video for reference.
https://user-images.githubusercontent.com/55938346/152633814-aa9fe5a9-8128-43de-b254-0c1db04d9a3d.mp4

[2022-02-05 08:15] Samridhi-98 commented on #588
@ghulamyazdani  Are you facing this bug in your local setup I am unable to locate it on the [website](https://www.asyncapi.com/blog/radical-transparency). 🙂

![image](https://user-images.githubusercontent.com/54466041/152634189-88ac9a27-6075-4095-878b-9f467c96824c.png)

[2022-02-05 08:16] akshatnema commented on #588
@Samridhi-98 are you using `Brave` browser? it won't be visible in Brave I think. You need to install Google Chrome to see those social icons.

[2022-02-05 08:18] Samridhi-98 commented on #588
I use Google Chrome 😅

[2022-02-05 08:20] akshatnema commented on #588
Surprisingly, it's visible in my Chrome browser, but not in Brave.
![image](https://user-images.githubusercontent.com/76521428/152634319-a4dac54a-6e1e-4b2d-bbee-addd4d6ae84e.png)

[2022-02-05 08:21] ghulamyazdani commented on #588
Just see the video I attached in the comment you will understand the issue.

[2022-02-05 08:23] Samridhi-98 commented on #588
Yeah, I found it by running the site on incognito mode may be due to the cache it's not visible in the browser.

[2022-02-07 09:39] derberg commented on #307
I think we can close this one. I don't think we have interest in providing such functionality for blog, this would make our work a bit complex and I see no benefits

[2022-02-07 09:43] ghulamyazdani commented on #588
Hey @Samridhi-98, I have seen that you have made the PR on this issue. I will like to make your lights on the open-source guidelines that are followed. You have created the PR before any maintainer has approved this issue. Secondly, I had created the issue and was willing to work on this, but you haven't been concerned about anything regarding you want to work on this issue. Please be mature while

[2022-02-07 10:08] Samridhi-98 commented on #588
I am extremely sorry for any inconvenience caused due to my lack of understanding. I will close my PR.

[2022-02-07 11:25] magicmatatjahu commented on #307
@derberg We should ask @Relequestual if there is are need for that, because that feature request raised the community not we :)

[2022-02-07 11:57] ghulamyazdani commented on #588
Please don't close the PR, you have taken your time and worked quite well on this issue . Go ahead and fix this issue but remember what I said for the next time.

[2022-02-07 15:01] imabp opened #592 "[Docs Bug 🐞 report]: Life-cycle terms should be color coded."
### Describe the bug you found in AsyncAPI Docs.

It will be more readable, if we have a color code for the terms that describe the life-cycle update on a feature.
[Source](https://www.asyncapi.com/docs/specifications/v2.3.0#channelItemObject)

---
Slack Conversation [here](https://asyncapi.slack.com/archives/C02JW8DA0DC/p1644245787572049?thread_ts=1644215195.552339&cid=C02JW8DA0DC)

### Attach an

[2022-02-07 15:05] imabp commented on #592
Fix:
Create a component interface for life-cycle terms which implements color code and text..
Replace the existing word `deprecated` with the interface.

Note:
This interface will be imported globally, and can be used anywhere in the doc.
More terms can be added `REQUIRED` `OPTIONAL` to create better sense.

[2022-02-07 16:38] akshatnema commented on #592
Hey @imabp, I think I have worked on the same issue like this while creating `DocsButton` in `docs`. I can easily work on this issue. I want a confirmation of whether you want to work on this issue or not? If you aren't, kindly ping me, I will be there to work on this.

[2022-02-07 17:04] imabp commented on #592
Go Ahead @akshatnema

- Putting some context to my approach 😄
    On a long term vision, I want to build a better approach to have a top-level interface, which auto assigns the color code and
    make sure, the term is in caps DEPRECATED.

Let me know, @akshatnema how much close can we go to this approach ?
What are your suggestions to improve. 👁️‍🗨️

[2022-02-07 17:22] akshatnema commented on #592
@imabp Yepp, I thought for the same to build the component in such a way that it takes important keywords from the props and automatically detects which color code to be used in that case. Some pre-built `keywords` and their `color-codes` can be defined to get to actual results in a good way. As mentioned by you, the component will be global so that it can be used not only in docs but on the whole

[2022-02-07 17:27] imabp commented on #592
Currently, this docs are built using `NextJS` + `.mdx` extension, you may need to go over `_section.md` and add some specific field data. which will be parsed while serving MDX to DOM elements.

[2022-02-07 17:39] akshatnema commented on #592
@imabp My plan is to make the component global by adding it to the list of global components in the `_app.js` file inside `pages` folder. Since every such component used in `.mdx` files is added there, the same I will be doing in this.

[2022-02-07 17:42] imabp commented on #592
Sure, go ahead, and raise a draft PR with your changes :) 🚀

[2022-02-07 17:46] akshatnema commented on #592
Sure, I will raise the PR as soon as possible.

[2022-02-07 18:04] derberg commented on #592
hey folks, please keep in mind that in website we just hold a copy of https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md

these are workflows that trigger copy:
- on merge to master https://github.com/asyncapi/spec/blob/master/.github/workflows/update-spec.yaml
- on release https://github.com/asyncapi/spec/blob/master/.github/workflows/new-spec-release.yml

They both trigger https://git

[2022-02-08 11:09] derberg commented on #583
@jonaslagoni could you provide links to all important resources that the community needs to know about. Researching these if you are not close to the subject can be really hard. I mean point out what should community know about, meetings, issues, how we work, what is target, etc.

[2022-02-08 23:03] quetzalliwrites commented on #453
@mcturco Correct, you read the description accurately 🙂👍🏽

[2022-02-08 23:04] quetzalliwrites commented on #453
Sounds like a great idea to have this be shared w/ other contributors with your help @derberg.

The issue description is already up to date, nothing has changed.

[2022-02-08 23:16] quetzalliwrites commented on #587
hey there @osigida! great first issue! Do you have any interest in helping contribute to this issue as well? 😄

[2022-02-09 12:37] jonaslagoni commented on #583
The issue that tracks all related issues to the 3.0 release and who is championing them: https://github.com/asyncapi/spec/issues/691

A milestone that tracks all issues that need to be considered before a 3.0 release can happen: https://github.com/asyncapi/spec/milestone/18

A release journal that tracks all relevant events that have happened: https://github.com/asyncapi/community/issues/163

All

[2022-02-09 14:13] osigida commented on #587
@alequetzalli I would love to, but not this time, as it is not clear what the intention was behind `server` term.

[2022-02-09 15:08] quetzalliwrites commented on #587
@osigida, no worries. In fact, researching that term is what anyone will have to do in order to complete this  issue. It's a great learning experience too, and you can reach out to folks in Slack! 🙂

[2022-02-10 11:22] akshatnema opened #598 "Adding husky precommit tests and eslint config"
### Reason/Context
This is my idea to propose some addition of tests in our project. This may be wrong in your perspective. Do tell me in the discussion, what is best according to you.

- **Why we need this improvement?**
  So far I worked in this repository, I saw that many code files have been formatted using different code formatters. So, this has created a type of non-uniformity in the code. A

[2022-02-10 17:35] derberg commented on #598
I'm not a fan of pre-commit hooks if they are not really needed. Have a look at https://github.com/asyncapi/cli/issues/198

I definitely think we should use eslint and best if we apply the same config that we have in other repos to be consistent.

do you mean prettier can be used with Markdown files? I had no idea 😄 are we sure it won't break anything? in the end it is not pure markdown but mdx 🤔

[2022-02-10 18:31] akshatnema commented on #598
Yeah, I can understand that you have already setup your VS code on auto-linting the code on save. But, this is not a default feature of VS Code or any other code editor. This setup may not be in any other contributor's editor. Therefore, I preferred to have it as a DevDependencies in project and set a script to run all necessary tests before. Secondly, I have made plan for adding all the tests in

[2022-02-11 11:39] smoya commented on #425
I think this is still relevant! I can't remove the `stale` label btw!

[2022-02-11 23:38] quetzalliwrites commented on #598
I'm also not a fan of pre-commit hooks. 🪝

I also don't know that I want to add `prettier` because linting issues are hard to troubleshoot and I'm concerned that this could hamper contributions 🤔

[2022-02-12 05:52] imabp opened #602 "[📑 Docs]: AsyncAPI CLI Documentation"
### What Dev Docs changes are you proposing?

**About CLI**
CLI helps you to work with  AsyncAPI files.
The following set of features are available(some are waiting to get merged and planned to be released in V1).
-  new --template
-  validate
-  diff
-  convert
-  start studio
-  new
-  generate
-  bundle
-  optimize

### Documentation
We currently do not have any documentation on front-end for t

[2022-02-13 04:53] imabp commented on #598
I guess, you can close this.

[2022-02-14 08:32] akshatnema commented on #598
Fine, I can understand why everyone is reluctant for using `husky` and `prettier`. It is my suggestion, but it's totally up to you all. I was just thinking of long-term use in this. Sometimes, while a project becomes open-source, contributors from outside, don't take much care of the code readability and code formatting. Secondly, when a project grows and accepts contributions on large scale, it i

[2022-02-14 08:40] imabp commented on #598
Hello @akshatnema

You are right, it does help. But please read this.

I have learned one thing from @fmvilas and @derberg, always do what is required by the community. We can have lot of things, but if its not required by the community, its not worth putting the effort, provided everyone has limited time.

I will suggest you, to think in terms of what's required, take some inputs from the AsyncAP

[2022-02-14 15:14] quetzalliwrites commented on #598
Yes! I feel that this explains it so well.

And I totally feel you because I too would love to make 1 million changes to the docs, but I have to acknowledge that not all my ideas make sense from an open source community perspective. 😄👍🏽👍🏽

[2022-02-14 17:22] akshatnema commented on #598
Yepp, I understood well. Thanks for your guidance and views on the issue @imabp @alequetzalli. I will like to now close the issue as it isn't needed in the project right now. Thanks to all the contributors here for sharing their views and ideas. With this closing comment, I am closing this issue now. Will love to see you soon in the next GitHub discussion 😄.

[2022-02-14 17:22] #598 closed, assigned to nobody

[2022-02-15 11:43] HarshCasper commented on #583
Hi @derberg @jonaslagoni

I am almost done with this. I will raise a PR by tomorrow :)

[2022-02-16 15:31] smoya opened #604 "Consider stop using `jsdelivr.net` as CDN for serving fonts due to GDPR"
#### Reason/Context
Disclaimer: I'm not an expert on GDPR or compliance. I would say I have very minimal knowledge.

According to https://thehackernews.com/2022/01/german-court-rules-websites-embedding.html, using an external CDN for serving resources (in this case fonts) that stores some data from the client (IP in this case, but can be anything else) violates GDPR.

Note that I'm not sure if is

[2022-02-16 15:54] jimaek commented on #604
Hey, I am from jsDelivr. We actually hired a law firm in Krakow to review the court ruling and how it applies to jsDelivr and our users. From the preliminary chat we had they said they don't see any issues or GDPR violations.
But I would suggest to wait for the full review to go live on our blog.

[2022-02-18 13:12] #536 closed, assigned to nobody

[2022-02-20 15:33] derberg commented on #383
This issue is about having a single landing page that lists all the tools for AsyncAPI, not only the ones that are maintained by AsyncAPI:

We have tools:
- here https://www.asyncapi.com/docs/community/tooling
- here under `Tools` button/dropdown
![Screenshot 2022-02-20 at 16 17 20](https://user-images.githubusercontent.com/6995927/154849727-21f2ae56-3a13-4cff-b4fc-69430445c3eb.png)

We still need

[2022-02-20 16:04] derberg opened #780 "Measuring AsyncAPI spec adoption"
#### Reason/Context

We do not know how many people use AsyncAPI. The most accurate number we could get is the amount of the AsyncAPI users that work with AsyncAPI documents. But how measure how many people out there created/edited AsyncAPI file?

The answer is a solution that includes:
- [SchemaStore](https://github.com/SchemaStore/schemastore/issues/1048)
- promotion of using `asyncapi` in a fil

[2022-02-21 15:20] ritik307 commented on #780
@derberg Sounds interesting ... I would like to take this issue as my GSOC'22 proposal.😊

[2022-02-21 15:27] ritik307 commented on #405
@boyney123 If this issue is still open I would like to work on this. 😊

[2022-02-22 08:26] #566 closed, assigned to nobody

[2022-02-23 06:58] akshatnema commented on #383
@derberg Hmm :thinking:  this idea looks fascinating and interesting to me. I am designing the solution in my plan(for `gsoc`) and looking to make a proposal on it. But, I want more information regarding this idea. As discussed by you on Slack, you proposed me this:

To make a `.asyncapi` file from which data is extracted using GitHub API and is updated manually by organization members. **So, wher

[2022-02-23 17:24] quetzalliwrites commented on #602
Hey there @imabp, thank you for your OSS submission and interest and contribution! I def want to work with you on this, and even regardless of `Google Season of Docs 2022`, if only in case they don't select us 😄😂👍🏽🙊 (I am submitting to them for us, no worries!)

**Let me share where in the Docs this would be great to start adding.** 😀

1. Take a look at #350 and #503 please 🙏🏽 ✌🏽, because those Do

[2022-02-23 17:57] imabp commented on #602
Thank you for following up on this.  @alequetzalli
This is really nice way 😊, we can go forward.

Also, we are adding more features for CLI, so I am just waiting for few PRs to get merged, and then generating the doc out of it. 😄

[2022-02-23 18:00] quetzalliwrites commented on #602
That sounds great @imabp, looking forward to seeing the new CLI features and your upcoming doc PR ✨✨

[2022-02-23 18:04] akshatnema commented on #453
@magicmatatjahu I will like to work on this issue. It looks quite easy but needs some more discussion with you regarding the implementation of `Submit Feedback` button. What I have planned is to make a post request from form, directly to the google sheets which will be maintained by Organization maintainers. An env will be added in the netlify to directly add the form data to sheets. The post requ

[2022-02-24 09:26] magicmatatjahu commented on #453
@akshatnema Awesome! From what I see from the tutorial there is an additional `Apps Script` page used. It seems to me that the code that would communicate with the spreedsheet should be written in the sourcode of website like here https://www.freecodecamp.org/news/create-a-feedback-form-using-nextjs-and-google-sheets-api/ You can always separate that code into a netlify function that run on the se

[2022-02-24 13:21] akshatnema commented on #453
@magicmatatjahu I understand your approach to writing all the backend code inside the repository only so that we can handle the data easily. But, the way described is to use Google APIs to handle Google sheets. I think Fran or maybe you have to build Google API client keys and spreadsheet URL keys and they should be added to the netlify variables in the production. I can't add this directly since

[2022-02-26 10:48] jonaslagoni commented on #583
hey @HarshCasper, anything you need from us? 🙂

[2022-02-27 07:54] ron-debajyoti commented on #371
Hey since there isn't any update on this can I open a PR fixing this?

[2022-02-27 16:37] akshatnema commented on #562
This issue looks quite silent to me 🤔 😄. Although, the idea of `newsroom` is brilliant on the website. On the other side, it is quite a lengthy and time-taken process as well to first design and implement the whole page. I am quite interested in making the design and implementing this on the website.

@magicmatatjahu @mcturco is anyone working on this issue right now? I'm not seeing anyone here. I

[2022-02-28 09:30] HarshCasper commented on #583
Hi @jonaslagoni

I had some difficulty in setting up the AsyncAPI Website on the local machine which has been solved by using a downgraded Node version. Rest apart, a PR has been raised right now. Looking forward to your reviews 😄

[2022-02-28 10:38] magicmatatjahu commented on #583
@HarshCasper Did you use v16, v17 or which version? I'm using v16 (on MacOS) and everything works as expected. Could you raise new issue with problems? :)

[2022-02-28 11:19] HarshCasper commented on #583
I have used Node v16. I will raise an issue with the screenshots and possible fixes :)

[2022-02-28 12:44] derberg commented on #598
well we still need eslint 😄 but it can wait until end of March, maybe someone will first work on https://github.com/asyncapi/community/issues/238 during OpenForce 🤞🏼
I think this detail was lost in the discussion about prettier and husky

[2022-02-28 14:55] mcturco commented on #562
@akshatnema Go for it! Just be sure in your design mock up that you are referencing the current website design ([you may even want to reference the styles made in this PR since the website style is about to drastically change](https://github.com/asyncapi/website/pull/534)) that way we are reusing as many existing components as possible, but also don't be afraid to introduce new layouts/ideas in co

[2022-02-28 16:12] magicmatatjahu commented on #562
I'm all for what Missy wrote :)

[2022-02-28 18:27] akshatnema commented on #562
@mcturco Yeah, I do have some. I will like to know what are the exact sections needed to show up in the newsroom. I'm planning to make a separate page for `newsroom`. Based on the discussion that happened before in this chat, I listed down the following things to be shown on this page:
- Latest blogs
- Latest Youtube streams
- Latest tweets from Twitter
- Any recent releases, news

Is anything els

[2022-02-28 18:49] magicmatatjahu commented on #562
@akshatnema I think that we don't need the new `/newsroom` page but only a new section in the main page (we can rid of `Latest blog posts` section and change it to the new one). I agree that we need all things that you mentioned, however for

[code]

I think that you should try to create some YAML or JSON where people will pass new news by PR, something like we render blog posts, based on md, but

[2022-02-28 18:52] ritik307 commented on #562
@akshatnema I would like to join you on this issue.  It would be great if we could split the work out, it will be faster that way. 🙂

[2022-02-28 19:05] akshatnema commented on #562
Thank You very much 🙌  @magicmatatjahu for saving me from another confusion. I recently got out from one such in my other PR 😄. Fine, then making my job quite easy, the design is quite easy to implement. I will get back to Missy by making one such design to get a review from her.

Thanks, @ritik307 for joining in. So now, let's collaborate and make it something amazing on the website 🚀.  What I am

[2022-03-01 04:09] Souvikns commented on #602
🤩 Wow love the new design for docs.

In terms of CLI, I have one small doubt -

#### Workflow/pipeline for new documentation
CLI still hasn't reached v1 yet so many new features are added and changed on regular basis, for this we thought of using tools like https://openbase.com/js/oclif/documentation#oclif-readme to generate documentation but it looks something like this https://github.com/asyncap

[2022-03-01 14:12] derberg commented on #780
@ritik307 sounds awesome!

@smoya @BOLT04 @magicmatatjahu any objections to have this endpoint first on `server-api`? i personally think better to add it here and then if we measure to big traffic, we can always split into a separate microservice

[2022-03-01 14:21] magicmatatjahu commented on #780
No problem for me, but we have to remember that we also provide that project as Docker Image, so people will have also that path. We have to think how to avoid unnecessary paths for people which use that project.

[2022-03-01 14:36] imabp opened #615 "feat: `/conference/:year` routes for asyncapi conferences"
Currently, we have a navbar being displayed on top:
![image](https://user-images.githubusercontent.com/53480076/156188332-eac160d3-a408-47fd-b0e3-35be5c2888eb.png)

Instead of using a navbar, would like to propose a special route  `/conference/2021`

We will probably showcase, all the videos related to particular conference.

[2022-03-01 14:39] magicmatatjahu commented on #615
we have not come to the conclusion 😄  I wrote that we should avoid unnecessary pages (but have in mind that we can implement you idea). Please change title and description because we haven't discussed anything yet :)

[2022-03-01 15:37] magicmatatjahu commented on #562
@akshatnema About envs, I wrote comment how we should handle that :) https://github.com/asyncapi/website/pull/609#issuecomment-1055571695

[2022-03-01 18:24] BOLT04 commented on #780
@derberg no problem for me 🙂, this is pretty cool!

@magicmatatjahu I get what you're saying and if this new endpoint does in fact need to use external services (e.g. Google APIs), we would need new config/environment variables for API keys, etc. I propose we use **feature flags** to solve this. On our deployed version of the API the **feature is on**, but for local development it's not. If someon

[2022-03-01 19:46] akshatnema commented on #562
@magicmatatjahu @ritik307 @mcturco Here's the link to my Figma design - https://www.figma.com/file/Xqluwz9HIZWLVBIGpwio7W/AsyncAPI?node-id=0%3A1
Consider only the leftmost design of the page for review.

It may seem to you that the design is going a bit wide or made for a seperate page, but honestly, I tried my best to fit all the things in a single section only and didn't look much ugly at the sa

[2022-03-01 22:05] smoya commented on #780
I love the idea of adding our schemas to Schema Store. I didn't know about it until 5 minutes ago and I like it a lot 👍.

I want to add some feedback regarding the creation of a service for serving the schemas:

Serving **static files** such as JSON Schema files in a fast and reliable way is exactly the reason why [CDN](https://www.cloudflare.com/learning/cdn/what-is-a-cdn/)s exist. Considering th

[2022-03-02 09:09] derberg commented on #780
Cool. I think the most important is that you support the idea. It is not written in stone to have it as endpoint here:

- regarding @magicmatatjahu concern about local usage and Docker. There are different options possible, feature flags, or just a need for environment variable that will enable analytics (so on local it wont work). Subject to discuss with person that will work on it
- regarding @s

[2022-03-02 09:15] ritik307 commented on #562
@akshatnema The design looks good but the colour theme is off as per the theme used by the official async API website. Can you kindly look into that? 😊

[2022-03-02 09:18] ritik307 commented on #780
Sure @derberg I would love to take this task for GSOC 😊 and it would be great if you guys mentor me.😊

[2022-03-02 09:38] magicmatatjahu commented on #780
I think that file hosting and adding metrics to ServerAPI itself will not be a problem. We have control over every part, so we won't have to use additional services. However, CDN would be better in this case and I am for this option!

[2022-03-02 10:27] akshatnema commented on #562
@ritik307 If you see PR #534, made by @mcturco, she is going to change the theme and styling of the website very soon. So, I have made the section according to the latest theme.

Also, I messaged you in Slack regarding this. Kindly do check there as well.

[2022-03-02 11:03] magicmatatjahu commented on #562
@akshatnema It looks awesome 🚀  however:

- I think that Twitter is more important than YT so I would like to move twitter section with news on the center and YT on the right.
- Is there an API in YT to checking live streams? I think that it would be awesome if we will show current live stream as first video in the YT section and then two latest videos deployed to our YT account. If there is nothi

[2022-03-02 12:21] akshatnema commented on #562
@magicmatatjahu I should say you are right in the motive you want to show, but let me tell you a brief on how Twitter embed will look. Do check out this link - https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview. If you see, if we make that twitter section in middle, the text size inside the embed (where we have no control) will become very much larger than the outside te

[2022-03-02 12:23] derberg commented on #453
sorry, I'm going to throw a "bomb" now into discussion. On holidays I was thinking like:

---
Walking on a beach on Polish Baltic sea. The wind was like 70km per hour, sand hitting my eyes. Kids crying, wife shouting at me, dog getting nuts.

And me thinking about feedback card. I like netlify functions part of idea that GitPod folks are doing. But why Google sheet. We not creating a dedicated cat

[2022-03-02 12:35] magicmatatjahu commented on #562
Ok! Thanks for explanation. Let's wait for @mcturco feedback. But could we just change the order of these sections? Blog posts, twitter, YT?

I had in mind thumbnail of that live stream :) So it's ok for me.

[2022-03-02 12:38] magicmatatjahu commented on #453
@derberg Super idea! We already have the Github Token in Netlify and it could be used. What would we do without you? Probably nothing 😆

[2022-03-02 12:57] ritik307 commented on #562
sorry for the inconvenience caused 🙁. I was unaware of the new designs.

[2022-03-02 13:49] akshatnema commented on #453
I even thought of a label named `until Lukasz returns` in GitHub to make it easy for Lukasz to understand how much we need him 😃.

@derberg Surely, you have thrown a "bomb" not in war, but in my brain 😄. Actually, I haven't done such a thing in my work experience yet. PR is already on its way to getting completed using Google Sheets API. If you need it in GitHub discussion, then it may take time f

[2022-03-02 14:02] mcturco commented on #562
@akshatnema Hi! Do you mind if I copy your file and make some tweaks so that the UI matches the design system of the new website styles?

[2022-03-02 14:09] akshatnema commented on #562
@mcturco No problem at all. I thought of it before in adding this design to the website design file, but you can go with it.

[2022-03-02 15:57] mcturco commented on #562
Okay! I have created this loom video so I can explain my idea for this section. Let me know what you guys think!

[Website - Newsroom Section Mockup - Watch Video](https://www.loom.com/share/1ab0938526b84c54a96a14a277dc18d7)

Here is the link to the Figma file -> https://www.figma.com/file/vPO7Go2C0v609Xw2L8eWS8/?node-id=287%3A723

And here is a picture of my initial layout sketch for this idea:

[2022-03-02 18:02] akshatnema commented on #562
@mcturco I completely understand your point regarding the mess I made in design 😄. Truly, you made the explanation very easy for all of us and made your point correctly understandable to us ✨. So Fine, I think we should go with your design. But I have a suggestion over here that since we are making these sections so much informative to users, we should ideally keep it somewhere in middle instead o

[2022-03-02 18:43] magicmatatjahu commented on #562
@mcturco Awesome design! I like that idea of carousel of blog posts. I wonder if we should make also carousel for YT videos, not display then vertically, but horizontal, like these blog posts and then increase number of latest videos up to 5, not 3.

I also agree that we should change order of rendering part in main page, I think that we can render that newsroom after `oin our great community!` se

[2022-03-02 19:22] mcturco commented on #562
@akshatnema @magicmatatjahu Yeah I agree with moving the section further up on the page. Under the community section I think is good!

Yeah good idea! I can see how that looks in a mock up, it would probably just show 2 at a time, the second one overlapping off the screen like in the first section

[2022-03-02 19:25] mcturco commented on #562
Perhaps something like this:
![Screen Shot 2022-03-02 at 2 25 35 PM](https://user-images.githubusercontent.com/60163079/156434348-9e4485be-ca6a-4bc8-a6ab-8026c7129420.png)

[2022-03-02 19:39] akshatnema commented on #562
Thanks, I really forgot about that. Thanks for mentioning it.

So, looks like we are done with the design. Anything more we need to discuss? If not, I and @ritik307 can start working on this by dividing the work and making separate PRs for this.

[2022-03-02 19:51] mcturco commented on #562
@magicmatatjahu How would you recommend they start working on this since my PR has a lot of the styles needed and it isn't merged yet?

[2022-03-02 20:43] magicmatatjahu commented on #562
We should wait for your @mcturco PR :) Hopefully we should merge it to Friday :)

[2022-03-03 08:16] derberg commented on #453
every organization needs a party pooper to stimulate it 😆

it is super easy, I can help out. GitHub have an amazing GraphQL API:

- mutation to create Discussion -> https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions#mutations
- example code I wrote on backend to create GH PR with GraphQL, on your side it will be super similar -> https://github.com/derberg/global-workfl

[2022-03-03 18:02] #371 closed, assigned to nobody

[2022-03-07 14:18] jonaslagoni opened #622 "[📑 Docs]: Describe different versioning strategies"
### What Dev Docs changes are you proposing?

Versioning can be hard, and with no clear information on the site about the different approaches, it is hard to figure out which one to choose.

We can learn a lot from existing versioning strategies in OpenAPI, however, as someone coming into AsyncAPI, it can be difficult to figure out how to find the solution that fits your use case.

One thing to re

[2022-03-08 23:54] quetzalliwrites commented on #453
Sorry ya'll, here I am again on this one 😄🙏🏽

Ah, so given we're OSS and want to be 100% transparent I can see why it feels nice to prompt the user to share feedback and start community discussion/voting via a GH Discussion. I have no problem changing my vote to join the `GH Discussion button` bandwagon. 😄

Ok, so I think that the **submit feedback button** would make less sense if we go with the

[2022-03-09 00:24] quetzalliwrites commented on #622
Hey @jonaslagoni, this sounds like a great new doc for sure! I can see the huge value of explaining how different versioning strategies work within AsyncAPI.

Are you willing to provide background context that is specific to AsyncAPI? Otherwise, it will be hard to get a doc started that is tailored only for our spec.

[2022-03-09 08:25] derberg commented on #453
@alequetzalli actually no chance needed in the form. We are just talking about change of the "backend" where feedback is stored. So instead of google sheet we will write feedback in GH Discussion, but still anonymously, as asyncapi-bot. So we still want to give the option to leave feedback anonymously. It will just be processed with GH Discussion instead of Google Sheet row

[2022-03-09 08:53] TheLand opened #625 "[📑 Docs]: How to group messages and sidebar using Tags"
### What Dev Docs changes are you proposing?

Hi all,

I think it could be useful if you explain better how to use **Tags** to improve operations and messages grouping.
In the documentation there isn't an example and I cannot understand how to get it.

I had a list of Tags in the asyncapi.yaml root file and then in the root messages, badges are appearing but:
1. They seem clickable but, when I cli

[2022-03-09 08:56] fmvilas commented on #625
Should this issue be in https://github.com/asyncapi/html-template/#supported-parameters? What do you think @alequetzalli?

[2022-03-09 10:49] magicmatatjahu commented on #625
@TheLand

Tags should actually be described in one of the tutorials and an example given of how to use them for grouping a message etc (cc @alequetzalli), however:

- we have to specify that `html-template` has nothing to do with the specification itself, but only serves to display it in a nice way, so please note that `html-template` is not a good source for AsyncAPI "best practices".
- > They se

[2022-03-09 10:59] jonaslagoni commented on #622
I can kickstart it, but there are many questions to answer, so I am probably not formulating myself correctly or including everything. So solving this will require some research and thinking 😄

I think we can split it up into standard versioning strategies and then for each protocol we can deep dive a bit as to what setup might benefit the user.

An important note is that it's not only important y

[2022-03-09 11:05] TheLand commented on #625
Thank you @magicmatatjahu !
Maybe would `html-template` be implemented following the AsyncAPI "best practices"?
Otherwise it could be "auto-disruptive" for developers who use the default `html-template` generator to show their documentation.

[2022-03-09 11:11] magicmatatjahu commented on #625
@TheLand No problem :)

The question is what best practices would be. Currently, `sidebarOrganization` is an old feature that one person in the community needed and we may remove it in the future (I don't know). First we need to define such best practices and then we can move them to `html-template` :)

[2022-03-10 02:30] quetzalliwrites commented on #453
Ooooh, I didn't follow at all! I get it now.

Ok, yes, I'm happy to vote with you to go with GH Discussions started by our bot.

@akshatnema, does that sound good with you? 🙂

[2022-03-10 04:58] akshatnema commented on #453
@alequetzalli Yup, I completely understood what you want and I and Lukasz had more detailed discussions on the implementation of GH Discussions on PR #609. You can discuss with us there and do check if everything is working according to you. Right now, I haven't made the backend to GH Discussions, as I was waiting for your approval, but now, I will push it soon in the PR :slightly_smiling_face:.

[2022-03-11 04:57] quetzalliwrites commented on #453
@akshatnema/ @derberg

That sounds amazing! thank you so much for contributing to this issue, I am so excited to work with you 😄🎉

BTW, I left a comment in your PR #609 on the created `Docs Feedback` **discussion category** URL.

I already have a `Docs`  **discussion category** going here and I think it makes more sense to use that one:
https://github.com/asyncapi/community/discussions/categories/

[2022-03-11 14:29] mcturco opened #627 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 14:29] mcturco commented on #627
/gfi design

[2022-03-12 06:22] akshatnema commented on #627
Looks like no one is interested :smile:. It is a good plan to make it for newcomers, but looks like we want to update our brand and wait for someone else to start working, may get too delay. So, right now, I am making a PR.

[2022-03-14 15:03] #627 closed, assigned to nobody

[2022-03-15 00:11] #592 closed, assigned to imabp, akshatnema

[2022-03-16 15:17] peter-rr opened #631 "Blog post's section title overlapped by website header"
#### Describe the bug
Blog post's section title is overlapped by the website header when accessing directly from the links on the right-index.

#### How to Reproduce

1. Access to any blog post on AsyncAPI website.
2. Click on any section title at the right-index.

(*) Tested with Firefox 98.0.1 (64-bit)

https://user-images.githubusercontent.com/81691177/158625769-c80d9e71-56e3-483d-aa37-f24ea440

[2022-03-17 10:02] boyney123 commented on #631
Thanks, @peter-rr for raising the issue.

I had a look into this, looks like when you click on the link the browser is taking the item to the top of the page, the problem is the header is fixed and the content goes under it.

<img width="1371" alt="image" src="https://user-images.githubusercontent.com/3268013/158784965-744394e2-499d-48c3-b7c7-cfcbef08d167.png">

I found a StackOverflow answer for

[2022-03-18 06:44] smoya commented on #780
I would like to retake this, especially after @derberg raised its concern on https://github.com/asyncapi/website/pull/502#issuecomment-1070960957.

There is something we should consider before moving forward with a custom solution with our own service. Right now we do not have services exposed openly for being consumed in the same frequency as static JSON Schema files would be.
Exposing a service

[2022-03-18 06:59] derberg commented on #780
This is definitely what I prefer since you mentioned Netlify Analytics.
Did you mean this https://docs.netlify.com/monitor-sites/analytics/ or something else?

[2022-03-18 07:00] smoya commented on #780
Yup, this is the service I meant.

[2022-03-22 23:00] quetzalliwrites commented on #602
@Souvikns  The workflow will be the same for all docs. It is put in a PR, goes through a review process, and eventually when approved gets merged.

We do not have tools for generating docs yet, but even when we do add them, we will be going through a Technical Writing review, we are not going to copy/paste random stuff from READMEs :)

[2022-03-23 15:06] Barbanio opened #635 "Add section on the website for the AsyncAPI Ambassador Program"
#### Reason/Context

As you know, we are working on the [AsyncAPI Ambassador Program](https://github.com/asyncapi/community/discussions/239). We need to create a new page on the website for this, something similar to the [TSC page](https://www.asyncapi.com/community/tsc). This space will house all the clear and concise information about the program:
- how to join the program
- the requirements to

[2022-03-24 03:09] quetzalliwrites commented on #635
@Barbanio  Would you like me to help with writing the copy for the page? Do you have something specific in mind? ❤️

[2022-03-24 12:06] Barbanio commented on #635
Yes, great!  🎉 I've [summarized](https://github.com/asyncapi/community/discussions/239#discussioncomment-2281024) everything that's been talked about in the Ambassador Program [thread](https://github.com/asyncapi/community/discussions/239).

And from there, we can work if that's okay with you. The core of my idea is something like this:

## What is the AsyncAPI Ambassador Program?

The AsyncAPI Am

[2022-03-24 14:26] quetzalliwrites commented on #635
@Barbanio, awesome! I am very happy to help this great cause, plus I love working with you 😜🤗💜

I will totally start working from this content that you already created and started.

Is there already a new page created for this? We are still waiting for development work right? I just want to make sure I know where I start writing the draft of this… Do you have any specific instructions for me?

[2022-03-24 15:52] mcturco opened #636 "Update open graph images"
#### Reason/Context
Just noticed that we need to update the og images to match the new branding.

Here is an updated image asset that we can use:

![website-ogimage](https://user-images.githubusercontent.com/60163079/159956747-24237610-1f1e-4444-9352-5d0ee69b2423.jpg)

Just need to make sure that we update it in all the og meta tags that the old image is currently assigned to.

[2022-03-24 15:54] mcturco commented on #636
/gfi design

[2022-03-25 22:26] jaas666 commented on #636
I can work on this. Please assign

[2022-03-25 22:33] mcturco commented on #636
@jaas666 Go for it! I don't have permissions to assign

[2022-03-25 23:05] jaas666 commented on #636
PR submitted.. failed test because I'm missing the tittle prefix... Would this change be considered a fix or a chore?

[2022-03-27 16:17] quetzalliwrites commented on #636
@jaas666

I think chore is fine… Perhaps you are getting an error because of the ':' between OG and tag?

Try simply writing 'OG tag' and see if that fixes it 😀

[2022-03-28 18:46] imabp commented on #602
@Souvikns , as some features have been decided for V1, I will start documenting them. Hope that's fine
CC: @alequetzalli

[2022-03-29 16:25] derberg commented on #518
/gfi docs

[2022-03-30 20:46] quetzalliwrites commented on #503
### Yo again, @magicmatatjahu, @mcturco, @derberg:
This is the PR where we are adding a NEW `/Homepage` for our **Docs**. The new `/Homepage` has already been designed by @mcturco and [her prototype can be seen here](https://www.figma.com/proto/vPO7Go2C0v609Xw2L8eWS8/Website?page-id=3%3A114&node-id=11%3A218&viewport=241%2C48%2C0.5&scaling=scale-down&starting-point-node-id=11%3A218).

<img width="3

[2022-03-31 00:20] quetzalliwrites opened #643 "[📑 Docs]: create "Contributors Needed" cards to encourage contributions"
### What Dev Docs changes are you proposing?

## Proposed Improvement
As part of the new Information Architecture (IA) changes proposed via https://github.com/asyncapi/website/issues/350 and https://github.com/asyncapi/website/issues/503, _this_ issue proposes addressing a ✨new contribution idea✨ that was born from a comment within issue #350.

[As documented in this comment](https://github.com/as

[2022-03-31 00:21] quetzalliwrites commented on #643
@derberg, your idea finally has it's own issue 😄🎉🎉

[2022-03-31 12:28] derberg opened #645 "Dedicated `AsyncAPI Meeting` Page"
#### Reason/Context

We need a dedicated page like asyncapi.com/community/meetings where we can link people whenever community asks what meetings we have and when and how to join.

#### Description

The new page should contain 2 sections:

##### A list of meetings types

Like a table or something where we specify meeting name, description, and who is the host(s)

so for example:
name: Community Me

[2022-03-31 15:44] mcturco commented on #645
@derberg sounds like a good idea to me! I can put this on my radar, but just note that I am trying to spend only 20% of my time or less on mock ups to put more focus on the design system, so this might be a slow turn-around! 😄

[2022-04-04 17:15] derberg commented on #602
my 5 cents: just let us remember folks, in the case of CLI, we should generate docs from code as much as possible. We already know that sometimes in `CLI` we even forget updating the Readme, so updating main docs will be even more complicated. So better to generate them. Just making sure you remember 😄

[2022-04-05 07:36] derberg commented on #780
some important info: https://github.com/asyncapi/website/pull/502#issuecomment-1088363548

[2022-04-05 07:42] derberg commented on #643
love it! would it be a "clickable" banner linking to some instructions? video?

[2022-04-05 08:52] derberg commented on #645
![](https://media.giphy.com/media/6ahZf0o1e4K7EquZkp/giphy.gif)

[2022-04-05 08:54] derberg commented on #408
I'm closing this one, we do not have proper video atm. We will add more videos once we have them ready, work is currently in progress https://github.com/asyncapi/training/pulls

[2022-04-05 08:54] #408 closed, assigned to nobody

[2022-04-06 03:49] quetzalliwrites commented on #643
good idea/question! hmm.. I think the card should be a component that can link to individual instruction pages for each **contribution idea** card displayed.
@derberg

[2022-04-07 01:18] quetzalliwrites opened #647 "[Docs Bug 🐞 report]: fix spelling in streetlights tutorial header"
### Describe the bug you found in AsyncAPI Docs.

## Thing to fix 😄
In the [Streetlights tutorial](https://www.asyncapi.com/docs/tutorials/streetlights#conclusions), the last `header` of the page reads **Conclusions**.

There are 2 reasons why we want to fix this:
- This is a spelling mistake, because it should not be plural.
- We should have _consistency_ in everything we write in our Docs, and i

[2022-04-07 01:21] quetzalliwrites commented on #647
Here is a perfect `good-first-issue` for you, @luphieanza. 😃

If you have any trouble getting the PR up, let me know. 👍🏻

[2022-04-07 01:42] quetzalliwrites opened #648 "[📑 Docs]: exchange YT video for a link reference to video instead in /event-driven-architectures"
### What Dev Docs changes are you proposing?

## Thing to improve 😄
In our current **Getting Started** tutorial, we have a page for [`/event-driven-architectures`](https://www.asyncapi.com/docs/getting-started/event-driven-architectures).  At the bottom of that page, there is an embedded YouTube video card of a Martin Fowley talk given at a **GOTO;** conference.

While this is a useful talk about

[2022-04-07 01:45] quetzalliwrites commented on #648
Here is a perfect `good-first-issue` for you, @nafees87n. 😄

If you have any trouble getting the PR up, let me know. 👍🏻

[2022-04-07 02:09] quetzalliwrites opened #649 "[📑 Docs]: add installation guide to streetlights tutorial"
### What Dev Docs changes are you proposing?

## Thing to improve 😄
 Our [Streetlights tutorial](https://www.asyncapi.com/docs/tutorials/streetlights) does not have an **Installation Guide**.  It only has a **Technology** section [(`/docs/tutorials/streetlights#technology`)](https://www.asyncapi.com/docs/tutorials/streetlights#technology) that mentions the user will need **NodeJS**.

<img width="5

[2022-04-07 02:15] quetzalliwrites commented on #649
Here is another perfect `good-first-issue` for either @nafees87n or @luphieanza. 😄

If you have any trouble getting the PR up, let me know. 👍🏻

[2022-04-07 02:20] luphieanza commented on #649
Thanks @alequetzalli will check it on. ✅

[2022-04-07 03:55] luphieanza commented on #647
@alequetzalli So about this issue, did I need to fix the spelling in all of the streetlights.md section or just inside of the conclusions section?

[2022-04-07 04:34] nafees87n commented on #648
Thank you @alequetzalli. Will open a PR for this

[2022-04-07 09:19] derberg commented on #643
sure, might be some work, but this would be ultimate great goal, and fallback could be a link to some generic video about how to contribute to AsyncAPI docs, some tutorial or something. Something similar we have about contributing to spec

[2022-04-07 14:03] quetzalliwrites commented on #647
Hey @luphieanza, this issue and the title only say to fix the streetlights tutorial header. Just follow the specific instructions in the issue and read it carefully ♥️

[2022-04-07 19:36] quetzalliwrites commented on #602
@derberg  that sounds good to me, do I need to sync w/ you or someone else about how the coding side of generating them can be done? I think we still need to identify a contributor for that, right? 🤔 💭

Or are you also working on that, @imabp?

P.S. @imabp let me know if you need more guidance on getting the CLI Docs PR started, I have more folks tagging me lately in Docs so I want to make sure I

[2022-04-07 21:17] JustinBui commented on #649
If not done already, I can do an installation guide for Windows! Is this just a simple description of how to install Nodejs?

[2022-04-07 21:37] quetzalliwrites commented on #649
@BuiTheBoi Check out the PR that @luphieanza already made and see if you want to make a commit suggestion 😃 .

[2022-04-07 22:19] #648 closed, assigned to nafees87n

[2022-04-07 22:20] quetzalliwrites commented on #648
Thank you for your contribution, @nafees87n! 🌟 🌟 🌟

[2022-04-07 22:25] quetzalliwrites commented on #643
@derberg
Yeah, true... this will def be more work cause it means new page for each contribution card 🤔 💭

I think a fallback can be to have ONE generic docs page that lists the steps to contribute to the Docs. Something similar to this...

___
## How do I get started contributing to this ticket for AsyncAPI Docs?
Don't forget that code isn't the only way to contribute to OSS; Dev Docs are a **huge

[2022-04-07 22:26] quetzalliwrites commented on #503
Hey @magicmatatjahu, tagging you again in this issue because I think you may have missed the notification. 🌟

[2022-04-07 23:40] quetzalliwrites commented on #410
I am closing this issue because it's too vague and doesn't seem to help the community know how to jump in and improve it.

I am instead creating new and better tailered issues that are all available in our GH Docs Board and our Docs slack channels.

[2022-04-07 23:40] #410 closed, assigned to quetzalliwrites

[2022-04-08 04:26] nafees87n commented on #587
@alequetzalli Can I give this a try?

[2022-04-08 06:25] Souvikns commented on #602
I can help with this @alequetzalli.

[2022-04-08 10:09] magicmatatjahu commented on #503
@alequetzalli Yeah sorry, I miss that notification 😅 Of course I can do that! Give me some time :) To Monday it should be done.

[2022-04-08 13:07] imabp commented on #602
Hey @alequetzalli , I am taking up this thing. But I can not do it alone, as it needs some inputs from @Souvikns  as well.
Earlier, things were in development, and unstable, but now we are bit stable, so  can we start working on it @Souvikns @derberg ?

[2022-04-08 14:21] quetzalliwrites commented on #587
@nafees87n You can! Just to let you know tho, I saw @luphieanza express interest in it and he already started researching in the spec channel. You might want to team with him ♥️✨✨

[2022-04-09 03:04] luphieanza commented on #587
@nafees87n yeah we could do it together since we both have an interest in this :grin:
Have a look at this reference https://www.asyncapi.com/docs/specifications/v2.3.0 I found it when I try to research the spec channel.

[2022-04-10 09:29] vickywane commented on #647
Hi there,

If there's no update on this issue, I'd like to take it up and submit a PR for a fix.

@alequetzalli

[2022-04-10 10:32] luphieanza commented on #647
@vickywane I think its been merged, I was PR for this issue but in the other issue, its my fault anyways to forget PR for each of issue cc @alequetzalli

[2022-04-10 10:59] vickywane commented on #647
Thanks for the update.

😊

[2022-04-10 11:36] luphieanza commented on #647
Might you want to check this issue [#587](https://github.com/asyncapi/website/issues/587).

[2022-04-10 12:24] vickywane commented on #647
Yep, I will.

[2022-04-10 19:06] nafees87n commented on #587
@luphieanza Sure

[2022-04-10 20:57] magicmatatjahu commented on #503
@alequetzalli https://github.com/asyncapi/website/pull/601#issuecomment-1094367814 😉

[2022-04-11 08:03] Souvikns commented on #602
I have some doubts about where should we keep our documentation, should it be in the website repo or the CLI repo.
-  If we are using CLI repo we could generate with a tool and the website could somehow fetch it from there and render it.
- If we are keeping the documentation in the website repo we have to open two PRs in two different repositories to make any changes.
  - maybe we can have a workf

[2022-04-11 08:24] derberg commented on #602
by principle, technical docs belong to the repo where the code is. So docs are updated in the same PR that code is updated.

so we write/generate docs in`cli` and then push it to `website`, just like we push for example specification from `spec` to `website

and yes, we should have decent dev docs for contributors to ease contribution.

[2022-04-11 09:05] derberg commented on #643
sounds good

[2022-04-11 20:42] luphieanza commented on #587
@alequetzalli I want to PR this issue, but I need to make sure, that I just need to merge only v.2.3.0 or all those spec versions?

[2022-04-11 21:53] quetzalliwrites commented on #647
@luphieanza The PR still isn't merged, you need to address feedback on it 😄 . No rush, take your time on it. 🌟

[2022-04-11 22:25] quetzalliwrites commented on #587
@luphieanza  Good question! I would add the definition only to the latest spec version, `v.2.3.0`. Thank you for checking and let me know if that makes sense. 😄

[2022-04-11 22:40] quetzalliwrites commented on #602
@Souvikns  As @derberg explained, we will write/generate the initial README docs in the `cli` repo and create a tool that pushes them into website too, or rather.. generates a PR to the website repo too.

That said, that PR from repo READMEs to website Docs will undergo a thorough review before it gets approved/merged into the website's main Docs.

This is useful and can/should be added to our web

[2022-04-11 22:45] quetzalliwrites commented on #602
Hey @imabp, that's a great follow-up question! Thank you for noting and remembering that we were making some key changes to the Docs Information Architecture first...

The current update is here in my Gist that I just wrote:
https://gist.github.com/alequetzalli/dd63a0e688735c4ab95e28457318d6b1#-what-main-change-is-happening-in-the-docs

As you can see, that PR #601 is still in dev/design/writing s

[2022-04-11 22:54] quetzalliwrites commented on #503
@magicmatatjahu  Thanks for the tagging!! Replied! 🥳

[2022-04-12 03:44] luphieanza commented on #647
I'm coming up with the revision :bullettrain_front: @alequetzalli
BTW can you re-assign me for this issue, I click the wrong button yesterday :sweat_smile:

[2022-04-13 11:21] derberg commented on #587
you should not add new definition here https://github.com/asyncapi/website/pull/657/files but in https://github.com/asyncapi/spec/tree/master/spec where the original file is. `website` repo has only a copy of the spec that is modified by automation whenever change happens in https://github.com/asyncapi/spec/tree/master/spec

[2022-04-13 12:48] luphieanza commented on #587
I see, thanks for your help @derberg I will do that for the revision.

[2022-04-13 15:30] quetzalliwrites commented on #647
@luphieanza Yay! thank you, you're a ⭐

Done ✅

[2022-04-13 15:46] luphieanza commented on #647
@alequetzalli don't forget to check my re-request review for revision at #650. Thanks!

[2022-04-13 17:25] quetzalliwrites commented on #587
I apologize @luphieanza, I should have remembered to add that instruction in the **Description** section! 😆

Thanks for the catch @derberg  ⭐ , I have updated this issue's **Description** with the correct info.

[2022-04-13 17:29] luphieanza commented on #587
@alequetzalli All is fine for me 😁, and this issue I will bring it into our 1on1 mentoring call tomorrow!

[2022-04-13 17:39] #647 closed, assigned to quetzalliwrites, luphieanza

[2022-04-13 17:39] #649 closed, assigned to quetzalliwrites, luphieanza

[2022-04-13 17:40] quetzalliwrites commented on #649
Good job, @luphieanza! ⭐

[2022-04-13 17:41] quetzalliwrites commented on #647
Great job @luphieanza, you just made your first two contributions to the AsyncAPI Docs! 🏅

[2022-04-13 19:01] smoya commented on #780
TL;DR: I still think we should avoid creating a new file server app. Instead, look for an alternative based on a SaaS provider . And I'm suggesting some alternative ideas to the previous one. I'm happy to keep evolving this idea and also to put it in practice asap.

I understand the need to get such metrics and how simple it seems to build a file server with built-in metrics. However, I want to st

[2022-04-13 21:20] smoya opened #664 "Tools pages content not responsive"
#### Describe the bug
Page content is not responsive in mobile for tools (at least) pages.

#### How to Reproduce
Navigate to https://www.asyncapi.com/tools/generator in a mobile device (or just emulate a simple smarthpone).

The following screenshot has been taken zooming out the page. It might seem the problem is with the nav bar but it is in fact with the content.

![Screenshot_20220413_231227]

[2022-04-14 19:00] imabp commented on #602
This works really well 😁. On it @alequetzalli

[2022-04-19 07:26] icode247 commented on #602
Hi @alequetzalli
I am Ekekenta Odionyenfe Clinton. I am a software engineer and a technical writer with 3 years of experience.
I have authored for companies like Logrockets, OpenReplay, Loginradius, Arctype, Fauna, etc.

I love to contribute to AsyncAPI to create the AsyncAPI CLI documentation.

[2022-04-19 08:50] imabp commented on #602
Hello @icode247 , I am actually working on this locally.  There are other many issues that needs a care.  Please do take a look at them.

[2022-04-19 09:03] icode247 commented on #392
Hi @alequetzalli
I am Ekekenta Odionyenfe Clinton. I am a software engineer and a technical writer with 3 years of experience.
I have authored for companies like Logrockets, OpenReplay, Loginradius, Arctype, Fauna, etc.

I love to contribute to AsyncAPI on the Google Season of docs 2022.
I can create a tutorial on this issues.

[2022-04-19 19:00] smoya commented on #780
From today, Netlify Edge Functions (Previously known as Edge Handlers) are now public beta, available for free. https://www.netlify.com/blog/announcing-serverless-compute-with-edge-functions

[2022-04-19 22:22] quetzalliwrites commented on #602
@icode247 Like Abir noted, this issue is already assigned :)

[2022-04-19 22:45] quetzalliwrites commented on #392
Welcome @icode247! It's too early to assign this **gsod** issue out yet. ❤️

Please follow the updates and instructions in our Slack channel, `temp-gsod-2022`. ✨✨

[2022-04-20 10:26] #645 closed, assigned to nobody

[2022-04-20 10:43] imabp commented on #602
So I was brainstorming about this. And need some answers to these two questions

1. @alequetzalli, as CLI is a tool, so can we move it under `tool` instead of `reference` ?

2. @derberg , @Souvikns  now the thing, is, I was looking at various kinds of docs published by companies like Netlify, Docker, etc.

    - What I realised is this?
        -  Docs should be friendly for first time users

[2022-04-20 13:14] derberg commented on #332
@jonaslagoni do you still experience this issue? I suggest we close this one as it was not possible to reproduce + the website changed a lot anyway

[2022-04-20 13:18] jonaslagoni commented on #332
Yea, cant seem to trigger it anymore :)

[2022-04-20 13:18] #332 closed, assigned to nobody

[2022-04-20 14:46] derberg commented on #515
not needed anymore, now upcoming events are collected from Google Calendar.

once a day we run https://github.com/asyncapi/website/blob/master/.github/workflows/regenerate-meetings.yml and update https://github.com/asyncapi/website/blob/master/config/meetings.json by PR flow like https://github.com/asyncapi/website/pull/669. You can also run this workflow manually to refresh if you want

[2022-04-20 14:46] #515 closed, assigned to nobody

[2022-04-20 18:04] quetzalliwrites commented on #602
@imabp

## (1)

Hey, thanks for asking but we do not want CLI under tools. I an placing anything related to console, dev env, and API spec under **Reference** 😄

Please go ahead as we already planned so that your awesome ✨CLI✨ contribution would go under the new Information Architecture under the Reference section, with the URL being: `asyncapi.com/docs/reference/cli`.

## (2) So I like where you'

[2022-04-20 18:44] luphieanza commented on #587
@alequetzalli you might want to close this issue.

[2022-04-20 18:49] quetzalliwrites commented on #587
Congratulations on this contribution, @luphieanza! A very worthy one ✨

LIVE:
https://www.asyncapi.com/docs/specifications/v2.4.0-2022-04-release.1#definitionsServer

[2022-04-20 18:49] #587 closed, assigned to quetzalliwrites, luphieanza

[2022-04-21 09:46] #636 closed, assigned to nobody

[2022-04-21 12:33] darp99 commented on #311
is this issue still open? @derberg @magicmatatjahu

[2022-04-21 12:36] derberg commented on #311
I think so, you would have to try to reproduce it

[2022-04-21 13:57] pratik9315 opened #677 "[Docs Bug 🐞 report]: remove emoji that is not rendering"
### Describe the bug you found in AsyncAPI Docs.

Documentation page is not able to display emoji's correctly

**How to Reproduce**

Go to [](https://www.asyncapi.com/docs/tutorials/streetlights) and navigate to the last word of the last paragraph.

You can see the instead of showing the emoji, it is displaying  ":simple_smile:" words

![emoji_bug](https://user-images.githubusercontent.com/7796153

[2022-04-21 13:59] pratik9315 commented on #677
Hey  @alequetzalli what do you think about it? Do you think we should remove the emoji or something else?

[2022-04-21 14:29] quetzalliwrites commented on #677
Let's remove the emoji for now, since we don't really use emojis consistently in Docs.

We can certainly later open another ticket to evaluate to what degrees we can use emojis in docs or where to place some, but for this bug I would remove it 🤔

[2022-04-21 14:39] pratik9315 commented on #677
Okay makes sense👍!

[2022-04-21 15:22] imabp commented on #602
Thanks @alequetzalli
Here is how the reference bar, we would like to have.

[code]

1. Get Started Page - will be typed manually.
2. Command Reference - will be generated from release code.

@Souvikns and @derberg , need your reviews.

[2022-04-21 16:39] akshatnema commented on #311
![image](https://user-images.githubusercontent.com/76521428/164508846-b32aa088-eaa0-42b9-88b8-1a1a41926eeb.png)

@derberg I think the issue has been resolved automatically in some other commit. We have resolved the error without even knowing 😄 (some of the best developer perks). Everything is shown well on the website. You can see that I have taken screenshot from the website URL address only.

[2022-04-21 17:16] quetzalliwrites commented on #602
@imabp Hmmm... I am still thinking about using "Get started" because I like that "installation" is to the point. But if you want to try that, then I want you to change it to `Getting Started` because consistency across Docs is key. (We use the term 'get**ting** started' in Tutorials, so let's match that.)

Yes, this looks right. But **2** Command Reference, also needs to generate a PR to be review

[2022-04-21 17:31] pratik9315 commented on #677
awesome! i'll update u right away!

[2022-04-21 18:11] imabp commented on #602
Yes,`Getting Started` sounds better

[code]

Regarding the following @alequetzalli

Yes though its generated by a bot, you can still review it for the grammatical mistakes before merging the PR 😄

[2022-04-21 20:40] vickywane commented on #90
I'm looking to make my first contribution to AsyncAPI.

Since @BOLT04 is busy, is there a way I can come In here?

Cc: @derberg @alequetzalli

[2022-04-21 21:45] quetzalliwrites commented on #90
@vickywane Feel free to pick this issue up if it makes sense for you :)

[2022-04-21 22:32] quetzalliwrites commented on #602
@imabp Thanks for clarifying that both ways generate a PR first; that's what I needed to make sure. Sounds great! 👍🏻

[2022-04-22 15:24] #677 closed, assigned to quetzalliwrites, pratik2315

[2022-04-22 17:17] smoya commented on #780
With the following, we could add the metrics push into the Netlify function https://github.com/asyncapi/website/pull/680

[2022-04-22 17:39] quetzalliwrites opened #682 "[📑 Docs]: update docs issues in ALL repos that are missing the `area/docs` label"
### What Dev Docs changes are you proposing?

## Current state
The 🟦 shows examples of `Docs` GitHub (GH) issues that **correctly** have an `area/docs` label.
The 📗 shows examples of `Docs` GitHub (GH) issues that are **missing** an `area/docs` label.

<img width="400" alt="Screen Shot 2022-04-22 at 10 29 43 AM" src="https://user-images.githubusercontent.com/19964402/164765029-3d76ea6a-481e-46b4-9

[2022-04-22 17:42] quetzalliwrites commented on #682
Help is ALSO needed to do the leg-work of getting the URLs of the issues that are missing the label 😸

[2022-04-22 19:29] vickywane commented on #682
@alequetzalli I'd like to indicate an interest in taking up this issue!

[2022-04-22 19:31] vickywane commented on #682
I think I can begin working on this gradually, starting from the /website repo. It might help to create a TODO list to mark the progress on it.

What do you think @alequetzalli ?

[2022-04-22 20:24] quetzalliwrites commented on #682
@vickywane
Up to you which repo you start with, but this should be a quick one to get done :)

If you want a TODO list that's awesome, go for what helps you get it done ⭐

**The end goal is to provide a list of URLs of the issues missing the label.**

[2022-04-24 03:51] darp99 commented on #682
I am also interested in this. can i contribute ? @alequetzalli

[2022-04-24 14:21] quetzalliwrites commented on #682
Hey @darp99, this issue is already assigned.

But feel free to pick another one up for now ✨

[2022-04-24 14:31] pratik9315 opened #683 "[📑 Docs]: Add Event driven architecture definition's in docs"
### What Dev Docs changes are you proposing?

Hey everyone!
So I noticed one thing in "Event-driven architectures" section in docs: https://www.asyncapi.com/docs/getting-started/event-driven-architectures

The purpose of this section is to introduce user to EDA but the section directly jumps over to examples of events and advanced concepts of EDA like event payload, message broker, channels etc.

[2022-04-24 16:15] luphieanza opened #684 "[Docs Bug 🐞 report]: Misspelling and error not found link at UP NEXT Button of Streetlights - Interactive (Alpha) page"
### Describe the bug you found in AsyncAPI Docs.

#### Misspelling on UP NEXT Button at Streetlights - Interactive (Alpha) tutorials page and 404 error link not found when clicking the button.

## How to Reproduce the docs-bug

1. visit https://www.asyncapi.com/docs/tutorials/streetlights-interactive.

2. Scroll down until you found the UP NEXT Button (Specifications 2.3.0 (Pre-release)).
![image]

[2022-04-24 16:23] rokuweb commented on #683
That's really true, kind of make the information incomplete.

[2022-04-24 16:27] pratik9315 commented on #684
Great find! Side nav supports your theory.
as you can see in the side nav menu also

![WhatsApp Image 2022-04-24 at 9 55 14 PM](https://user-images.githubusercontent.com/77961530/164986310-9d9bd5c0-8919-447b-8be5-4c829c99eb28.jpeg)

It's supposed to be just "2.3" not pre-release, awesome work!

[2022-04-24 16:32] pratik9315 commented on #684
while you're at it update your issue comment to include https://www.asyncapi.com/docs/specifications/v2.2.0 as well because
the "GO BACK" button also mentions "2.3.0(Pre-release)
here is it:

![WhatsApp Image 2022-04-24 at 10 02 28 PM](https://user-images.githubusercontent.com/77961530/164986552-cfd268c7-5a5d-4c0b-9641-8c59d22c2dbb.jpeg)

[2022-04-24 16:43] luphieanza commented on #684
@pratik2315 yeap, I think because this is need to be regularly recurring task to maintain when we have a new version of spec.

[2022-04-24 16:51] meghthak commented on #683
I agree. It definitely feels like the page needs a brief introduction to the topic before diving in. If this an approved issue that has not been assigned yet, I would like to take a try at adding some content.

[2022-04-24 21:48] luphieanza commented on #684
@pratik2315 I need your suggestion, Do I need to change on https://www.asyncapi.com/docs/specifications/v2.2.0 too or I create a new issue for it? because as you can see that I report the bug for the UP Next button of the streetlights tutorial. What do you think?

[2022-04-25 03:30] pratik9315 commented on #684
@luphieanza this seems like a part of this issue, you should get it fixed in this PR only! No need to create a new issue :)

[2022-04-25 04:10] Souvikns commented on #602
@alequetzalli I have a question, where should @imabp open the PR, in the CLI repo or the website repo. I personally think it should be in the CLI repo just like [spec](https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md) and then we can sync it using a [GitHub action much like spec repo does](https://github.com/asyncapi/spec/blob/master/.github/workflows/update-spec.yaml). We can add you

[2022-04-25 04:50] imabp commented on #602
@Souvikns

As you see above the structure.

[code]

1. The Getting Started will be manually written, and PR will be raised in Website repo.
2. The Command Reference will be generated in CLI itself and PR will be raised by the Github Action

[2022-04-25 05:09] luphieanza commented on #684
@pratik2315 Right, I don't think there's any need to make a different Issue and PR.

[2022-04-25 07:17] derberg commented on #602
- All docs work for CLI should be done in the CLI repo. Getting started too.
- We do need docs other than `Installation` and `Command reference` because we need to explain some things, like the concept of `context` and why it is needed. Even a simple tutorial on what the suggested workflow looks like is needed. Even cheat sheet for most cool commands, like `command to quickly generate asyncapi fil

[2022-04-25 07:46] #453 closed, assigned to quetzalliwrites, mcturco, akshatnema

[2022-04-25 11:30] pratik9315 commented on #683
Sure ! Have a try at it once its approved. You can also discuss about it on the docs slack channel :)
(I cant assign you the issue tho only code owners can 😃)

[2022-04-25 13:34] derberg opened #688 "Feedback on /docs/specifications/v2.3.1-2022-04-release.1 - Mon, 25 Apr 2022 13:30:59 GMT"
### Discussed in https://github.com/asyncapi/community/discussions/340

<div type='discussions-op-text'>

<sup>Originally posted by **asyncapi-bot** April 25, 2022</sup>
This release candidate was released by mistake and should be actually removed from the website with all related redirects. Only 2.4 RC is valid</div>

[2022-04-25 13:36] derberg commented on #688
- remove file https://github.com/asyncapi/website/blob/master/pages/docs/specifications/v2.3.1-2022-04-release.1.md
- remove related redirects from https://github.com/asyncapi/website/blob/master/public/_redirects

[2022-04-25 13:38] pratik9315 commented on #688
Interesting ! so basically we have to remove the mentioned file(v2.3.1-2022-04-release.1.md) and all it's related redirects from _redirects!
If you don't mind I would like to work on this issue?

[2022-04-25 14:17] derberg commented on #688
@pratik2315 feel free to do it 💪🏼

[2022-04-25 14:43] pratik9315 commented on #683
Hey @meghthak you can make a PR if you want to. I've communicated with a mentor about it :)

[2022-04-25 14:47] quetzalliwrites commented on #683
@pratik2315 and @meghthak I think you are both great to pick this up, please go ahead and feel free to team on this PR 😄

[2022-04-25 14:47] quetzalliwrites commented on #683
/gfi docs

[2022-04-25 14:53] quetzalliwrites commented on #683
/docs gfi

[2022-04-25 14:53] quetzalliwrites commented on #683
@derberg tried to add those labels with your awesome fancy commenting GH actions approach, but I seem to be doing it wrong :D

[2022-04-25 15:00] quetzalliwrites commented on #683
@pratik2315 / @meghthak If you need help from more community members to add this definition, besides Google, you can ask for help from our Slack `#03_specification` channel. A good Technical Writer knows how to balance self-learning (ex: google) and teaming w/ other engineers to ensure technical understanding is correct.

[2022-04-25 15:03] derberg commented on #683
@alequetzalli I think it is because you added `space` at the end of the command and the code that bot uses "splits by empty space"

@KhudaDad414 I do not see any other reason why it didn't for the first time 🤷🏼 any other ideas?

[2022-04-25 15:03] derberg commented on #683
/gfi docs

[2022-04-25 15:12] pratik9315 commented on #683
Thanks for the tip! We'll make sure to learn from other engineers in the asyncapi community😄🙏

[2022-04-25 15:21] quetzalliwrites commented on #683
@derberg @KhudaDad414 ooooooooh, that HAS to be it!!! I did indeed have an extra space, I hadn't even noticed that. Thank you!! hoping I can do it right the next time 😆

[2022-04-25 16:08] pratik9315 commented on #688
hey @derberg I could only find one redirect related to the faulty release in _redirects. I have removed that redirect.

[2022-04-25 16:22] vickywane commented on #682
Hi Ale 👋

How do I submit the list of URLs for this?
Do I make a comment here with the list of URLs without a label?

[2022-04-25 16:57] KhudaDad414 commented on #683
@alequetzalli it will be fixed soon. after that, put as many spaces as you want 😆

[2022-04-26 04:16] luphieanza opened #690 "[Docs Bug 🐞 report]: Repeated context in Event-Driven Architectures page"
### Describe the bug you found in AsyncAPI Docs.

This was accidentally repeated in **" However, that's not always the case, as Martin Fowler explains in his talk "the many meanings of Event-Driven Architecture" "**

![image](https://user-images.githubusercontent.com/20577131/165219607-c84c999a-7130-4d67-b4a5-9076b0683c7b.png)

### How to reproduce the bug
1. Visit https://www.asyncapi.com/docs/ge

[2022-04-26 07:20] derberg commented on #690
@luphieanza hey, there is a PR opened already that fixes it -> https://github.com/asyncapi/website/pull/686

let's keep this issue opened and once PR is merged, it will be closed automatically

[2022-04-26 08:32] luphieanza commented on #690
Hi @derberg, I found this issue from @alequetzalli, She gives instructions to me for creating an issue of it and working on it, I don't know if there is any PR on it.
<img width="491" alt="image" src="https://user-images.githubusercontent.com/20577131/165256705-bbffdbba-edb1-409d-9dc0-2e87bddb9ec7.png">
<img width="667" alt="image" src="https://user-images.githubusercontent.com/20577131/165257425-

[2022-04-26 08:41] derberg commented on #690
@luphieanza no worries. Sometimes it happens that some things are overlooked and people duplicate each other 👍🏼

[2022-04-26 10:56] Mcnoble1 opened #692 "Add Skip Navigation link to the Website Header"
#### Reason/Context
AsyncAPI website needs a skip link for bypassing or 'skipping' over repetitive web page content which is the navigation menu.
This will help screen reader users and keyboard-only users navigate to the main content of each page on the website. they can skip the navigation area and jump right into the main content of the page instead of repeating and going over the large navigati

[2022-04-26 11:47] Mcnoble1 opened #693 "Add Alternative texts to Images for Screen Readers Accessibility"
#### Describe the bug
Screen readers read out the file names of images on the website as opposed to what the images connote especially the logos of different sponsors and supported companies.

#### How to Reproduce
On AsyncAPI's homepage, use a screen reader on the website and tab from one element to another till you get to the sponsors' section, and listen to the text it reads out which can misin

[2022-04-26 14:03] Mcnoble1 commented on #693
@alequetzalli

[2022-04-26 14:03] Mcnoble1 commented on #692
@alequetzalli

[2022-04-26 14:12] derajohnson commented on #693
@alequetzalli @Mcnoble1 can I pick this up. I’m new and I would like to make a contribution.

[2022-04-26 14:16] quetzalliwrites commented on #693
@derajohnson since @Mcnoble1 identified this issue and wants to work fix it, why don't you two sync over AsyncAPI slack and see if you'd like to team together on this? ❤️

[2022-04-26 14:19] quetzalliwrites commented on #692
@magicmatatjahu and @mcturco, I am tagging you folks in this `a11y` issue because it affects the `/website` repo code and styling.

@Mcnoble1, @magicmatatjahu helps as one of our main **dev contributors** to the `/website` repo, and @mcturco is one of our top **design contributors**, so these folks will prob need to be at a minimum, reviewers on the PR for this issue.

[2022-04-26 14:28] Mcnoble1 commented on #692
Noted, Thanks.

[2022-04-26 14:42] #684 closed, assigned to quetzalliwrites, luphieanza

[2022-04-26 14:43] quetzalliwrites commented on #682
YES, exactly that @vickywane. 😃 Just add a comment here with the issues' URL list.

[2022-04-26 14:47] quetzalliwrites commented on #684
Great job @luphieanza! I really appreciate that you are opening PRs and getting work done vs only opening issues.

You're a ⭐

[2022-04-26 15:01] derajohnson opened #695 "fix broken restream link"
#### Describe the bug
Clicking on restream under supported by gives a 404 error

![asyncapi-error](https://user-images.githubusercontent.com/53873657/165330522-b6a3ddff-4490-4d8f-bff2-b39f5eadf288.png)

#### Expected behavior
clicking on restream should redirect the users to a valid url link.

[2022-04-26 15:04] derajohnson commented on #695
@alequetzalli

[2022-04-26 15:08] derberg commented on #695
@derajohnson you are rights, well spotted, it should link to `https://restream.io/`. Can you open a PR to fix it here https://github.com/asyncapi/website/blob/6509d897e479870f51ebc670a3db6c9b6ab395bf/components/SupportUs.js#L70 ?

[2022-04-26 15:09] derajohnson commented on #695
Yes I can @derberg

[2022-04-26 15:52] derajohnson commented on #695
done @derberg

[2022-04-26 16:14] derberg commented on #311
oh ok, then it was probably fixed when new brand was applied on the project ❤️

I love when bugs are solved my accident 😆

[2022-04-26 16:14] #311 closed, assigned to nobody

[2022-04-26 16:19] derberg commented on #90
@vickywane sounds awesome, you can pick it up. The description is updated. We just need a kind of FAQ or something similar markdown that documents that topic

[2022-04-26 19:58] derajohnson commented on #695
made the changes @derberg

[2022-04-27 03:56] vickywane commented on #682
@alequetzalli I am done with this task.

Below is a list of all `docs` tasks without the `area/docs` label.

# ALL REPOSITORIES
- [docs: fixing incorrect docs label in issue template](https://github.com/asyncapi/.github/pull/127)
- [Create Docs feedback card](https://github.com/asyncapi/website/issues/453)
- [docs: add headers and improve copy](https://github.com/asyncapi/website/issues/410)
- [ch

[2022-04-27 13:26] quetzalliwrites commented on #682
Amazing 😻 work and SO helpful as a contribution!! Thank you @vickywane ✨✨✨

[2022-04-27 13:41] quetzalliwrites commented on #602
@imabp @derberg Rejoice 🥳🥳🥳, I am changing my vote to put **CLI** into the `Tools` content bucket.

New url:
`Asyncapi.com/docs/tools/cli`

New outline **to start**:
- cli/getting-started
- cli/commands

[2022-04-27 13:46] imabp commented on #602
Finally, its a victory 🤭....for both of us ✨
CLI is going under tools!!

Awesome, Thanks again @alequetzalli for approving this

[2022-04-27 17:04] pratik9315 opened #704 "[📑 Docs]: Update the AsyncApi release specification version from 2.3.0 to 2.4.0"
### What Dev Docs changes are you proposing?

I saw that the Specification 2.4.0 has been added into the Asyncapi docs and that it is the latest specification version right now!

But the "Introduction" section mentions that the spec 2.3.0 is the latest. Here it is:

![IMG-20220427-WA0006](https://user-images.githubusercontent.com/77961530/165580577-c57641bc-abb1-43d5-b0b1-9e95a4eb0333.jpg)

### Ex

[2022-04-28 02:47] luphieanza commented on #704
Nice found! @pratik2315

[2022-04-28 06:44] derajohnson opened #709 "Netlify icon does not appear on footer"
#### Describe the bug
Netlify icon does not appear on footer

- Screenshots
![netlify](https://user-images.githubusercontent.com/53873657/165693008-0a10f113-06ce-4913-b468-a493f6121266.png)

#### Expected behavior
Netlify icon should be present for a good user experience.

[2022-04-28 06:45] derajohnson commented on #709
@derberg

[2022-04-28 07:02] derberg commented on #709
@derajohnson it definitely should show up. You are a great investigator 🔍
wanna open a PR?

[2022-04-28 07:09] derajohnson commented on #709
I would love to @derberg

[2022-04-28 08:30] derajohnson commented on #709
done @derberg

[2022-04-28 09:47] derberg commented on #780
Taking this one off GSoC as it is important topic to handle and can't be delayed

[2022-04-28 10:04] derberg commented on #780
How to start 😄
Lemme start with the positives ❤️

I love idea from https://github.com/asyncapi/website/pull/680 ❗

On the "negative" side. I have completely different view on Maintainance/High Availability/Response-time topics:
- we do not build commercial product here, not looking for revenue, we do not have to satisfy the maximum of possible users
- it is ok to say openly, that "this" service wo

[2022-04-28 11:27] #688 closed, assigned to derberg, quetzalliwrites, pratik2315

[2022-04-28 11:52] meghthak opened #711 "[Docs Bug 🐞 report]: Missing closing bracket in bulleted list on Event-Driven Architectures page"
### Describe the bug you found in AsyncAPI Docs.
On the "Event-Driven Architectures" page of the docs there are 2 bulleted lists providing examples of types of events.
In the 2nd list, the 2nd point does not end with a closing curved bracket `)`, instead an underscore `_` has been entered.

### Expected Outcome
We should update this sentence to end with a `)`

### Attach any resources that can hel

[2022-04-28 11:59] mharshita commented on #711
@alequetzalli  I want to work on this issue

[2022-04-28 12:51] quetzalliwrites commented on #711
@mharshita Awesome, go for it! ♥️

[2022-04-28 14:55] Olaleye-Blessing commented on #664
Can I work on this?

[2022-04-28 15:04] meghthak opened #712 "[📑 Docs]: Refactor content under Channels section on Event-Driven Architectures webpage"
### What Dev Docs changes are you proposing?
In the **Core Concepts** section, under the **Channels** sub-heading I propose to restructure the sentences to make them sound more complete and the explanations clearer.
The webpage is here: https://www.asyncapi.com/docs/getting-started/event-driven-architectures#channels
This is the current content of the section:
![channels](https://user-images.githu

[2022-04-28 15:22] meghthak opened #713 "[📑 Docs]: Improve content under Message section on Event-Driven Architectures webpage"
### What Dev Docs changes are you proposing?

In the **Core Concepts** section, under the **Message** sub-heading, I propose to restructure the sentences and improve grammar.
Webpage link is here: https://www.asyncapi.com/docs/getting-started/event-driven-architectures#message
This is the current content of the section:
![message](https://user-images.githubusercontent.com/5620059/165784518-be6f24a

[2022-04-28 16:04] quetzalliwrites commented on #711
/gfi docs

[2022-04-28 16:05] quetzalliwrites commented on #711
great find, thank you @meghthak !! 🌟

[2022-04-28 18:38] quetzalliwrites commented on #695
Hey @derajohnson, where is the PR link? ⭐  Can you confirm? I don't see one open for review 😃

[2022-04-28 21:35] derajohnson commented on #695
it has been merged by @derberg

[2022-04-28 21:37] derajohnson commented on #709
@alequetzalli this hasn't been reviewed yet. i made a PR, can you please have a look at it.

[2022-04-29 07:54] awantika10 opened #716 "[Docs Bug 🐞 report]: change of navigation button from 2.3.0 to 2.4.0"
### Describe the bug you found in AsyncAPI Docs.

- While navigating the streetlights - interactive (alpha) doc to specifications tour, the next button navigates the to `2.3.0 v`  whereas with the release of `2.4.0 v` it should ideally be navigated to `2.4.0 v`page.

@alequetzalli Please do let me know if you wish to add here something as well :)

### Attach any resources that can help us understa

[2022-04-29 10:55] akshatnema commented on #664
@Olaleye-Blessing you can work on this. My recommendation is to make the page in mobile view look like this
![Screenshot from 2022-04-29 21-54-09](https://user-images.githubusercontent.com/76521428/165931562-d3f67c6b-da6a-48d4-9d3f-9340b9001f59.png)
.

[2022-04-29 11:48] akshatnema commented on #716
I will like to add up to this issue. With the creation of 2 new spec files, the Navigation buttons are not added in the [2.4.0](https://www.asyncapi.com/docs/specifications/v2.4.0) and [2.3.0](https://www.asyncapi.com/docs/specifications/v2.3.0) files. (as the spec file generator doesn't have a feature to add the buttons). Kindly look at the other pages' navigation buttons and accordingly add them

[2022-04-29 16:39] starlightknown commented on #716
I would like to work on this issue once confirmed:)

[2022-04-29 16:44] nelsonmic commented on #716
Hi @alequetzalli can i work on this ?

[2022-04-29 16:51] quetzalliwrites commented on #716
wanna pair on it, @nelsonmic and @starlightknown? How about Nelson does the PR and @starlightknown helps review/test it?

[2022-04-29 16:59] nelsonmic commented on #716
Sure we can pair..

[2022-04-29 17:15] starlightknown commented on #716
Yep let's do that 💪

[2022-04-29 17:54] awantika10 commented on #712
Hi @meghthak Can we work together on this issue :) Thanks!

[2022-04-29 17:59] meghthak commented on #712
Sure that would be great. Once it's approved, one of the code owners can assign it to you and we can go from there. I have already tagged Alejandra in the description so maybe she can sign off on it when she gets a chance to take a look :)

[2022-04-29 18:52] mharshita commented on #643
@alequetzalli I want to work on this issue.

[2022-04-29 19:02] quetzalliwrites commented on #712
Hey @meghthak / @awantika10, good news!  you don't need to get approval to start a PR :)

Go ahead and start a PR and then we can review it 🌟

[2022-04-29 19:10] quetzalliwrites commented on #643
@mharshita awesome, go for it! ❤️

[2022-04-29 19:16] awantika10 commented on #712
Edited : Got the doc :)
Hi @meghthak  I couldn't find the link to ref the docs of the channel. Could you please help me out. Thanks :)

[2022-04-29 19:18] quetzalliwrites commented on #716
great work @nelsonmic ⭐

[2022-04-29 19:19] #716 closed, assigned to quetzalliwrites, nelsonmic, starlightknown

[2022-04-29 19:25] quetzalliwrites commented on #712
Oh can I help maybe @awantika10? excuse me, what do you mean by "link to ref the docs of the channel"?  ❤️

[2022-04-29 19:25] meghthak commented on #712
My bad, I did not add this in the description of the issue. The link is here: https://www.asyncapi.com/docs/getting-started/event-driven-architectures#channels
I updated the description too

[2022-04-29 19:27] awantika10 commented on #712
Hi, I meant to ask for the link to the above issue. Thanks for asking me out ❤️

[2022-04-29 19:28] awantika10 commented on #712
Thanks a lot ❤️

[2022-04-29 19:45] #711 closed, assigned to quetzalliwrites, mharshita

[2022-04-30 04:02] akshatnema opened #724 "Responsive issues related to Hamburger menu of Community in Navbar"
#### Describe the bug
The Hamburger menu that appears on clicking `Community` needs to be in box-size format, instead of linearly arranging the items in it. Right now, for short screens and resolution, the last few options in the menu are cut down and don't appear to the users.

#### How to Reproduce
For larger screens, make the dimensions of the screen to 125% zoom in to see the effect.

- Screen

[2022-04-30 05:02] pratik9315 commented on #724
Agreed. The box sized format in the `learning` and `tools` looks great. Doing the same under `Community` seems cool :)

[2022-04-30 05:08] akshatnema commented on #724
/gfi

[2022-04-30 12:33] akshatnema opened #725 "[Docs Bug 🐞 report]: Few statements are repeated unnecessarily"
### Describe the bug you found in AsyncAPI Docs.

The line `However, that's not always the case, as Martin Fowler explains in his talk "the many meanings of Event-Driven Architecture":` has been repeated 2 times in the https://www.asyncapi.com/docs/getting-started/event-driven-architectures page. I think we only need the statement written at the bottom, containing the link to the talk.

### Attach

[2022-04-30 12:36] pratik9315 commented on #725
Hey @akshatnema !
There is a PR already open for this issue at:

https://github.com/asyncapi/website/pull/686

[2022-04-30 12:55] akshatnema commented on #725
Thanks for informing @pratik2315. I will close this issue then.

[2022-04-30 12:55] #725 closed, assigned to nobody

[2022-04-30 15:41] glowreeya-01 commented on #713
Hello, can I please work on this project?

[2022-04-30 15:45] meghthak commented on #713
Hey @glowreeya-01 I have already submitted a PR for this issue. It is seen in the activity log above
https://github.com/asyncapi/website/pull/726

[2022-04-30 16:36] glowreeya-01 commented on #625
Hello, can I please work on this?

[2022-04-30 16:37] quetzalliwrites commented on #713
@glowreeya-01  You can also start by reviewing the PR that @meghthak created, and learn from the change she made ❤️

Feel free to join our `13_docs` channel to pick up more work or suggest a new Docs improvement by creating a Docs GH issue ⭐

[2022-04-30 21:01] kaf-lamed-beyt commented on #635
Hi @Barbanio I'd love to work on the implementation of this design if it is available

CC: @alequetzalli

[2022-05-02 08:09] Mcnoble1 commented on #724
@akshatnema I Noticed it as well. Are you working on fixing it or can I pick it up?

[2022-05-02 08:34] akshatnema commented on #724
@Mcnoble1 I want a review from one of the codeowners regarding their views on this issue. Since this issue only targets particular screen dimensions, this needs a clear understanding and discussion from them on whether they think it is valid or not?

[2022-05-02 09:40] Mcnoble1 commented on #724
That's true, we wait then.

[2022-05-02 11:50] Mcnoble1 opened #727 "Homepage Testimonial Section Heading is missing"
#### Describe the bug
The heading of the testimonial section of the website homepage is missing and too much spacing between rows.

<img width="947" alt="testimonial" src="https://user-images.githubusercontent.com/40045755/166225720-3ced737a-4f93-4219-8362-7c2ab6cf05d3.png">

#### Expected behavior
The section should have the heading Testimonials just like other sections have headings.

[2022-05-02 13:04] akshatnema commented on #383
Hey @derberg, I am willing to continue to work on this issue in Mentorship program. Kindly look on my [previous comment](https://github.com/asyncapi/website/issues/383#issuecomment-1048494667) and do give your suggestions on how I should improve it.

[2022-05-02 13:24] starlightknown commented on #727
I would like to work on this issue

[2022-05-02 13:51] starlightknown commented on #727
![image](https://user-images.githubusercontent.com/74637789/166244927-330170f1-de92-4724-b3fd-165693b7cd54.png)

Added the heading , one more thing I noticed is the logo of red hat looks too small compared to the other sponsor logos. Shall we fix this too?

[2022-05-02 15:13] Mcnoble1 commented on #727
Awesome. What about the spaces (did you notice that as well). For the logo, noticed it too. @magicmatatjahu @mcturco can have a say on that.

You can send in a PR and wait for the review.

[2022-05-02 15:19] starlightknown commented on #727
Yeah I saw that too. Working on it.

[2022-05-02 15:25] Mcnoble1 commented on #727
Cool. Alright then.👍

[2022-05-02 15:50] mcturco opened #728 "Change CTA bar colors"
#### Reason/Context
I am proposing some visual changes to the CTA bar that is above the header on the website currently.

### ❓ What is the reason for these changes?
- The primary color is very vibrant and heavy, and I am afraid that the use of this color at the top of the screen might immediately distract from the user reading other content on the website.

### ✏️  Proposed changes
- Change backg

[2022-05-02 17:40] pratik9315 commented on #728
Hey @mcturco ! Would it be okay if I work on this issue?

[2022-05-02 19:51] mcturco commented on #728
@pratik2315 Absolutely! Thank you so much!

[2022-05-02 20:12] mcturco commented on #724
Hi all! Yes, I think in other issues we have talked about the need to rethink the dropdown under `Community` since its dropdown items have grown a lot. I would suggest that we should put the menu items in 2 columns like in the other dropdowns, but I don't necessarily think they need icons for each item under community. I say we first add the 2-column style to fix the bug and later on I can help ma

[2022-05-02 20:45] Mcnoble1 commented on #724
@mcturco Perfect. We just go with that.

[2022-05-02 20:49] Mcnoble1 commented on #724
I can go ahead and do that.

[2022-05-03 05:21] starlightknown commented on #727
![image](https://user-images.githubusercontent.com/74637789/166407532-f526fee1-d8aa-4acf-b1fa-4dec0ab6191c.png)
I tried and referred to docs too
using `gap-y-0` but I see no changes in the website. I think I'm missing something

[2022-05-03 05:56] akshatnema commented on #724
@Mcnoble1 Go ahead to make a PR on making it a 2-column view for the hamburger menu. Later on, when @mcturco will be done with logos, I will make a PR to update it.

[2022-05-03 06:17] Mcnoble1 commented on #724
@mcturco. I just made a pull request for this. I used icons from the learning page for the time being as the component would not render without the icons. @akshatnema will update when the new icons are ready.

[2022-05-03 06:54] akshatnema commented on #724
@Mcnoble1 Don't add any random icons in the PR. Regarding the position of icons along with the text, I will handle it. Let @mcturco make the illustrations on the Figma first and then I will accordingly add it. TIll then, you make a PR on making a PR related to the 2 column layout of the menu.

[2022-05-03 07:11] Mcnoble1 commented on #724
For context. Here's the output.
<img width="944" alt="dropdown" src="https://user-images.githubusercontent.com/40045755/166416156-b8296921-2f39-4d92-8add-4309b37cb249.png">

[2022-05-03 07:16] akshatnema commented on #724
Fine :+1:. Go with it.

[2022-05-03 08:03] Mcnoble1 commented on #727
@starlightknown You will fix it from the `testimonial.js` file.

check line 11, where I underlined. That fixes it. Reduces the top and bottom padding from 16 to 4.

<img width="671" alt="test" src="https://user-images.githubusercontent.com/40045755/166421291-fb07fb43-39cd-4031-96c7-8197ad3b9aa8.png">

[2022-05-03 09:02] starlightknown commented on #727
thanks for the help :)

[2022-05-03 13:52] mcturco commented on #724
I will help make some updated icons before we merge this PR. I would rather not re-use what we have already and would refrain from using the same icon twice. Before I make icons for each navigation item though, I have to question why we have the `Tools & Services` menu item under community? To me it makes no sense to be under `Community` as it links out to a Docs page. (I will ping @derberg & @ale

[2022-05-03 14:13] quetzalliwrites commented on #724
@mcturco I agree 100% with you, I always said having that item under Community makes no sense. haha

Looking forward to you helping us change and improve that. :D

[2022-05-03 15:53] smoya commented on #780
I've been playing with Google Analytics 4 as a candidate for publishing our metrics. I have to say, I didn't get a good result.
We could send events through the [Measurement Protocol](https://developers.google.com/analytics/devguides/collection/protocol/ga4) and it will kinda make the thing, but the UX for reading those metrics is completely awful:

### 1. In the whole realtime metrics, only a sma

[2022-05-03 16:19] smoya commented on #780
I've been checking [NewRelic](https://newrelic.com) One new free tier, and it allows to send up to 100GB of data, events included. I did a simple test with a POST request and created a simple dashboard to see how it would look like.
<img width="1774" alt="2022-05-03 at 16 16 11@2x" src="https://user-images.githubusercontent.com/1083296/166493591-6d1d93e0-0269-42d8-99b3-8a907d7aa207.png">

Btw, New

[2022-05-04 07:17] nibble0101 opened #735 "Landing page images are not accessible"
### Describe the bug you found in AsyncAPI Docs.

When you do a simple accessibility audit of the [asyncapi.com landing page](https://www.asyncapi.com/), you will notice lots of basic accessibility defects. They are not apparent to normal-sighted or non-disabled users but a big deal for users of assistive technologies. Though there  are several of them, one obvious one is that images do not have `

[2022-05-04 07:19] nibble0101 commented on #735
Hi @derberg  and @alequetzalli.  Let me know if you think this is worth fixing so that I can raise a PR for it. There are several similar accessibility issues on the same page but working on all would be too much in scope for a single PR. I would love to start with the images.

[2022-05-04 10:19] magicmatatjahu commented on #709
Read comment -> https://github.com/asyncapi/website/pull/710#issuecomment-1113130214

[2022-05-04 10:19] #709 closed, assigned to nobody

[2022-05-04 10:31] #664 closed, assigned to nobody

[2022-05-04 10:52] magicmatatjahu commented on #383
@akshatnema Hi!

As I understand that file should be located on the tool's repository side and then in website workflow we should filter all repos with that file and make appropriate logic. Let me know if you understand. Also I prefer `.asyncapi-tool` or `.asyncapi-webiste` due to simple fact - we can introduce `.asyncapi` config file in our CLI, so it's better to have a different name.

We'd have

[2022-05-04 12:10] Mcnoble1 commented on #735
@nibble0101 A PR for this has just being merged. See #699. Thanks for pointing it out. We should work more on improving the overall accessibility of the website and tools.

[2022-05-04 14:11] smoya commented on #780
In the meantime, I'm moving forward with New Relic solution by now, and the development is all here: https://github.com/asyncapi/website/pull/680

In case you want to use another provider for metrics, I'm happy to adapt the code.

More on https://github.com/asyncapi/website/pull/680#issuecomment-1117469838

[2022-05-04 15:46] Nelson-Chinedu opened #738 "Responsive issue related to join us button"
#### Describe the bug
The ```Join us``` CTA button on mobile needs to take the width of its row just like other buttons on mobile

#### How to Reproduce
 On mobile device scroll down to ```Join our slack workplace``` section

- Screenshot
<img width="982" alt="Screenshot 2022-05-04 at 4 31 00 PM" src="https://user-images.githubusercontent.com/26670804/166716910-9d08050b-6401-430b-9724-b2cce7896c91

[2022-05-04 15:49] magicmatatjahu commented on #738
@Nelson-Chinedu Hi! If you want, you can contribute :)

[2022-05-04 16:06] Nelson-Chinedu commented on #738
Sure, will make the fix then.

[2022-05-04 17:33] nibble0101 commented on #735
Hi @Mcnoble1. Thanks for letting me know. Great job on the PR by the way. I have noted a couple of things though. I didn't get the opportunity to review your PR otherwise I would have pointed them out. Nevertheless, let me highlight them here since the PR has been merged. If you think they are worth pursuing, you can make a follow-up PR otherwise someone interested can pick them up later.

- I not

[2022-05-04 17:48] akshatnema commented on #383
@magicmatatjahu Yep, it is pretty much difficult to filter out the repos of the specific tools, but what I think is that if we assign specific tags to the repositories having tools, we can make a json fiile according to it. But the condition is, we need to specify tag, category or topics on the repo and each repo should contain exactly one tool in it. Using GitHub GraphQL API, we can extract the t

[2022-05-04 18:49] nibble0101 commented on #728
Hi @mcturco. True, it will distract users.  But I am wondering, isn't the whole point of an announcement banner to catch the attention of everyone visiting the site? Besides, it looks like it is self-dismissing after scrolling down slightly. For the record, I am  a complete rookie with zero experience in UX or design.

[2022-05-05 07:51] magicmatatjahu commented on #383
@akshatnema

Yep, but it should contain also another info like description, title, maintainer etc. Of course we can also extract that info `package.json`, but we should discuss it.

Łukasz specified cupid as repo for searching - given repo will have topics and `.asyncapi-tool` file and based on that we will filter repos :) It's only an example for your task.

[2022-05-05 14:26] starlightknown opened #741 "one field in Newsletter section is too small"
#### Describe the bug
I can see the email field but there's another small box before it which can be removed? It's a bit confusing since it does not have any place holder text too

- Screenshots
![image](https://user-images.githubusercontent.com/74637789/166945311-306b4d7c-4356-48f8-8ba4-423d041cabf8.png)

[2022-05-05 14:31] pratik9315 commented on #741
Hey @starlightknown ! Is this page same this??

![Screenshot_2022-05-05-19-58-53-975_com android chrome](https://user-images.githubusercontent.com/77961530/166946045-2ef7fbeb-d32e-4779-8af5-34b3e42a746b.jpg)

And btw that subscribe button beside the email field also looks a bit misaligned dont you think?

[2022-05-05 14:42] pratik9315 commented on #728
Hey @nibble0101 ! Even I have limited experience with UI/UX haha😅

But here's what I think @mcturco meant :

- Atm the CTA bar color does not match the visual consistency of the webpage

- As you said, the banner WILL catch everyone's attention but it will do that at the expense of **distracting the user from the main content of the welcome page**

- In my opinion, the colors @mcturco mentioned i.

[2022-05-05 15:03] akshatnema commented on #741
hey @starlightknown @pratik2315, I don't see any error in the website related to email or name field in the Newsletter. It is perfectly fine in both desktop and mobile view. See the preview from the browser I am using:

![image](https://user-images.githubusercontent.com/76521428/166953054-0317c032-3f09-42a5-a558-ced57abe0e9d.png)

[2022-05-05 15:05] pratik9315 commented on #741
Yep. Even I checked! My guess is that @starlightknown must have had her chrome screen zoomed in or its some bug on her side !

[2022-05-05 16:06] darp99 commented on #690
Is this issue fixed ?

[2022-05-05 16:09] luphieanza commented on #690
@darp99 It's still in the review phase for the PR.

[2022-05-05 16:14] luphieanza commented on #392
Hi, @alequetzalli Is there any update on this issue?

[2022-05-05 16:41] darp99 commented on #635
I would like to work on this

[2022-05-05 17:41] mharshita commented on #643
hey @alequetzalli! I am attaching a screenshot of a general idea of the Contributors Needed card (just an idea of what I understood till now). Please suggest improvements for this.
<img width="662" alt="Screenshot 2022-05-05 at 11 08 18 PM" src="https://user-images.githubusercontent.com/60281688/166981415-ec5f3f07-c3a8-4157-a676-14fc89904899.png">

[2022-05-05 17:55] starlightknown commented on #741
Oh I was using Firefox and it wasn't zoomed. Maybe some problem from my side. Shall I close this then?

[2022-05-05 17:59] starlightknown commented on #735
I'd like to work on the above points please.

[2022-05-05 18:02] quetzalliwrites commented on #643
Let's get @mcturco to give you feedback on design contributions @mharshita ⭐

[2022-05-05 20:00] mcturco commented on #643
Hi! Nice, @mharshita thank you for submitting this idea!

After reading the previous comments in the issue, I want to confirm with @alequetzalli and @derberg that the idea for these "Contributors Needed" cards is to have a CTA banner with a button that links to a docs page with the information listed in the above comment by @alequetzalli

If that is correct, I am wondering if the "Contributors Nee

[2022-05-06 06:06] akshatnema commented on #741
Yep, I checked it on Chromium and Firefox as well. There is no issue regarding the size of the field in the Newsletter. There may be some problem at your end only. So you can close it.

[2022-05-06 06:10] starlightknown commented on #635
I'd like to work on it too.

[2022-05-06 14:20] nibble0101 commented on #735
Hi @Mcnoble1. Sure thing. Do go ahead.

[2022-05-06 16:08] mcturco commented on #728
You don't have to be an expert in UI/UX to have great ideas and feedback 💯  🎉

@nibble0101 Great point! Your comment actually had me looking at other websites to see how they handle the visual weight of their CTA bars 🤔  I was interested to see that some of them were lighter while some of them were much bolder.

As @pratik2315 was saying, I think I proposed this change to put more attention on the

[2022-05-06 16:17] mcturco commented on #635
Hey @alequetzalli @Barbanio! Sorry it took me so long to jump into this issue haha. I can definitely help lay out a design for this page if you guys want to finalize the content that needs to be added to this new page first? I think that will make it easier for me to make sure I am using the right layout for the information. Thanks!! 😄

[2022-05-06 17:07] nibble0101 commented on #728
@mcturco  and @pratik2315  sure, I get your point. Especially given the fact that it redirects to YouTube. Personally,  I always forget to go back whenever a site redirects me to YouTube. I usually find I have over 10 notifications there.  It makes sense for the banner not to be the main center of attention.

[2022-05-06 17:18] pratik9315 commented on #728
haha @nibble0101 I can relate!

[2022-05-06 17:20] pratik9315 commented on #728
Hey @mcturco I have made the changes. How does this look?

![Screenshot (59)](https://user-images.githubusercontent.com/77961530/167181389-26b178b1-c44f-4c4d-a99f-90c0f7662240.png)

[2022-05-06 17:29] pratik9315 commented on #728
Also I had a doubt about something @mcturco

When we hover over cta bar (specifically above the text "AsyncAPI Conference") we get a hidden button saying "Skip to main content". This button is unresponsive and I don't exactly know the purpose of it. Here's the button:

![Screenshot (60)](https://user-images.githubusercontent.com/77961530/167181931-0a526bc7-5412-42d5-acb3-64f850e0406e.png)

In the

[2022-05-06 17:46] nibble0101 commented on #728
That is a "skip to main content" link. It is mainly used by keyboard-only users to bypass repetitive content and skip to the main  content. Ideally it is supposed to be visible to sighted users when it is in focus as you tab through the page and invisible when not in focus. I gues it is also used by ATs. You can read more about it on [CSS tricks](https://css-tricks.com/how-to-create-a-skip-to-cont

[2022-05-06 17:54] pratik9315 commented on #728
Here's to one more new thing I learned today🥳
Thanks a lot @nibble0101 for the information and the link. As someone who hasn't used mouse in an eternity, this feature will be helpful to me not only as a dev but as a user too!

[2022-05-06 17:56] mcturco commented on #728
Yeah I believe this was added to improve accessibility, but I am seeing now that it doesn't function properly. I would leave the styling to the primary purple and submit a separate issue if you can to describe that it is not working properly as it seems like it has no function when tabbing and pressing enter... Unless @Mcnoble1 is able to explain how it is intended to function, I believe they were

[2022-05-06 18:01] pratik9315 commented on #735
Hey @nibble0101 !
Don't you think the above issue and the points you mentioned below fall more under programming part instead of docs part? I am not exactly sure but I think this issue needs a _enhancement_  or _bug_ tag instead of "docs bug" tag !

[2022-05-06 18:11] pratik9315 commented on #728
Heyy! so I thought about ignoring this issue at first but if I ignore it, The cta bar looks weird like this:

![Screenshot (62)](https://user-images.githubusercontent.com/77961530/167193979-7e6c584a-6d2c-48d2-9621-985577e6da59.png)

The purple line which can be seen is actually the "Skip" button! What do you think I should I do ?!🤔

[2022-05-06 18:20] pratik9315 opened #745 "some content not being displayed correctly in website"
#### Describe the bug
Minor change. As you can see at the bottom of the website, The heart emoji 💌 is not displayed correctly. This may be due to some error while writing the markdown or the writer must have used the text :love: instead of emoji directly.

- Screenshots
![Screenshot (63)](https://user-images.githubusercontent.com/77961530/167195547-edaecbf5-40dd-4acf-8c99-305633fa78c3.png)

#### E

[2022-05-06 18:27] nibble0101 commented on #728
@mcturco  Looks like there is an issue about "skip to main content link" waiting for your reply  [here](https://github.com/asyncapi/website/issues/692). Implementing it shouldn't be difficult though. One fine example is the one of [a11y project](https://www.a11yproject.com/).

[2022-05-06 18:33] nibble0101 commented on #735
@pratik2315  I am not sure where it falls. Good thing is someone has shown interest in working on it.

[2022-05-06 20:28] pratik9315 commented on #728
But yes we can submit a new issue for functioning of that button But I think in this issue we should complete the work on the styling part of it

[2022-05-06 20:43] Mcnoble1 commented on #728
Yes, it is for keyboard-only users and screen readers. It comes up when tabbing through the window. It should actually link to the main content (the hero section of each page), but I couldn't get a fix to link to that then, every trial proved abortive and I forgot to let you know then.

[2022-05-06 20:44] Mcnoble1 commented on #728
This should be from the CSS, I didn't notice it because the skip-link color was the same with the previous cta background color. Should fix that.

[2022-05-06 20:45] Mcnoble1 commented on #728
Yeah, we can create an issue for the functioning of the link. I stated it [here.](https://github.com/asyncapi/website/issues/728#issuecomment-1119994870)

[2022-05-07 02:07] #741 closed, assigned to nobody

[2022-05-07 07:10] starlightknown commented on #745
Yep they used :love: instead of emoji and there's `font-mono text-pink-500">:love:</span>` so there might be a chance that they meant to keep it as a text. I just made a PR to change the titles in footer. Can I make this change in it and link this issue since it's a minor change? Or do you think another PR should be made?

[2022-05-07 09:36] pratik9315 commented on #728
Okay👍 I have fixed the color and made a PR for it!

[2022-05-07 09:43] pratik9315 commented on #745
Yeah sure! Since this is a minor change and you have already done some work in footer in your PR, you can go ahead and fix this issue too!
Just mention this issue number also in your along with the original issue number. For eg. Fixes #745

[2022-05-07 09:44] pratik9315 commented on #745
If I am not wrong doing this will link this PR here as well

[2022-05-07 13:23] starlightknown commented on #745
yep done

[2022-05-07 13:25] pratik9315 commented on #745
Thanks a lot🥳!!

[2022-05-07 15:46] fatima-ola opened #748 "[📑 Docs]: Update README - Add steps to run the site locally for development"
Description

In the Readme file, after the requirement section, I think Steps to run the site locally for development should be added for first-timer in the steps listed below:

1. Fork and clone the repository
Follow [these steps](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo) to create a fork of this repository and clone it to your local machine.

[2022-05-07 15:52] pratik9315 commented on #748
Good idea!
You could even include commit messages practices specific to AsyncAPI in the readme. For eg. `chore`, `fix,` `docs` and their short descriptions. Merging gets blocked if the contributos dont write the correct commits maybe that could be helpful too. What do you think about it @fatima-ola ?!

[2022-05-07 16:26] fatima-ola commented on #748
I think it makes sense, it is a good addition. Though am not familiar with the commit messages practices specific to AsyncAPI.  Am surely going to look it up.

[2022-05-07 17:01] darp99 commented on #748
Can i contribute on this issue?

[2022-05-08 04:04] akshatnema commented on #748
I think we already have the steps written in the README [here](https://github.com/asyncapi/website#usage). So, we don't need any specific section devoted to specify how the site runs locally in development.

I didn't come up with any such error in commit messages till now. All we need is to make the title of PR starting from `chore`, `fix`, `feat` or `docs` in order to specify whether this PR need

[2022-05-08 05:00] pratik9315 commented on #748
Hey @akshatnema ! I think what @fatima-ola meant was to have steps regarding setting up the website repository on our local machine such as `git clone`, `cd website`, `git remote add upstream` etc. The current readme does not mention those steps!

Oops! You are right! I meant the PR title conventional commits, I worded that wrongly ! Now that I think about it, Since the issue is related setting up

[2022-05-08 11:37] akshatnema commented on #748
I'm not sure that these steps are necessary to be added to the README, since none of the AsyncAPI repositories have these instructions written in the README. If any of the maintainers approve, go with it.

[2022-05-09 08:54] magicmatatjahu commented on #745
This is done deliberately, it is not a bug :)

[2022-05-09 09:08] pratik9315 commented on #745
Ohh okayy! I thought it was a bug. Guess we have to revert back those changes!! 😁

Hey @starlightknown! Can you make a new PR removing those changes I mentioned and can you also unlink the PR from here so that I can close this issue! 😄

[2022-05-09 11:52] starlightknown commented on #745
Already did that, you can close it

[2022-05-09 12:55] pratik9315 commented on #745
Thanks im closing it now! Can you also remove the Fixes #745 from your PR description since we are not working w this issue anymore👨‍💻

[2022-05-09 12:55] #745 closed, assigned to nobody

[2022-05-09 13:12] #695 closed, assigned to derajohnson

[2022-05-09 13:55] akshatnema opened #751 "Wrong href of spec 2.0.0 in some pages of docs"
#### Describe the bug
The wrong href has been given to the UpNext and GoBack buttons on some pages as shown in the preview.

#### How to Reproduce
- Click the GoBack button on [Tooling page](https://www.asyncapi.com/docs/community/tooling)
- Click the UpNext button on the [Spec 2.1.0 page](https://www.asyncapi.com/docs/specifications/v2.1.0).

 #### Screenshots
![image](https://user-images.githubu

[2022-05-09 14:16] derberg commented on #625
I'm not sure what is the core of the problem here 😄 do we need to update something in README.md of `html-template` to make it clear how is `sidebarOrganization` working atm?

[2022-05-09 16:51] derberg commented on #748
we do not need to be consistent across all the repos, especially in case of `website` where we have a lot of documentation-related contributions. It is ok to have more detailed instructions for people that do not work with `git` on daily basis

[2022-05-09 17:45] mcturco commented on #728
@pratik2315 @Mcnoble1 makes sense! Thank you for clearing that up, we should definitely resolve the bugs with the `Skip to main content` button in a separate PR than the one that resolves this issue. But thanks @pratik2315 for fixing the bug of the button showing up over the CTA bar in the meantime 👍

[2022-05-09 21:49] Olaleye-Blessing opened #753 "Skip to main content button is not working"
#### Describe the bug
Nothing is skipped after pressing `skip to main content` button.

#### How to Reproduce
- Go to [homepage](https://www.asyncapi.com/)
- tab through till the link is visible
- press enter
- nothing happens

- Screenshot

![Screenshot (480)](https://user-images.githubusercontent.com/70102539/167502434-501d4fa4-466a-4902-b2a2-f8a00cda88dc.png)

- [File](https://github.com/asynca

[2022-05-09 22:08] Olaleye-Blessing opened #754 "Use right html tags for accessibility."
#### Reason/Context
Please try answering a few of those questions
- Why do we need this improvement?
- How will this change help?

- What is the motivation?

#### Description
- What changes have to be introduced?

- Will this be a breaking change?

- How could it be implemented/designed?

[2022-05-10 07:55] magicmatatjahu commented on #753
@Olaleye-Blessing Hi! Do you wanna fix this?

[2022-05-10 07:59] magicmatatjahu commented on #754
@Olaleye-Blessing Hi! If you want, you can always contribute with suggested changes :)

[2022-05-10 12:27] derberg commented on #643
I would say there definitely is a need for `How to contribute` link to link to generic instructions. As for the `Create Issue on GitHub` 🤔 @alequetzalli what do you think, I think just as proposed by @mharshita, we should have a call to action to create issue instead of having multiple issues created upfront.

[2022-05-10 14:49] #738 closed, assigned to nobody

[2022-05-10 14:58] derberg commented on #383
@akshatnema I love how far detailed you went with the research. The final solution is not written in stone, like file names and stuff like that. The only strong requirement:
- not PR based but discovery based
- enable an easy way to add support to other platforms for discovery, like GitLab (I know about at least one AsyncAPI tool that is hosted there, docs generator for Asciidoc)

I'm not sure if

[2022-05-10 15:32] Nelson-Chinedu commented on #753
@Olaleye-Blessing nice catch.

Hello @magicmatatjahu, would like to pick this issue if @Olaleye-Blessing won't mind

[2022-05-10 15:44] Olaleye-Blessing commented on #754
Yeah, I will. But I feel like I can't do it alone. It's kind of huge. But I'll try my best to fix all

[2022-05-10 15:48] Olaleye-Blessing commented on #753
Yeah, they can work on it.
One suggestion: none of the pages has the `main-content` as ID. It'll be available after #754 is resolved.

[2022-05-11 07:46] Nelson-Chinedu commented on #753
Okay @Olaleye-Blessing

[2022-05-11 07:48] akshatnema opened #759 "fix to not run the generate-meetings workflow on forks"
#### Describe the bug
This issue is regarding fixing the scheduled workflows (like `generate-meetings.yaml`) so that they only run on the website repository and not on the forks created by the users.

#### How to Reproduce
- This workflow fails every morning in the fork repositories and can be seen under Actions tab
- Fork the repository and see your mail in the morning. :smile:

#### Expected beh

[2022-05-11 13:35] derberg commented on #635
The best is if someone who can contribute code starts first with some lorem ipsum text to also enable others that want to help and contribute docs to it.

It is going to basically be a copy of https://www.asyncapi.com/community/tsc, and the differences are:
- URL should be https://www.asyncapi.com/community/ambassadors
- new headers for 3 columns will be: `Who is an ambassador?`, `How to become an

[2022-05-11 14:37] nelsonmic opened #761 "[📑 Docs]: Re-arrange content bucket menu on mobile view"
# What?

Fix the current structure of the menu in the mobile view

# Why?
The mobile menu's present arrangement makes it tough to find. We can improve the user experience by making the menu behave similarly to the "ON THIS PAGE" menu, i.e. sticking side by side as the user scrolls.

Here's how it looks currently:

![Overview _ AsyncAPI Initiative for event-driven APIs](https://user-images.githubus

[2022-05-11 15:31] quetzalliwrites commented on #761
Great find, @nelsonmic! ⭐

Let me connect you with our `/website` core contributor and code owner, @magicmatatjahu. He can guide you how to fix this or you are free to put up a PR and add Maciej to review it. 😄

In addition, I have tagged @mcturco who is a core design contributor, in case she needs to also review changes made.

[2022-05-11 15:36] #728 closed, assigned to nobody

[2022-05-11 16:45] nelsonmic commented on #761
Thank you @alequetzalli, i would love to connect with @magicmatatjahu, so that he can help me get started

[2022-05-11 17:07] mcturco commented on #761
Thank you for reporting this issue, @nelsonmic!

I think this would be a good issue for a design contributor to pick up and ideate on some solutions, keeping in mind that we have some major changes being worked on in the docs currently on PR #601, so these ideas would have to work with this new structure.

However, I think that this bug should get resolved in the meantime and I think your solution

[2022-05-11 17:34] nelsonmic commented on #761
Hi @mcturco!

That's fine, I'm happy to have created the issue.

 Also, you're right, I think that would be a good approach to solving the issue, that way it looks more like a toolbar

[2022-05-11 18:02] akshatnema commented on #761
Hey @mcturco @nelsonmic, it's a nice idea to put the TOC and the left Sidebar buttons inline, but as Missy suggested to have TOC aligned at the edges, can we make it be a right sidebar for the mobile view. It will be much more interactive, but a bit difficult task to create it as a right sidebar instead of just a dropdown (as of now). My thinking behind it as we are already with a dropdown feature

[2022-05-11 18:11] nelsonmic commented on #761
Hi @akshatnema, thank you for your suggestions.

At the moment, it's actually not a dropdown menu, it just looks like it, however, it behaves like a "hamburger menu". Your suggestion if i got you correctly is to make it look like a "hamburger menu", but there's already a hamburger menu at the top right corner of the page.

what do you think?

[2022-05-11 18:32] iipranavii commented on #761
I would like to take up on it.
I feel we can have a Sticky Tag/ bookmark like design, where the user can click on the tag to open the hamburger style menu.
I feel like this is an Index, and it can work like that, I have some iterations
 <img src="https://user-images.githubusercontent.com/67915580/167920990-05f740f0-9f42-4b0b-bdc9-880f56a41681.png" width="200"/>
 or
 <img src="https://user-images.g

[2022-05-11 18:58] iipranavii commented on #761
How about a Design like this for the scroll:
This will make the Menu still accessible, and an animation while scrolling can make it so that the heading collapses and only an arrow is visible

Figma Prototype:
(click to see the different states)
https://www.figma.com/proto/N4jtHmKHco1jXkeokdU1cq/Modelina?node-id=6%3A62&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=6%3A62

<img src="https://

[2022-05-11 19:05] nelsonmic commented on #761
Yes @iipranavii the last design you just sent makes sense in my opinion, let's wait for @mcturco go-ahead.

Also, one more thing to note, as @mcturco said before "the (On this page) button should go to the edges instead of having the margin/white space around it to help it look more like a toolbar."

[2022-05-11 19:31] Barbanio commented on #635
Thanks @derberg for explaining so well and in detail how to contribute 🙌

[2022-05-11 19:39] mcturco commented on #761
Hmmmm 🤔 Is it just me or does it seem like the "Concepts" arrow and the "On this page" arrow are directly competing? I think we should come up with some other ideas for how we could layout this secondary navigation so that the user knows what to expect when clicking arrows. Perhaps the sidebar menu toggle button could be separated from the TOC toggle button? Do we need the TOC dropdown on mobile?

[2022-05-12 10:16] derberg commented on #780
GA allows you to also create new view, custom components, with scheduled reports etc. But yeah, I'm not GA evangelist.

Tbh I think the approach with New Relic is super nifty, as long as we can use it for free of course 😆 I guess you @smoya and @fmvilas can anyway get us more free storage if we need 😆

❤️ from me for New Relic

Does it mean we have an agreement on implementation? 🙌🏼
Before we fina

[2022-05-12 10:26] #759 closed, assigned to nobody

[2022-05-12 10:37] nelsonmic commented on #761
Hi @mcturco, you're right about both arrows conflicting, what do you suggest we do? How would users navigate if we decide to remove the TOC dropdown for mobile?

[2022-05-12 12:09] akshatnema commented on #761
I have gone through the above designs made by @iipranavii and the @mcturco comment regarding the competing of the arrows of the menus in the mobile view. Based on the comments and my previous comment https://github.com/asyncapi/website/issues/761#issuecomment-1124105338, I have created these designs. @mcturco do review these and give suggestions regarding them.
<div>
<img src="https://user-images.

[2022-05-12 17:08] mcturco commented on #761
Hi all! I had some ideas for solutions on this experience issue. I have propagated them in a couple of prototypes, let me know what you all think.

### Option 1
Breadcrumbs, TOC drawer sticky to the bottom of the viewport

![Screen Shot 2022-05-12 at 1 02 53 PM](https://user-images.githubusercontent.com/60163079/168129971-bb437e1b-8a27-4ee6-9f11-f5ef61fc2cfe.png)

---

### Option 2
Same as Option

[2022-05-12 17:26] akshatnema commented on #761
Hey @mcturco, you made a brilliant and technical design to handle the TOC in the website accurately :clap:. But I have a concern that you made that TOC at the bottom of the window and the same TOC is being used in the blog as well. In every blog, we use a script and at4 to display the social icons to enable the share feature in them. They are also confined to the bottom of the window and can't be

[2022-05-12 17:45] akshatnema opened #766 "Responsive issues in the blog '2022q1-summary'"
#### Describe the bug
The blog has responsive issues on the webpage (https://www.asyncapi.com/blog/2022q1-summary). The audio element added in the blog is getting extended to its original width of `600px` which is wrong and need to be corrected in the mobile view.

#### How to Reproduce
Steps to reproduce the issue:
- Go the blog [Summary of things that happened at AsyncAPI Initiative from January

[2022-05-12 18:59] nelsonmic commented on #761
Yaaaaaaas @mcturco Option 1 is just perfect, I think we can go with that, it's descriptive and well placed.

Also, @akshatnema, do you mean that if we change the "On this page" button on the docs page, we would have to do the same for the blog pages?

[2022-05-12 19:42] BOLT04 commented on #780
yeah let's go with the new relic solution proposed by @smoya  👍
I think with that the Server API doesn't need any implementation, so we could close this issue when that PR is merged right?

wdyt everyone?

[2022-05-12 20:06] mcturco commented on #761
@akshatnema Thank you for pointing this out!! Hmmm 🤔  I am starting to wonder if we even need the TOC on the blog pages? I don't feel like our blog posts are super long to where that would be necessary. What does everyone think about removing TOC altogether from blog pages?

[2022-05-12 20:23] nelsonmic commented on #761
We can take it off since we don't really need it there

[2022-05-13 04:40] akshatnema commented on #761
I think we do need it sometimes in the blog. This is because Lukasz writes the blog regarding the summary of what is happening in AsyncAPI may be quarterly or half-yearly basis. Those blogs cover some important headings and may get long if he needs to give good explanation regarding the improvements made. Secondly, you can go through this blog [AsyncAPI vs OpenAPI](asyncapi.com/blog/openapi-vs-asy

[2022-05-13 06:06] akshatnema commented on #759
@derberg Now, this is something which is going out of box now :smile:. Workflow is still running in the fork even after checking the if statement. Check this:
https://github.com/akshatnema/website/runs/6418145896?check_suite_focus=true

[2022-05-13 11:12] codiini opened #768 "Add clarity to home page definitions of what Async API is about"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
  I think this improvement would make it easier for everyone to understand what Async API is about and what Event-driven architectures mean
- How will this change help?
-  I think this improvement would make it easier for everyone to understand what Async API is about and what Event-driven architectures

[2022-05-13 16:53] mcturco commented on #761
@akshatnema Hmmm I would like to get some feedback from others in the community about this. Even that AsyncAPI vs OpenAPI article isn't too long to scroll through, and I almost think that the links in the TOC is overkill compared to the short length of that article.

[2022-05-13 18:25] mharshita commented on #693
Hey @derajohnson @Mcnoble1 are you both working on this issue?
If nobody is working on this issue, I would like to take this up :)

[2022-05-13 18:56] Mcnoble1 commented on #693
@mharshita this issue has been worked on already. Thanks for showing interest. You could as well check out some other issues or accessibility enhancement on the AsyncAPI website.

[2022-05-13 19:56] nelsonmic commented on #761
In my opinion, I don't think we need the "TOC" menu on the blog pages.

[2022-05-13 21:17] IfyN opened #771 "[📑 Docs]: Rearrangement of Infobox to align with order in the side navigation bar."
### What Dev Docs changes are you proposing?

Hello everyone,

I noticed that on the overview page which introduces us to Streetlights and Streetlights - Interactive (Alpha) on the Side navigation bar, Streetlights comes before Streetlights - Interactive (Alpha) from top - bottom but on the overview page, Streetlights - Interactive (Alpha) infobox comes before that of Streetlights. The normal conv

[2022-05-14 02:29] mharshita commented on #693
Okay! I was not aware of this. I will look for some other issues. Thanks!

[2022-05-14 02:34] IfyN opened #772 "[📑 Docs]: Make voice and tone of documentation consistent and proper introduction."
### What Dev Docs changes are you proposing?

Hello everyone,

This documentation is a [Streetlights tutorial (https://www.asyncapi.com/docs/tutorials/streetlights)](https://www.asyncapi.com/docs/tutorials/streetlights) I propose that there is to be a proper introduction and also noticed the overall voice and tone is not consistent.

- The first part of the tutorial starts with the possessive adje

[2022-05-14 15:08] luphieanza commented on #772
@alequetzalli did we have any Writing Style Guide about this one? we should try to create one of them. Since style guides really helpful for our documentation to clarify our voice of tone. What's your opinion on it?

[2022-05-14 15:12] luphieanza commented on #771
@IfyN Nice suggestion, wait for @alequetzalli to look forward to it.

[2022-05-14 20:08] quetzalliwrites commented on #643
@mcturco @derberg  (cc @mharshita) Ah, good questions all around! 😺

 Here's my take on what `Contributor Needed` cards should include/do:
- **personalized title of needed contribution** _(i.e., "Contributors needed for Kafka tutorial")_
-  **CTA button that [links to creating a new `Docs` issue](https://github.com/asyncapi/website/issues/new?labels=%F0%9F%93%91+docs&template=docs.yml&title=%5B%F0

[2022-05-15 14:35] akshatnema commented on #771
Hey @IfyN, can you please correct the title of this issue such that it targets the issue you want to present?

[2022-05-15 15:09] akshatnema commented on #383
Hey @derberg, I understood your previous comment and thus, came up with another approach to target this. Do give your views on it. Here it is as follows:

- **First part of the approach** - We will be using Web scraping here on the JSON data provided by GitHub and GitLab APIs because we can only rely on these APIs since most of the tools are present here only (Do tell me if we have a centralized p

[2022-05-15 19:27] IfyN commented on #771
Alright, done @akshatnema thank you for bringing this to my attention.

[2022-05-16 06:57] magicmatatjahu commented on #532
Still needed.

[2022-05-16 07:26] derberg commented on #643
it might happen but the complexity to solve is not worth the effort IMHO, especially compared to effort of just closing a few duplicated issues

[2022-05-16 07:55] iipranavii commented on #761
Inspired from @mcturco's design, and the problem with the bottom window, I felt this design can work for the TOC, it doesn't take up as much space and I feel can be easily recognized by the user for its use case?
--
![image](https://user-images.githubusercontent.com/67915580/168545132-697ead46-a01c-4635-8abe-bc6889305e16.png)

[2022-05-16 08:13] mharshita commented on #643
I agree with @derberg. What are your views @alequetzalli @mcturco ?

[2022-05-16 08:41] derberg commented on #761
No please do not remove TOC 🙏🏼
It is industry standard for docs and super useful in blogs too. Sometimes articles are short but sometimes they are technical, few chapters and TOC is crucial.

I recommend tracking the usage before it is removed (https://github.com/asyncapi/website/issues/432). I remember last year, around October there was a discussion to remove animation from landing page as "nobo

[2022-05-16 08:53] derberg commented on #693
@Mcnoble1 hey, can you please point to PR that introduces solution?

[2022-05-16 09:08] derberg commented on #780
I think we can even transfer it to https://github.com/asyncapi/website now 🤔

[2022-05-16 09:10] Mcnoble1 commented on #693
@derberg here https://github.com/asyncapi/website/pull/699

[2022-05-16 09:10] derberg commented on #693
Perfect, 🙇🏼
closing this one

[2022-05-16 09:10] #693 closed, assigned to quetzalliwrites, Mcnoble1

[2022-05-16 09:11] jonaslagoni commented on #780
Awesome @smoya 👍

[2022-05-16 12:29] quetzalliwrites commented on #643
@derberg @mcturco @mharshita

Totally agree on the solving equation. But here's what I'm curious about...

What if the contributor needed cards could either link directly to an open issue or include a cta to create issue?

If we could remove in our markup the cta or add the link, we can manually add each contribution card and determine if it can link directly or if it needs a new issue.

Shouldn't

[2022-05-16 13:09] jaas666 commented on #766
I got it. 👍

[2022-05-16 14:46] quetzalliwrites commented on #761
I am not a designer but I am here to give my opinion and agree with @derberg about keeping the TOC. 🙃

It is industry standard to have TOCs in both blog posts and documentation pages, regardless of how long a post or article happens to be. It's also extremely useful because then you can send links to people to the specific section that answers a question, versus having to send them the link to the

[2022-05-16 19:36] mcturco commented on #761
@derberg @alequetzalli Thank you guys so much for your input! I think the idea was to remove the TOC only from the blog pages, but I do understand how that might affect someone's experience of reading an article. I'm fine with leaving it, I just think we should come up with some other solutions for having both the share buttons and the TOC on the blog pages (on mobile)

## Here's a new idea 💡
I do

[2022-05-16 20:17] mcturco commented on #643
@derberg @alequetzalli @mharshita

Hmmmm 🤔

IMO, It seems kind of weird that we would include a "Contributors Needed" card on a docs page without ALREADY having an issue open for the contribution that we are asking for. Wouldn't you already have some details on the contribution needed? I feel like before we add a "Contributors Needed" card to a docs page, we should remember to open an issue first,

[2022-05-16 21:06] mcturco commented on #532
@magicmatatjahu I actually have an open PR here to add brand guidelines docs to the `brand` repo: https://github.com/asyncapi/brand/pull/50

Do we think that the brand guidelines pages on the website are still needed if we have them in github? Or maybe we can just grab the content from the github pages and add them to the website as well?

[2022-05-16 21:10] quetzalliwrites commented on #761
@mcturco LGTM 🚀🚀🚀

[2022-05-17 06:47] akshatnema commented on #761
@mcturco Hats off to your designing skills, Missy 🫡. But we have a big problem that the shareable links (i.e. `at4`) are not JSX components. It is not handled from our repository. It is just a JS script written and rendered from the external source and we can't customize it to a single onclick button. Hence, what you showed in your prototype is practically not possible with the present scenario of

[2022-05-17 07:31] magicmatatjahu commented on #532
@mcturco Hi! I see you've done a lot of work on the given PR :D We can do it like this, the `brand` repo would be a source of information for our design/brand and in the future we can render those sources on our site (like `/docs`). Currently we can just add a link in the footer of website to the `brand` repository. What do you think about this?

[2022-05-17 07:38] derberg commented on #643
hmmm, I'm not sure I recall correctly, but I guess idea was that this card is visible only there where contribution is needed 🤔

my only concern with opening an issue upfront, is that it can bother us later through `stale issue` notification + there is a high probability that after contribution we forget to remove reference to already closed issue

[2022-05-17 07:39] magicmatatjahu commented on #780
I am also in favour of a solution using the New Relic @smoya 👏🏼

[2022-05-17 10:38] magicmatatjahu commented on #383
I think you guys like to make life difficult for yourselves. When I read about the `.asyncapi-tool` approach I immediately had in mind situations where we use this file on the repository side to describe the tool (its metadata), and you describe about scraping data and identifying by description etc...

(Maybe you have the same thing in mind as me, but reading your previous comments I'm confused a

[2022-05-17 20:37] fmvilas commented on #780
Yeah me too. Let's use New Relic. They have a powerful query language (NRQL) and it's easy to create new views of data 👍

[2022-05-17 21:49] mcturco commented on #761
@akshatnema hmm I see what you mean and I am wondering if there is an alternative solution since as you pointed out the script is causing issues on mobile (I have a problem where the horizontal scroll bar shows up and the page scrolls side to side as I am trying to scroll down. Wonder if we could put the scripts into a component and add them where we need? Not sure what is possible, maybe @magicma

[2022-05-17 21:50] mcturco commented on #532
@magicmatatjahu yeah, that sounds good to me!

[2022-05-18 07:40] magicmatatjahu commented on #532
Ok, so this issue will be still relevant.

[2022-05-18 08:26] derberg commented on #383
Definitely let us not consider web scrapping as a possible solution. GitHub search allows you to [search for specific file in repos](https://docs.github.com/en/search-github/searching-on-github/searching-code#search-by-filename) and as result, you get a list of repos. Then, afaik API allows you to just grab the content of the specific file, without cloning (something to confirm)

tl;dr
- we do not

[2022-05-18 08:42] magicmatatjahu commented on #761
As for `addThis`, we can always style it in a different place than the default, and even choose a rendering "way", one of official. I wouldn't worry about that.

[2022-05-18 13:42] #727 closed, assigned to Mcnoble1, starlightknown

[2022-05-18 14:58] yy185058 opened #779 "[📑 Docs]: found one duplicate paragraph in docs"
### What Dev Docs changes are you proposing?

Toward the end of the article, this sentence was repeated twice:
https://www.asyncapi.com/docs/getting-started/event-driven-architectures

However, that's not always the case, as Martin Fowler explains in his talk "the many meanings of Event-Driven Architecture":

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-18 15:17] pratik9315 commented on #779
Hey! I think you forgot to give title to your PR!

[2022-05-18 15:20] mcturco commented on #643
Yeah, but I think it is a bigger concern for the action in the cards to be "Create an issue" because what if someone already created an issue? Then you would need to update the website again to keep others from creating duplicate issues. It's going to be a matter of weighing out what problem is the least annoying haha 😄

[2022-05-18 15:25] yy185058 commented on #779
@pratik2315 thanks! just added it!

[2022-05-18 15:27] derberg commented on #643
annoying vs expensive 🤣

[2022-05-19 06:58] Harish-b-03 commented on #195
Hello Everyone 😁. Heyyy @derberg, as discussed in Slack, I would like to work on this issue and really excited.
So to start with that, as referred earlier can we have postman website design or can we make any changes
![image](https://user-images.githubusercontent.com/69810789/168846601-0e20b710-8477-4973-9011-fda3fcbe55a0.png)
Like this, Can we go with just two groups:- one for press and articles,

[2022-05-19 08:03] derberg commented on #195
@Harish-b-13 thanks!

we definitely cannot follow Postman 1:1 as we should follow https://github.com/asyncapi/brand/blob/master/brand-guidelines/README.md that @mcturco published just yesterday. But yeah, the idea is pretty common everywhere, so columns with links. What I like in the Postman footer is the `Social` section. We should definitely get it too, instead of the current list of icons only

[2022-05-19 09:03] akshatnema opened #782 "update the Tailwind version"
### Reason/Context

- **Why we need this improvement?**
  With the recent releases in the Tailwindcss, many new utility classes has been added and it can be used very effectively to make proper animations and alignments.
- **How will this change help?**
  This change will help the repository remain up to date with the present versions of the Tailwind and can incorporate new features provided in it

[2022-05-19 09:04] akshatnema commented on #782
Need a proper review, discussion and approval of the issue from the CODEOWNERS.

cc: @derberg @magicmatatjahu @fmvilas

[2022-05-19 09:22] derberg commented on #782
let's do it 😅

[2022-05-19 09:29] magicmatatjahu commented on #782
https://www.youtube.com/watch?v=ZXsQAXx_ao0

[2022-05-19 09:51] derberg commented on #782
@magicmatatjahu omg, even I want to do it now 😆

[2022-05-19 10:15] akshatnema commented on #383
Yep, we can extract the file contents but not directly through the Github search. What you mentioned in your message are the features used to find files/repos using the Github search bar but we need want it using Github API. I found [this](https://docs.github.com/en/rest/search#search-code) in the Github REST API. I think using the above-mentioned API, we can find the file present in the respectiv

[2022-05-19 10:27] akshatnema commented on #782
After seeing this, our CSS Master @derberg, carrying lots of energy and enthusiasm, will make a PR on this issue, handling the themes and colors in `tailwind.config.js` file and it will be reviewed by all the CODEOWNERS :laughing:.
___
Edit: I'm not sure that PR will be merged or not :rofl:.

[2022-05-19 10:29] derberg commented on #782
I just wanted to open up a PR but you know what @akshatnema, you discouraged me, and I'm not gonna do it.

You are on your own 😆 for the good of the community anyway 🤣

[2022-05-19 10:35] akshatnema commented on #782
@derberg Nope, you can do it and you should. The community will be very happy to see you making such a valuable contribution, and me and @magicmatatjahu will be always there to give you friendly feedback/review for the PR (I'm not sure about @magicmatatjahu giving you a `friendly` review :smile:).

[2022-05-19 10:39] derberg commented on #383
- you have some example of search in action here: https://github.com/derberg/npm-dependency-manager-for-your-github-org/blob/main/lib/api-calls.js
- search returns 2 props, `repository` with typical repository object where you can grab org/profile and repo name + `path` where found file is actually located in repo, root? maybe .github?
- then you call for example https://api.github.com/repos/async

[2022-05-19 12:20] akshatnema commented on #383
decode content string with base64

As what I see in the API docs and its schema, we get a `url` variable containing the link of the contents inside the file (in base64 encoded form). The schema of the url is as follows:
[code]
 We can call the GET request on this url to get the contents and then convert them into the normal text then. Do confirm if you want to convey this only?

 I will try to mak

[2022-05-19 12:28] derberg commented on #383
sounds good to me

yeah, leave out schema for now, first focus on example JSON objects. Let us agree on the structure, and then to get schema out of it later is easy. Definitely do not start with schema first

[2022-05-19 12:48] derberg commented on #782
![](https://media.giphy.com/media/ClZxQjtI4XqdJnW3yR/giphy-downsized.gif)

[2022-05-19 13:00] starlightknown commented on #779
hey are you working on this issue? or I would like to work on it please

[2022-05-19 15:00] quetzalliwrites commented on #779
@starlightknown go ahead and start a PR 👍🏻 😄

[2022-05-19 15:31] yy185058 commented on #779
are we allowed to raise a PR for changes ourselves?

[2022-05-19 15:47] quetzalliwrites commented on #779
@yy185058 Yes! That is how OSS works ❤️

Anyone can open an issue for a contribution proposal and then do the work with a PR. You just cannot get your change **merged** until core maintainers in this OSS project approve your PR.

If you want to fix this, then just let me know so that we don't confuse poor @starlightknown 😆

[2022-05-19 15:53] quetzalliwrites commented on #643
I agree with @mcturco, let's make it our workflow to create an issue FIRST and then add a **contributor needed** card linking to it.

I agree/understand that getting `stale` notifications on those tickets could suck, but I think we need to select clarity over simplicity.

If we follow Missy's approach, then it will be extremely clear and simple for each contributor to click thro the card and find

[2022-05-19 16:53] yy185058 commented on #779
thank you for your reply! yes I can try to fix this

[2022-05-19 16:58] quetzalliwrites commented on #779
OK sounds great! If you get stuck let us know @yy185058 ...

sorry for the confusion @starlightknown! It looks like Yimin is going to do a PR.

[2022-05-19 17:13] #766 closed, assigned to nobody

[2022-05-20 12:18] yy185058 commented on #779
Hey I was trying to raise a PR but saw this issue:

[code]

[2022-05-20 12:24] pratik9315 commented on #779
Hey there! Did u add upstream URL of the main repo in your forked project? Can you run a
`git remote -v` command to double check

[2022-05-20 12:25] Harish-b-03 commented on #195
Heyy Everyone😃. So to get an idea, made some changes in the footer and played with it

![image](https://user-images.githubusercontent.com/69810789/169522694-4d631ab4-ed72-4f54-ba9e-6a5701870237.png)

I would like to get everyone's suggestions, ideas and improvements required.

Explanation:

- About, Blog, Shop and Jobs are the same links
- Press - link for a separate page to render the press relea

[2022-05-20 12:28] starlightknown commented on #635
![image](https://user-images.githubusercontent.com/74637789/169528158-a5847ca8-7066-449d-926d-6b800f540369.png)

progress!

[2022-05-20 12:39] yy185058 commented on #779
sorry this is my first time contributing to OSS, here's what I see for that command:
[code]

what I did is cloned the source code to my local and created a branch from it, and now trying to push changes from that branch

[2022-05-20 12:47] pratik9315 commented on #779
Got the error! You should also add
 `git remote add upstream "main repo URL"`

[2022-05-20 12:48] pratik9315 commented on #779
You have set up the main repo on your local machine you should set up the forked repo on your pc and then perform the `git remote add upstream URL` I mentioned above

[2022-05-20 13:10] yy185058 commented on #779
thank you! is this the correct flow:
1. clone the main repo to local
2. fork the repo and run `git remote add upstream "[main repo URL](https://github.com/asyncapi/website.git)"`
3. create branch on item 2 and finish code changes
4. push the changes and create PR

i have a feeling that this is wrong as in this case seems like the cloning repo isn't used at all...

[2022-05-20 13:13] pratik9315 commented on #779
1. Fork the repo
2. Clone the "forked repo" into your local machine (not the main repo haha!)
3. Perform the git remote add upstream (https://github.com/asyncapi/website.git)
4. Create a branch and submit changes
5. Push the changes😄

[2022-05-20 13:39] akshatnema commented on #779
After reading this issue, I think there is a need to work on #748. What do you think @alequetzalli?

[2022-05-20 15:51] yy185058 commented on #779
thank you so much for the patience, I just had my PR raised!

[2022-05-20 17:35] mcturco commented on #195
Hey @Harish-b-13! Thank you so much for putting this together. I am loving the layout that you proposed! I just have a few UI suggestions. Here is a quick mock-up that I put together to help visualize what I am proposing we change:

![Screen Shot 2022-05-20 at 1 24 06 PM](https://user-images.githubusercontent.com/60163079/169580793-74d2ac04-8328-4d60-bebf-c756b18921f7.png)
_([Open in Figma](https:

[2022-05-22 04:22] Harish-b-03 commented on #195
Heyy @mcturco. Thank you for suggestions.

That's a very good change, I didnt think of this and lets see what others are thinking. Curiously waiting for @derberg 's input 😁

All the other changes you made, are valid one and I will change according to this. Lets wait for @derberg.
And once again Thank you very much for your time and valuable suggestion😃.

[2022-05-23 01:29] mharshita commented on #643
Sorry, my exams are going on, so that's why late reply. I will go ahead with Missy's approach.

[2022-05-23 08:59] magicmatatjahu commented on #397
Resolved by https://github.com/asyncapi/website/pull/406

[2022-05-23 08:59] #397 closed, assigned to nobody

[2022-05-23 08:59] derberg commented on #195
this looks amazing, thanks @Harish-b-13 for coming up with proposal so fast and @mcturco for great mockups right away ❤️

my only point is that yes, we should have Slack link in `Social`, and we should also put Twitch there -> https://www.twitch.tv/asyncapi

[2022-05-23 09:04] akshatnema commented on #383
Hey @derberg @magicmatatjahu can you please tell me some categories for the tools on which we can filter the tools?

I'm trying to make a JSON object for the `.asyncapi-tool` file.

[2022-05-23 13:32] akshatnema commented on #383
I made a template JSON object for `.asyncapi-tool` but I think it still needs some more fields to be added. Do give your suggestions regarding the JSON object and schema.

[code]

[2022-05-23 14:42] magicmatatjahu commented on #383
@akshatnema Nice! 🚀  My insights:

- I think that we should have shape for single maintainer like:

[code]

- about `links.repo_url`. If we will fetch data from Github API we will have url for repo, yes? So I don't think so that we need it.
- `category. isAsyncAPIowner` I don't think so that we need it, because we can check on the fetching side that given repo is under `asyncapi` organisation.
- m

[2022-05-24 08:28] akshatnema commented on #383
Fine, I'll update this change.

Yeah, it will not be needed in the `.asyncapi-tool` file but will surely be added in the `tools.json` file when compiling all the tools.

Hmm, it will be helpful if this field is added, because there will be need to add manually this field in the JSON object in the script.

Yeah, definitely :+1:

[2022-05-25 10:00] Harish-b-03 commented on #195
Hello Everyone 😃. Soo, I have made all the changes.

![image](https://user-images.githubusercontent.com/69810789/170233333-eada7408-4c17-46d4-85cc-a627140f3403.png)

Now, I need your help @derberg , I dont know which link, I have to use for Slack in `Social`. It would be helpful if u provide me the link that should be included. And is there any changes that I have to make in this layout.

And @der

[2022-05-25 10:04] magicmatatjahu commented on #195
@Harish-b-13 Hi! I don't know what @derberg wants to do with `press` page, but it would be best if you opened a PR with a new footer and we would do a review :)

[2022-05-25 10:19] derberg commented on #195
for slack please use -> https://asyncapi.com/slack-invite

for press, yes, we need new simple page with content mentioned by @Barbanio
as simple as https://www.asyncapi.com/about

[2022-05-25 12:47] TomasEkeli commented on #125
i see that o'reilly is removing public access to katacoda - the tutorial should be moved from it before the 15th of june!

https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

[2022-05-25 13:58] mcturco commented on #529
@magicmatatjahu @derberg @fmvilas can one of you help to remove the `stale` label on this issue? Thanks in advance!! 😄

[2022-05-25 13:59] magicmatatjahu commented on #529
@mcturco Done :)

[2022-05-25 14:01] mcturco commented on #529
@magicmatatjahu THANK YOU! 😄

[2022-05-25 14:15] Harish-b-03 commented on #195
Helloo @magicmatatjahu 😃. Thank you very much for your response. Please give me some time to create the page to display the contents. For sure, will submit a PR by tomorrow.😄

Heyy @derberg 😃. Thank you very much. Will complete the work by tomorrow and will submit a PR.😄

Thank you😊

[2022-05-25 14:17] magicmatatjahu commented on #195
@Harish-b-13 No problem, but it would be better if you divided this task into 2 PRs, one for new footer and second for new page :) It will be better for you and for us to review.

[2022-05-25 14:22] Harish-b-03 commented on #195
@magicmatatjahu Ok sure👍. Now I will submit a PR for new footer and Tomorrow I will submit other one for new page.

[2022-05-25 14:23] magicmatatjahu commented on #195
@hkaur008 Thanks!

[2022-05-25 14:52] Harish-b-03 commented on #195
Heyy @magicmatatjahu, I am ready to submit PR but could you please help me with this small crazy thing: which prefix should I use for this, is it `update: `  or `fix: `  or something else 😅

[2022-05-25 14:53] magicmatatjahu commented on #195
@Harish-b-13 In website repo it doesn't have any "value" for release, but it's a "feature" for website, so please create with `feat:` prefix :)

[2022-05-25 15:28] Harish-b-03 commented on #195
![image](https://user-images.githubusercontent.com/69810789/170298809-4df2994b-0393-47d9-883d-b839e04b5537.png)

Heyy @magicmatatjahu , it is showing like this. What I have to do for this? should I create a new branch and try to submit PR after that

[2022-05-25 15:28] Harish-b-03 commented on #195
Note: I have already submitted a PR which is not yet merged

[2022-05-25 15:33] magicmatatjahu commented on #195
@Harish-b-13 You should never create changes on the master branch, but on another branch to work on two separate tasks. The way I see it, create another branch from the master and try to create a new PR, additionally trying to remove the commit related to the changes in the md files.

[2022-05-25 16:09] Harish-b-03 commented on #195
@magicmatatjahu Thank you very much for your help. Finally, I have submitted a PR😀. Please have a look at it
@derberg Thank you very much for your help. Please have a look at it.

Thank you😀

[2022-05-25 17:53] pratik9315 commented on #779
Hello there @yy185058. You sure? I cannot see your PR listed anywhere😅!

[2022-05-25 18:29] starlightknown commented on #779
They haven't linked this issue in their PR @pratik2315
And it got closed because another PR was already there and it's merged now. This issue can be closed since it's solved now

[2022-05-25 18:34] pratik9315 commented on #779
Ohh okayy. I forgot to look in the closed PR's section!
Thanks for clarifying @starlightknown 👍

[2022-05-25 22:42] quetzalliwrites opened #793 "[📑 Docs]: Improve 'getting started' tutorial"
### What Dev Docs changes are you proposing?

# Proposed change

The current ['getting started' tutorial](https://www.asyncapi.com/docs/getting-started) need to be improved; the content outline must be restructured to match the new tutorial outline template we'll be using for our docs moving forward.

The below section provides the new sample outline template to use for all of our tutorials, and I

[2022-05-25 22:44] quetzalliwrites commented on #793
@Annysah here's your first `GSoD` issue! ⭐

[2022-05-25 23:57] quetzalliwrites opened #795 "[📑 Docs]: OSS Community User Research to determine top AsyncAPI tutorials needed"
### What Dev Docs changes are you proposing?

# OSS Community User Research: determine top AsyncAPI tutorials needed

Let's start a vote via a [docs community discussion about their top needs for AsyncAPI tutorials](https://github.com/asyncapi/community/discussions/379) to determine the first gsod tutorials to work on.

We also want to follow up via individual DMs in Slack and in broader group cha

[2022-05-25 23:58] quetzalliwrites commented on #795
Your first GSoD issue @starlightknown ⭐ 😄

[2022-05-26 01:16] #683 closed, assigned to meghthak, quetzalliwrites, pratik2315

[2022-05-26 01:31] #712 closed, assigned to meghthak, quetzalliwrites, awantika10

[2022-05-26 01:58] quetzalliwrites opened #797 "[📑 Docs]: new server concept doc"
### What Dev Docs changes are you proposing?

# NEW /server concept doc
As part of gsod, we need to build out the new **Concepts** section in our docs.

<img width="300" alt="Screen Shot 2022-05-25 at 6 56 55 PM" src="https://user-images.githubusercontent.com/19964402/170399696-91ce63d6-ffc2-4f1a-b6a7-e59525c33d27.png">

## Each concept page should be planned w/ an agnostic outline
To get an idea

[2022-05-26 01:59] quetzalliwrites commented on #797
Here's your first gsod issue @thulieblack! ⭐

[2022-05-26 02:04] quetzalliwrites opened #798 "[📑 Docs]: new producer concept doc"
## What Dev Docs changes are you proposing?

# NEW /producer concept doc
As part of gsod, we need to build out the new **Concepts** section in our docs.

<img width="300" alt="Screen Shot 2022-05-25 at 6 56 55 PM" src="https://user-images.githubusercontent.com/19964402/170399696-91ce63d6-ffc2-4f1a-b6a7-e59525c33d27.png">

## Each concept page should be planned w/ an agnostic outline
To get an idea

[2022-05-26 02:04] quetzalliwrites commented on #798
Here's your first gsod issue @nelsonmic! ⭐

[2022-05-26 02:20] starlightknown commented on #795
thank you!

[2022-05-26 02:30] #713 closed, assigned to nobody

[2022-05-26 07:43] #751 closed, assigned to nobody

[2022-05-26 07:55] thulieblack commented on #797
Got it, Thank you💜

[2022-05-26 08:18] akshatnema commented on #529
@mcturco are we gonna still take forward this issue? We have designed the Figma file, almost ready with the basic layout of the page, only requiring what data and form need to be rendered there.

[2022-05-26 08:54] akshatnema commented on #782
Ok, we have done quite a good fun here. Let's come back to the topic :smile:
___

So far I studied and experimented on my local environment, updating the Tailwind version is actually breaking the webpack in the website and also, some of the plugins build from `tailwindcss/ui` are being deprecated in the present versions of the Tailwind. So, now 2 approaches come to my mind and I prefer the second

[2022-05-26 09:09] magicmatatjahu commented on #782
If there are significant breaking changes then I would prefer to go the 2nd way, with the config from scratch, of course we should have this same styles (tailwind util classes) that @mcturco created.

[2022-05-26 10:22] akshatnema commented on #782
Yeah, the webpack of our website got crashed when I tried to install the new version. Every time the website renders, it asks for the newer settings and config to setup and secondly, the previous webpack version repeatedly sends log messages to correct the error, which is not even solved in the StackOverflow. Here's the [link](https://stackoverflow.com/questions/67768315/im-having-this-weird-webpa

[2022-05-26 11:16] Annysah commented on #793
@alequetzalli, I will get to work!

[2022-05-26 11:48] nelsonmic commented on #798
awesome, let's get to work

[2022-05-26 19:52] mcturco commented on #782
@akshatnema I'm good with the second option as long as we don't lose any of the custom stuff we added to the tailwind.config.js file 😄  Once you make the changes and put up a PR, we can always review the preview and make sure nothing got messed up in the process.

As far as the structured components go, don't worry about that so much in this issue. We have a proposed project open for the Mentorshi

[2022-05-26 20:00] mcturco commented on #798
I'll be here when you need me 😄 ✨

[2022-05-26 21:57] quetzalliwrites opened #800 "[📑 Docs]: Improve 'streetlights' tutorial"
### What Dev Docs changes are you proposing?

# Proposed change

The current ['streetlights tutorial](https://www.asyncapi.com/docs/getting-started) needs improvement; the content outline must be restructured to match the new tutorial outline template we'll be using for our docs moving forward.

`[note: This issue does NOT include the streetlights alpha tutorial; that needs to be likely removed bu

[2022-05-26 22:00] quetzalliwrites commented on #800
@starlightknown While you await more responses to your [User Survey to identify new tutorials to add](https://github.com/asyncapi/community/discussions/379), here is your first TW gsod issue. ⭐

Notice how @Annysah will be working on a parallel assignment, except she's doing this work for the '[Getting Started' tutorial.](https://github.com/asyncapi/website/issues/793) Feel free to learn from each

[2022-05-27 02:11] starlightknown commented on #800
awesome, I'll start working on this. thank you

[2022-05-27 08:57] akshatnema commented on #782
We are gonna lose whole file :smile:. I'm going to fully set up the tailwindcss config file from scratch and that's what I'm targeting here. I will be adding all the present styles manually and the colors as well.

So the conclusion is we are going with the second approach and it will take some time to raise a PR along with the changes. So, be ready in few days :slightly_smiling_face:

[2022-05-27 14:33] mcturco commented on #782
Sounds good, no rush. Thank you @akshatnema for all your hard work! 😄

[2022-05-27 16:17] #704 closed, assigned to nobody

[2022-05-30 08:29] magicmatatjahu commented on #478
I guess it's still valid, am I right? @sambhavsaxena @akshatnema @Samridhi-98 Could you provide update?

[2022-05-30 09:11] derberg commented on #125
Thanks @TomasEkeli
we definitely need to figure out something different as many people like the interactive tutorials

[2022-05-30 10:35] Samridhi-98 commented on #478
As far as I have researched there is no particular solution of this issue as next.js has no setup for windows. 🙂

[2022-05-30 10:50] sambhavsaxena commented on #478
@magicmatatjahu @Samridhi-98
 As far as I can understand, the problem in not from the NextJS side but instead its due to conflicts from the 'MDXProvider' package that parses the markdown into JavaScript code / JSX.
Consider reporting an issue here: [MDX-JS](https://github.com/mdx-js/mdx/issues).

Should this issue be closed for now, as it is no more relevant to this repository?