[2018-11-07 12:03] vearutop opened #2 "Go schema generator"
Hello, recently I've made a AsyncAPI schema generator for Go (MIT license): https://github.com/swaggest/go-asyncapi.

It uses reflection to translate Go structures in JSON Schema definitions and arrange them in AsyncAPI schema.

Maybe it is worth adding to https://www.asyncapi.com/v1/tooling/codegens.html.

[2018-12-14 16:13] rmelian opened #1 "document community editors"
I'm opening this issue to start researching & documenting editors maintained by the community supporting yml that help when editing AsyncAPI.

[2018-12-14 16:43] fmvilas commented on #1
Nice! Remember that AsyncAPI doesn't rely on YAML. Actually, the format is JSON and only the YAML subset that matches JSON functionality is supported.

[2018-12-14 17:04] rmelian commented on #1
good point, will keep that in min

[2018-12-14 17:09] rmelian commented on #1
can you give an example of things supported in JSON and not supported in yml?

[2018-12-14 17:48] fmvilas commented on #1
See Advanced components: https://en.m.wikipedia.org/wiki/YAML

[2018-12-14 19:52] rmelian commented on #1
I'm thinking to add a new item under Tooling called 'Other Editors'
![image](https://user-images.githubusercontent.com/4565267/50024249-be305b80-ffaf-11e8-8b6a-773d76ea3c54.png)

[2018-12-15 02:39] fmvilas commented on #1
But what other editors are out there that support AsyncAPI?

[2018-12-15 16:08] rmelian commented on #1
how do you suggest documenting editors that support JSON, YAML + how to setup AsyncAPI Schema to get added features like autocomplete, hover info etc

[2018-12-15 16:51] fmvilas commented on #1
Maybe under the Getting Started section. But I'd just go for JSON schema support on various editors. Every editor out there has YAML/JSON support.

[2019-02-04 12:14] fmvilas opened #4 "Review tutorial"
There are some complaints that the tutorial is not working properly, specifically the "Running our code" section.

[2019-02-04 12:17] fmvilas opened #5 "Update the specification to 1.2.0"
Current specification in the website is 1.0.0. See https://www.asyncapi.com/v1/spec.html.

We should update it to the latest, 1.2.0. The content is here: https://raw.githubusercontent.com/asyncapi/asyncapi/master/README.md

[2019-02-14 14:54] #5 closed

[2019-03-24 17:55] fmvilas commented on #2
@vearutop I finally could work on this issue. Sorry for the long time it took. Your tool is now listed on the AsyncAPI website: https://www.asyncapi.com/docs/tooling/#code-first.

Thanks a bunch! 🎉

[2019-03-24 17:55] #2 closed

[2019-04-15 11:29] fmvilas opened #6 "Getting started: reusing components"
### What?

Write a chapter of the getting started guide on components reusability. It should go right after the "publishing" one.

We should keep it simple and explain how to reuse a message definition inside a document. Right after that show an example of schemas reusability inside a document too. Once this is done, we can explain how to reuse messages and schemas across documents.

We should not

[2019-04-15 11:32] fmvilas opened #7 "doc: getting started with traits"
### What?

Write a chapter of the getting started guide expanding on reusability. It should go right after #6.

We should keep it simple and explain how to reuse parts of a message or operation by using traits.

We should not mention anything about other reusable components. At most, just provide a link to the spec for the curious. The whole idea is to keep it simple and to the point. No need to e

[2019-04-15 11:36] fmvilas opened #8 "Getting started: adding security"
### What?

Write a chapter of the getting started guide on how to "add security" to your AsyncAPI document. It should go right after #7.

We should keep it simple and explain how to use basic security schemes like user/password.

We should not explain anything about other security schemes. At most, just provide a link to the spec for the curious. The whole idea is to keep it simple and to the poin

[2019-04-15 11:39] fmvilas opened #9 "Tutorials: Correlation IDs"
### What?

Come up with an idea of a tutorial with the purpose of explaining correlation IDs and how to define them using AsyncAPI.

Ideally, there should be some working code at the end of the tutorial so people can see the value of both, having correlation IDs and having them defined on AsyncAPI.

### Why?
To introduce the "correlation IDs" feature and its purpose.

[2019-04-15 11:57] fmvilas opened #11 "Getting started: index page"
### What?
Use "Getting started" index page to explain what is and what is not AsyncAPI. Also, offer some help and guidance depending on previous knowledge of the reader. For instance, we could offer different itineraries based on the following information:

* Do you already know and use OpenAPI/Swagger?
* Are you new to event-driven architectures?
* Are you new to JSON Schema?

### Why?
To better

[2019-04-15 15:21] fmvilas commented on #6
Starting work on this.

[2019-04-16 13:25] #6 closed, assigned to fmvilas

[2019-04-16 13:33] fmvilas commented on #8
Starting work on this.

[2019-04-19 15:44] fmvilas commented on #11
Working on this.

[2019-04-20 16:36] #8 closed, assigned to fmvilas

[2019-04-22 15:19] #11 closed, assigned to fmvilas

[2019-05-17 07:42] tjader opened #18 "Clicking on the About box leads to infinite redirects."
This should be simple to reproduce:
Go to https://www.asyncapi.com/ and click on "About".
This wil take you to a merry-go-round between https://asyncapi.io/about, https://www.asyncapi.io/about/ and https://www.asyncapi.io/about/ with 301 or 304 statuses.

Side bar question - How do you spec this behaviour if it's the expected one? ;)

[2019-05-17 17:21] fmvilas commented on #18
Hey @tjader! Thanks for reporting the error, it's already fixed.

I think this is a good question for the OpenAPI folks 😉

[2019-05-17 17:22] #18 closed, assigned to nobody

[2019-06-26 12:28] nialdarbey opened #19 "Tutorials: "topics" should be replaced with "channels""
The tutorial follows on from the introduction to the spec which is based on version 2.0. Therefore channels should be used and not topics. Alternatively it should be made clear before following the link to the tutorial that it is based on version 1.2.0 and topics correspond semantically to channels.

[2019-06-26 12:53] fmvilas commented on #19
You're right. We're already working on migrating the tutorial to version 2: https://github.com/asyncapi/asyncapi.github.io/issues/2. I'm closing as it's a "duplicate" but thanks for the heads up!

[2019-06-26 12:53] #19 closed, assigned to nobody

[2019-07-23 18:14] lifewingmate opened #21 "API Design Guide for Event-based APIs"
I'd like to add a section to the AsyncAPI Website that covers API Design best practices. Here are over 15 examples of API Design Guidelines. Most of them are heavily based on RESTful APIs.

I'd like to collect and capture design guidelines for event/message/stream-based APIs. We can then submit the finalized guide as an example for Arnaud Laudet, Kin Lane, APIOps Cycles, and APIM vendors to includ

[2019-07-24 07:07] fmvilas commented on #21
This is a great initiative, Emmelyn! Another guideline worth mentioning is the Zalando one: https://opensource.zalando.com/restful-api-guidelines/#events. And it includes events!

[2019-07-30 14:41] damaru-inc commented on #2
I discovered that the npm package hermesjs-mqtt, which the tutorial uses, uses outdated code. I created an issue for this. Once that's fixed I'll continue debugging the tutorial code.

[2019-08-21 20:48] joshg2k opened #24 "HTML formatting under Schema Objects in 2.0 specification docs is written in markdown form"
<img width="956" alt="Screen Shot 2019-08-21 at 15 47 57" src="https://user-images.githubusercontent.com/4231004/63467422-1109bf00-c42b-11e9-911b-945d552d8905.png">

Can be seen at: https://www.asyncapi.com/docs/specifications/2.0.0-rc1/#a-name-schemaobject-a-schema-object

[2019-08-24 11:51] fmvilas commented on #24
Good catch! Thanks!

[2019-10-31 16:59] scharrier opened #30 "Add bump.sh to the tooling page"
Hi there !

We have officially added AsyncAPI support to Bump (https://bump.sh), so maybe you could add it to https://www.asyncapi.com/docs/tooling/#docgens now?

Tell me if you need a description or more information.

Best,
Sébastien

[2019-11-01 09:43] fmvilas commented on #30
Absolutely! Please feel free to add it here: https://github.com/asyncapi/asyncapi.github.io/blob/master/content/docs/tooling.md.

Maybe we have to create a new category for SaaS offerings?

[2019-11-05 17:27] scharrier commented on #30
Do you think it could be better to keep the actual categories, but rename the "Language/framework" column into "Language/Type" (or any better label than "type")? It's the way it's done on https://openapi.tools.

My point is that if you create a new category, you'll fill it with tools from all the others categories, and I'm not sure that's the best for readability/understandability.

@fmvilas, do y

[2019-11-05 18:17] fmvilas commented on #30
Agree. It would be better for readability. What about "Kind" instead of "Type". I'm worried people might thing about "types" in programming languages 😄

[2019-11-07 10:47] jonaslagoni opened #33 "Streetlight tutorial cannot start without operation id"
Based on a problem raised by Ram Natara on slack - https://asyncapi.slack.com/archives/C34F2JV0U/p1573078304137000

This is a problem with the async api file provided where the `operationId` for the publish operation are not defined but required by the ´nodejs template in the generator [here](https://github.com/asyncapi/generator/blob/e289643d5152acfc6e2c402c66073051f44ba71d/templates/nodejs/src/a

[2019-11-07 10:51] jonaslagoni opened #34 "Invalid URL error with the current tutorial"
First I used an older version of the generator which worked fine. Then I updated it and get this error:
[code]
Changing the url to `http://test.mosquitto.org` works.

[2019-11-08 19:32] fmvilas commented on #34
It's indeed a wrong URL. It should be `mqtt://test.mosquitto.org` or `tcp://test.mosquitto.org`.

[2019-11-08 19:47] asyncswin opened #35 "Streetlights Tutorial Unexpected token error while executing npm start command"
I installed the latest nodejs and npm versions but I keep getting the following error.

SyntaxError: Unexpected token (
    at new Script (vm.js:84:7)
    at createScript (vm.js:264:10)
    at Object.runInThisContext (vm.js:312:10)
    at Module._compile (internal/modules/cjs/loader.js:694:28)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:745:10)
    at Module.load (internal

[2019-11-13 16:25] fmvilas commented on #35
Hi @asyncswin! It should be fixed now. Thanks for reporting.

[2019-11-13 16:25] #35 closed, assigned to nobody

[2019-11-25 08:56] prdatur opened #36 "[BUG] Wrong link on main specificiation 2.0.0"
**Describe the bug**
Wrong link on main specification for websocket operation object.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.asyncapi.com/docs/specifications/2.0.0/
2. Search for "WebSockets Server Binding"
3. Click on that link
4. See error

**Expected behavior**
The correct page is shown.

**Solution**
Change links from `/ws` to `/websockets`

[2019-11-25 10:59] fmvilas commented on #36
Hi Christian! Thanks for reporting. It's been fixed [here](https://github.com/asyncapi/asyncapi/pull/282) already but it hasn't made it to the website yet.

[2019-11-25 10:59] #36 closed, assigned to nobody

[2019-12-17 02:27] karloskalcium opened #40 "Update tutorials/documentation to reflect publish/subscribe semantics"
There are several areas in the tutorials/documentation where publish/subscribe semantics are in need of correction or could be updated to be more clear:
1) The Hello World https://asyncapi.io/docs/getting-started/hello-world/

    I would argue that the Hello World example, if we're starting with that, should initially be an example of an event publisher vs an event consumer. The most common 'hell

[2019-12-24 11:16] fmvilas commented on #40
Thanks for the thoughtful description, Karl. I lack time myself to discuss this but a folk will join us soon and he will be in charge of these things. Looking forward!

[2020-02-03 10:46] #30 closed, assigned to nobody

[2020-02-04 09:28] derberg opened #43 "Automate publishing on AsyncAPI website"
**Proposal**

* Remove https://github.com/asyncapi/website and rename https://github.com/asyncapi/asyncapi.github.io to `website`
* We still, of course, do GitHub flow here but I suggest all PRs come from forks, even from the organization members, to keep branches clean and always have `master` only
* Website repo needs a badge indicating we use Netlify + we need Netlify logo in the footer of the

[2020-02-04 09:58] jonaslagoni commented on #43
Agreed, this way of contributing should maybe be done in all repositories, think we already discussed this earlier in some SIG meeting :thinking: Might be time to make it official. On a side note the `master` branch should be protected, so changes has to come from a PR :+1:

[2020-02-04 10:17] fmvilas commented on #43
I agree in general but let me add to some points:

If we do this, any existing link to the current website repo (`asyncapi.github.io`) would be broken.  If we instead rename `asyncapi.github.io` to `website`, Github will do the redirect. That for sure implies deleting the `website` repo first but it's not a problem since this repo has been archived a long time ago.

I'm happy to take that path. I

[2020-02-04 10:35] derberg commented on #43
I suggested such a solution to respect current contributors of the `website` repo, so they stay on the list of contributors...but did it without checking the current list. I see it is pointless. I update the issue.

@fmvilas @jonaslagoni so we move to `fork-only` flow with `master` branch protection (just keep in mind that maintainers and org admins will still have rights to push to master). Let u

[2020-02-04 14:53] derberg commented on #43
ok, first step done, no more `asyncapi/asyncapi.github.io` that is now renamed to `asyncapi/website`. GitHub is nice enough to handle redirects for ya even if you have local forks.

Let me know once you notice the world started to collapse 😄

[2020-02-04 15:23] fmvilas commented on #43
hahaha! My brain was about to explode. I checked the URL here and it is asyncapi/website and was instantly thinking: what? Did he create the issue on the deleted repo? how is this even visible anymore?

![](https://media1.tenor.com/images/974d42688cdf52366e00928c2621f160/tenor.gif?itemid=16033842)

[2020-02-05 13:05] derberg commented on #43
PR is ready for review. I'm still in contact with Netlify to make sure they can enable open-source pro plan on the current team created by Fran, so we do not have to duplicate whole setup

[2020-02-06 10:39] derberg commented on #43
Ok, https://www.asyncapi.com/ was just rebuilt with new "pipeline" from latest master, and nothing is broken after the first run 🚀
I will now work on my old PR to the repo, rebase it or maybe reopen, to see if the preview feature works and if after merge all will go as expected 🤞

[2020-02-06 11:21] franpog859 opened #47 "The URL in the repo description is not clickable"
The URL (`https://asyncapi.com`) in the repo description is not clickable. It should be!

![image](https://user-images.githubusercontent.com/32485355/73932559-e4633a00-48da-11ea-8a9f-6a8260dfe30e.png)

[2020-02-06 11:26] fmvilas commented on #47
That's weird. Thanks for noticing! It's fixed now.

[2020-02-06 11:26] #47 closed, assigned to nobody

[2020-02-06 11:26] derberg commented on #43
@fmvilas @jonaslagoni
guy please have a look on https://github.com/asyncapi/website/pull/46
this is a new, fresh PR to the repo that introduces a new Other section, it proves that the preview works as expected and you can see the Other section in action on the preview.

Please review the other PR and accept so I can merge, make sure the main page was republished automatically and close this issue

[2020-02-06 11:50] derberg commented on #43
All works as expected, changes introduced in #46 got published to asyncapi.com after the merge to master without any manual step 🚀
reference build: https://app.netlify.com/sites/asyncapi-website/deploys/5e3bfc6980277d0008def744

All points from this issue completed. Discussion about forks and merge and squash will continue in another issue

[2020-02-06 11:50] #43 closed, assigned to derberg

[2020-02-13 07:28] derberg commented on #2
Hey, I did a review of all docs and made some fixed to the streetlight tutorial, but in general it work, now I just made it easier to use with full copy/paste approach:

pr: https://github.com/asyncapi/website/pull/49/files#diff-f67f2ee30b93872a60c4737fd1258641
preview: https://deploy-preview-49--asyncapi-website.netlify.com/docs/tutorials/streetlights/#generating-code

Once it is merged, I guess

[2020-02-13 13:06] derberg commented on #34
@jonaslagoni hey man, is it about streetlight tutorial? the only use of mosquitto is:
[code]
and it works pretty well for me.

I assume you mean the old version of the tutorial where you had to manually provide a URL to mosquitto server in generated nodejs app, but this is already fixed in the template and after generation config has `mqtt://test.mosquitto.org`. So all is good.

Let me know if I a

[2020-02-13 13:09] derberg commented on #24
Looks like this one is already addressed.

<img width="977" alt="Screenshot 2020-02-13 at 14 08 17" src="https://user-images.githubusercontent.com/6995927/74438370-4cc99280-4e6a-11ea-8344-3e9b1717da9f.png">

I'm closing it, but if you think it is still broken please reopen and provide some details, Thanks a lot!

[2020-02-13 13:09] #24 closed, assigned to nobody

[2020-02-13 13:12] derberg commented on #33
@jonaslagoni Hey, after looking on the thread I assume that the problem was the example streetlight.yaml was missing required `operationId`. Now I look at it and the parameter is there `operationId: onLightMeasured` and I was able to successfully go through it. So to me sounds like this one can be closed, agreed?

[2020-02-13 13:18] jonaslagoni commented on #33
Yep looks like it has been resolved :+1:

[2020-02-13 13:18] #33 closed, assigned to nobody

[2020-02-13 13:20] derberg commented on #21
@lifewingmate Hi Emmelyn, where are we standing with this one. Do you still want to continue this one? It sounds like pretty good idea. Need a hand?

[2020-02-13 13:50] jonaslagoni commented on #34
Yes it was indeed the streetlight tutorial, however it was the url for the mqtt server in the AsyncAPI document which was `test.mosquitto.org` and not `mqtt://test.mosquitto.org`. However now solved it seems :+1:

[2020-02-13 13:50] #34 closed, assigned to nobody

[2020-02-14 16:44] derberg commented on #40
Hi @karlwbrown. Thanks for such a detailed input:

1. What is the difference here really? In eventing, it is always about sending and consuming. This simple tutorial talks about consuming. What difference it would make if we switch to publishing, we would just have to rephrase a bit and change the channel operation to `subscribe`. Maybe we simply need another tutorial where `subscribe` operation i

[2020-02-14 20:29] lifewingmate commented on #21
Requirements of what consumers would need in a design guide covering event or message based APIs. Will need to work with experts and approach in a protocol agnostic way. Provide best practices for event driven APIs to help increase adoption in general. For example, enterprises want to know how to scale the design approach for event driven APIs.

[2020-02-19 18:06] samihus opened #51 "How to map security to operations?"
Hello,
Can you please explain in the v2.0.0 documentation how to map the security definition applicable to a specific operation? I couldn't find it..

Thanks for help

[2020-02-19 18:11] samihus commented on #51
I found this [specification feature request](https://github.com/asyncapi/asyncapi/issues/306), I think it's the same issue. I close this one.

[2020-02-19 18:11] #51 closed, assigned to nobody

[2020-02-20 17:36] karloskalcium commented on #40
I see your point. However, in my (admittedly brief) experience it is slightly more common that the message producer defines the interface for the message that will be emitted, and consumers will then comply with that. Obviously there are the opposite cases, but I would hazard that many use cases of eventing involve few producers with (possibly) many consumers, and the producer spec may be more uti

[2020-02-24 19:16] fmvilas opened #53 "Bug on playground in website"
Currently, the playground triggers an error when there's an AsyncAPI 1.x document that was saved in your local storage. It's probably an error of the playground instead of the website but I'm leaving the issue here because it's where I experienced it.

[2020-03-05 09:39] fmvilas opened #55 "Update about page to reflect current reality"
Current contributors are:

* Antonio Garrote
* Bruno Pedro
* Chris Wood
* Dulce De La Rosa
* Emmelyn Wang
* Eva Morcillo
* Jonas Lagoni
* Jonathan Schabowsky
* Jonathan Stoikovitch
* Kin Lane
* Lukasz Gornicki
* Maciej Urbańczyk
* Mike Ralphson
* Víctor Romero

Anyone else I'm missing? @derberg

Also, we should probably update the list of contributors at github.com/asyncapi/asyncapi.

[2020-03-06 10:01] #55 closed, assigned to derberg

[2020-03-13 16:33] fmvilas opened #61 "Plan and design high-quality documentation"
Examples of great documentation:

1. https://stripe.com/docs/payments/integration-builder

[2020-03-13 16:33] fmvilas opened #62 "Write and deploy the planned and designed documentation"

[2020-03-13 19:11] fmvilas opened #64 "Create paid online courses"

[2020-03-13 19:12] fmvilas opened #65 "Plan and design high-quality documentation"

[2020-03-13 19:13] fmvilas opened #66 "Write and deploy the planned and designed documentation"

[2020-03-16 10:03] fmvilas opened #67 "Investigate about paid online courses"
Research how people are currently doing this:

- What platforms? Udemy, Platzi, PluralSight, etc.
- What do we have to offer? Help on email, chat, groups, etc.
- What's a common structure for the script? Technology-focused, concept-focused, etc.
- Prices?

### Notes

The course is targeted for beginners (both on AsyncAPI and event-driven architectures) and should offer some guidance on how to get

[2020-03-24 19:01] evamorcillo commented on #67
In this document, you can see a summary of how Udemy works:
https://docs.google.com/document/d/122mMdFyRd2MzSuPHc7ICl-aOfb67mEaQnXyiDEjqKzM/edit?usp=sharing

Feel free to leave comments.

[2020-03-30 15:41] #67 closed, assigned to evamorcillo

[2020-04-02 13:57] CluEleSsUK opened #75 "[BUG] broken link on https://www.asyncapi.com/docs/tooling/"
**Describe the bug**
Apologies if this is not the correct place to file it - if it ought to be filed elsewhere, please let me know! The link to generator templates does not work on  https://www.asyncapi.com/docs/tooling/

**To Reproduce**
Steps to reproduce the behavior:
1. open  https://www.asyncapi.com/docs/tooling/
2. ctrl+f "Please, check out the templates directory to get a list of the suppor

[2020-04-02 14:21] fmvilas commented on #75
Hey @CluEleSsUK! Thanks for reporting the bug. I just pushed a fix: https://github.com/asyncapi/website/pull/76.

[2020-04-02 14:26] #75 closed, assigned to nobody

[2020-04-02 14:27] fmvilas commented on #75
It should be fixed now. Thanks :)

[2020-04-24 13:49] derberg commented on #2
Tutorial reviewed before and works like a charm, no errors, closing as any restructuring should be done for the whole docs and not just one tutorial

[2020-04-24 13:54] derberg opened #83 "Configure website with Google Search Console"
#### Reason/Context
[Google Search Console](https://search.google.com/search-console/about) is an awesome free offering that allows you to analyze how is your website performing in search results, how people find your website + sitemap config and crawl errors.

It is important tool to make sure AsyncAPI is searchable end visible to others

#### Description
- Enable Search Console for the website
-

[2020-04-24 14:12] derberg opened #84 "Generate atom.xml for Blog section"
#### Reason/Context
There are people out there that use feeds readers tools, but not only. I, for example, use https://blogtrottr.com/ to get an email whenever there is new post in GitHub Blog. We should enable users to subscribe to just Blog section if they do not want to subscribe to Newsletter, follow twitter or join Slack.

#### Description
- Use Hugo plugins to make sure atom.xml is always re

[2020-04-24 14:23] derberg opened #85 "Cleanup Google Analytics setup"
#### Reason/Context
We need to make sure we configure GA properly otherwise we can't fully rely on its data:

#### Description
- Fix the location of the tracking script, move it to `<head>`
- Make sure we have bots and other irrelevant visitors excluded from results
- Try out some online tools for GA verification, so we fix issues like https://www.asyncapi.com/subscribe/ where we forgot to have GA

[2020-04-24 14:41] derberg opened #86 "Remove spec docs duplication"
#### Reason/Context
With specification, we have at the moment the following situation.
1 https://github.com/asyncapi/spec/blob/2.0.0/versions/2.0.0/asyncapi.md is the location of official specification
2 https://github.com/asyncapi/spec/blob/2021-06-release/spec/asyncapi.md is the candidate for next release
3 https://github.com/asyncapi/website/blob/master/pages/docs/specifications/2.0.0.md 2.0 sp

[2020-04-24 14:44] derberg commented on #66
dup of https://github.com/asyncapi/website/issues/62

[2020-04-24 14:44] #66 closed, assigned to nobody

[2020-04-24 14:45] derberg commented on #65
dup of https://github.com/asyncapi/website/issues/61

[2020-04-24 14:45] #65 closed, assigned to nobody

[2020-04-24 14:50] derberg opened #87 "Make our different communication channels more prominent on the landing page"
#### Reason/Context
We have some information that is obvious for us a bit hidden for people that visit asyncapi.com
- Slack link is hidden under Help
- There is no info about our public meetings

#### Description
- Communication channels should be more visible like for example remove Slack from under Help and just have a Slack icon next to GitHub -> explore
- Maybe Help should become Join Us?
- Fo

[2020-04-24 14:55] derberg opened #88 "Try rewriting streetlight tutorial with tool that allows interactiveness"
#### Reason/Context

Make it much easier to learn by having an isolated learning environment that makes it possible to start learning faster with no "my machine" problems

#### Description

Try out https://www.katacoda.com/  or some other service like this and check out with community what they think, if this is the direction

[2020-04-24 15:14] derberg opened #89 "Improve overall performance of the website but especially Blog"
#### Reason/Context
When I access the blog, I cry, like a baby 😄
Website is not fastest but blog performs like a 🐢

#### Description
- images sizes that can be easily improved with compression on a build level, or maybe Netlify offers something for free. This is an example of an image that has 4MB https://www.asyncapi.com/images/posts/organizing-asyncapi-documents.jpg
- analyze with some widely kn

[2020-04-24 15:23] derberg opened #90 "Make it clear to community that our Blog is opened for them to write posts"
#### Reason/Context
AsyncAPI is not a company it is a standard that should be widely adopted and opened to community and community should also be able to share their use cases, their products, their tools in a form of a blog post to reach out entire AsyncAPI community.

#### Description
- Make it clear in the UI that we allow people to publish the post under our domain
- We should have instruction

[2020-04-24 15:26] derberg opened #91 "Create a document that describes clearly core concepts of AsyncAPI"
#### Reason/Context
We need a kind of concept doc or FAQ that explains basic concepts of the specification so it is easy to onboard to the spec to understand basics before further exploration

#### Description
Explain things like
- AsyncAPI is for the application interface
- It is protocol agnostic
- publish/subscribe semantics
- AsyncAPI is not always for broker-centric architectures

[2020-04-24 15:31] derberg opened #92 "Improve visibility of tooling page"
#### Reason/Context
After visiting website people ask if there is a specific tool available even though it is listed here https://www.asyncapi.com/docs/tooling/. Looks like they bypass somehow the link from the navigation.

#### Description
Make somewhere on the landing page section dedicated to tools, like list of official tools and link to community tools, or something like that.

[2020-04-24 15:39] derberg opened #93 "Start gathering information about who uses the specification"
#### Reason/Context
We know AsyncAPI is widely adopted by users but we do not have a way for users to tell us about it. Open question is if we should have one section with users or rather maybe `Used by` and `Products integrations` so community not only see how others use it but also how to integrate it to enrich products for their customers.

#### Description
- Have a list of users and make it ea

[2020-04-24 15:44] derberg opened #94 "Get more GitHub stars"
#### Reason/Context
I mean, who doesn't like GitHub stars? They increase the positive perception of the project at first sight. We have over 1k now but why not having 2k 😄

#### Description
- expose `asyncapi` repo start on the website
- Embed a view of number of start the project has on GitHub using https://buttons.github.io/ -> example https://kyma-project.io/

[2020-04-24 16:19] orubel commented on #94
Not an enhancement or issue. Popularity is not a feature.

[2020-04-24 16:22] orubel commented on #89
Store 'blob' object in cache rather than as BLOB. If is text/json/gson/bson/xml/etc, can easily be stored in cache and pulled quickly. BLOB is very slow and not ideal.

[2020-04-24 18:03] derberg commented on #94
@orubel well it depends, presenting popularity on the website is website enhancement. Depends on the context 😄

[2020-04-24 18:14] orubel commented on #94
Then define the spec for functionality in the application. Create the algorithm and service that will deliver 'popularity', debug, test and move to production.

Provide a list of all deliverables, unit and integration tests for 'popularity'

[2020-04-27 17:19] derberg opened #95 "Increase visibility of the AsyncAPI specification and its adoption"

[2020-05-05 19:07] derberg commented on #88
source of tutorial: https://github.com/derberg/asyncapi-interactive-docs
tutorial itself: https://www.katacoda.com/asyncapi

dropped an email to Katacoda to get info how to embed it and what are conditions

[2020-05-08 07:04] ghost commented on #7
Hi!

I just want to cross-reference my Slack discussion on this:
https://asyncapi.slack.com/archives/C34F2JV0U/p1588916689469300

My general problem here was that my assumption of traits is that they won't override the existing attributes of the "target" where they are apply. This is at least how traits worked in the context I've seen them before.

Since there seem to be different understandings a

[2020-05-08 07:36] ghost commented on #7
Also maybe related:

It would be very helpful to have concrete guidance and even better - a flow diagram - how traits, `$ref` (and maybe `$allOf`) plays together in which order to create a final, denormalized representation:

https://asyncapi.slack.com/archives/C34F2JV0U/p1588917213473500

[2020-05-10 00:40] hvalls commented on #90
+1! I have written a blog post I'd like to add: https://hvalls.dev/posts/doc-event-driven-api

How can I do it?

[2020-05-11 07:06] derberg commented on #90
@hvalls awesome, please only extend it with an additional paragraph about the vert x related project that you started and that you are happy with others to help you out.

1. Fork this repository
2. Add new markdown file here with proper metadata (front matter) as other posts have https://github.com/asyncapi/website/tree/master/content/blog
3. Images place here https://github.com/asyncapi/website/t

[2020-05-12 17:07] Pakisan opened #98 "[Specification missmatch]: MessageObject.traits, OperationObject.traits"
Moved to root project: https://github.com/asyncapi/asyncapi/issues/385

[2020-05-12 17:32] Pakisan opened #100 "[Specification missmatch]: OperationObject.message"
Moved to root project: https://github.com/asyncapi/asyncapi/issues/386

[2020-05-12 17:55] #98 closed, assigned to nobody

[2020-05-12 18:08] #100 closed, assigned to nobody

[2020-05-27 18:39] michmzr opened #107 "Cannot find module '.bin/pub' on katoda streetlights demo"
Hi,

#### Describe the bug
When i run command  in step 2:
[code]
then,  I get error in interactive console
[code]

#### How to Reproduce
https://www.katacoda.com/asyncapi/scenarios/streetlight-tut
Go to Step 2 and run MQTT command

[2020-05-27 19:01] derberg commented on #107
@michmzr thanks man for reporting. Looks like there is some bug in MQTT package -> https://github.com/mqttjs/MQTT.js/issues/1106

I'll update the tutorial shortly

[2020-05-27 19:05] derberg commented on #107
@michmzr ok, change is published, I checked and works like a charm. Thanks again for taking time to report it!

[2020-06-10 18:03] derberg commented on #107
closing as it is fixed and event in MQTT lib they changed it

[2020-06-10 18:03] #107 closed, assigned to nobody

[2020-06-13 00:22] #53 closed, assigned to nobody

[2020-06-13 00:22] #21 closed, assigned to lifewingmate

[2020-06-15 07:11] derberg commented on #53
should stay closed, hub.asyncapi.com is now a "new" playground

[2020-07-21 14:29] DawMatt commented on #88
Please note that I've [raised an issue](https://github.com/derberg/asyncapi-interactive-docs/issues/1) against the repo where the interactive docs are defined. They don't currently seem to be working.

[2020-07-24 08:48] whatthefrog opened #118 "StreetLight tutorial - add generated code and output"
#### Reason/Context

Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

https://www.asyncapi.com/docs/tutorials/streetlights/
Having a way to browse the resulting generated code without having to run the commands ourselves is friendly

Being able to see the server output resulting of the publishing of the message, wou

[2020-07-27 16:25] derberg commented on #88
@DawMatt thanks a lot, I just made a comment there

[2020-07-27 16:28] derberg commented on #118
@whatthefrog thanks a lot for reporting it, you probably saw my comment here https://github.com/derberg/asyncapi-interactive-docs/issues/1

basically the problem is not with the tutorial itself but the dependency in the parser that we need to change not only because of installation issues but also because of the lack of its compatibility with a browser

[2020-07-27 19:43] #118 closed, assigned to nobody

[2020-08-05 10:38] lbroudoux opened #121 "[TOOLING] What about adding a 'Mocks & Tests' section ?"
Hi AsyncAPI team !

I was looking at the `Tooling` page (https://www.asyncapi.com/docs/tooling) and would like to reference [Microcks](microcks.io) as a tool allowing you to:
* Turn your AsyncAPI contract examples into ready to use mocks,
* Use examples to test and validate implementations according schema elements.

I did not find any section that was fitting this category... so wondering about a

[2020-08-05 10:41] fmvilas commented on #121
I agree. I'm happy with the idea. Would you mind adding it?

[2020-08-05 10:47] lbroudoux commented on #121
No problem !
Just found the `tooling.md` into the `website` repo. Pushing a PR in coming hours ;-)

[2020-08-11 20:14] #121 closed, assigned to nobody

[2020-08-12 00:34] #64 closed, assigned to nobody

[2020-08-25 06:18] winston-yallow opened #125 "Make interactive Katacoda streetlights tutorial available without login"
#### Reason/Context
The katacoda website requires users to log in before they can access the tutorial. This can be a barrier for people that just want to quickly see the tutorials in order to decide if they want to try AsyncAPI. I always check out the tutorials when researching new tools, so a login would probably land on my "do this later if I don't find something else" list. This is not a proble

[2020-08-31 08:35] ullgren commented on #125
Agree with @winston-yallow adding the requirement to login/sharing details with another external company, in this case katacoda, will most likely work against the statement of trying to spread the knowledge of AsyncAPI.

It's not a question about if Katacoda is a good company or not just that you require the users to login and give their contact details to another company is a threshold that some,

[2020-08-31 13:25] derberg commented on #125
@winston-yallow @ullgren thank so much for your input. We are now exploring Katacoda features that are available for free, this is why you are sent to their website, and you are required to log in.

If we come to an agreement with Katacoda on a subscription model and get a decent price (decent for open source project) then those tutorials will be part of AsyncAPI website UI, without logging in, ju

[2020-09-01 06:40] winston-yallow commented on #125
I see no problem then. Embedding the interactive tutorials sounds like a perfect solution as this will make it very easy to try them without any additional steps. Let's hope they offer decent pricing!

[2020-09-01 07:24] derberg commented on #125
or we find a good sponsor that will cover whatever price we get 😆

[2020-09-22 12:38] derberg opened #128 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-10-04 14:13] JakubIwanowski commented on #84
You moved your website form Hugo to Next.js, right? Maybe something like this would work: https://github.com/rauchg/blog/blob/master/lib/atom.js

The posts would have to be filtered of course, by "sectionSlug", perhaps? Plus other changes, so the atom feed link is available on the website.

[2020-10-05 08:36] derberg commented on #84
@JakubIwanowski yes, last week we moved to Next.js. We do not have strong requirement for Atom, so if there is something better already for Next.js for rss feeds, feel free to use it.

I'm not a fan of https://github.com/rauchg/blog/blob/master/lib/atom.js as this would require us to maintain a separate json file with list of blog posts.

[2020-10-06 10:34] derberg commented on #84
@JakubIwanowski sorry, I was not behind building the website, I'm new to Next.js and just learned that actually the config file is maintained by default by Next.js so yeap, looks like what you linked is a good idea and https://github.com/asyncapi/website/blob/master/config/posts.json would be what you would have to read to get list of posts

[2020-10-06 18:17] JakubIwanowski commented on #84
Alright!

[2020-10-08 08:26] magicmatatjahu opened #139 "Configure Algolia search on website"
#### Reason/Context

[Algolia](https://www.algolia.com/) is an awesome search engine. User should be able to quickly search for the given phrase in the AsyncAPI documentation (not only the specification documentation). Algolia is a paid technology, but for open source, they have a free plan and it's used by several open source projects like React, Babel, Tailwind, TS etc -> https://docsearch.algol

[2020-10-08 08:28] fmvilas commented on #139
Yep. I tend to use search a lot. Especially, when I don't know where the information is located (on which page). TailwindCSS is one of the websites I use it a lot.

[2020-10-08 08:31] derberg commented on #139
definitely!!! and just recently they announced an official Netflify plugin -> https://github.com/algolia/algoliasearch-netlify

[2020-10-11 22:39] JakubIwanowski commented on #84
So the atom feed looks like this for now:
[code]
It shows 10 latest posts from the blog section. The script is run on build :
[code]

Do you want me to to change/add/delete something from the feed?

[2020-10-12 09:11] derberg commented on #84
looks good, would suggest few things though:

1. These lines are missing at the beginning of the feed
[code]
2. This `<link href="https://asyncapi.com/feed" rel="self"/>` could probably be `<link href="/feed" rel="self"/>`. And what about the `xml` extension?
3. According to https://validator.w3.org/feed/check.cgi you should also generate `id` attribute per entry

I'd like to have all posts in the

[2020-10-12 18:38] magicmatatjahu opened #141 "Readme.md is not up to date"
It's not a bug / feature, rather suggestion issue :) [Readme.md](https://github.com/asyncapi/website/blob/master/README.md) mentions about Hugo and has some tips for writing html in go templates. I think that Readme should be rewritten :)

- Update information about tech stack used in website
- Write how to run and develop website
- Write how to create static content for website, especially how an

[2020-10-13 09:18] derberg commented on #141
Yes yes yes, this is confusing.

@magicmatatjahu you want to pick it up? 😄

[2020-10-13 09:36] magicmatatjahu commented on #141
@derberg Sure, but I do not guarantee that I will do it today :)

[2020-10-13 11:56] HUTCHHUTCHHUTCH commented on #128
I'd like to have a crack at this, may take me a week or so

[2020-10-13 14:24] derberg commented on #128
@HUTCHHUTCHHUTCH sure thing, pick it up. If ya need help ask. You can also find me here https://www.asyncapi.com/slack-invite/ or join support live stream on thursday https://www.asyncapi.com/blog/hacktoberfest-2020#office-hours

also I talked about the same issue today during our live stream -> https://youtu.be/7phTsSq1J1Q?list=PLbi1gRlP7pigZP2da6zbDT2YU7glQOTPH&t=2436

[2020-10-15 13:51] #141 closed, assigned to magicmatatjahu

[2020-10-19 17:20] HUTCHHUTCHHUTCH commented on #128
@derberg I have created a pr for this issue, let me know if I need to make any changes etc.

[2020-10-19 20:45] #128 closed, assigned to nobody

[2020-10-24 17:58] derberg commented on #87
it is already done with a new website we release a couple of weeks ago

[2020-10-24 17:58] #87 closed, assigned to nobody

[2020-10-27 15:55] lbroudoux opened #147 "Discover how Microcks can speed-up your AsyncAPI adoption - Part 1 "
## Post title

Discover how Microcks can speed-up your AsyncAPI adoption - Part 1 

## Post description

August 11th 2020 was the official announcement of Microcks 1.0.0 release and our first Microcks General Availability (GA) version to fully manage event-driven API through the support of AsyncAPI specification. This first post will explain why we decide to start this project and will provide mor

[2020-10-27 16:01] fmvilas commented on #147
Go for it! :shipit:

[2020-10-27 16:17] derberg commented on #147
@lbroudoux can't wait to read it. Looking forward!

[2020-11-02 09:49] derberg commented on #92
it is already done, we have dedicated pages for official tools and also a page with list of all the community tools. This is now all nicely visible in the navigation

[2020-11-02 09:49] #92 closed, assigned to nobody

[2020-11-26 10:21] jonaslagoni opened #154 "Integrate the official tool document"
#### Reason/Context
Currently there are a page for the [generator](https://github.com/asyncapi/generator) and [parser](https://github.com/asyncapi/parser-js/) however I feel like it should be more detailed and actually be the place where you to get the necessary information on how to use them instead of going to the Github repository. For that to happen the API for the libraries should be integrat

[2020-12-28 15:56] lbroudoux opened #167 "Discover how Microcks can speed-up your AsyncAPI adoption - Part 2"
2nd and last part of `How Microcks Can Speed-Up Your AsyncAPI Adoption` series 😉

## Post title

How Microcks can speed-up your AsyncAPI adoption - Part 2

## Post description

In this post we will show you how Microcks is leveraging the AsyncAPI specification on Kafka in a very pragmatic and powerful approach: way beyond documentation or code generation! We will also go through the different busi

[2021-01-02 14:04] tfactor2 opened #169 ""Edit this page" on Getting Started leads to 404"
#### Summary
The link [Edit this page](https://github.com/asyncapi/website/blob/master/pages/docs/getting-started.md) on the [Getting Started Page](https://www.asyncapi.com/docs/getting-started) leads to 404.

#### Steps to Reproduce
1. Open the [Getting Started Page](https://www.asyncapi.com/docs/getting-started)
2. Click on [Edit this page](https://github.com/asyncapi/website/blob/master/pages/d

[2021-01-04 13:29] #169 closed, assigned to nobody

[2021-01-04 14:10] derberg commented on #169
@tfactor2 thanks a lot, fix deployed to production already

[2021-01-05 09:29] magicmatatjahu opened #172 "Blog post about React renderer in generator"
## Post title

Enable productivity in template's development using React renderer - to discuss 😸

## Post description

With @jonaslagoni we want to write blog post about React renderer in our Generator. How to enable new feature, how to write simple/complex template, which deps user should have installed to use React in templates (SDK) etc.

[2021-01-08 07:12] #147 closed, assigned to nobody

[2021-01-08 07:13] lbroudoux commented on #167
Now published. Thanks!

[2021-01-08 07:13] #167 closed, assigned to nobody

[2021-01-13 10:33] derberg commented on #90
- now in the UI we clearly indicate anyone can write a post
- we provide an issue template for anyone to suggest a blog post

we are just missing a simple instruction on how to write a blog post

[2021-01-26 11:33] #172 closed, assigned to magicmatatjahu

[2021-03-10 09:27] Barbanio opened #195 "Press tab"
Hello, @alejandrolmiguel and I thought it would be a good idea to have a press tab on the website to facilitate contact with the press. The information we would like to have in the press tab would be:

- Access to the blog
- Compilation of news (link to publications, events, our own announcements that we want to highlight, 2 or 3)
- Press releases (2 or 3 latest)
- Summary
- The press kit
- Contac

[2021-03-10 16:24] jonaslagoni opened #196 "Blog: Show how code generation can speed up the development process and be used beyond docs"
## Post title
Show how code generation can speed up the development process and be used beyond docs.

## Post description
By designing a system from scratch I will show how you can speed up your development process with code generation. The system will contain two applications, a game server, and a backend processor. With these two applications I will create a little mini-series that will go throu

[2021-03-10 16:27] magicmatatjahu commented on #196
Really awesome, I like it! By `code generation` do you mean our generator + template + possible `model-sdk`?

[2021-03-10 17:17] jonaslagoni commented on #196
Yes, I will utilize [ts-nats-template](https://github.com/asyncapi/ts-nats-template) for part 2, 3 and 4 together with [jmeter-template](https://github.com/jonaslagoni/jmeter-template) for part 5 to find bottlenecks and do performance testing.

Which means generator + those two templates and indirectly `model-sdk` 😄

[2021-03-10 18:49] fmvilas opened #197 "Record a video explaining the Vision, Goals, and Roadmap"
### Description

It would be awesome to record a video explaining the vision, goals, and roadmap defined at #189. Once it's recorded, it should be attached to the `/roadmap` landing page.

[2021-03-12 09:35] derberg commented on #195
@Barbanio makes sense! just do not know what you mean by `Access to the blog`

[2021-03-12 09:43] Barbanio commented on #195
Sorry, I mean that you can access directly from that tab to the blog, with a link or section that takes you to the blog when you click on it. Do you understand me now?

[2021-03-12 10:17] derberg commented on #195
so `blog` in the top navigation is not enough you mean?

[2021-03-12 10:25] Barbanio commented on #195
Yes, this would simply be a button that takes journalists directly to the blog. The idea is to make it easier to access the information most relevant to them in one tab.

[2021-03-12 10:29] derberg commented on #195
Makes sense 👍🏼

[2021-03-14 00:48] #62 closed, assigned to nobody

[2021-03-17 11:07] MikeRalphson opened #204 "Integrate or re-implement APIs.guru asyncapi-directory"
#### Reason/Context

* To demonstrate adoption of the specification
* To give users examples to work with
* To showcase use of the specification by member orgs etc
* In future, links to online code-generator, playground etc
* Current site location does not have eyeballs or traction

#### Description

* APIs.guru [asyncapi-directory](https://apis.guru/asyncapi-directory/) is currently a data-driven

[2021-03-17 13:40] jonaslagoni opened #205 "Weird scroll behavior for spec menu in mobile"
#### Describe the bug
Currently, when you scroll the menu you have to get to the bottom of the page for it to scroll the menu.

<img width="888" alt="billede" src="https://user-images.githubusercontent.com/13396189/111476481-7e2c2600-872e-11eb-9c55-6f0921768c19.png">

To view the rest of the menu you would have to scroll all the way down to the bottom.

#### How to Reproduce
View the specification

[2021-03-17 17:01] #205 closed, assigned to nobody

[2021-03-20 19:41] Gdewilde commented on #204
As mentioned on Slack: https://asyncapi.slack.com/archives/C34F2JV0U/p1615954697001600

Apideck will fast-track the apitracker.io overview, so it’s easier to compare. We can also make an effort to integrate the data into the asyncapi.io website as soon as it’s done https://apitracker.io/specifications.

[2021-03-21 01:57] Gdewilde commented on #204
Quick prototype: https://apitracker.io/specifications/asyncapi

What other data would be relevant to the list?

<img width="1790" alt="Screenshot 2021-03-21 at 02 56 10" src="https://user-images.githubusercontent.com/1112129/111891175-1f4a0380-89f1-11eb-9f9a-8487e84886de.png">

[2021-03-22 09:01] derberg commented on #204
I think it would be great to also have a link to portal with documentation to see how companies render docs for users

[2021-03-22 09:06] Gdewilde commented on #204
Like https://docs.zoracloud.com/dev-mqtt-docs/latest/ or more what @MikeRalphson did with https://apis.guru/asyncapi-directory//html/gitter.com+streaming@v1.0.0.html

[2021-03-22 09:38] derberg commented on #204
I think best is to link to the official ones, then people can see different use cases on how EDA docs are presented to users

the playground is already rendering docs using the official latest HTML template, so no need to add something separate I think

[2021-03-23 07:33] derberg commented on #204
a dedicated view where we could have a list of specs pulled from apitracker is under Community navigation item, a new view like `In Production` or something like this?

![Screenshot 2021-03-23 at 08 33 35](https://user-images.githubusercontent.com/6995927/112109934-7b0fba80-8bb2-11eb-9cba-8af513d989f5.png)

[2021-03-23 07:39] Gdewilde commented on #204
Sounds good!

[2021-03-24 05:07] Mayank-MP05 opened #208 "Favicon Image for Main Website"
#### Reason/Context
- Favicon Image is the first impression really when it comes to representation of the project

#### Description
- Want to add the favicon image of async API and not the boring web logo
I know this will not be a gigantic contribution of the sort but this minor minor things do play a role in aesthetical beauty ig

[2021-03-24 07:56] derberg commented on #208
I agree this should be done. @magicmatatjahu already started it https://github.com/asyncapi/website/pull/140 but we kinda "blocked" it to wait for a designer, but it is taking too long and tbh we should just go forward with what we have. @fmvilas I would say we make a change and then improve once at some point of time we have some designer working with AsyncAPI

[2021-03-24 08:52] Mayank-MP05 commented on #208
Hey @derberg can you please have a look [here ](https://github.com/asyncapi/website/pull/209)

[2021-03-24 16:17] fmvilas commented on #208
Yeah, you're right @derberg. Let's unblock it.

[2021-03-24 18:51] AceTheCreator commented on #204
@derberg @Gdewilde I'd really love to work on this if granted the opportunity to do so

[2021-03-24 19:48] derberg commented on #204
@Gdewilde what do you think? would you need some help with integration?

btw I guess we still need to figure out how people can report manually their documents to get them pulled on the list

[2021-03-24 20:01] derberg opened #212 "Take Jobs section to another level"
#### Reason/Context
Now we have jobs section on the website with just one offer that we published as folks working full time on AsyncAPI under Postman support -> https://www.asyncapi.com/jobs

##### Enable others to share their job offers

We need to open it up to others. We already saw at least 2 AsyncAPI related job offers from community. Would be great if they could just add their job offers to

[2021-03-24 21:23] smoya commented on #212
I think it's a good idea. However, I'm thinking about all that people who are opened to a new job but don't want to make it public because any reason (for example, they don't want to let their current employer know).
It would be awesome if we can give the option of anonymized the process. I think it could be hard in case of showing contributions unless we don't show their usernames, however, it wi

[2021-03-25 01:05] Gdewilde commented on #204
Sure, we first need to get the API in place at the API Tracker.

**btw I guess we still need to figure out how people can report manually their documents to get them pulled on the list**

--> Indeed, I was thinking along the lines of http://apisjson.org/ that they put at the root of their website/dev docs or in a GitHub repo they manage. We don't want to make this an opaque process. @MikeRalphson,

[2021-03-25 07:34] derberg commented on #212
@smoya I was thinking about this use case that some people do not want to publicly admit they are opened for new positions, and this is completely understandable. This should not block others that are opened though.

We anyway wanted to have a view on the website where all the members of Technical Steering Committee are listed, and it will be clear who is affiliated with some company and who is th

[2021-03-25 07:36] derberg commented on #204
@AceTheCreator it can take some time until you could actually start working on this one. I suggest finding some other issue. If you want to do some frontend then from this repo I recommend https://github.com/asyncapi/website/issues/212 + we also have a react component for the spec where some help would be highly appreciated as more and more users use the component https://github.com/asyncapi/async

[2021-03-25 07:36] derberg commented on #208
@magicmatatjahu do you want to continue with your old PR or you want @Mayank-MP05 to take over?

[2021-03-25 10:22] magicmatatjahu commented on #208
@derberg If someone from community wants to handle it, feel free @Mayank-MP05 to do that :) Maybe my PR https://github.com/asyncapi/website/pull/140 will help you.

[2021-03-26 15:06] AceTheCreator commented on #204
@derberg That's fine and I'll definitely check out other issues from the link mentioned above. I'll also try to keep in touch with this issue just in case if I could be of help.

[2021-03-26 15:11] AceTheCreator commented on #212
@derberg I'm looking forward to implementing this feature, but if i have any question concerning this issue should i ask it below or in the slack channel?

[2021-03-26 15:13] MikeRalphson commented on #204
We use a mix of research, spidering, scraping and user-submissions via a form which creates GitHub issues. The schema.org [WebAPI](https://schema.org/WebAPI) type can be used to declare that a web-page describes a Web API (of any type) using JSON-LD or RDF.

[2021-03-26 15:15] derberg commented on #212
I always recommend GH issues as in slack we lose history 😞 but feel free to ask in Slack if you want, no worries

I recommend focusing first on `Enable others to share their job offers` because this one `Enable contributors/committers to specify that they are looking for a job` I think needs more brainstorming

[2021-03-27 00:58] #154 closed, assigned to nobody

[2021-03-28 06:42] AceTheCreator commented on #212
Sure this `Enable contributors/committers to specify that they are looking for a job`  would definitely need more brainstorming. Should they first open an issue requesting to submit a job offer or they should just go straight ahead and submit a PR?

[2021-03-29 10:26] derberg commented on #212
@AceTheCreator then can do both, if what to discuss first, then issue, if they have everything ready, let them head directly to PR to speed up the process. Most important is to make it clear requirement that this is only a place for AsyncAPI-related jobs

[2021-03-29 10:31] derberg opened #215 "Improve streetlight tutorial with server validation showcase"
#### Reason/Context
Once https://github.com/asyncapi/nodejs-template/pull/53 is released we need to show this functionality in existing documentation to show that AsyncAPI is not just for code generation but also real-time validation for example

#### Description
- Update [this](https://github.com/asyncapi/website/blob/870f5016ff2323e6730fa47675c85c4b0caf3e74/pages/docs/tutorials/streetlights.md)

[2021-03-30 11:09] AceTheCreator commented on #212
@derberg I'm curious about what the PR process is like. When trying to create a PR for a job posting, would they have to clone the repo and manually add jobs posting then create a PR? If so, isn't that kinda stressful? I'd suggest when they want to create a job posting, they should be redirected to a page with a markdown template with a review and when they're done, we automatically create a PR fo

[2021-03-30 11:41] derberg commented on #212
Most of those will be created by technical people, at least this is the expectation.
GitHub is great enough to allow you to do the whole process of file creation and PR flow in the UI, without a need to clone the repo on local.

Having a template would be great though

[2021-03-31 19:24] AceTheCreator commented on #212
@derberg I tried automatically generating a job template.MD when users click on the job posting URL but it seems impossible unlike the ones of issues and PRs. What I did was automatically copy the template to the user's clipboard when they click on the link that takes them to where they will post the job and all they have to do is paste the template. What did you think of this approach ?

[2021-04-01 07:26] derberg commented on #212
@AceTheCreator I think it would be best to use native GH functionality here. Link to "new file creation". Advanced users can cancel and do usual fork + clone + the rest. Someone who does one time contribution can continue from there, where we link them.

GH supports passing content for a new file in a query param, even filename (but this won't be useful for us I guess, unless you have some idea ho

[2021-04-01 08:43] AceTheCreator commented on #212
@derberg Have actually tried the above solution. There's a limit to the amount of character you can pass in the value query params and the value params does not even support .md content. That was why i was suggesting when they click on the link that takes them to the "new file creation" the template will automatically be copied to their clipboard, and all they have to is paste it in the new file f

[2021-04-01 08:45] AceTheCreator commented on #212
Note: On the job website they'd be an indicator that tells them "on clicking this link, the job posting template will be copied to your clipboard"

[2021-04-01 09:12] derberg commented on #212
hmmm, you sure? I just tested such URL and worked fine, enough content for a good template in my opinion
[click this super long url](https://github.com/asyncapi/website/new/master/pages/jobs?value=---%0D%0Atitle%3A+%27UI%2FUX%2FDX+Designer%27%0D%0Adate%3A+2020-12-02T16%3A56%3A52%2B01%3A00%0D%0Acategory%3A+design%0D%0AclosingOn%3A+01%2F15%2F2021%0D%0A---%0D%0A%0D%0AWe%27re+a+tiny+team+working+on+th

[2021-04-01 09:14] derberg commented on #212
interesting, I found filename bug workaround 😄

[click](https://github.com/asyncapi/website/new/master/pages/jobs/fake?filename=test.md&value=---%0D%0Atitle%3A+%27UI%2FUX%2FDX+Designer%27%0D%0Adate%3A+2020-12-02T16%3A56%3A52%2B01%3A00%0D%0Acategory%3A+design%0D%0AclosingOn%3A+01%2F15%2F2021%0D%0A---%0D%0A%0D%0AWe%27re+a+tiny+team+working+on+the+AsyncAPI+Initiative.+We%27re+hiring+a+UI%2FUX%2FDX+de

[2021-04-01 09:15] #215 closed, assigned to nobody

[2021-04-01 09:51] AceTheCreator commented on #212
While this workaround seems to work, you cannot preview the file.

[2021-04-01 09:55] AceTheCreator commented on #212
Did you just copy the .md file and paste it into the value query params? cuz I just did that and  it didn't display all the file content i pasted there
[click this url](https://github.com/asyncapi/website/new/master/pages/jobs?value=---%20title:%20%27UI/UX/DX%20Designer%27%20date:%202020-12-02T16:56:52+01:00%20category:%20design%20closingOn:%2001/15/2021%20---%20We%27re%20a%20tiny%20team%20working

[2021-04-01 09:58] AceTheCreator commented on #212
Yeah, I'm just trying to explain there.

[2021-04-01 10:58] derberg commented on #212
yeah, you are right, but anyway, even if that would work, we should not use such workarouds. Problem is that once they solve the issue, we are doomed and stuff would stop working 😄

you cannot just copy paste, you need to first to encode it into URL. I quickly used https://www.url-encode-decode.com/

[2021-04-01 18:57] AceTheCreator commented on #212
Can i use the suggested approach then which copies the template to the clipboard or did you have a better idea in which I can implement?

[2021-04-01 18:58] AceTheCreator commented on #212
Sorry for the late reply tho 🙂

[2021-04-01 20:14] AceTheCreator commented on #212
@derberg I was also thinking of making the search component reusable for the blog posts page or what do you think?

[2021-04-01 20:31] derberg commented on #212
what search component? you mean the filter that we would have for jobs, to have it on blog, to filter out articles by tags?

but what is wrong with using [this](https://github.com/asyncapi/website/new/master/pages/jobs?value=---%0D%0Atitle%3A+%27UI%2FUX%2FDX+Designer%27%0D%0Adate%3A+2020-12-02T16%3A56%3A52%2B01%3A00%0D%0Acategory%3A+design%0D%0AclosingOn%3A+01%2F15%2F2021%0D%0A---%0D%0A%0D%0AWe%27

[2021-04-01 20:51] AceTheCreator commented on #212
Sorry I meant filter. And yeah i thought we could also use it for blogs.

Ok then if you feel this approach is right then I'll implement it.

I'm actually not copying to the clipboard from the asyncapi.com domain. once you click on the "new file creation" (a tooltip appears on the link on hovered saying job template will be copied to your clipboard) link and all you have to do is right-click on th

[2021-04-02 08:47] derberg commented on #212
oh man, that woudl be lovely, the amount of content in blog area grew a lot, some filtering by tags would be amazing. For that though I suggest separate issue and PR so it is easier to review later

ok, then best would be the direct link with template in URL using GH functionality. I think it would make a lot of sense to store the template somewhere in plain text too. So it is available for people

[2021-04-02 13:49] AceTheCreator commented on #212
Ok then. I'll have a folder called templates then inside it I'd have the job template. So anybody that forks repo can create files locally using the job template inside the templates folder. What did you mean by "So it is available for people that click on a button"?

[2021-04-06 08:48] derberg commented on #212
sorry, I was kind of referring to a local template as a thing that is an alternative for people that do not click on the button in the UI to add job posting. Sorry for later response, Easter time

[2021-04-06 15:22] derberg commented on #208
@Mayank-MP05 so what is your take on it, do you want to continue what Maciej started?

[2021-04-06 16:43] Mayank-MP05 commented on #208
yeah I guess Maciej quality of work is way superior than mine one😅

[2021-04-07 06:00] AceTheCreator commented on #212
Oh yeah. Kindly review my PR then

[2021-04-08 11:43] AceTheCreator commented on #212
@derberg can I create issue for this feature now and start working on it?

[2021-04-08 12:36] derberg commented on #212
@AceTheCreator go ahead mate!

[2021-04-08 16:36] AceTheCreator commented on #212
Okay

[2021-04-08 20:06] #212 closed, assigned to nobody

[2021-04-09 04:16] AceTheCreator opened #228 "Add Filter Functionality To Blog Posts"
#### Reason/Context
Please try answering few of those questions
- The blog posts is really growing and will keep growing, implementing this feature allows users to filter posts based on their desired category
- This change will really help and save users from scrolling through a bunch of blog posts that's not relevant to them?

#### Description
Please try answering few of those questions
- Only a

[2021-04-09 05:43] derberg commented on #228
I think we need 2 filters: for `type` and `tags`.

the `tags` one will require a brief review of current tags, I think, but this is just my assumption.

It will be a super great addition

[2021-04-09 11:14] AceTheCreator commented on #228
@derberg please can you elaborate more on what you're trying to say here?

[2021-04-09 11:28] derberg commented on #228
We have 2 different classifications for the post, like here https://github.com/asyncapi/website/blob/master/pages/blog/asyncapi-github-actions.md

`type` is a pretty fixed prop, I mean you just have few defined types
`tags` is a kind a free style atm, post owner can provide a list of whatever tags might relate to the post

we need to have a filter that allows me to filter either by `type` or `tag`

[2021-04-09 12:29] AceTheCreator commented on #228
Yeah it makes sense.

[2021-04-12 08:09] derberg commented on #208
@Mayank-MP05 I don't think @magicmatatjahu will find time to continue his work anytime soon, so feel free to pick up stuff from him PR and drive it forward

[2021-04-12 08:25] magicmatatjahu commented on #208
@Mayank-MP05 Yeap, exactly what @derberg wrote, pick up my PR :) If you will need some help, please write.

[2021-04-21 09:40] nictownsend opened #233 "Blog Post: Semantics of publish/subscribe"
## Post title

Publish vs Subscribe semantics in AsyncAPI 2.0

## Post description

https://community.ibm.com/community/user/integration/blogs/nic-townsend1/2021/04/01/publish-vs-subscribe-in-asyncapi-and-why-it-may-no

[2021-04-21 09:41] nictownsend commented on #233
Assuming there's nothing inflammatory in the original post, I think it may be useful to share more widely as a post on the official blog?

[2021-04-21 10:25] jonaslagoni commented on #233
Great explanation of the confusion 👏 Think it makes sense to share it more widely 😄

And I love that you are referring to the GitHub issues about the subject! However, the link is unfortunately not working 😅

[2021-04-21 10:28] nictownsend commented on #233
Good spot, not sure how it got broken but will fix asap!

What's the next step for the blog entry - do I copy/paste into a `.md` and open PR?

[2021-04-21 10:29] jonaslagoni commented on #233
Summoning the blog master @derberg.

However, I would assume so yes 🙂

[2021-04-22 07:36] derberg commented on #233
tbh, I'm a bit confused with the blog post 😅
mainly because text says `New Application` but diagram has `My Application` and do not know how to map YAML file to the diagram

[2021-04-23 08:16] nictownsend commented on #233
I'm having technical challenges updating the blog post to reflect that, good spot - will fix asap! Is that the only concern you have?

[2021-04-23 08:26] derberg commented on #233
if it is the same (New App and My App) then all good from my side. I think we can suggest some improvements but can be done on a PR level. Feel free to open it up and thanks in advance for doing it 🙏🏼

[2021-04-26 08:23] derberg commented on #40
We recently [updated spec](https://github.com/asyncapi/spec/pull/521) with the proper info and now will have a [blog post](https://github.com/asyncapi/website/issues/233) about it too.

so closing as progress on blog post will be tracked separately

[2021-04-26 08:23] #40 closed, assigned to nobody

[2021-04-29 08:04] derberg commented on #84
Done thanks to @MikeRalphson
https://github.com/asyncapi/website/pull/235

[2021-04-29 08:04] #84 closed, assigned to nobody

[2021-05-05 16:46] holomekc opened #249 "website certificate expired and is not reachable"
#### Describe the bug
Your let's encrypt certificate expired today. 05.05.2021 14:00

Although I currently also get too many redirects error in browser.

#### How to Reproduce
Just open website

#### Expected behavior
certificate is updated and website can be used again.

[2021-05-05 16:53] jonaslagoni commented on #249
Thanks for the issue @holomekc, we are aware and it is being worked on.

[2021-05-05 17:44] derberg commented on #249
fixed 😅

[2021-05-05 17:44] #249 closed, assigned to nobody

[2021-05-05 20:21] fmvilas commented on #249
We're having the same issue again. Investigating, thanks for your patience 🙏

[2021-05-06 11:31] #233 closed, assigned to nobody

[2021-05-07 06:42] #85 closed, assigned to nobody

[2021-05-07 16:24] derberg commented on #195
@Barbanio what is press kit?

I saw that on few press pages people put project icons so they are easier to access, like all bringing related

[2021-05-07 20:26] Barbanio commented on #195
@derberg Yes, it's very common for any company, enterprise, or project to have a press kit, it is very important in terms of public relations and communication. It's a document that gathers all the relevant information of the project (mission, objectives, values, etc.), it could be said that it is the letter of introduction.

Álex and I worked on this: https://docs.google.com/document/d/1U3k_YnMId

[2021-05-09 09:45] derberg commented on #195
@Barbanio you do not have to convince me, I like the idea. I just asked about `The press kit` that you have on the list, what exactly is it? the document you linked or? Sorry for not expressing myself clearly in initial comment

[2021-05-09 14:20] Barbanio commented on #195
@derberg Yes, it's that document.

[2021-05-10 11:02] derberg commented on #197
Removing `stale` label as we still need it

[2021-05-10 11:11] derberg commented on #83
all set, also as a result of data I saw I did this https://github.com/asyncapi/website/pull/255

[2021-05-10 11:11] #83 closed, assigned to nobody

[2021-05-10 11:56] derberg opened #256 "Numbered list needs some css love to adjust indents"
Now markdown content with numbered list displays wrong, content is kinda "detached" from the list. Example:

![Screenshot 2021-05-10 at 13 34 54](https://user-images.githubusercontent.com/6995927/117653316-8768ca80-b194-11eb-9cf9-df3cc53efa1c.png)

the code snippet is aligned with `1.` while indent should make it aligned with `Create`

This is an example how it should look like.  Example from almi

[2021-05-10 14:24] magicmatatjahu commented on #256
I describe fix in https://github.com/asyncapi/website/pull/237#issuecomment-836760849 so you can fix it in your PR :)

[2021-05-12 08:25] derberg commented on #204
@Gdewilde hey, how is it going? any progress on the API side?

[2021-05-13 18:08] fmvilas commented on #86
I guess you meant https://www.asyncapi.com/docs/specifications/latest, right? it's currently being redirected here: https://github.com/asyncapi/website/blob/master/public/_redirects#L8. Also, let's **make sure it never redirects using 301** because this will make the redirect permanent and will be cached by browsers.

a google? 🤔

[2021-05-13 19:49] derberg commented on #86
toggle, drop down, come version chooser component 😛

right, updated, thanks. I also think https://www.asyncapi.com/docs/specifications should redirect to latest

[2021-05-14 05:57] aayushmau5 commented on #86
I would like to work on this.(Just commenting here for the Issue)

[2021-05-14 11:54] Gdewilde commented on #204
Hi @derberg! I hope to get to it this weekend.

[2021-05-14 15:52] AceTheCreator commented on #204
@Gdewilde How can I be of help?

[2021-05-14 15:54] AceTheCreator commented on #228
@derberg I'll start working on this issue soonest.

[2021-05-14 16:36] Gdewilde commented on #204
@AceTheCreator thanks for offering. Something that needs to be implemented by our company (Apideck). Will keep you posted!

[2021-05-16 21:06] Gdewilde commented on #204
@AceTheCreator @derberg the API powering https://www.apitracker.io/specifications/asyncapi is now available at https://www.apitracker.io/api/specifications/asyncapi Still need to write a spec for it tho 😅 Are you able to get started?

[2021-05-16 21:07] Gdewilde commented on #204
@derberg can you verify if we labeled the protocols correctly?

[2021-05-17 01:10] AceTheCreator commented on #204
Looks good and great job @Gdewilde. @derberg what do you think?

[2021-05-17 07:36] derberg commented on #204
@Gdewilde looks awesome 🎉 My only concern is if Gitter and Slack should be there as they are 1.2 and not 2.0 AsyncAPI and I'm afraid that would promote old versions this way 🤔 but it is nice to see Slack on the list on the other hands 😕

the other one we can add is eBay https://developer.ebay.com/marketplace-account-deletion as they wrote about AsyncAPI adoption recently https://tech.ebayinc.com/e

[2021-05-17 11:07] AceTheCreator commented on #204
@derberg I think it will be cool to have it on a separate view and maybe have something that references it on the landing page. Well, let see what approach @fmvilas thinks.

[2021-05-17 11:53] fmvilas commented on #204
In case it helps, I contributed a migration to v2 on the Slack API: https://github.com/slackapi/slack-api-specs/pull/37. Seems it not going to be merged because they plan to generate it from their code but it's a good start. Regarding Gitter, we can convert it to v2 very easily. Just copy the document and paste it on the [Playground](https://playground.asyncapi.io). It will transform it automatica

[2021-05-18 04:55] hkaur008 commented on #195
Hey , Can i still take up this issue ? If yes then let me know the task and task files .

[2021-05-18 07:05] magicmatatjahu commented on #208
Ok I will handle it, a lot of people ask for it, so I will resume my old PR.

[2021-05-18 07:25] derberg commented on #195
@Barbanio hey, @hkaur008 wants to help out creating the `press` tab. Can you provide her with all the data and files needed for it? I mean what exactly needs to be provided on the website? Without this it will be hard to even provide a mockup

Aside from the list of the things provided in the issue description, I think we should also expose on the press table the brand files, logos I mean, the one

[2021-05-18 07:55] Barbanio commented on #195
Hi! sure, @hkaur008 your willingness is great!

I think the most important are the newsgathering points, press releases, and the press kit because the rest would be links.
   - Newsgathering: in this point, we propose to gather the most important news about AsyncAPi that has appeared in important media.
   - Press releases: always update with the last 2 or 3 press releases, for now, we have one, r

[2021-05-18 08:24] #208 closed, assigned to nobody

[2021-05-19 04:29] Souvikns opened #264 "Emoji in footer is not rendering"
#### Describe the bug
The emoji is not rendering in the footer

#### How to Reproduce
In the footer, the ❤️ emoji is not rendering. Though I don't know if it is meant to be.

- Screenshots
![image](https://user-images.githubusercontent.com/41781438/118756492-a4825500-b888-11eb-9448-e40af53a8ee7.png)

#### Expected behavior
I think something like this should render
`Made with ❤️ by AsyncApi Initiat

[2021-05-19 06:38] derberg commented on #264
your are right, we should have ❤️ there

[2021-05-19 06:52] #256 closed, assigned to nobody

[2021-05-20 00:19] Gdewilde commented on #204
Ok, we will index the eBay and Gemini specs shortly!

[2021-05-20 07:51] derberg opened #267 "Add support for translations"
#### Reason/Context
Enable adoption of the spec to a larger group. Translation of docs was an enabler for Kubernetes and Vue, so could be for AsyncAPI

#### Description
- translation of all website text except of the blog probably
- default to english
- enable language chooser in UI
- promote in the UI that if the language you are looking for is missing then people should help providing translatio

[2021-05-21 01:43] Gdewilde commented on #204
Added! Link to the API Tracker logo https://res.cloudinary.com/apideck/image/upload/v1621561371/apitracker/apitracker..svg

[2021-05-22 14:37] AceTheCreator commented on #228
@derberg can I update the Tailwind CSS to v2.0+? or is there a reason why you're using v1?

[2021-05-23 16:34] hkaur008 commented on #195
Sorry, I just had my last exam today!
Okay, As far as I understand it would be just a section to give insights about many things Asyncapi is up to .
1. So I have to build a section where we can display/render the latest news about AsyncAPI
2. One press releases section to have the latest 2 or 3 press releases,
  Suggestion : we can link to the section having all press releases
3. How you want to d

[2021-05-24 06:52] Barbanio commented on #195
Hi, I hope your exams went well :)
Yes, the initial idea is to put all the information inside a press section, something like Postman or Nordic APIs for example:
https://www.postman.com/company/press-media/
https://nordicapis.com/about/press/
Press kit document I think we could put it in .pdf format, what do you think?

[2021-05-24 08:22] derberg commented on #228
@AceTheCreator go ahead, this new website built 1 or 2 months before they released Tailwind 2.0 so this is why v1 is here.

just make sure to not overcomplicate the review, if there will be some changes needed due to Tailwing 2.0, please do not mix them with PR for filtering, to make an easier review and just split PRs in 2

[2021-05-24 09:26] derberg commented on #204
@fmvilas @AceTheCreator I think it would be good to have a short, max 3-5 elements list displayed on the landing page under some new section like `AsyncAPI in the wild` and a link to click for more that would take you to separate view of all specs. Also there would be a new element in the navigation, under **Learning** called something like `Real life examples`

The view with all the specs would b

[2021-05-24 19:27] hkaur008 commented on #195
https://www.postman.com/company/press-media/
they are having a different section for press media . I was unable to find link to press media on their site , was that in footer ?
i will work accordingly

[2021-05-24 20:30] Barbanio commented on #195
Yes, it's in the footer, in "company", the last column on the right 😊

[2021-05-25 08:01] hkaur008 commented on #195
So , what exactly i have to do ? Can you please list works and where I have to code . 😊

[2021-05-25 09:01] derberg commented on #195
- The footer component is here https://github.com/asyncapi/website/blob/master/components/Footer.js
- Change the footer in the way proposed by @fmvilas on Slack, using Tailwind component as inspiration.
- Put there list of links (with icon indicating that link takes you outside the website):
  - [Press kit](https://drive.google.com/file/d/1U3k_YnMIdJUaTmw16X6CZR5KPMgl0_Ml/view?usp=sharing)
  - [Co

[2021-05-25 09:42] Barbanio commented on #195
Yes, I'm referring to those types of articles. These are the most relevant ones I have found, I'm sure I'm forgetting some of them. The same news is covered by different media and different news is covered by the same media like Info Q. In principle, I think we can put them all acquiring the added value of those media that talk about AsyncAPI. What do you think?
On the other hand, I think they wou

[2021-05-25 10:23] derberg commented on #195
I think we should put emphasis on news diversity and avoid duplication. In other words, media news about "AsyncAPI joining Linux Foundation" should show up just once and from different source than InfoQ cause we have other articles from them.

Does it make sense?

I see you have one article in German, so we definitely need to clearly separate in the UI, news in English from news in different lanug

[2021-05-25 11:26] Barbanio commented on #195
Yes, it makes sense, the same goes for the Postman and AsyncAPI news. I have selected the media by the quality of the news and by the number of visits per month and the list would look like this:

- https://www.infoq.com/news/2021/05/ebay-adopts-asyncapi/
- https://thenewstack.io/asyncapi-2-0-enabling-the-event-driven-world/
- https://www.businesswire.com/news/home/20201208005285/en/Postman-and-As

[2021-05-25 12:06] derberg commented on #195
I think it is fine to list mentions in other languages, why not, just pick some written in Spanish, at least one.

I imagine the list of articles shows up like [this](https://tailwindui.com/components/application-ui/lists/grid-lists#component-5d72b187beb968e12db89fe49f272b18) but of course, instead of people image, there would be an article cover photo. Such a grid view could be separated by some

[2021-05-27 17:31] AceTheCreator commented on #228
@fmvilas and @derberg please kindly review this PR 🙏

[2021-05-28 10:56] AceTheCreator commented on #228
@derberg Why do I keep getting some additional commits?

[2021-05-28 11:04] derberg commented on #228
@AceTheCreator hard to say. If you followed the guide I linked all should be fine. Problem is that I see your PR is not from a branch but from `master`. Hard to say what you did. Because on a fork on local your `master` should reflect upstream `master`, you should always work on branches that you create from `master`.

[2021-05-28 11:16] AceTheCreator commented on #228
@derberg I'm working from a branch and I'm confused why it's coming from master and I'm currently in the branch I created. I also followed the guide you posted. I'm going to delete the already created branch and create a new branch and see what happens.

[2021-05-28 11:21] #228 closed, assigned to nobody

[2021-06-01 11:14] derberg commented on #86
just for your information, I realized we do not need a feature toggle as we have left nav anyway and all specs will be listed there, so no need to add additional navigation element - toggle

[2021-06-04 16:33] hkaur008 commented on #195
current footer on site:
![image](https://user-images.githubusercontent.com/56452820/120834246-63748b00-c580-11eb-9a4c-874343c1e28c.png)
what else links i need to add ?
Got code for new footer
Option 1
![image](https://user-images.githubusercontent.com/56452820/120835007-67ed7380-c581-11eb-9390-64c8dfb6e794.png)
Similar to current in theming
Option 2
![image](https://user-images.githubusercontent.c

[2021-06-07 07:43] magicmatatjahu commented on #195
@hkaur008 Hi! We should choose the first option (white), similar to current design :)

As @derberg wrote, you should add links from this https://github.com/asyncapi/website/issues/195#issuecomment-847689807 comment

I only don't know which links and in which way we should show them, I mean to which groups we should split the links. In the future we should have groups: `Tooling`, `Support`, `Compan

[2021-06-07 07:56] AlejandrolMiguel commented on #195
Hi guys! I hope everything is going well. I know that you miss me (im
adorable) , but please let me out of this e-mails.
Thanks!
Alejandro

[2021-06-10 09:01] jonaslagoni opened #273 "The spec document is missing side sub-menus"
### Describe the bug
The side menu for the spec is not rendered correctly.

### Screenshots
New:
![billede](https://user-images.githubusercontent.com/13396189/121496625-ef504200-c9da-11eb-9239-e9af1f131d95.png)

Old:
![billede](https://user-images.githubusercontent.com/13396189/121496659-f8d9aa00-c9da-11eb-8ac8-be171202aabf.png)

[2021-06-10 09:21] magicmatatjahu commented on #273
Fixed in https://github.com/asyncapi/website/pull/274

[2021-06-10 09:21] #273 closed, assigned to nobody

[2021-06-10 10:07] smoya opened #275 "Should spec version in URL path remove its `v` prefix?"
#### Description
Despite the title, this issue is more a question than a bug report.

We recently renamed the [specification file](pages/docs/specifications) from `2.0.0.md` to `v2.0.0.md` through [this PR](https://github.com/asyncapi/website/pull/271).
This change has been suggested via this discussion: https://github.com/asyncapi/website/pull/271#discussion_r643152612.

Notice that the real vers

[2021-06-14 08:57] aayushmau5 commented on #86
Do we have any specific design to show that a spec is "Pre-release"?

For the time being, I'm just doing
![Screenshot_2021-06-14_14 27 13](https://user-images.githubusercontent.com/54525741/121866544-a5d65e80-cd1c-11eb-99e1-d36041b0a91b.png)

[2021-06-14 10:43] derberg commented on #275
we have `2.0.0` now as for https://github.com/asyncapi/spec/releases/tag/2.0.0 but also introduced https://github.com/asyncapi/spec/releases/tag/v2.0.0 and all next releases will have `v` to follow default convention, thus the change

[2021-06-14 12:01] smoya commented on #275
Adding the `v` prefix to all the next versions makes totally sense IMHO 👍  Then it aligns with the latest changes, except that for those that look for `2.0.0` (without the `v` prefix`) in our website, who were having that 404, now fixed with a redirect.

All good then, I guess we can close this issue now that it is clarified. Thanks for your effort in explaining this @derberg 🥇 💯 💪

[2021-06-14 12:01] #275 closed, assigned to nobody

[2021-06-15 12:41] derberg commented on #195
I think it is ok if we go as simple as possible here, so just have two sections in white footer,
- `Press` with link mentioned in previous comments
- `Others` with links that are currently in the footer, except for the press

in follow up PRs we can extend `Others` into separate sections, in a separate discussion about it.

[2021-06-28 09:55] aayushmau5 opened #291 "Scroll position indicator not working in Table of Contents for Specification"
#### Describe the bug

The Scroll position indicatior(`scrollspy`) is not working in Table of Contents for [spec page](https://www.asyncapi.com/docs/specifications/v2.0.0) after the `Introduction` section.

#### How to Reproduce
After scrolling through the `Introduction` section in [this page](https://www.asyncapi.com/docs/specifications/v2.0.0), the indicator is not visible.

**Screenshots:**

|I

[2021-06-29 13:00] derberg commented on #86
this is fixed by @aayushmau5 now

[2021-06-29 15:12] aayushmau5 commented on #86
I guess, we should close this issue now. :D

[2021-06-30 07:25] #86 closed, assigned to nobody

[2021-06-30 13:44] #291 closed, assigned to nobody

[2021-07-02 18:57] orubel commented on #94
dude this is staler than the dead baby in a zombies lower intestine. Let it die.

[2021-07-05 08:51] derberg commented on #94
nah, I still believe in it ❤️

[2021-07-05 14:41] orubel commented on #94
then define it. Define the deliverables for 'getting stars' :)

[2021-07-06 09:26] jonaslagoni opened #298 "Initiate the any contributors bot"
#### Reason/Context
For all other repositories, we have the any contributors bot integrated, we should have it for the website too.

Related documentation: https://github.com/asyncapi/.github/blob/master/recognize-contributors.md

[2021-07-09 07:38] derberg commented on #95
no need for such a grouping issue/epic

[2021-07-09 07:38] #95 closed, assigned to nobody

[2021-07-12 15:27] cdavernas opened #313 "Add Neuroglia.AsyncAPI to tooling section"
Hello everyone,

I followed the link to add tooling on https://www.asyncapi.com/docs/community/tooling, and landed here.

I would like, if possible, to add [my Apache 2.0 licensed .NET 5.0 project](https://github.com/neuroglia-io/AsyncApi).

For now, the libs provide ways to:

- [x] Read, parse and validate a YAML or JSON AsyncAPI document
- [x] Build an AsyncAPI document programatically using flu

[2021-07-12 15:58] magicmatatjahu commented on #313
Hi! Could you describe your tool, few sentences like for another tools in mentioned link in our site, and add info for which section(s) we should add `Neuroglia.AsyncAPI`? :)

[2021-07-12 15:59] magicmatatjahu commented on #313
Of course, if you want, you can always create PR in our [website repo](https://github.com/asyncapi/website) and add your tool by yourself - you should update this file https://github.com/asyncapi/website/blob/master/pages/docs/community/tooling.md :)

[2021-07-12 19:50] dskvr opened #312 "Unable to run example"
#### Describe the bug
Code generation fails from example

#### How to Reproduce
Follow instructions from [here](https://www.asyncapi.com/generator)
[code]

#### Expected behavior
Code to be generated from sample specification.

[2021-07-13 09:58] Relequestual opened #304 "Jobs board filter doesn't have an "all" filter option"
#### Describe the bug
Jobs board filter doesn't have an "all" filter option.
Once another option in the filter is chosen, you cannot see all options unless you refresh the page.

#### How to Reproduce
View https://www.asyncapi.com/jobs

All jobs are shown but filter is set to "education".

#### Expected behavior

Filter should have an "all" option.

[2021-07-13 11:21] magicmatatjahu commented on #264
@Souvikns Should we close this one?

[2021-07-13 11:24] Souvikns commented on #264
Yeah

[2021-07-13 12:08] #264 closed, assigned to nobody

[2021-07-13 16:12] magicmatatjahu commented on #304
It will be fixed in https://github.com/asyncapi/website/pull/284

[2021-07-16 13:41] Relequestual opened #307 "Option to use the blog posts as a stand alone app"
As per our discussion on Postman Slack with @magicmatatjahu, we (JSON Schmea) would like to be able to run a blog.

We would like to see if we could use the blog section of your site as a stand alone app.
We (JSON Schema) would need to do some styling modifications, of course.

Let me know if you need any further info via slack, as GitHub notifications are slower for me.

[2021-07-19 11:03] magicmatatjahu opened #309 "Move the tools-related pages to the `tools/*` pages"
Currently all pages related to tools, like [`generator`](https://www.asyncapi.com/generator), [`parsers`](https://www.asyncapi.com/parsers) etc aren't in the `tools/` subpath but in the root.

AC:
- change the path of tools, by following rule based on example: `generator` -> `tools/generator`
- add redirects to the old paths

[2021-07-26 08:05] magicmatatjahu commented on #313
@cdavernas Hello! We would love to add your tool, but we don't have needed information :) It would be best if you would create a PR as I wrote in the previous comment.

[2021-07-26 08:16] cdavernas commented on #313
@magicmatatjahu Yes, sorry, will do the PR as soon as I'm back from holidays 😅
In the meanwhile, thank you so much for the responsiveness

[2021-07-26 08:17] magicmatatjahu commented on #313
Sorry, I didn't know 😅 Have a nice vacation!

[2021-07-26 13:27] magicmatatjahu opened #311 "Wrong rendered content in the blog posts list"
If you go to the https://www.asyncapi.com/blog and scroll to the bottom (to the last blog posts) you can see this:

![image](https://user-images.githubusercontent.com/20404945/126995560-3e43f1da-8efa-4e2f-abea-4c698e2067c9.png)

The author section `Status update (week 14, 2019)` points to the Jonathan Schabowsky, but the author is the Fran Mendez. Also `Replicating...` have doubled Fran photos, bu

[2021-07-26 13:51] derberg commented on #197
@fmvilas ping 😉 you did explain it once already on a SIG call, looks like this is needed

[2021-07-26 13:53] fmvilas commented on #197
Thanks for the reminder. Adding it to my TO-DO list 👍

[2021-07-26 14:19] derberg commented on #312
@fmvilas I see you asigned to @damaru-inc but actually I think it needs to be fixed on AsyncAPI website as paho template actually do not support `server` flag, same java spring template. So the core of the issue is the website.

@dskvr just do not pass `-p server=production` flag

[2021-07-26 14:26] fmvilas commented on #312
Correct. I saw python-paho-template and immediately thought of Michael 😄 Let's move this issue to the website repo.

[2021-08-03 13:08] fmvilas opened #321 "Job filter shows Education twice"
#### Describe the bug
Job filter shows Education twice

![Captura de pantalla 2021-08-03 a las 15 06 54](https://user-images.githubusercontent.com/242119/128020735-c8a6e6a2-a9eb-4f1a-bd54-590ce8b67ce3.png)

#### How to Reproduce
Just go to the website and click on the filter button.

#### Expected behavior
"Education" should appear only once.

[2021-08-03 13:13] damilolarandolph commented on #321
Hello, I would like to take this up.

[2021-08-03 13:22] derberg commented on #321
@damilolarandolph please go ahead

[2021-08-03 14:20] Barbanio commented on #195
HI! I don't know if this is the ideal place to leave this information... I have created a repository with the press kit in markdown in case one day it is uploaded to the web or someone needs it in .md

 I edit the link to the PR: https://github.com/Barbanio/Press-Kit/pull/1

[2021-08-04 05:27] #321 closed, assigned to nobody

[2021-08-04 18:44] fmvilas commented on #195
@Barbanio I see there are style issues with the headings on the press kit. For instance [here](https://github.com/Barbanio/Press-Kit/blob/main/press_kit.md#press) but it's repeating the same thing in every heading. I think we should not be copying the styles from the original document and instead put the headings in a single line. Does it make sense?

[2021-08-05 07:15] Barbanio commented on #195
@fmvilas Sure, it makes sense, it looks better now.

[2021-08-05 07:39] fmvilas commented on #195
I have a few more comments to make. Would you mind creating a PR? It's hard to give feedback this way 😅

[2021-08-05 09:38] Barbanio commented on #195
Sorry, I think it's better now.
https://github.com/Barbanio/Press-Kit/pull/1

[2021-08-05 12:39] fmvilas commented on #195
No need to apologize 😊 Thanks for taking the time!

[2021-08-10 07:22] derberg commented on #196
@jonaslagoni should we leave it stale and then close? :trollface:

[2021-08-10 09:03] jonaslagoni commented on #196
I just need to pull myself together and write the damn thing 😆

[2021-08-25 20:30] hkaur008 commented on #94
Some called 'stars' ?

[2021-08-26 06:37] derberg commented on #94
@hkaur008 are you interested with this one?

[2021-08-26 10:26] jonaslagoni opened #332 "Website has weird layout on load"
#### Describe the bug
Noticed this for quite a while now, and now I got annoyed enough, so I created a bug report. When the website is first loaded, it displays everything with a weird layout for a second, until everything is loaded, especially the logo is right in your face.

Using firefox v91.0.2 (64-bit)

#### How to Reproduce
Whenever I first load the website, this is the imidate view I see:
!

[2021-08-26 10:28] fmvilas commented on #332
It's the time it takes for the browser to load the CSS file. What you're seeing is the raw HTML (without styles). Not sure how to solve it but for sure must be possible.

[2021-08-28 10:57] hkaur008 commented on #94
We can get some stars for repo
if you want, if you don't want to raise project repo on the website
My Recent work  :- https://github.com/hkaur008/List-Of-Active-Repositories/

[2021-08-30 06:50] derberg commented on #94
@hkaur008 I think title of this issue might be confusing 😄

Core problem: with new website, we removed any clearly visible references to GitHub. You need to scroll down to footer and locate github icon to actually get a link to AsyncAPI organization. This way we loosed an opportunity for asyncapi.com visitors to quickly navigate to the repository with specification and star it in case they are lik

[2021-08-30 06:56] hkaur008 commented on #94
Okay, we can put github in footer may be or a different panel at nav bar

On Mon, 30 Aug, 2021, 12:20 PM Lukasz Gornicki, ***@***.***>
wrote:

[2021-08-30 07:00] derberg commented on #94
definitely not footer 😅  somewhere at the top, where anybody can see it without scrolling

[2021-08-30 07:09] hkaur008 commented on #94
Yeah, top is better place  , you can add button may be then

On Mon, 30 Aug, 2021, 12:31 PM Lukasz Gornicki, ***@***.***>
wrote:

[2021-08-30 07:10] hkaur008 commented on #94
But if you dont want to do that we can have stars and contributors by other
things as well

On Mon, 30 Aug, 2021, 12:38 PM hargun kaur, ***@***.***> wrote:

[2021-08-30 07:11] hkaur008 commented on #94
But i adding github would be a good way to get traffic from website over
repository  .

On Mon, 30 Aug, 2021, 12:39 PM hargun kaur, ***@***.***> wrote:

[2021-08-30 07:25] derberg commented on #94
repository  .

exactly the goal. So even the issue talks about getting starts, it is just another way to properly link website with GitHub and make it clear it is not a business, it is a OSS project

[2021-08-30 07:35] hkaur008 commented on #94
Okay, now i get your point  , drawing a line between OSS project and
business

On Mon, 30 Aug, 2021, 12:55 PM Lukasz Gornicki, ***@***.***>
wrote:

[2021-09-06 08:42] AceTheCreator commented on #93
@derberg I want to pick this up.

[2021-09-06 08:45] AceTheCreator commented on #91
@derberg I want to pick this up, mind explaining better the goal of this issue?

[2021-09-06 08:47] derberg commented on #93
this one is pretty old 😄 I think better would be to devide it:
- have on a website info about companies/vendors that build tools on AsyncAPI, like Axway, WSO2, SmartBear, SAP and others
- and list of users would be populated using API mentioned in https://github.com/asyncapi/website/issues/204

so we have users and vendors separated. What do you think?

[2021-09-06 08:48] AceTheCreator commented on #204
@derberg @fmvilas can we start implementing this?

[2021-09-06 08:50] derberg commented on #204
I think so, @Gdewilde the API is ready right?

[2021-09-06 10:25] AceTheCreator commented on #93
@derberg you're right, but does it has to be on a different route? I'd suggest it's on the same route, then we'll have 2 tabs that when clicked will change the view "Companies", "Users"

[2021-09-06 10:48] derberg commented on #93
I personally prefer one under another than tabs, people do not click tabs really. Sections should be called "Vendors using AsyncAPI" and "Users of AsyncAPI"

[2021-09-06 13:14] Gdewilde commented on #204
Yes, https://apitracker.io/api/specifications/asyncapi

[2021-09-06 14:12] boyney123 commented on #94
![image](https://user-images.githubusercontent.com/3268013/132229709-1431bb77-f149-4520-83ba-b2c5c2ae7d99.png)

@hkaur008 @derberg you can add stars into the project like this.

https://buttons.github.io/

Maybe this in the nav?

[2021-09-06 14:21] derberg commented on #94
this is definitely a good starter, long term would be nice to have some custom design like here https://knative.dev/docs/ but for that we would yeah, need some good design that fits the overall style of the website + a github action worklow that once a day rebuilds the website and fetches latest star count from the API

[2021-09-06 15:08] magicmatatjahu commented on #311
PR with possible changes https://github.com/asyncapi/website/pull/335 In local dev it works and also after build, but on the Netlify it is always broken... Is someone wants to handle that, feel free :)

[2021-09-06 15:47] AceTheCreator commented on #93
@derberg guess you're right about that. But we'll be referencing each link from the homepage right?

[2021-09-06 15:54] hkaur008 commented on #94
This api wont help ? Why we need to re-render website

[2021-09-07 08:12] derberg commented on #93
what do you mean?
we should have these sections on homepage imho

[2021-09-07 08:14] derberg commented on #94
@hkaur008 it will help and it is a good solution for now. Just long term, better to have something that from UI perspective integrates well, like colors and all that stuff. And for that we need to re-render/re-build website and call the API once (we can refresh github star numbers just once a day, that is fine) otherwise we would quickly hit GH API limits for anonymous usage

[2021-09-07 08:40] boyney123 commented on #94
Yeah, I believe the JS will make a request to get the latest star count on load, works quite well.

As @derberg said, with that solution you cannot style it, but might be a good first go, then we can move to styling our own.

[2021-09-07 08:43] derberg commented on #94
oh yes, and to confirm, for `buttons.github.io` rerendering of website is definitely not needed

[2021-09-07 15:48] AceTheCreator commented on #93
@derberg Awesome!

[2021-09-08 17:25] quetzalliwrites opened #350 "doc: re-design Information Architecture of AsyncAPI Docs"
## Reason/Context
We need this improvement because we are lacking:
- **Concepts** content bucket, expanding on AsyncAPI concepts/terms and how they work
- Better classification of "getting started" vs advanced cases
- move the misc Tooling page and/or decide what else may be needed to add for community
- improved **User Flows**: where do our readers really need to go next?

The **new** content buc

[2021-09-08 17:32] quetzalliwrites commented on #91
Hey @AceTheCreator, I just joined the Postman team under AsyncAPI and I'm the new Technical Writer! One of the first tasks I'd like to do is re-design the Information Architecture of our Docs and adding a *Concepts* section is part of my proposal.

Since I see you commented interest in this issue for adding docs about terms/concepts, I wanted to ask what you had in mind or if you have specific sug

[2021-09-09 09:02] derberg commented on #350
Huge fan of redesigning the info architecture!

we will just need to set proper redirects [here](https://github.com/asyncapi/website/blob/master/public/_redirects) and all will be good

yeah, this one. Over time I have to admit I don't like we have only few tools under main nav `Tools` and then the rest (AsyncAPI + community tools) mixed under docs view (in nav `Community -> Tools`). Imho we shoul

[2021-09-14 15:50] derberg opened #358 "New independent view of TSC members"
We finally have https://github.com/asyncapi/website/blob/master/config/TSC_MEMBERS.json (semi automated, but from website repo perspective all needed things are in place already)

now we need to expose this in nice non-json way to the community. TSC members hall of fame :)

- we need view like https://www.asyncapi.com/community/tsc so far linked from Community drop down in top menu (long term subj

[2021-09-14 16:15] dedoussis opened #360 "Blog post republishing - The journey of documenting a Socket.IO API"
Hello AsyncAPI folks! Raising this issue to suggest the re-publishing of my series of blog posts wrt Socket.IO and AsyncAPI.

## Post title

The journey of documenting a Socket.IO API (Pt 1)
The journey of documenting a Socket.IO API (Pt 2)

## Post description

How to document your Socket.IO API? This is a series of blog posts covering the modelling of the Socket.IO protocol using AsyncAPI object

[2021-09-14 16:55] derberg commented on #360
I saw the content already! please republish, one by one of course, with some time difference. Do you need guidance? [here](https://github.com/asyncapi/website/blob/master/pages/blog/openapi-vs-asyncapi-burning-questions.md) you have source of last blog post, to see how the metadata should be filled and what is needed. I'd like to also push forward, from next/this article that we make sure we have

[2021-09-15 08:31] magicmatatjahu commented on #307
As I know (😄 ) the JSON Schema org uses copy of our blog posts page. Is it issue still relevant? @Relequestual

[2021-09-15 08:32] magicmatatjahu commented on #304
Fixed by #284 :)

![image](https://user-images.githubusercontent.com/20404945/133399181-5353a22c-0463-4ce0-96b6-4e902a36768c.png)

[2021-09-15 08:32] #304 closed, assigned to nobody

[2021-09-15 11:15] aayushmau5 commented on #358
I would like to work on it :)

[2021-09-17 10:23] derberg opened #367 "Improve how people see spec in the website"
#### Reason/Context
Even though AsyncAPI specification markdown file is located in the [spec](https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md) repo, for a better UX we make it available in the [AsyncAPI website](https://www.asyncapi.com/docs/specifications/v2.1.0) too. We have proper automation in place that makes sure they are in perfect sync, so no worries 🍺

But we just render mar

[2021-09-20 10:32] aayushmau5 commented on #358
@derberg  I came up with some designed inspired from [TailwindUI](https://tailwindui.com/components/marketing/sections/team-sections), have a look.

1. Card with borders
![image](https://user-images.githubusercontent.com/54525741/133988170-1fad86ce-2595-4503-8aef-ac6273cbc8c4.png)

2. Row wise(Tabular)
![image](https://user-images.githubusercontent.com/54525741/133988212-658bd11f-76a9-42a4-9bb1-ab

[2021-09-20 10:39] jonaslagoni commented on #358
Looks very nice @aayushmau5 👏 I think I like option 1 more than the others 🤔

Should the company be displayed in any way? 🤔

Not sure I follow, can you record/show the problem? 🤔

[2021-09-20 11:03] aayushmau5 commented on #358
:thinking: I think I can replace `Open to Work` with company name, how about that?

Yeah, let me explain.

Suppose a person has a lot of repos in their `Maintainer of` field, then we show a drop-down icon for it so that the user can expand it.

![image](https://user-images.githubusercontent.com/54525741/133992055-1e3441ea-cf9b-4af5-9a86-407e55ffe3a0.png)

and lets say a user opens this drop down,

[2021-09-20 11:07] derberg commented on #358
@aayushmau5 loving card view ❤️ 🚀

`Open to Work` is still needed. Company name too. So in case of me or Jonas, there needs to be a name of the company. If someone has no `company` it should say `Individual member`. So it must be clear if you are paid to work on the project or not.

As for the `card` behavior when expanding repo list, I think the individual card should expand too. Not an expert th

[2021-09-20 11:20] aayushmau5 commented on #358
@derberg Got it :+1:, thanks a lot for clarifying. Will send a final mockup for this & then start implementing.

[2021-09-20 11:29] magicmatatjahu commented on #358
@aayushmau5 Of course I prefer card view, love it :) Well done! As for the dropdown, I'd rather not have it, because then when someone expands, like you mentioned, other cards will expand as well and it doesn't give a nice visual effect, so I'd skip the dropdown.

[2021-09-20 12:51] derberg commented on #309
For others who would like to work on this one:
- redirects are managed [here](https://github.com/asyncapi/website/blob/master/public/_redirects)
- it is Nextjs project so easiest to start is to create `tools` dir [here](https://github.com/asyncapi/website/tree/master/pages) and move all tools .js files from there to the new dir

[2021-09-20 13:01] derberg commented on #90
I provided some updates in description so anyone can contribute here. Feel free to ask for more details

[2021-09-20 13:04] fmvilas commented on #358
Yeah, I'd not use a dropdown or "show more" for the reasons already described. I personally like the table row much better, to be honest. It would also be great to see how do you imagine the whole page design.

[2021-09-20 13:05] derberg commented on #89
It seems to be giant task but it in fact is not, not everything has to be done by one person, it can end up as several PRs fixing different bits and pieces. Somebody need to just run some analytics and go and suggest fixes for each. We now for sure improved performance by shrinking manually all images and using webp format. I bet we could try to do more. Opened for suggestions

[2021-09-20 13:53] aayushmau5 commented on #358
Okay, so no more dropdown button. I will make a mockup and showcase how the whole page will look like. :+1:

[2021-09-20 15:24] fmvilas opened #371 "Show previous (already closed) job posts"
#### Reason/Context
When a new user lands on the website, they may find no jobs or just a few of them. It would be great to let them see that this page is alive and it's actually working.

#### Description
It would be great to add a new section at the bottom to display the —already closed— job posts. This list can be initially hidden and only visible after users click on "Show previously published

[2021-09-22 13:08] OrlundoHubbard commented on #371
Is this issue still open? I would like to work on it.

[2021-09-22 13:17] magicmatatjahu commented on #371
@theprojectcode Yes, you can work on it :) Please ping me or Fran if you will have problems with setup dev environments, implementation etc :)

[2021-09-22 13:22] OrlundoHubbard commented on #371
@magicmatatjahu I just would like a bit more clarity on the assignment. Also, is there a website that I can visit to see the project?

[2021-09-22 13:25] magicmatatjahu commented on #371
@theprojectcode

website -> https://www.asyncapi.com/jobs

The description of issue seems exhaustive to me:

I would prefer the first option with button which will show/hide (by default hide) the previously closed job positions.

[2021-09-22 13:32] OrlundoHubbard commented on #371
@magicmatatjahu Got it! I'm pretty new to open source, so please excuse the redundancy. I'm willing to work on this. This will be my first issue so bear with me, please.

[2021-09-22 13:35] magicmatatjahu commented on #371
@theprojectcode You have our support. The readme describes what you need to do to create a local work environment. The whole idea is to display closed jobs, so all you need to do is "reverse" the logic of displaying current jobs - the olders than the current day should display in a separate section of the page :)

[2021-09-22 13:52] OrlundoHubbard commented on #371
@magicmatatjahu Thank you so much! I'm going to fork the project on my local machine and work on it.

[2021-09-23 04:48] iamVP7 commented on #309
Hi @derberg / @magicmatatjahu

I am trying to write fix for this. I have some doubts

1. Should I change [toolingItems](https://github.com/asyncapi/website/blob/master/components/navigation/toolingItems.js) ; I assume this is the file which will generate the dropdown menu for Tools
2. Can the unused imports be  removed (eg:- previously Button was used now its GithubButton)
3. When I hit /tools/gen

[2021-09-23 07:14] derberg commented on #309
Hey,
1. - yes, links need to be updated
2. definitely, we do not have any linter there yet 🤦🏼 thus we have such basic errors like unused imports. Hope one day someone is brave enough to fix that 😅
3. exactly, it is netlify that does it. Feel free to open a Draft PR already, use use Netlify to generate previews for PRs (Netlify bot gives you a link on a PR as comment) and you can then check your re

[2021-09-23 10:17] iamVP7 commented on #312
Hi,

Can I take this issue to work on.

I think I have to do just two steps.

First install npm package `npm install -g @asyncapi/generator`

Then have to try the command given according to the listing say for python
`ag https://bit.ly/asyncapi @asyncapi/python-paho-template -p server=production -o example`

if it works I have to leave as it is. if it doesn't work have to try removing server flag

[2021-09-23 10:31] iamVP7 commented on #311
Seems now its loading properly for

- Status update (week 14, 2019)
- Replicating the Success of REST in Event-Driven Architecture

![134492072-d92d66b9-6094-48d2-826f-8f255defe703](https://user-images.githubusercontent.com/3106852/134492437-94296576-fe68-4be1-9437-7291ae180dc8.png)

[2021-09-23 10:40] magicmatatjahu commented on #311
@iamVP7 Right, on the current website it works, but looks at this https://deploy-preview-373--asyncapi-website.netlify.app/blog (pre-build of https://github.com/asyncapi/website/pull/373 PR) we have still this same bug.

![image](https://user-images.githubusercontent.com/20404945/134493687-09d755be-a5f7-4e17-a356-4d1436a2c9d1.png)

[2021-09-23 11:12] aayushmau5 commented on #358
I totally *did not forget* to show the mockup :sweat_smile: , but I have made a PR and you can check whether the design is good or not :)

Check here: https://deploy-preview-379--asyncapi-website.netlify.app/community/tsc

[2021-09-23 13:44] derberg commented on #312
@iamVP7 go ahead. The thing about his issue is that now all templates, have the same parameters, not all have `server` for example. So website components that display this functionality to see generator command, it needs to be modified that we actually specify custom options per template. Makes sense?

[2021-09-23 18:04] AceTheCreator commented on #367
@derberg wanna assign this to me?

[2021-09-23 18:16] AceTheCreator commented on #358
@aayushmau5 amazing stuff you did there 😍

[2021-09-23 18:19] AceTheCreator commented on #204
@derberg @fmvilas Should I come up with some design implementation?

[2021-09-24 06:33] iamVP7 opened #382 "Event Pages"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
To list the events like talks/workshop done publicly by community members.

- How will this change help?
- What is the motivation?

We can slowly increase the AsyncAPI engagement  among developers.  Nowadays so many events are happening online, so listing all the talks around AsyncAPI will help other de

[2021-09-24 07:20] derberg commented on #204
@AceTheCreator would be awesome. I cannot help much here, but API Tracker set a good direction [here](https://apitracker.io/specifications/asyncapi)

most important is where, where we will render it, as I initially thought about main landing page, but am not so sure about it any more. Maybe that should be Use Cases view that we did not implement yet and still waiting for first use case

[2021-09-24 07:20] derberg commented on #367
@AceTheCreator only if you want it 😄

[2021-09-24 09:48] magicmatatjahu commented on #382
People should also be able to enter the date, place, description, etc. of an event as they can for jobs - in the frontmatter section of markdown.

[2021-09-24 10:41] magicmatatjahu commented on #358
@aayushmau5 I added comment to your PR. Awesome work, but we should be consistent with colors/size etc with other views :)

[2021-09-24 10:53] iamVP7 opened #383 "Create New page for /tools/"
#### Reason/Context

- Why we need this improvement?
Creating new index page for tools page.

- How will this change help?
We can say what each and every tool does.

- What is the motivation?
We are moving pages related to tools under /tools/*  so a dedicated index page for tools alone

#### Description

- What changes have to be introduced?
A new page.

- Will this be a breaking change?
New page;

[2021-09-25 04:58] AceTheCreator commented on #204
@derberg what do you mean by first use case?

[2021-09-25 05:04] AceTheCreator commented on #367
@derberg guess it's all mine now 😀

[2021-09-25 07:47] #313 closed, assigned to nobody

[2021-09-27 05:20] KhudaDad414 opened #385 "Create a dashboard on the website"
## Reason/Context
AsyncAPI Initiative has 55 repositories as of writing this issue. It is hard to have a clear picture of what is going on in the initiative and where. the [Shape Up](https://github.com/asyncapi/shape-up-process) was a great attempt to create a clear picture of what is currently happening and what should happen which unfortunately only went on for three cycles. I think a dashboard

[2021-09-27 10:08] magicmatatjahu commented on #313
@cdavernas Hi! Don't you want to "publish" your tooling anymore?

[2021-09-27 10:12] magicmatatjahu commented on #139
In the future, we will need to implement this for our docs, so I am marking this as `keep-open`.

[2021-09-27 10:22] cdavernas commented on #313
@magicmatatjahu Hello! Yes, of course! I already did the PR and it has been pushed some time ago, as visible on the AsyncAPI website! I just had forgotten to close the issue.
Did I miss something?

[2021-09-27 10:24] magicmatatjahu commented on #313
@cdavernas Ahh, yes 😅  I don't remember accepting your PR (other teammate did it). Sorry for pinging and thanks for the info :)

[2021-09-27 10:31] #309 closed, assigned to nobody

[2021-09-27 10:34] cdavernas commented on #313
@magicmatatjahu Many thanks to you for your reactivity and follow ups ;)

[2021-09-27 11:50] derberg commented on #367
@AceTheCreator enjoy! 😄 first research, explore possible options, share with community progress and some screen shots on how you see it and then implement 😉

[2021-09-27 11:53] derberg commented on #204
oh yeah, sorry, so we have this on the website

<img width="939" alt="Screenshot 2021-09-27 at 13 51 13" src="https://user-images.githubusercontent.com/6995927/134902631-1b9754a6-60b5-47fc-9d56-fed39e2629e8.png">

Use cases are not ready, but we could already have a landing page there, once you click `Use cases`. And landing page would say, `no detailed use cases available yet, contact us to give

[2021-09-27 13:23] derberg commented on #197
SIG meeting recording reused

[2021-09-27 13:23] #197 closed, assigned to nobody

[2021-09-27 16:13] iamVP7 commented on #312
@derberg  sorry i missed this notification somehow. Ya its good we have custom options per template.

I had the idea to directly modify generator-templates.json and take both command and flags from JSON

For example
[code]

to
[code]

Tomorrow in case anyone have to do the addition, it can be directly added here itself, and also commands can be just fetched from here instead of manipulating from s

[2021-09-27 18:14] derberg commented on #312
just a comment that `command` will always be the same as `value`, so we do not need this duplication imho

[2021-09-27 18:20] iamVP7 commented on #312
Will check in my machine, and send PR tomorrow.

[2021-09-28 02:56] quetzalliwrites opened #387 "Blog post: share upcoming IA changes to docs site"
I'm writing a blog post to introduce myself to the AsyncAPI community and to share upcoming changes to the Information Architecture (IA) for the Docs site. The blog post will detail the new content buckets and why they matter. Will also ask the community to feel free to reach out directly for more doc suggestions.

[2021-09-28 04:00] AceTheCreator commented on #385
@KhudaDad414 That's a very lovely idea you've got there. IMHO I think this would make it really easy for new contributors to have a quick overview of what repo they can start contributing to, also based on the issue label.

[2021-09-28 04:03] AceTheCreator commented on #204
@derberg That definitely makes sense. I'll come up with something and share with you guys

[2021-09-28 04:04] AceTheCreator commented on #367
@derberg Thanks for the heads-up, I'll definitely follow your suggested approach

[2021-09-28 07:15] derberg commented on #385
It is also very important to have information on the difficulty level. Last year I interviewed every single person that contributed to the project through Hacktoberfest and they said that the best stuff was our single list [like this](https://docs.google.com/spreadsheets/d/17YYe-ZompcuUACfCGa8Pc3XunFfWRBrNllIBChJ0yWw/edit#gid=0) where they could not only see what language is involved but also diff

[2021-09-28 10:43] KhudaDad414 commented on #385
@AceTheCreator It was @fmvilas idea, but still, thank you. 😄

[2021-09-28 14:36] fmvilas commented on #385
Yeah, I think we can have it on the website. No "need" for a separate domain.

That would be sufficient for now, yeah. Maybe once a day and we can increase it if we think we need it. @KhudaDad414 if we end up doing it with this approach, you would not need to store information anywhere. Just a few API calls during the deployment to grab all the `good-first-issues`, hot issues, etc. No problem with

[2021-09-29 05:40] KhudaDad414 commented on #385
this is a great idea. IMO we should introduce extra tags for good-first issues like Lukasz said. e.g. language that is involved and the difficulty level.

[2021-09-29 06:35] derberg commented on #385
I'm always less optimistic here. Highly recommend doing a test from https://docs.github.com/en/graphql/overview/explorer with rate limit check to check a cost of such a call. We are doing a lot of calls to API already on PRs, and different workflows, like checking stale issues or other stuff. I recommend [this](https://www.youtube.com/watch?v=i5pIszu9MeM) presentation from Rea where she shares a h

[2021-09-29 09:27] KhudaDad414 commented on #385
@derberg @fmvilas
experimented with Graphql API and IMO we should go with a hybrid approach. for each feature, we can calculate the cost of the queries. if it's feasible to query at deploy time we can do that and if it is not feasible we can go with the data collection approach. I calculated the cost for the two main features and here is the result:
### Good First Issues
to query all of the good f

[2021-09-29 11:44] derberg commented on #385
so I guess that to not overcomplicate, we should just do data collection for both really, right?

[2021-09-30 09:06] boyney123 opened #392 "doc: new Ordering or Shopping AsyncAPI Tutorial"
#### Reason/Context

Going through the process at the moment gaining deeper knowledge on AsyncAPI, and I can see we have two main tutorials:

- [Streelights](https://www.asyncapi.com/docs/tutorials/streetlights)
- [Streetlights-interactive](https://www.asyncapi.com/docs/tutorials/streetlights-interactive)

I remember when learning Event-Driven Architectures over the past few years a fair few peopl

[2021-09-30 09:11] boyney123 commented on #94
I will see if I can add the star button from GitHub

[2021-10-01 09:43] boyney123 opened #396 "Octokit request being made on npm run dev giving errors in console on start (for dev)"
#### Describe the bug

If you check out `master` and then run `npm run dev` you will see the following:

![image](https://user-images.githubusercontent.com/3268013/135599551-eefc7623-c582-402b-8145-c6880bd87302.png)

I think this might be part of some other work going on at the moment, to pull down GitHub information for some of the pages.

Wonder if `node scripts/build-roadmap.js` should be part

[2021-10-01 09:44] boyney123 commented on #396
Hey @KhudaDad414,

Not sure if it is related to the work you are doing for the dashboard on the website? Unless I'm mistaken 😅

[2021-10-01 09:48] boyney123 opened #397 "Add a "Why AsyncAPI" section on the homepage"
#### Reason/Context

As a newcomer to the project, I think it might help people understand WHY AsyncAPI can help them?

I think NextJS do a great job at this:

![image](https://user-images.githubusercontent.com/3268013/135600374-b2fc4445-437b-4f47-b73a-76412a485f03.png)

It goes from Intro into Why NextJS.

Maybe we can steal some ideas here, and have our own Why AsyncAPI section after our main ca

[2021-10-01 10:25] boyney123 commented on #94
#94 was added into master 👍, shall we keep this issue open or close it for now? @derberg

[2021-10-01 11:00] KhudaDad414 commented on #396
@boyney123 I don't think so. I haven't made any commits and I am still waiting for my token with enough permission to start my work. So the destruction that I cause is still to come 😃

[2021-10-01 11:01] boyney123 commented on #396
Aha, OK cool! Yeah my bad, knew you were looking at some stuff around that area, will continue to look around :)

[2021-10-01 17:41] magicmatatjahu commented on #397
We should consider to rid of this animation

![image](https://user-images.githubusercontent.com/20404945/135663955-ab5756ee-a133-4d70-8335-e1ba28e8c2e4.png)

and change it to the list like from Next.js.

[2021-10-01 18:57] quetzalliwrites commented on #392
I will ask about this in my next 1:1 and see what @derberg thinks! 😀👍🏽

[2021-10-04 11:06] derberg commented on #397
@magicmatatjahu  yyy....why? 😄

@boyney123 you mean like highlight topics like, extensibility with extensions, protocol-agnostic with bindings, tools support - and all these things? I like the idea

[2021-10-04 11:09] derberg commented on #392
@alequetzalli no need to wait for 1:1. Let us discuss here so others can see too 😉

@boyney123 you're basically suggesting to have tutorials that are use-case-oriented, right? this makes sense but first we would need to have the AsyncAPI files used here, on the list of official examples in the `spec` repo?

[2021-10-04 11:11] derberg commented on #392
@alequetzalli it is like with the websocket use case I told you about, that I wrote a bunch of blog posts, there is also official example, now we need a set of docs for it, on a real use case I think, the Gemini WebSocket API, or some other API if we want, there are quite few out there

[2021-10-04 11:19] derberg commented on #94
Awesome 🚀
I think we can close for now, thanks!

[2021-10-04 11:19] #94 closed, assigned to nobody

[2021-10-04 11:22] magicmatatjahu commented on #397
@derberg The animation only tells the user that we have something like a playground and docs generator (but the user has to wait a few seconds for the animation to finish and display the link). I would prefer if the animation was changed to one of the tiles/blocks that would inform about our generator. The link to the playground is below the animation anyway.

[2021-10-04 11:32] derberg commented on #396
it is because you run without passing the token, token is needed if locally you wanna build roadmap view (that is fetched on build time from GH API)

[2021-10-04 13:24] boyney123 commented on #94
1% increase from implementation... this button can take all credit 🤣... probably not

[2021-10-04 15:21] derberg commented on #94
Let us see in a couple of weeks, or even months

[2021-10-04 22:54] farisei77 opened #401 "Z"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

#### Description
Please try answering few of those questions
- What changes have to be introduced?
- Will this be a breaking change?
- How could it be implemented/designed?

[2021-10-05 06:32] derberg commented on #401
looks like created by accident, closing

[2021-10-05 06:32] #401 closed, assigned to nobody

[2021-10-05 08:29] boyney123 commented on #397
Yeah for me it's kinda like "Why should I consider AsyncAPI", why as a engineer should I spend my time looking into it / spiking it.

I think it offers loads of value (Doc generation, Generator, Studio coming etc).

I think we should shout about the features and try and hook people into exploring it more.

I will create a merge request with some examples of what I vision, and see what you both thi

[2021-10-05 08:50] derberg commented on #7
@alequetzalli you might want to have it in documentation dashboard 😄

[2021-10-05 08:51] boyney123 commented on #392
Yeah, I think (from my point of view), something I can relate to more.

Like traffic light I understand and can relate fine, but I mean something more "day-to-day" I guess, like ecommerce etc.

When I was working in a product, I would probably search or expect something more those kinds of lines, something I could relate too abit more.

Also I'm going to spike out using https://github.com/code-hik

[2021-10-05 08:52] derberg commented on #61
I'm closing this one, stuff is organized now by @alequetzalli and we do not need a high-level epic like this one atm

[2021-10-05 08:52] #61 closed, assigned to nobody

[2021-10-05 09:12] derberg commented on #392
definitely. Good example of day-to-day activity (maybe not during pandemia 😆 ) is here -> https://github.com/amadeus4dev/amadeus-async-flight-status

I suggest that it goes in parallel to add it to `examples` in `spec` repo, so tutorial or a blog post is one, but also yamls in spec repo are important as people go there quite often

[2021-10-05 10:33] boyney123 commented on #397
Here is a quick mockup I done, ignore the details (text etc, some ux), but it's the general gist.

(Also I removed the banner for the conference for now, but that would be added back in).

What to you think @derberg @magicmatatjahu ?

I think it could help to make things a bit more clear in terms of core features etc.

![image](https://user-images.githubusercontent.com/3268013/136006993-cf6709f2-e

[2021-10-05 11:20] magicmatatjahu commented on #397
@boyney123 I like this :) I know that it's just a mock, but we should go with styling for blocks like in our blog post pages, with box-shadows etc, not copy the styling from NextJS site 😅

Also `AsyncAPI Specification` is redundant, so we could only write `Specification` in the first block's title. I think that in the first row we should focus only on spec and community related things, co `Specifi

[2021-10-05 11:41] magicmatatjahu commented on #397
PR will be better to discuss than issue :)

[2021-10-05 12:00] boyney123 commented on #397
Thanks @magicmatatjahu yeah will look at the styling for sure.

Yeah, I agree with you on the ordering of the blocks too, I would be more inclined to read/explore if I saw the companies using the tool were within scroll distance (at top).

Ok let me raise a PR and discuss from there and see what people think within a live demo environment, thanks!

[2021-10-05 13:50] boyney123 opened #403 "Add visual on the "generator" and maybe others...."
#### Reason/Context

When going to AsyncAPI.com/tools I can see some quick instructions on how to get started which is great, but I feel it would help me understand with some visuals.

To give you an example, the generator.

https://www.asyncapi.com/tools/generator

After talking to @jonaslagoni I know what the generator and templates do, but I feel if there was a simple cool looking diagram on th

[2021-10-05 22:30] quetzalliwrites commented on #7
@derberg done! Moved to Docs Board and triaged in To-Do column. 👩🏻‍💻

[2021-10-06 08:22] boyney123 commented on #382
Sounds like a great idea @iamVP7

[2021-10-06 09:11] boyney123 opened #405 "Adding a new contributing section onto the website"
#### Reason/Context
Please try answering a few of those questions

Feels like we have "How to contribute" and our guidelines all over GitHub, I wonder if it would help if we added a new "How to Contribute" under the `Community` section on the website?

Maybe a new page, or maybe just a link somewhere helping people step by step on how to get started, the landscape of the projects etc.

I think it

[2021-10-06 09:18] boyney123 commented on #396
Hmm yeah it's not a big issue I guess, will close this for now, it's not blocking anything.

[2021-10-06 09:18] #396 closed, assigned to nobody

[2021-10-06 09:22] derberg commented on #405
yes yes yes!

it is all about structure, how to structure it.

also, let us use Contributor-first meetings maybe to brainstorm.

I come from many backgrounds, one of these is Product Management, and I was thinking this could be done the same way you plan a product, you have user journeys, different personas in plan.

what if we structure it this way? @alequetzalli work on this section https://gith

[2021-10-06 09:31] boyney123 commented on #405
Exactly.

Yeah, that's a great idea. I'm happy to jump on the call next time. I will try and make this evening one, but not sure I can yet!

Yeah I quite like this, "How can I contribute as a ....", (Developer, Product owner, Business Analyst etc), might be interesting, as I assume we want to allow AsyncAPI to be built and developed by people from many backgrounds.

Yeah my initial thoughts maybe

[2021-10-06 09:44] boyney123 commented on #405
Another random idea, @derberg the [Google sheet with the issues you listed and shared](https://docs.google.com/spreadsheets/d/17YYe-ZompcuUACfCGa8Pc3XunFfWRBrNllIBChJ0yWw/edit) today.

Maybe we could have a new page on the website dedicated to Hacktober fest that can render these issues (pull them down and render them SSR or something).

[2021-10-06 14:10] #358 closed, assigned to nobody

[2021-10-06 14:53] boyney123 opened #408 "doc: Adding video to "Getting Started" section"
#### Reason/Context
Please try answering a few of those questions

I'm in the process of going through and learning as much as I can about AsyncAPI, through examples, spec, etc.

I just watched this video from @fmvilas https://www.youtube.com/watch?v=g2pqCIhXQ3k&t=2025s about `Zero to AsyncAPI` which was great, it has some good content in there for anyone that wants to learn.

Maybe we can embed a

[2021-10-06 20:31] quetzalliwrites opened #410 "docs: add headers and improve copy"
#### Reason/Context
- Headers across our Documentation could be improved
- Some sections need more concept details and deeper dives.

[2021-10-07 06:48] marioyeahs opened #411 "add: previous and next section buttons"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
because a previous section button is useful for users.
- How will this change help?
to quickly go previous side navigation section.
- What is the motivation?
follow some documentation formats.

#### Description
Please try answering few of those questions
- What changes have to be introduced?
add a butto

[2021-10-07 07:12] derberg commented on #411
@marioyeahs sounds interesting, could you create some simple mock that would present where would you see the button actually

we use Next.js so best would be `<a>` approach, so we get proper links in place during the build process

[2021-10-07 10:51] Relequestual opened #412 "Link to issues which form Roadmap page is wrong"
#### Describe the bug
On the roadmap page (https://www.asyncapi.com/roadmap) at the bottom there's an explanation that the list is linked to GitHub issues in the shape-up repo. The link uses a specific tag of "Key Results", but this no longer exists.

#### How to Reproduce
Click the link at the bottom of the page of https://www.asyncapi.com/roadmap

#### Expected behavior
I believe the link just n

[2021-10-07 16:36] marioyeahs commented on #411
@derberg I gladly do it
![Captura de Pantalla 2021-10-07 a la(s) 11 33 58](https://user-images.githubusercontent.com/68259360/136426854-25d0e6c0-8ff8-40a3-acf3-5c6bc8b28afa.png)
It is at the end of the page with an arrow icon

[2021-10-07 19:25] quetzalliwrites commented on #405
@derberg @boyney123 Oh hi 😸 ...agree, this seems like it's needed, especially from my own impression too! So cool you brought it up!
So on my end, what came to mind was adding a READme on the user journeys such as:
- How can I contribute as a Reviewer?
- How can I contribute as a Code Owner?
- How can I contribute as a speaker/blogger?
- How can I contribute as a Docs contributor?

Not sure if my

[2021-10-07 19:31] quetzalliwrites commented on #397
THIS is awesome! 🤩  I think David has a valuable idea here, I too think adding this section would help define the value proposition better and faster in our site.

[2021-10-08 05:29] aayushmau5 commented on #412
@derberg Let me know if that is the expected URL and I will make a quick fix PR :)

[2021-10-08 08:10] boyney123 commented on #405
Yeah I like it @alequetzalli, I'm going to throw up a new page in a PR with some titles and dummy content so we can get a feel for what it would look like and maybe take it from there, shouldn't take me too long 👍

Edit: I made a PR with a quick link https://github.com/asyncapi/website/pull/415, let me know your thoughts :)

[2021-10-08 08:45] derberg commented on #412
@aayushmau5 I don't know 😆 can you try to dit it out from the website code that fetches issues for the roadmap? I guess in GH API call the label name is probably mentioned 🤞🏼

[2021-10-08 09:21] boyney123 opened #417 "Broken image on old blog post"
#### Describe the bug

If you go to the blogs page you will see a blog post on there with a broken image

![image](https://user-images.githubusercontent.com/3268013/136531715-9847bdf1-816e-4d2f-bd09-ec4f3414f76f.png)

Link to the blog: https://www.asyncapi.com/blog/hacktoberfest-summary-2020

A nice small issue for someone to fix.

[2021-10-08 09:25] boyney123 opened #418 "Learning AsyncAPI - From the Ground Up"
## Post title

Learning AsyncAPI - From the Ground up

_Something like this_

## Post description

I recently joined the AsyncAPI team 🎉, and have been collecting notes, learning stuff (from tutorials and videos and speaking to people) and maybe I can give something back here to the community.

The blog post could include the following:

- What is AsyncAPI
- They key to understand your document
-

[2021-10-08 09:32] DarkSoul26 commented on #417
May I try this @boyney123?

[2021-10-08 09:33] boyney123 commented on #417
Go for it @DarkSoul26 🙏

[2021-10-08 09:48] aayushmau5 commented on #412
@derberg Looks like the desired label should be `Outcome` just as the issue stated.
![image](https://user-images.githubusercontent.com/54525741/136535665-a857b12d-8cc6-456a-9f19-f9713bcad97b.png)

[2021-10-08 10:44] #417 closed, assigned to nobody

[2021-10-08 13:01] Relequestual commented on #307
Debatable. If it is simple to do, then yes.
We currently won't get any benefit from the fixes and new features you add.
I appreciate it may not be simple to do.

I would likely suggest changes back that I've made, and there are a few 😅

[2021-10-08 13:39] magicmatatjahu commented on #307
If you wanna contribute, feel free :)

[2021-10-10 04:42] ap211unitech commented on #371
Is this issue still open ? I would like to work on it.

[2021-10-11 10:12] magicmatatjahu commented on #412
Fixed by #422

[2021-10-11 10:12] #412 closed, assigned to nobody

[2021-10-11 10:13] magicmatatjahu commented on #371
@theprojectcode Are you working on this task because we have another person @ap211unitech who would like to work on it? :)

[2021-10-11 11:48] OrlundoHubbard commented on #371
You can assign it to them. Sorry, I got really busy. In the future, I'll choose a new task. @magicmatatjahu

[2021-10-11 11:49] magicmatatjahu commented on #371
@ap211unitech Do you wanna handle task, because you can? :)

[2021-10-11 11:51] ap211unitech commented on #371
Yes....I wanna work on it

[2021-10-11 12:43] magicmatatjahu commented on #371
@ap211unitech If you have problems let us know. In the comments above it says what you need to do :)

[2021-10-11 13:58] ap211unitech commented on #371
@magicmatatjahu I have clone it locally, I want to test /jobs, so i changed the date of "pages/jobs/apiture-api-architect.md", but it is not reflecting on /jobs url . Please help

[2021-10-11 14:30] magicmatatjahu commented on #371
@ap211unitech Did you rerun `npm start dev` to build from scratch data for `/jobs` page? And also, the job must be dated later than the current date in order to appear.

[2021-10-12 05:45] ap211unitech commented on #371
@magicmatatjahu  On running <code>npm start dev</code> , an error is occuring <code>Error: Could not find a valid build in the 'E:\FIRST OPEN SOURCE\website\dev\.next' directory! Try building your app with 'next build' before starting the server.</code>.

Also, When I used <code>npm run dev</code> (which is for starting server), One more error is occuring <code>RequestError [HttpError]: Bad creden

[2021-10-12 08:14] magicmatatjahu commented on #371
@ap211unitech

Don't worry about it.

It looks more to me that you are trying to run `npm run start` and not `npm run dev`. Try deleting the `.next` and `node_modules` folders and reinstalling and running the command. If you were able to run the website the first time, you should be able to run it again :)

[2021-10-12 10:17] smoya opened #425 "Add an AsyncAPI poster showing all features at a glance"
#### Reason/Context

I noticed people from serverlessworkflow.io have a poster image where they show all their features at a glance.
It seems like a cheat sheet but it's more like a "here is all you can do". See https://serverlessworkflow.io/img/sw-poster.png.

I believe creating one for AsyncAPI will help potential users to quickly see and show all the things AsyncAPI can do for them, meaning ado

[2021-10-12 11:20] derberg commented on #418
go for it 🚀

[2021-10-12 12:07] derberg commented on #405
There are different preferences, some people prefer to interact through chat, some are open and do not mind discussing stuff publicly with shared video and audio. I think we need to approach different people with different preferences. First `Contributor First` meeting was like SIG, now I do stream with option for folks to join me if they want. So far it works fine. Also keep in mind this is still

[2021-10-12 12:12] derberg commented on #411
lgtm

now we just need to figure out how would it work technically:
- "automated" - means, we compare [`weight` medatada](https://raw.githubusercontent.com/asyncapi/website/master/pages/docs/getting-started/security.md) of the document with other docs and this is how we calculate previous article
- "manually" - it means we have new metadata on the document, like `previous` where we manually specif

[2021-10-12 15:08] ap211unitech commented on #371
@magicmatatjahu Still, I am not getting any jobs on /jobs. I am changing apiture-api-architect.md dates in order to display it on /jobs for testing. But , I am not able to display it. Please help. Till Now , I have just made a button for displaying previous jobs.

[2021-10-12 16:52] jonaslagoni opened #428 "Watch previous recordings has wrong link"
#### Describe the bug
The "Watch previous recordings" goes to https://groups.google.com/forum/#!forum/asyncapi-users when I think it should go to the youtube page - https://www.youtube.com/watch?v=8ddwX0CyUeE&list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS

![billede](https://user-images.githubusercontent.com/13396189/136997355-2e610515-d240-4664-91de-ed87f42fe043.png)

[2021-10-12 16:56] jonaslagoni opened #429 "Show all upcoming community events"
#### Reason/Context
At the moment, only the SIG meetings are visual on the website, but should it not be all upcoming community events from the calendar? 🤔

![billede](https://user-images.githubusercontent.com/13396189/136997821-ea4386de-540c-402b-87b5-b01761247065.png)

[2021-10-12 17:13] derberg commented on #428
how about https://www.youtube.com/playlist?list=PLbi1gRlP7pijUwZJErzyYf_Rc-PWu4lXS ?

[2021-10-12 17:15] derberg commented on #429
yup, I don't think this data is taken from calendar, might be it is a semi hardcoded 🤔

[2021-10-12 20:02] tamboliasir1 commented on #428
Can I work on this? If yes please assign the issue to me.

[2021-10-12 20:34] quetzalliwrites commented on #411
¡Hola @marioyeahs! Thank you for the submission 🤩

@derberg @marioyeahs, I agree with Lukasz. We should **(a)** support both `automated` and `manual` metadata updates here; and **(b)** We will need both `Previous` and `Next` buttons. 🙂👍🏽

[2021-10-12 22:00] quetzalliwrites commented on #425
I love this idea and I am excited to see what others think this poster should include.

[2021-10-13 01:41] marioyeahs commented on #411
@derberg @alequetzalli both buttons are a great idea. May I work on this buttons? With manual and automated metadata

[2021-10-13 06:33] derberg commented on #428
@tamboliasir1 sorry but I see somebody just create a PR -> https://github.com/asyncapi/website/pull/430

[2021-10-13 06:35] #428 closed, assigned to nobody

[2021-10-13 06:50] derberg commented on #411
go ahead, and let us know when you are stuck and need help!

[2021-10-13 09:17] derberg commented on #425
for me these are always like a good cheat sheet, so highlighting all features:
- bindings aka protocol agnostic
- different payload schemas support (no need for json schema, you can use avro)
- JSON $ref feature for reusability
- Traits
- example of usage with CloudEvents?
- why not example of usage with SererlessWorkflow?

and also:
- community channels where people can enage
- some cool core too

[2021-10-13 09:42] boyney123 opened #431 "Technical Steering Committee - Add link + more info when clicking "Become a maintainer!""
#### Reason/Context

Just a minor improvement,but maybe when the user clicks on this square that says "Become a maintainer" it can show some extra info on how to become a member? I know there is some small copy at the top, but wondered if some copy could also be added to this square.

![image](https://user-images.githubusercontent.com/3268013/137107128-a27ebd0f-fcfa-4b65-b14b-3707361ed5d2.png)

I

[2021-10-13 09:52] tamboliasir1 commented on #428
Sure no problem @derberg

[2021-10-13 10:04] derberg commented on #431
The problem is that we do not have a place where to link except the text at the top of the same page. This is something we are clarifying ATM, and in the future (next month) we can link to my Contributor Summit presentation about the journey to become TSC member.

[2021-10-13 10:23] boyney123 commented on #425
Yeah think the idea is great.

Think we might also want to include the basics, or have two files maybe?

Things I would like to see (if never seen AsyncAPI):

- Operations
- Channels
- Event examples
- Application info
- etc

Maybe an intro into AsyncAPI cheatsheet too?

[2021-10-13 13:15] boyney123 opened #432 "Add event tracking to website so we can understand user behaviour"
#### Reason/Context

This follows conversations from #406.

Issue #406 talks about adding new sections and moving things around, but we want to understand how users are using our website at the moment before we make any big decisions.

@derberg Following converation from the other issue, what kind of things do we want to track?

Here are my thoughts so far...

- How many people drop off
- What thi

[2021-10-13 15:10] derberg commented on #429
@jonaslagoni just checked, we just have some magic there in the code to generate "fake" calendar items. It was done this was as when the website was created we had just one type of event. Now I think we need to change that.

Whoever can pick up this one, there is a nice react component that we can incorporate https://www.npmjs.com/package/react-google-calendar-api that works with Google Calendar A

[2021-10-13 20:58] quetzalliwrites commented on #431
I am confused about what link @boyney123 is referring to 🧐 , but don't we already cover how to be a member in this new landing page that is now LIVE? https://www.asyncapi.com/community/tsc

[2021-10-14 06:20] derberg commented on #431
@alequetzalli this is exactly where the icon is located. Scroll to the bottom of https://www.asyncapi.com/community/tsc

[2021-10-14 06:42] derberg commented on #432
this is something we can get now from Google Analytics. with 95k unique visits this year we had 56% bounce rate (people quit after a less than a sec) and 53% exit (so people stop playing with website on landing page). Not sure what should be the target, but looking on `docs` path where exit rate is 27% I bet we can do better on landing page too. Average time on a page is 2.04min

these are custom

[2021-10-14 06:43] derberg commented on #432
yeah, looks like we can click it through https://easyreporting.io/how-to-track-button-clicks-in-google-analytics-4/

[2021-10-14 08:03] KhudaDad414 commented on #385
### Update:
The data collection part is done (maybe). you can play around with it [here](https://github.com/asyncapi/temp-repo-test-for-website) and see the collected data [Here](https://github.com/orgs/asyncapi/projects/4) and [Here](https://github.com/orgs/asyncapi/projects/9).
#### An small issue with hot Issues/PRs:
Something that I haven't anticipated is that we can't trigger GitHub Actions b

[2021-10-14 11:42] quetzalliwrites commented on #431
I think my first thought was to put the same copy into that card, but it prob makes more sense to wait and see where we think this should link to 🤔

[2021-10-14 12:18] derberg commented on #385
I see [this](https://github.com/orgs/asyncapi/projects/4) but no labels [here](https://github.com/asyncapi/parser-js/issues/157) that would indicate code or complexity. I guess I need to look somewhere else, right? or was it manually added?

Nevertheless, it looks neat! For sure we need to clearly document what is the calculation algorithm behind Hot Issues and PRs

Actually, I think it better if

[2021-10-14 12:52] boyney123 commented on #431
OK, shall we keep this open until then or raise a new one in the future? I'm happy to close this one if we want to review in the future?

[2021-10-14 13:27] derberg commented on #431
up to you imho

[2021-10-14 16:35] KhudaDad414 commented on #385
I added them manually in [this repo](https://github.com/asyncapi/temp-repo-test-for-website).

Well, IMO we can use the Hacker News algorithm (It's simple and sweet 🍬 ).
`p / (t + 2)^1.8`
p = comments + reactions + reviews ...
t = age of issue (Hacker News puts the hours here, maybe we can go by day?)

Since we have around 600 issues and PRs open right now, it would cost around 1800 points to refr

[2021-10-15 07:45] boyney123 commented on #431
Yeah will close for now

[2021-10-15 07:45] #431 closed, assigned to nobody

[2021-10-15 08:49] derberg commented on #429
an easier and alternative solution to consider, we create meeting issues in community repo, so this info can be also pulled from there from GitHub

[2021-10-15 10:00] derberg commented on #385
I'm not sure we should take age into account, HackerNews has a different scope, age plays an important role there, but here, where things are always super slow in open source, I think age should probably be ignored. Maybe we need a label that we can set on issue or PR to ignore it for HOT calculation? not sure

[2021-10-15 10:22] KhudaDad414 commented on #385
@derberg I see your point there. But if we take out the age factor then "hot" has no meaning here. maybe we can call them "All-time popular open Issues/PR" or something like that. The idea behind hot issues/PRs is that we should be able to see where the community is focused right now or what is "hot" in the whole community. Hacker News posts age every hour, issues can age every day, every week, or

[2021-10-15 10:46] derberg commented on #385
you have a valid point mate. Maybe let us have a look at some examples, and the best is https://github.com/asyncapi/spec/issues/618

- do we count age from issue creation or last comment?
- month should be good but only from last comment I think

[2021-10-21 16:53] mcturco commented on #432
Hi guys! Would love to get some analytics things set up on the website so that I can help suggest new design changes/improvements. It's great that we have GA and GTM set up on the website already! I agree that we don't have to go overboard with setting up event tracking, but I think that having the main events tracked would be great (events tied to button clicks, form submissions, etc.)

I think w

[2021-10-21 17:02] quetzalliwrites commented on #432
So this is how I finally get the GitHub handle of ￼@mcturco 🙊🧁

[2021-10-28 16:45] mcturco commented on #385
This is a great idea @derberg, and forgive me if I missed it while reading through all your comments above, but is there a way for us to rate an issue within github? I'm actually wondering if we can label the issues with a prefix of some sort and then pull that in as a filter somehow. Unless there already is an option for this in GH and I am just not aware of it!

[2021-10-28 16:52] mcturco commented on #385
In addition, @KhudaDad414 reached out to me to put together a design for this. I initially put together a low-fidelity wireframe so we can work out the functionality together without any aesthetic distractions.

Here is a baseline wireframe, and if we see more opportunities to add options/filters I am open to suggestions! And depending if it is possible, would love to work in the "difficulty" attr

[2021-10-28 17:31] KhudaDad414 commented on #385
@mcturco Loved the design. ❤️ just a few things that I think needs addressing.
1) about the difficulty level, I don't think there is a way to do it so we just agreed to use a variation of these labels `complexity/easy` `complexity/medium` and `complexity/high`.
2) About the filters, should we be able to filter the `Hot issues` by any metrics? currently, I am just taking the top 10 and showing them

[2021-10-28 18:36] mcturco commented on #385
@KhudaDad414 thank you for the feedback! Read my responses below:

Okay! I am wondering if we can then use those tags and string replace the `complexity/` part out and use these as filters in the design? Just a suggestion to make it easier for the user to find the issue they want to work on from the dashboard. But let me know if that's not possible!

I think the `Hot issues/PRs` (or whatever we de

[2021-10-28 19:09] mcturco commented on #385
Some more thoughts...

1. Would `Good First Issues` ONLY include issues? No pull requests right? And would we list that `Good First Issue` here if there is already a PR attached to it? I think no, because the purpose for `Good First Issues` would be to get people to contribute to issues that we need help with, right?
2. Would someone looking for a `Good First Issue` want to filter them by the hard

[2021-10-29 06:05] KhudaDad414 commented on #385
@mcturco

Agreed. since it is not real-time then the `Last activity` can be omitted.

Yes, only issues.

Good First Issues would be to get people to contribute to issues that we need help with, right?

Yes, exactly. I think we can include the `is assigned` field.

the design?

Definitely, I am currently doing this on the draft.

I think both works. `Hot` or `Hot topics`. as the saying goes "I have

[2021-11-01 06:39] KhudaDad414 commented on #429
I can pick this one up. I will use the community repo issues, keep the current design just linking each item to its issue, any suggestions?

[2021-11-02 10:32] derberg commented on #385
maybe we should just have `1-5`, like `complexity/1`? any word we pick can cause confusion `trivial` might be depressing for folks that have problems with doing the task and therefore think that can't even handle something that is `trivial`. Numbers seem pretty neutral, and for us advantage is that they are easy to remember

[2021-11-02 14:26] derberg commented on #432
@mcturco I just played a bit with our current setup of Google Tag and asked @boyney123 to add custom `id` to at least every link on the new `Why AsyncAPI?` section -> https://github.com/asyncapi/website/pull/406#issuecomment-957686191

Once done, I will setup new tags and we will be able to see overtime how they are performing and what it means

![](https://upload.wikimedia.org/wikipedia/en/3/38/S

[2021-11-02 14:27] mcturco commented on #385
@derberg that is a great idea! Do you think a scale of 1-5 is too complex (no pun intended) or should we go with 1-3? That way we can associate the numbers with `easy` `medium` `hard` without labelling it as such

[2021-11-02 14:28] derberg commented on #385
@mcturco yup, I agree `1-3` seems really enough

[2021-11-02 14:37] boyney123 opened #449 "Add CLI as a tool on our website"
#### Reason/Context

We have the [CLI tool](https://github.com/asyncapi/cli) that I believe we should add to our tooling on the website in it's own section.

### Why we need this improvement?

So people can get exposure to the CLI and start playing around with it.

[2021-11-02 23:32] quetzalliwrites opened #453 "Create Docs feedback card"
#### Reason/Context
We should add a *Feedback card* that can be added to individual Doc pages, so that we may retrieve both anonymous feedback and public feedback injected into GH Doc template issues. We need this specific and granular feedback to make sure we listen and make changes according to what the community requests from Docs.

Below is an example from Gitpod and how they handled this for

[2021-11-03 03:00] quetzalliwrites commented on #449
+1 😀👍🏽

[2021-11-03 03:21] quetzalliwrites commented on #453
Tagging @mikenikles just in case he has wisdom he'd like to share 😀👍🏽

[2021-11-03 03:49] mikenikles commented on #453
I can highly recommend this. At Gitpod, we've gathered hundreds of individual feedback that has helped improve the docs over the last three months.

We persist the data in a spreadsheet so that we can further process it. For example, group by URL, average feedback score per week, score trends, etc. If you end up with a spreadsheet, do let me know and I can share the formulas.

[2021-11-03 09:35] boyney123 commented on #453
Yeah I like the idea @alequetzalli.

So to verify will this be a link or a button on every doc page where users can leave feedback right?

So a link would go to a GitHub issue? Do you have a link to the issue we could use?

[2021-11-03 14:24] derberg commented on #432
Ok, so event tags for every single link in the `Why AsyncAPI` added, we can check in a month how they perform compared to buttons from and above the animation and try to figure out if we should switch the order and then measure again.

We also measure `Open Studio` button that is always visible and `Open in Studio` button that shows up after animation. This way we can see how many people actually

[2021-11-03 15:29] mcturco commented on #453
This is a great idea! I am wondering if we even need to collect the feedback in a Google spreadsheet? What if we just send each feedback form submission into GH directly as an issue using the API endpoints?

[2021-11-03 15:38] quetzalliwrites commented on #453
Good question, @mcturco! The reason why is because we need to be able to collect both anonymous and public feedback. As I mentioned in the issue not everyone will have a GitHub handle and not everyone will want to provide public feedback. This is why the second feature to add to this would entail the ability to collect anonymous feedback that is injected into a Google spreadsheet. 📈📉

[2021-11-03 16:31] mikenikles commented on #453
FYI, to create GitHub issues, I learned URL query parameters are all that's needed, no API required.

See https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-url-query.

[2021-11-03 18:45] quetzalliwrites commented on #453
Correct, @boyney123, these feedback sections belong on every doc page.  In fact, I am sure you are used to seeing them in dev docs but perhaps you tuned them out. I know I have :D

Correct, it would open a new GH issue, and it would be a templated one for Docs.

I just [created this template and set up a PR ](https://github.com/asyncapi/.github/pull/100)for it to get reviewed. Then we could use th

[2021-11-03 20:21] mcturco commented on #453
@alequetzalli oops! Must have missed that on the first read of this issue. Hmmm so would we want people to submit issues at all then? Maybe all of the responses get added into a spreadsheet and then mods add these issues into GH? Just for consistency, and I think it would be better than sending users off of the docs website if they just want to give some quick feedback. We have to always think of

[2021-11-03 21:44] quetzalliwrites commented on #453
@mcturco No, it's not about a lack of consistency, it's about having both options I think? 😀👍🏽

🤔 hmm...
We also want the option to open a direct GH template issue because that will help people who are ready to do that and don't mind public feedback 🥸.  Also, they may even use the issue to start their contribution vs only stop at giving feedback, which is why I want people to have the ability to c

[2021-11-04 11:19] dedoussis commented on #360
Both blog posts have been published. Thanks a lot for your help @derberg and @alequetzalli!

[2021-11-04 11:19] #360 closed, assigned to nobody

[2021-11-05 05:46] AceTheCreator commented on #204
@mcturco I would really love and appreciate it if you could help develop some design for this issue. and probably use https://www.apitracker.io/specifications as a reference to what we're trying to achieve. Or @derberg what do you think? Don't blame me for being suck at design 🙂

[2021-11-08 16:15] mcturco commented on #385
@KhudaDad414 @derberg Okay so taking into account the discussions we had about the dashboard and how we need it to function, I am proposing this layout/functionality that you can see in this low-fidelity prototype: https://www.figma.com/proto/WKOxyb4VQ9D1QcRd7y7OfU/Wireframes?page-id=1%3A17&node-id=43%3A165&viewport=241%2C48%2C0.4&scaling=min-zoom&starting-point-node-id=43%3A165&show-proto-sidebar

[2021-11-08 16:55] mcturco commented on #204
Hi @AceTheCreator! Saw your comment last week but just now finished reading through the history of this issue. I would love to help out with this! Just to confirm that I understand the goals:

- We basically want to render this chart: https://www.apitracker.io/specifications/asyncapi on a new page on the website matching the AsyncAPI style & have `powered by [apitracker logo]` near it
- Then, we w

[2021-11-08 17:04] boyney123 commented on #453
Was just on Netlify docs and found this, https://docs.netlify.com/cli/get-started/

Not sure if it helps but thought I would mention in the thread for inspiration etc.

![image](https://user-images.githubusercontent.com/3268013/140785967-0a9f6dcc-e12e-40ea-adc3-b4feb7455ba4.png)

[2021-11-08 18:01] doc-jones commented on #385
Two things occurred to me after first looking at the prototype and then reading your description.

1. I wrongly thought that `Hot Topics` referred to the most popular issues, rather than, the newest.  Perhaps it would be more intuitive to say that these are the `Most Recent Issues` ?
2. Would it be possible to allow people to select a tag for display?  You might highlight `good-first-issue` as an

[2021-11-08 18:37] quetzalliwrites commented on #453
Oh nice, thank you for sharing more ideas @boyney123! ✨❤️✨

I agree that something like that is what we need! (Altho just mentioning that offline, Lukasz and I happened to chat about how we don't think those up/down arrows are that useful/needed for feedback cards. Has anyone else felt the same?) BUT, The rest on what this example Feedback card shows is def similar idea of what I think we would wa

[2021-11-08 19:14] mcturco commented on #385
Thank you for your feedback, @doc-jones !

I think I was trying to figure out how the "algorithm" for that column would be. I agree that it should be the most popular, but I guess I was trying to think of how we can make sure that issues don't go stale. Maybe it could be sorted by amount of actions (comments, mentions, etc)? Just wondering how that would actually look when in the application. Some

[2021-11-08 23:14] doc-jones commented on #385
@mcturco I'm not advocating for one approach or the other when considering what should be displayed under `Hot Topics`. My only point was the the label lead me to think it was something that it wasn't.  I'm not sure that most recent isn't the more valuable.  I haven't thought through that part or looked into the goal enough to know.

When I saw the list separated by tag, I thought, Hey! that's rea

[2021-11-09 05:40] KhudaDad414 commented on #385
@mcturco @doc-jones For `Hot Topics` algorithm, Lukasz and I discussed it [here](https://github.com/asyncapi/website/issues/385#issuecomment-943526353). It would be great to have your input on that.

[2021-11-09 16:21] mcturco commented on #432
@derberg Great, thank you for doing that! Is it possible for me to get access to the Google Analytics account so I can see the statistics overtime?

[2021-11-09 19:43] derberg commented on #432
definitely, it is a public project, so no matter if you are from the same company that I am or not, you should have access. Just DM me your email that works with Google and I will send you an invite @mcturco

[2021-11-09 19:52] jonaslagoni commented on #432
Is there any way we can make this more public, so people don't need to send you their email and know that is a possibility? 🤔

[2021-11-10 07:47] derberg commented on #432
@jonaslagoni you mean like with google docs that you can access stuff publicly, anyone? 🤷🏼 no idea, but you can try out with `google` 😄

So far @mcturco is the only one that explicitly asked for access, except for @Relequestual that did it a few weeks ago. I talked about it openly in slack, nobody else showed interest to get access, so yeah, for me it is a clear signal that even though it would be

[2021-11-10 08:09] AceTheCreator commented on #204
@mcturco you're absolutely correct!

[2021-11-10 22:04] quetzalliwrites opened #459 "Docs URLs cleanup & redirects"
## Reason/Context
There are 2 main URL changes this issue will cover:

**(1)**
The current Docs URLs are going to be updated to match the upcoming Information Architecture (IA) changes coming to our Docs, as mentioned in issue https://github.com/asyncapi/website/issues/350.

The **new** content buckets for our Docs will be the following:
- Concepts
- Tutorials
- How-To Guides
- Tools
- Reference

[2021-11-11 11:38] boyney123 commented on #459
Thank you @alequetzalli for explaining it, helped me understand the direction where we are heading 🙇  ⭐

I know we have other feature requests for things like feedback (#453), and working with the docs there might be easier platforms for us to use vs porting over what we have....

I wonder if it's a good time to review the docs solution (code) and maybe make some suggestions for improvement / rewr

[2021-11-11 12:51] quetzalliwrites commented on #459
So we don't need to review or change the codebase to make this change… That said if you would like to volunteer to give the code a refresh I guess that would be awesome! ￼:D

@boyney123 ￼ I don't think we should be making too many changes though and new content buckets have a higher priority at this point.￼

[2021-11-15 08:56] derberg commented on #385
@doc-jones

could you share what would be the added value for you? `Good first issues` has a use case that it is for first-time contributors that do not want to jump to each repo one by one to figure out where such issues are located. How about `bug` or `enhancement`? They usually require more work and therefore the use case a see is that you look for them only for specific repo and not entire org

[2021-11-19 12:32] smoya opened #468 "Menu dropdown is rendered behind the code snippet"
#### Describe the bug
Community dropdown menu appears behind the code snippet.

#### How to Reproduce
Just navigate to https://www.asyncapi.com/ and click on "Community" dropdown.

![Community dropdown menu appears behind the code snippet](https://user-images.githubusercontent.com/1083296/142623170-fd4b1f26-a4d0-45f8-a8e8-fd17bdab2f72.png)

#### Expected behavior
Menu should be always on top.

[2021-11-19 15:14] #468 closed, assigned to nobody

[2021-11-22 15:04] sambhavsaxena commented on #367
@derberg How about using an accordion for summarized release notes of every version like so:
https://react-bootstrap.netlify.app/components/accordion/#accordion

 and a link to detailed release notes at the footer of this accordion?

[2021-11-22 18:49] fmvilas opened #471 "Remove period from headline"
Can we get rid of the period at the end of [the headline](https://www.asyncapi.com)?

![Captura de pantalla 2021-11-22 a las 19 46 25](https://user-images.githubusercontent.com/242119/142917980-f48f6494-e168-4e9b-a4e2-9b4ee6663545.png)

Looks weird IMHO. What do you think?

[2021-11-23 12:05] derberg commented on #367
@sambhavsaxena the problem is we do not have such "summarized" release notes, only full release notes

[2021-11-23 12:10] derberg commented on #471
go ahead 😄

[2021-11-24 13:50] derberg commented on #459
I still have some doubts about `docs.asyncapi.com`. I know many companies do it, but working for one big tech on different projects I know that at least for my old company the only reason was `Conway's law`. This was always under a different subdomain because it was always a bit different from UI style point of view, mainly because completely different tools were used and (Conway's law reference)

[2021-11-25 07:45] #312 closed, assigned to nobody

[2021-11-25 10:24] iamVP7 commented on #471
![image](https://user-images.githubusercontent.com/3106852/143424143-c9b0461a-63b7-4f9d-9446-e48e7af36825.png)

`Find the latest and greatest stories from our community.`  should this also be removed. Isn't it 2nd level heading ? :thinking:

[2021-11-29 17:52] fmvilas commented on #471
Agree @iamVP7

[2021-11-30 04:02] quetzalliwrites commented on #387
PR ready:
https://github.com/asyncapi/website/pull/475

[2021-11-30 13:55] sambhavsaxena opened #478 "Pages written in MDX are not rendered on Windows build"
Reason/Context:

While getting started, I initially installed the NPM packages on a Windows machine exactly the way everyone is supposed to. But turns out, there are some conflicts with the directory routing when using windows, while it works perfectly on Mac and Linux.
There are no relevant errors either in the editor console, or on the browser console. While redirecting to a page written in mark

[2021-11-30 14:27] derberg commented on #478
Thanks for reporting it. Would you mind trying some workarounds from this issue https://github.com/vercel/next.js/issues/10061

[2021-11-30 14:45] sambhavsaxena commented on #478
I'll have a look

[2021-12-01 01:04] quetzalliwrites commented on #408
One important thing to highlight is that should we add at some point a video to a page as important as the intro section on the Docs, I don't want us to simply add a video w/ only white dudes. 🙂❤️ (Sorry, this includes you too @derberg 😂😀)

In addition, the intro section of a Docs page isn't really where I would add a video.

That said, I think that this issue and some other items floating around

[2021-12-01 12:09] derberg commented on #408
This doesn't make much sense. Do you really mean that? Do you mean white dudes are bad at explaining technical topics? 😄

Dave proposed this video not to promote white dudes or postman. Dave proposed this video as it is the best we have so far that we can share with anyone as an alternative to `text`. Do you have a better video that we can put there with a woman in it?

Then where would you add it

[2021-12-02 11:08] derberg opened #481 "TSC list should be in alphabetical order"
[this](https://www.asyncapi.com/community/tsc) list is generated from data provided in `TSC_MEMBERS.json` file. Please are added to this file always at the end of the list, no specific order.

- when we read `TSC_MEMBERS.json` we should order the list in alphabetical order
- under `Current TSC members` heading we should have a clear statement like `in alphabetical order` but will smaller font (I s

[2021-12-02 16:29] #481 closed, assigned to nobody

[2021-12-02 17:44] sambhavsaxena commented on #471
@fmvilas @derberg  i have a branch ready, should i open up a PR?

[2021-12-02 17:45] derberg commented on #471
@sambhavsaxena go ahead, I don't think anyone is working on it, and we have a pretty good consensus here that this should be done

[2021-12-06 08:59] #471 closed, assigned to nobody

[2021-12-06 09:10] boyney123 commented on #367
Just putting this here, not sure if it can help or not, but Codesandbox open-sourced a nice component that can help with docs.

https://codesandbox.io/post/sandpack-announcement

[2021-12-06 09:13] #298 closed, assigned to nobody

[2021-12-07 01:06] quetzalliwrites commented on #459
I can see why the assumption would be that the only reason some Orgs take this route is Conway's Law! On my end, I have worked w/ teams and OSS communities that opted for maintaining a `Docs` subdomain. It's not just something you come across in Product centric orgs, but I understand why that is certainly the perception.

Let me show you thriving OSS communities that have opted for using a Docs su

[2021-12-07 12:23] Barbanio commented on #195
@all-contributors please add @Barbanio for idea

[2021-12-07 16:40] hkaur008 commented on #195
@all-contributors please add @hkaur008 for code

[2021-12-09 14:01] KhudaDad414 commented on #385
@mcturco what do you think we move forward to the next step on this issue? After receiving the design I can open a PR then we can refine things there maybe?

[2021-12-10 01:25] quetzalliwrites opened #503 "docs: design new docs overview homepage"
## Proposal
This issue stems from the earlier proposal already underway of changing the Information Architecture (IA) of our Docs, as filed in https://github.com/asyncapi/website/issues/350. These IA changes imply a gradual rollout of changes to the main website's navigation items related to Docs, complete content overhaul/repurposing of the current Docs, and UI design improvements for these chang

[2021-12-10 14:30] mcturco commented on #503
I think this is a great idea! Just to confirm, you are talking about adding a page to replace [this one](https://www.asyncapi.com/docs/getting-started) or to be added above it/before it? I think that this page does give a good introduction but is very wordy, so I would love to use your new proposed template to come up with some ideas.

Love the examples! I think the Gatsby one is nice, but we coul

[2021-12-13 08:32] #387 closed, assigned to quetzalliwrites

[2021-12-13 10:45] derberg opened #506 "Should we ignore old spec versions with robot.txt ?"
#### Reason/Context

This is a Google Search Console summary for November:

![Screenshot 2021-12-13 at 11 34 17](https://user-images.githubusercontent.com/6995927/145796887-259f80fa-0fd8-4843-915e-cb5700987f9c.png)

So https://www.asyncapi.com/docs/specifications/v2.0.0 is top-performing which is not the best, it should be either https://www.asyncapi.com/docs/specifications/latest or https://www.a

[2021-12-13 15:59] derberg commented on #459
I do like that in the case of Django it is almost 99% smooth and you might not notice a new subdomain.

As for some examples:
- I still think they do it because of technical limits or conway's law:
  - RedHat that backs Ansible is corpo
  - Docker is not community-led, corpo acquired by another corpo
  - Flutter is Google
  - Django does it this way as docs are handled by another tool (Sfinks) tha

[2021-12-13 17:02] fmvilas commented on #459
I have no strong opinions on this. Another good thing is that we can get rid of docs from the website repo and move them to their own repo. This will make the website repo smaller and that's a good thing. However, it will increase the logistics as then we'll have two different repos and would probably need to share some UI components.

My gut feeling says: if the benefit is really strong, go ahead

[2021-12-13 17:31] magicmatatjahu commented on #459
Like Fran, I don't have a specific opinion, but if we decided to have two projects, we don't need to have two separate repps with some library for UI, because we can always have one project (not monorepo) and render given pages using a flag during the build, so the contributors would focus on the general appearance and then the script would generate given paths for a given version of the page - do

[2021-12-14 00:36] quetzalliwrites commented on #459
So far, not heard anyone specifically vote **for** it, which makes me want to leave as is. I am not hearing a collective voice strong enough across the community to merit the move for a docs subdomain.

If this stays this way, I see no reason to continue to campaign a docs subdomain. Unless the community comments more votes for this change, I will simply be moving forward with the idea of leaving

[2021-12-14 06:07] KhudaDad414 commented on #429
Is this issue still relevant?

[2021-12-14 07:44] derberg commented on #429
yeah, I think so 👍🏼 thanks!

[2021-12-14 07:44] #429 closed, assigned to nobody

[2021-12-15 06:17] KhudaDad414 opened #515 "redeploy the website periodically"
#### Reason/Context
Current `Upcoming Events` on the website and #514  (or maybe more things that I don't know about) need to be up to date. the only way to ensure this is to redeploy the website periodically. It can't be too frequent since each redeploy hits multiple API points. Maybe daily?

[2021-12-15 08:02] derberg commented on #515
maybe a list of meetings should be built as a file in community repo, and then pushed to website repo, just like with TSC_MEMBERS.jso list?

[2021-12-15 09:21] whiteHatpro commented on #332
@jonaslagoni is this issue still there because I recently checked in development mode and the site is not showing the above-mentioned bug.

[2021-12-15 10:31] derberg commented on #332
yeah, super hard to reproduce

maybe it is related to the fact that we reference CSS is a duplicated way 🤔  like async and sync
![Screenshot 2021-12-15 at 11 30 21](https://user-images.githubusercontent.com/6995927/146170267-a856478a-dc72-4500-b1ca-e71a3b7b956b.png)

[2021-12-15 18:22] fmvilas commented on #332
That's not duplicated. One is of type (`rel`) preload and the other is `stylesheet`. The `preload` only tells the browser to fetch it as soon as possible and `rel="stylesheet"` won't download it again because it's already downloaded.

There's something making it slow to load and the size of the images (as in width and height, not weight) is not helping.

BTW, one way to reproduce it is to disable

[2021-12-15 21:50] whiteHatpro commented on #311
@magicmatatjahu is this issue still open?

[2021-12-15 22:13] whiteHatpro commented on #503
@alequetzalli is anyone working on it?

[2021-12-15 23:02] quetzalliwrites commented on #503
Yes, @mcturco and I are both on this. Are you interested in helping contribute to design it with @mcturco? 🙃

[2021-12-16 01:15] quetzalliwrites commented on #453
Hello again, @mcturco and @boyney123 from the `Docs feedback card` GH issue! 😀😂

The last action item I had from when I first made this proposal was to *create GH Docs issue templates* to use in these proposed feedback cards. I completed this action item and the changes are now merged thanks to PR https://github.com/asyncapi/.github/pull/100. The changes can be seen live here: https://github.com/a

[2021-12-16 01:26] quetzalliwrites opened #518 "[New Doc 📑]: create EDA architecture diagram for Docs Overview page"
### What Dev Docs changes are you proposing?

As part of the work towards the Docs issue of designing a NEW Docs /Overview landing page, we would like to include an EDA architecture diagram above the fold. (This proposal originally came from https://github.com/asyncapi/website/issues/503.)

While @mcturco has been amazing enough to confirm excitement in this proposal and in contributing towards th

[2021-12-16 01:27] quetzalliwrites commented on #503
I have created a new Docs issue to handle the diagram proposal separately:
https://github.com/asyncapi/website/issues/518

[2021-12-16 02:10] quetzalliwrites commented on #503
Had a chance to think this over more and discuss it with a few other community members (Missy, Fran, Lukasz). We identified further context we needed to add to this issue and even identified new ideas. This comment attempts to encapsulate this further.

**FIRST**, the following is the NEW proposed content outline changes to the Docs' left-hand navigation:

- **Overview**
- **Concepts**
     - Prod

[2021-12-16 09:07] boyney123 commented on #518
Hey @alequetzalli ,

I like the idea 💯

What kind of diagram would you be looking for? EDA diagram with links to AsyncAPI on it, or just a general EDA diagram for now?

I assumed maybe `a general EDA diagram for now` considering where this will be in the docs (intro/welcome page), guess it's good to start at the high level before going into AsyncAPI etc etc....

Or maybe even a couple?

- EDA gene

[2021-12-16 09:42] boyney123 commented on #503
Sounds great @alequetzalli.

Just a random thought but part of the tutorials, I wonder (at some point, maybe not straight away!) if we could spike/explore making interactive tutorials (that are not behind some login system like we have now), that we could embed on our website.

For example we could look at things like [Sandpack](https://codesandbox.io/post/sandpack-announcement) and prob come up w

[2021-12-16 09:45] boyney123 commented on #453
Great stuff @alequetzalli, perfect. Now we just need to link to it!

@alequetzalli with the new doc stuff coming #503, I think it makes sense to bundle this feature as part of that?

[2021-12-16 11:19] KhudaDad414 commented on #515
@derberg I am not sure I understand how that would help. I mean we still do have to redeploy the website periodically using `cron` jobs no?

[2021-12-16 11:24] derberg commented on #515
no, because if, let's say EVENTS.json, would be created in workflow in  `community` repo whenever there is a new issue with `meeting` label, then last step of workflow would be to push it out to `website` repo, and yeah - merge = redeploy

example related to TSC list -> https://github.com/asyncapi/website/pull/517/files

It could be not even a separate workflow but another job in existing workflow

[2021-12-16 11:27] derberg commented on #311
@mohak-srivastava  it is still there, just go to asyncapi.com/blog and scroll to the bottom and you will see 👇🏼 where article is authored by 2 folks, but picture of one of them is duplicated

![Screenshot 2021-12-16 at 12 25 58](https://user-images.githubusercontent.com/6995927/146363352-fea014fd-71dc-467a-a6dc-38d8fec47fbf.png)

[2021-12-16 11:41] magicmatatjahu commented on #311
@mohak-srivastava Yep, it is still open. Łukasz wrote about the main problem. Please have in mind (if you wanna handle that issue) that in the dev mode it can be fixed, but in prod it can be still visible (that bug), more info https://github.com/asyncapi/website/issues/311#issuecomment-913716685 - we upgraded NextJS from v9 to v11 and maybe something is fixed on NextJS side, please check that :)

[2021-12-16 15:15] quetzalliwrites commented on #503
Yes, I completely agree with you that adding interaction in learning is amazing. When we are ready to explore doing that for our open source project, the place to put interactive learning would be on a learning platform versus the documentation section. 🙂

I actually just ended up researching this recently and that's why identified this solution is how it's covered in the industry.

[2021-12-16 15:17] quetzalliwrites commented on #453
Well... not really, these are two completely different issues. Feedback cards will go on every page except for the homepage of the documentation section. Changes to the homepage has nothing to do with Feedback cards. 🙃✌🏽

It would really be up to contributors like yourself to decide which one of these issues to contribute to first. 😄👍🏽

[2021-12-16 15:28] mcturco commented on #503
@alequetzalli I think you nailed everything that we talked about, thanks for taking the time to write that all out!!! 💪  I think we have enough here to get started on a mock up, so I can start working on that! I think for now until we get more feedback in the separate issue for the "fancy diagram" 😆  I am going to use a placeholder box for that.

[2021-12-16 15:38] mcturco commented on #453
Thanks for the bump on this one, @alequetzalli! 🎉   Almost forgot about this one. Yes, I will add this to my list again and start working on a rough mock up with different ideas of how to present them visually. Will post it here when I have it!

[2021-12-16 16:04] mcturco commented on #518
@boyney123 that's a great idea to have a "before AsyncAPI" diagram that explains EDAs in general and then to have a second diagram that is a "using AsyncAPI" visual on how the spec fits into that process 🎉   I think that could possibly squash a lot of the initial confusion of what AsyncAPI is and why it is better to use the spec in your EDA process. (This is just what I have digested over the past

[2021-12-16 16:30] quetzalliwrites commented on #518
@mcturco @boyney123 Thank you dave for starting off the convo!! I really like your ideas and I feel like you really got it. I completely agree with you that it should be basic and not scare people away 🤣

Missy, I like the idea of showing what it's like to apply asyncAPI... tbh, I feel less confident in this area so I am hoping to hear more opinions and learn what others think about it. 🙃✌🏽 Questi

[2021-12-16 16:32] quetzalliwrites commented on #453
I can't wait, @mcturco!!!! ♥️♥️♥️

[2021-12-16 16:37] mcturco commented on #518
@alequetzalli Absolutely!! So I think we can get clever with the "2 diagrams" thing and it could maybe be a GIF animation or SVG animation if we make the visuals simple enough So we can keep the diagram all in one space! But definitely would love to hear what others think first

[2021-12-16 16:40] quetzalliwrites commented on #518
@mcturco  Ooooh, an animated diagram! Daaaamn, that sounds both fancy and useful! I want to upvote this idea
😄👍🏽👍🏽👍🏽👍🏽👍🏽

[2021-12-16 16:51] fmvilas commented on #518
Showing the two diagrams in one space gave me the idea of doing this: https://codesandbox.io/s/react-image-comparison-evpeu.

[2021-12-20 22:37] mcturco commented on #503
Hi! Popping in here to share a prototype I put together to show the first iteration of the new overview page for the docs. Would love some feedback/ideas on this! Please note that the visualization diagram is still drafted as we are waiting on more feedback for ideas for that in [this separate issue](https://github.com/asyncapi/website/issues/518#issuecomment-995996641).

Here is the prototype lin

[2021-12-20 22:39] quetzalliwrites commented on #503
Hey @mcturco !! :) omg, the body of the page is sooo lovely and 💯 an improvement on what is currently there ❤️✨✨

**Question**, I thought you wanted to incorporate the updated outline based on the new content buckets, and hence me writing them in the comment here for you? 😄

[2021-12-20 22:42] mcturco commented on #503
@alequetzalli Yay! Thanks! And whoops! I definitely only added the new Overview link and completely forgot to update the others. I can do that real quick! Thanks for the heads up 😄

[2021-12-20 22:42] quetzalliwrites commented on #503
🙊

[2021-12-20 22:46] mcturco commented on #503
Okay all updated! @alequetzalli

[2021-12-21 00:48] quetzalliwrites commented on #503
@mcturco thank you!!!

I love it! I love how your prototype shows two diagrams at top, the way you showed the main content buckets in those cards past the fold, and the style is nice!

Thank you so much!!!

What do you think are the next steps for this? 😀 🤔

[2021-12-21 07:43] derberg commented on #503
Looks great from my point of view 🥂

I know this issue is about design, but just to clarify, under `Reference` we should have the current specification

![Screenshot 2021-12-21 at 08 41 41](https://user-images.githubusercontent.com/6995927/146890600-41defd5e-f8c7-46a0-a26c-d662603d7138.png)

[2021-12-21 15:29] mcturco commented on #503
@alequetzalli Hooray!! glad you like it 😄

Unless anyone has other feedback for the layout & design, I think we can move forward with this one and write some content for the placeholder text while we are still waiting for feedback on what the diagram should look like.

Here's the breakdown of copy we will need based on this design in case that's easier to reference other than looking at the design

[2021-12-21 15:30] mcturco commented on #503
@alequetzalli turning to you to address this one as I think it relates to your new way of organizing the docs

[2021-12-21 16:09] mcturco commented on #506
I definitely agree with you that we need to attempt to crawl the latest version versus the others. The disallow rules that you have suggested above are perfect for achieving this, ESPECIALLY because it looks like there is duplicate content across all of the versions (there are probably only subtle differences, but Google can still tell that it is duplicated if there are enough similarities).

In a

[2021-12-21 19:26] mcturco commented on #453
Ok hi!! 👋

Here is a quick prototype of 2 different options of where I was thinking we could add the feedback cards.

**Option 1:**
I was thinking that this one could fade in on the sidebar when you scroll to the bottom of the docs (or maybe it would be better to have it fade in when you are halfway scrolled? 🤔  )

**Option 2:**
This will just always be situated at the bottom of each docs page. Mo

[2021-12-22 09:33] derberg commented on #196
are you letting this one slowly die 😆

[2021-12-22 11:17] smoya commented on #506
That's right but wrong at the same time. Let me explain. Theoretically, Google won't stop crawling those URLs but will decrease their periodicity. But we don't exactly know, because in fact, Google could consider them equal content or rather different (because they are actually different) and skip those tags.

I think we should spend some time understanding what is currently happening on those pat

[2021-12-22 15:41] mcturco commented on #506
@smoya yeah I guess Google's alg in general is a toss up these days 😆  I wonder too if it would consider those pages duplicate content or if it knows to detect that there are minor differences? Maybe yeah due to this we should analyze the GSC before we do anything, agree with you there!

[2021-12-30 18:41] mcturco opened #521 "Container component class names rendering twice"
#### Describe the bug
I tried looking to see if there was an existing issue created for this but I couldn't find one, so forgive me if this has already been raised! In the process of familiarizing myself with the tailwind class names and messing around with some of the layout in a local branch, I have noticed that on all of the Container components there are duplicated class names. Where I noticed

[2022-01-03 08:58] magicmatatjahu commented on #521
@mcturco Hi! You are right about the cause of class duplication. In the source code of the `Container` component we have a problem with ternary operators which results in duplicate classes. It's not a super big bug because the styles are added correctly, but we can treat it as a `good first issue` :)

[2022-01-03 09:11] indevi commented on #521
I will remove the duplicate class. Hope thats fine
So I made this change . Is it ALL?
<img width="673" alt="image" src="https://user-images.githubusercontent.com/60812924/147918408-26ed0cc7-fb34-4654-b0a2-caed368c7a8f.png">

[2022-01-03 10:15] derberg commented on #506
but isn't robot.txt enough? I guess this is still a standard for all bots, where you can tell the bot exactly what pages to ignore. I used it in my previous project -> https://kyma-project.io/robots.txt. It must work as they restructured their docs but forgot to update robots.txt and their docs are not indexed properly.

[2022-01-03 12:09] magicmatatjahu commented on #521
@ShivamTyagi12345 please create PR (from fork) and I will see :) Probably you should change classes inside Container, because I think you broke UI consistency by removing that classes from Container instance.

[2022-01-03 13:58] BOLT04 commented on #90
Hi @derberg, I'd like to help with this issue if I can 🙂. Where should these docs be, on this repo's `README` or on the website itself? If it's on the website, could it be next to the tooling?
![imagem](https://user-images.githubusercontent.com/18630253/147939101-1b197b31-1aee-450b-910a-509c437bbebb.png)

I noticed @alequetzalli said there will be a new structure on the docs, and this could fit th

[2022-01-03 14:13] mcturco commented on #521
Thanks @magicmatatjahu for the response! I figured it was a weird thing going on with the ternary operators. I actually looked at it again and I think the fix is as simple as removing a duplicated variable. I submitted a PR here #525

[2022-01-03 16:40] #521 closed, assigned to nobody

[2022-01-03 18:03] derberg commented on #90
@BOLT04 I would actually like us to avoid docs as much as possible 😄

So when you go [here](https://www.asyncapi.com/blog) you see this `Submit yours` link. So:
- I suggest we update https://github.com/asyncapi/.github/blob/master/.github/ISSUE_TEMPLATE/blog.md with proper info about how to write a blog (basically add a note and link)
- In main readme https://github.com/asyncapi/website#usage we j

[2022-01-03 18:53] fmvilas opened #528 "Update sponsors"
The current platinum sponsors (in alphabetical order) are:

* IBM
* IQVIA
* Postman
* Solace

We should update the list on the homepage.

[2022-01-03 19:47] mcturco opened #529 "Add new page for collecting user testing participants"
#### Reason/Context
I think it would be beneficial if we were to start performing usability tests across our tools periodically to help us gather data that could lead to more grounded ideas for design improvements.

I have an idea to create a new page on the website that can explain the process of being a participant in a user research study and steps to get involved. And because we are open sourc

[2022-01-03 22:15] BOLT04 commented on #90
ahh nice, thanks @derberg I know understand the issue better 👍
What do you think about this for the `blog.md`:

We're super happy to see you want to publish on our blog. The AsyncAPI blog is open for everyone, any contribution is allowed, including reposting.
By posting an article on the AsyncAPI blog, you get many advantages. We'll ask on the community Slack to help promote it whenever it's' rele

[2022-01-04 12:56] smoya commented on #506
@derberg But you don't want to stop those pages (older spec versions) from being indexed.

[2022-01-04 14:14] boyney123 commented on #529
Hey @mcturco

I think it's a great idea, the more feedback we have the better, what I'm slowly discovering is people will use our OSS tooling but probably mainly consume vs provide feedback.  Any things we can explore to create feedback loops would be interesting, otherwise, it's use guessing all the time.

Yeah, would be great to have that. If we get something going, I would be interested to see

[2022-01-04 14:17] boyney123 commented on #453
Thanks @mcturco

Yeah, interesting options. Naturally, I prefer **Option 2** as that's where I would expect it / have seen this stuff before.

But for me, the sidebar one also works.....

This means this feedback isn't very useful 🤣

If I had to choose I would say **Option 2** as it feels natural to me.

[2022-01-04 14:59] mcturco commented on #529
Hi @boyney123! And thanks for your feedback! 😄

Yes and another interesting part of OSS is that sometimes the user IS the one who establishes a problem, has ideas to fix it, and then fixes it. But, if we could observe someone's emotions while they are using the product and carrying out tasks, we can determine what the pain points are and brainstorm how we can come up with solutions. You can get a

[2022-01-04 15:04] mcturco commented on #453
Thanks for the feedback @boyney123!

I have to say, now that I am looking at it again, I think I tend to agree with you that **Option 2** makes more sense since the user would have to read through the docs page to know if it was helpful or not. And most of the docs pages aren't that long... the only one I would worry about is the specification pages 🤔

[2022-01-05 17:58] mcturco opened #532 "Add new page for brand guidelines"
#### Reason/Context
Wondering if someone can help me duplicate the docs layout to a new page of the website perhaps with the slug `/brand-guidelines/`. I can then build out the pages that we need for this new area in MDX. Just unsure of how everything is included in the index and would rather the help of someone who knows what they are doing 😄

Thanks in advance!

[2022-01-07 16:39] yashsehgal commented on #532
Hey @mcturco
I would like to help you with this issue.

What I have understood with the description is we need to create a new section for Brand Guidelines with the slug `/brand-guidelines` and then inside that there will be multiple sections (files with MD/MDX syntax), right?

If that's the exact thing we want then I can start working on this. If not, then what other things to add?

[2022-01-07 16:49] yashsehgal opened #536 "Improving routing between pages"
#### Reason/Context
As of now, we are using anchor tags to load all the pages and navigate between each other. As we're using next-js, we can use
`<Link to="/{PageName}"></Link>` from `next/link` in order to reduce the page loading time. This will help us to improve the UX.

#### Description
There are some places where we're using `<Link />` but mostly it's `<a>` present. Thus, if possible we can

[2022-01-07 17:17] mcturco commented on #532
Hi @yashsehgal

Awesome, I would very much appreciate your help with this!

Yes, so basically all I am asking is for someone to set up the `/brand-guidelines/` Layout and I can pick it up from there and add in any additional MDX pages/components that I need to build out those pages.

Does that make sense?

[2022-01-07 17:20] yashsehgal commented on #532
Oh great, Now it's clear. I will raise a PR.

[2022-01-07 19:25] yashsehgal commented on #532
I have added a page with route like
![image](https://user-images.githubusercontent.com/62352288/148596068-eb44cbe4-4db1-4957-8c70-259bf78cec57.png)

And this is how the content is being rendered on the website, but I think the styles are not working here.
![image](https://user-images.githubusercontent.com/62352288/148596312-6a017611-c8e4-441b-8d8c-e5e7fa5b6e1e.png)

[2022-01-08 06:48] ritik307 commented on #528
@fmvilas  I would like to work on this issue. kindly assign

[2022-01-08 08:52] fmvilas commented on #528
Go ahead 🙂

[2022-01-08 13:59] Samridhi-98 commented on #311
@magicmatatjahu  @fmvilas  Is this issue still open?
I would like to work on it.

[2022-01-08 18:57] iamVP7 commented on #311
@Samridhi-98  issue still persist.  In development setup its bit hard to reproduce. In production alone its coming it seems.

![image](https://user-images.githubusercontent.com/3106852/148656230-5991f219-cbf9-4801-94bd-16f6458d39f9.png)

[2022-01-09 07:43] akshatnema commented on #536
Hey I will like to work on this issue.  I will soon make a PR on this.

[2022-01-09 09:48] yashsehgal commented on #536
Hey @akshatnema Thanks for showing your interest.
Let's wait for someone from the community to validate this task. After that feel to work on this issue.

cc: @fmvilas @magicmatatjahu

[2022-01-09 11:55] Samridhi-98 commented on #311
Yeah, I am unable to find the blogs locally.

[2022-01-09 17:14] fmvilas commented on #536
Yeah, sounds good to me 👍

[2022-01-09 18:04] akshatnema commented on #311
@iamVP7 I have tried to reproduce the error locally but I found that it is totally fine on the given blog. The two images are shown correctly in the view. I think there is an error in the posts.json file on the production side.

Preview:
![image](https://user-images.githubusercontent.com/76521428/148694535-4e8922c0-1e24-4a64-a9ef-02eec8a65c82.png)

[2022-01-10 17:43] #528 closed, assigned to nobody

[2022-01-10 19:09] mcturco commented on #532
@yashsehgal FYI
I was having problems too, but @magicmatatjahu hopped on a call with me and showed me how to create new post pages. It's pretty simple once you know where to make the changes!! [See my draft PR](https://github.com/asyncapi/website/pull/539)

Thank you for offering your help! 😄  If you would like to help me build out components for these MDX pages that would be AWESOME. I can mock t

[2022-01-10 20:17] yashsehgal commented on #532
Yeah sure, That would be great to be involved in the process. I will surely help you with the components designing part.

[2022-01-10 20:49] yashsehgal opened #541 "UI: `Go to Calendar` button alignment can be fixed"
#### Describe the bug
The (Go to Calendar) button alignment can be fixed by adding some proper spacing between the button and card content.
![image](https://user-images.githubusercontent.com/62352288/148837226-802db6b9-fa99-4c65-9f02-b0cdf70cf2af.png)

If sounds like an important ticket, I can fix it real quick.

[2022-01-11 07:08] Samridhi-98 commented on #541
@yashsehgal  I would like to work on this issue.

[2022-01-11 09:22] derberg commented on #506
well this is my main question in the issue title 😄
so I think, we should ignore them, but I'm probably missing some downsides 🤔